[2021-11-03 04:42] fehiepsi commented on #1210
By jitable, I meant if `jit(f)(x, y)` works. I just test and get the same
error, so at least it is not jitable in my system. You can specify any
python object to `mcmc.run(...)` (or to the arguments of your model) but
your code needs to be able to compile. Your wrapper can run but cannot be
compiled.

On Wed, Nov 3, 2021, 12:33 AM Samarth G Kashyap ***@***.***>
wrote:

[2021-11-03 05:20] samarth-kashyap commented on #1210
ok my bad, I was just executing `f(x, y)`. `jit(f)(x, y)` does not work. I get your point now. jitting a gnool-jitted function seems to be the issue here.

[2021-11-03 15:57] #1210 closed

[2021-11-03 21:34] srijaniiserprinceton commented on #1210
Is there any way to pass a `model` function to numpyro which bypasses the overall jilting of the `model`? To make it more clear, if we have the following block of code
[code]
As you see, model just contains a bunch of already `gnool_jit`ted functions and hence does not need further jitting. Maybe you could point us to the place in the source code where the overall jitting of the model function is

[2021-11-03 23:29] ashleymaeconard commented on #505
I am also seeing the same error and issue. I installed jax with Conda using `conda install -c conda-forge jax` which installs `0.2.17`. So, would you recommend somehow removing jax within Conda, and then following the `pip` installation instructions for the GPU?

[2021-11-04 04:08] fehiepsi commented on #505
That's right. Currently, we can't install jax with gpu support using conda.

[2021-11-04 04:11] fehiepsi commented on #1210
You might want to try your luck with [this line](https://github.com/pyro-ppl/numpyro/blob/8236e3442dde1e13fb982f7706365c8d88c7c312/numpyro/util.py#L354). If potential function is evaluated inside a jax control flow, then you might need to disable control flow here and there, which is a bit complicated.

[2021-11-04 13:07] bjeffrey92 opened #1211 "Request for dynamic `num_warmup` argument to MCMC object"
It would be useful if it wasn't a requirement to specify the number of warmups for MCMC sampling before the model is compiled to save time if it is necessary to re-run the MCMC with more iterations to ensure convergence

Please, could this be changed so that `num_warmup` is specified after the model has compiled?

(I also started a [discussion about this on the pyro forum](https://forum.pyro.ai/t/

[2021-11-04 17:27] srijaniiserprinceton commented on #1210
Thanks for pointing to the line where the `jit`ting is happening. Turns out that we were overcomplicating things by trying to pass static arrays. As of now, the cleanest way to do this, I think, is to use tuples or nested tuples instead of the static arrays since tuples are hashable. If someone is interested, they can checkout [this question thread](https://github.com/google/jax/discussions/8439#d

[2021-11-04 19:15] srijaniiserprinceton opened #1212 "Hashable tuples become traced from third iteration in Numpyro"
Hi,

I have a `model` function that runs as expected for the first two iterations and then fails. The reason why it fails is that tuples (which are hashable) and used as static arguments, become traced from the third iteration in numpyro. This is puzzling since the `model` function seems to be working and compiling fine when `jit`ted (as can be seen from the fact that it runs twice successfully) b

[2021-11-04 20:32] fehiepsi commented on #1212
FYI the first trace (outside of jit context) is to inspect the model, the second trace (outside of jit context) is to get valid initial parameters.

Just curious, what do you want to do with this hash stuff? The computation will eventually happen in the XLA compiler, not python. Are you trying to modify jax behaviors or just to collect some values?

[2021-11-04 21:07] srijaniiserprinceton commented on #1212
The line where I print the hash value of the namedtuple `GVARS_new` is just to see if it is hashable or not. As expected, it crashes as soon as the namedtuples are not hashable, i.e, when it gets converted to dynamic tracers. If I remove the printing of the hash value, it crashes with the following error:
[code]
As you see, it is trying to hash the named tuple above, the elements of which are now

[2021-11-04 21:12] srijaniiserprinceton commented on #1212
I think it might be better if I summarize the overall goal of our problem here:

So, the overall goal is to use the Bayesian sampling provided by `numpyro`. To do that we need to define a `model` function which `numpyro` essentially `jit`s since its going to run `model` many many times.

Now, our `model` function involves two important steps:
[code]
So, in short, we want to make our `model` functi

[2021-11-04 22:46] fehiepsi commented on #1212
I think you can just remove `jit` wrapper around `f1`. If `args_f1` is static, `f1(args_f1)` will be static if there is no jax op in `f1`. If you want to play with static values, then just use `numpy` on them. You don't need to use jax.numpy ops and jax.jit there.

[2021-11-05 02:28] #1212 closed

[2021-11-05 02:55] srijaniiserprinceton commented on #1212
That works great! Exactly what I needed. Numpyro now works with my Jax'd code.

[2021-11-05 11:41] samarth-kashyap opened #1214 "Estimating memory requirement"
Hello numpyro team,

I was wondering if there was a way to estimate the amount of memory required for the compilation and execution of a numpyro script. To illustrate my problem, I've presented a simplified version of the code I'm trying to run.

[code]

I have `N=200` different data-arrays, each of which have a unique model, and depends on model parameters `w1` and `w2`. Ideally, I would want to

[2021-11-05 19:58] fehiepsi commented on #1214
I'm not sure how to do profiling in CPU but for GPU/TPU I guess you can use [this method](https://jax.readthedocs.io/en/latest/device_memory_profiling.html). I haven't done memory profiling in the past.

[2021-11-05 22:18] benwaldner commented on #505
Hi, Ashley, did it worked for you? I skiped my codes after not be able to fix it back than. But if you could make it. I will check my codes again and try to fix it the same way as you did.

TIA.

[2021-11-07 21:07] fehiepsi opened #1217 "Support ProvenanceArray to infer latent variable dependencies"
It would be nice to have a version of [ProvenanceTensor](https://github.com/pyro-ppl/funsor/pull/543) to [infer dependency structure](https://github.com/pyro-ppl/pyro/pull/2959) of a numpyro model.

For now, it is not clear to me how to do the same thing in JAX. :(

[2021-11-09 19:21] srijaniiserprinceton opened #1219 "Should increasing `num_chains` increase compile time?"
This is a question about how changing the  `num_chains` changes compilation time in Numpyro.

We have a particularly expensive `model` function and  note that when `num_chains=1`, the compilation time is around 5mins. However, when we change the `num_chains=3` with the same number of cores, the compilation time becomes 24 minutes. Is this behavior expected? According to my understanding, the diffe

[2021-11-09 19:23] maw501 commented on #1219
Hi @srijaniiserprinceton you can post questions like this in the [forum](https://forum.pyro.ai/c/numpyro/9) using the NumPyro tag.

[2021-11-09 19:25] srijaniiserprinceton commented on #1219
Thanks @maw501! I'll do that from now. Moving this question there.

[2021-11-09 19:25] #1219 closed

[2021-11-11 19:51] CarolineTims88 opened #1222 "Hierarchical time series?"
I’m trying to write a hierarchical time series (ARMA) in numpyro.

There doesn’t seem to be too much documentation to help. Does anyone know of any resources that they may be able to point towards?

Are Stan and pymc a bit more plug and play for now? Is there an intention to provide such documentation in the future?

Thanks in advance.

[2021-11-12 03:50] fehiepsi commented on #1222
I guess [AR example](http://num.pyro.ai/en/latest/examples/ar2.html) and [time series forecasting tutorial](http://num.pyro.ai/en/stable/tutorials/time_series_forecasting.html) would be helpful.

[2021-11-12 13:56] #1222 closed

[2021-11-12 13:56] #1214 closed

[2021-11-13 04:20] fehiepsi opened #1224 "Allow prior to be a callable in random module"
Currently, [random_flax_module](http://num.pyro.ai/en/stable/primitives.html#numpyro.contrib.module.random_flax_module) and [random_haiku_module](http://num.pyro.ai/en/stable/primitives.html#numpyro.contrib.module.random_haiku_module) assume that `prior` is either a distribution or a dict of distributions. In case we have a large network and want to specify priors for specific parameters like the

[2021-11-13 13:48] Carlosbogo commented on #1224
Hi, I would like to work on this, but I haven't worked on this repository before. Could you explain which special parameters could be nice to add?

[2021-11-13 15:10] fehiepsi commented on #1224
You don't need to add new parameters. Just add a check if prior is a callable then we get its output.

[2021-11-14 11:53] Carlosbogo commented on #1224
Sorry, I meant what could be a list of those "special parameters" you mention, and where I could find which distribution should be associated with each one of them.
You use the example of weight with the normal distribution associated to it, but I'm not sure if there is a list of other parameters that have an associated distribution in this repository.

[2021-11-14 12:03] fehiepsi commented on #1224
I think we would like to let users implement their own callable `prior`. For example, `prior` can be the following function
[code]

[2021-11-15 10:44] Carlosbogo commented on #1224
I'm not sure if I understand what you mean: Should it be just a placeholder function waiting for each user to decide what parameters are needed to specify or should I make a more general function of the form (not the actual function, just a sketch)
[code]

[2021-11-15 12:34] fehiepsi commented on #1224
It is just a user-defined function takes inputs are name and shape of the parameters and returns the user-defined distributions with corresponding shape.

In the random flax module utility, we will use that function to set priors to corresponding sites. If the above function returns None, we won't set prior. Otherwise, we will consider its output as prior.

[2021-11-15 19:14] pietrolesci opened #1228 "❓ Why is reparametrization required in this example?"
https://github.com/pyro-ppl/numpyro/blob/c7984a7dac72a5cc7fb391beabac129d900583a1/examples/annotation.py#L204

Hi there,

I am learning pyro/numpyro and I am trying to implement specific models and comparing them with the implementation published in the documentation. This parametrization is the main difference between my implementation and the official one. I guess there is something I am missing

[2021-11-15 20:25] fritzo commented on #1228
Hi @pietrolesci, not sure about this particular example, but I often find reparametrizing dramatically speeds up inference, or means the difference between svi diverging or converging.

[2021-11-16 10:03] pietrolesci commented on #1228
Hi @fritzo,

Thanks a lot for your answer! This is in line with what I thought. I am not sure about why it is better in this case, though. Looping in @fehiepsi.

Thanks a lot for your consideration.

Best,
Pietro

[2021-11-16 13:34] fehiepsi commented on #1228
Hi @pietrolesci, I'm not sure what happens if we remove reparameterization in that example. In general, reparameterization helps NUTS a lot, for example in [Neal's funnel example](http://num.pyro.ai/en/latest/examples/funnel.html).

[2021-11-16 14:20] pietrolesci commented on #1228
Hi @fehiepsi,

Thanks a lot for your answer. This is super useful. Also, thanks for the pointer to Neal's funnel example.

 For context, I am trying to replicate [this example](https://github.com/pyro-ppl/numpyro/blob/master/examples/annotation.py#L204) in pyro. I would have some further questions as I am having some problems. Where is the best place to ask them? Can I ping you on this as well?

T

[2021-11-16 14:50] pietrolesci commented on #1228
In more detail, the reparametrization is creating problems when combined with the automatic enumeration of the discrete variables in pyro.

The code below is exactly the same as the numpyro example, apart from the obvious translations from jax to torch.

[code]

In the first MCMC iteration with NUTS (following the numpyro example), I get the following debug prints
[code]

In the second iteration,

[2021-11-16 14:58] fehiepsi commented on #1228
It is best to use [forum](https://forum.pyro.ai/) for questions and discussions. We mainly use github to track issues and feature requests. If removing reparameterizer leads to an error, then there might be a bug. You can create an issue for it. Note that using `center=None` is not expected, it should be `center=0` to be equivalent to numpyro model.

[2021-11-16 14:58] #1228 closed

[2021-11-16 15:01] pietrolesci commented on #1228
Hi @fehiepsi,

You are right - I amended the code. Also, I will post this on the forum to check whether this is indeed a bug or not. Thanks a lot for your help so far - I really appreciated it.

Best,
Pietro

[2021-11-16 15:07] pietrolesci commented on #1228
Asked on forum [here](https://forum.pyro.ai/t/issue-when-combining-reparametrization-and-automatic-anumeration/3561).

[2021-11-19 13:57] lumip opened #1230 "A way to notify shapes going wrong in log_prob computation in ELBO?"
We've recently run into a subtle (modelling) bug with broadcasting in the ELBO loss.
The offending part in our model boiled down to something like this:
[code]

Note that while `logits` are of shape `(N,)`, our `ys` had shape `(N,1)` from our preprocessing script. As a consequence, the ELBO-internal call to `Bernoulli(logits).log_prob(ys)`  broadcasts over `ys` and returns a `(N, N)` matrix, over

[2021-11-19 17:50] martinjankowiak commented on #1230
i'd suggest using the [format_shapes](http://num.pyro.ai/en/latest/utilities.html?highlight=%20format_shapes#numpyro.util.format_shapes) utility function. see [here](https://github.com/pyro-ppl/numpyro/blob/145ed8373fe268798b352b98350ffc596a51e682/test/test_util.py#L149) for example usage.

i guess one possibility would be to have an argument to e.g. `SVI` that prints this information to stdout au

[2021-11-19 20:31] dirmeier opened #1231 "TFP distributions"
Hello all,

sorry if this question is stupid, but I cannot manage to get TFP distributions working. Even the simplest case, like below, throws an error:

[code]
Am I doing this correctly? But also this fails for me with the same error

[code]

Thanks for the help!

[2021-11-21 13:38] fehiepsi commented on #1230
I think @maw501 already addresses part of the shape-mismatched issue in #1171. One way is to enhance the utility that @maw501 added and raise a warning whenever user code has missing plate statements like in the case
[code]
where `ys` has rank 2 but only one plate is declared.

[2021-11-21 13:44] fehiepsi commented on #1230
Good idea! I guess when a plate is missing, we can print out this message together with the warning. (When all plates are correctly declared, I guess `format_shapes` is not useful)

[2021-11-21 13:46] fehiepsi commented on #1231
I think TFP distributions are no longer a subclass of `tfd.Distribution`. We might want to change that assertion to something else.

[2021-11-21 15:14] dirmeier commented on #1231
Ah I see, you mean as they inherit from `AutoCompositeTensorDistribution` ? I'll try to fix this.
Thanks!

[2021-11-22 20:27] pookiecoding opened #1235 "Raise warning for the automatic enumerate behavior"
Following a thread on NumPyro forum about inference with discrete latent variable in hmm, here is the github issue as requested:
In the hmm example, the discrete latent variable are marginalized out automatically.
To avoid confusion, in future versions, the "automatic" behavior could be removed, and the users would provide infer={"enumerate": "parallel"} explicitly.
Thank you.

[2021-11-24 15:37] paapu88 opened #1236 "Example: Bayesian Neural Network, suggestion for improvement"
Dear All,
In example for Bayesian Neural Network
http://num.pyro.ai/en/stable/examples/bnn.html
neural nets are represented as matrix multiplication and bias term is left out.

I was pretty confused first because I could not get reproducible results...

In order to mimic "normal" fully connected layer one should replace
A@x by A@x + b (@ stands for matrix multiplication here)

example code as it i

[2021-11-24 17:40] martinjankowiak commented on #1236
@paapu88 hi markus please feel free to submit a PR if you would like to see a bias term added. i made the choice to keep the architecture simple because that's all that's necessary for this simple dataset. note also that the inputs in the artificial dataset have a "all ones" component. as such there's effectively a bias term in the first layer anyway. if you want to add explicit bias terms to all

[2021-11-24 20:05] MarcoGorelli commented on #1206
OK, got it - will open a PR soon

[2021-11-25 01:56] PetrarcaBruto opened #1238 "Cannot install numpyro for GPU"
Hi,
Not sure if this is a numpyro issue or an operators error:

I installed numpyro with the following statement, in a clean miniconda environment:
1) pip install --upgrade "jax[cuda]" -f https://storage.googleapis.com/jax-releases/jax_releases.html
....
Successfully built jax
Installing collected packages: six, numpy, typing-extensions, scipy, opt-einsum, flatbuffers, absl-py, jaxlib, jax
Success

[2021-11-26 09:25] paapu88 commented on #1236
Ok, I guess I could write another simple example using bayesian neural net. However, I'm novice on this, so it may take some time... still reading the great book "Statistical Rethinking: A Bayesian Course With..."

[2021-11-26 09:25] #1236 closed

[2021-11-26 10:07] gisilvs commented on #1117
Hello,
I contributed to the TFP implementation in TFP of Cascading Flows, and I am very familiar with ASVI. I would be happy to give some suggestions if needed.

[2021-11-26 10:57] MarcoGorelli opened #1239 "RunTimeError when setting Poisson as prior for feature"
I don't know if this is a bug (an equivalent model works fine in PyMC3), reporting just in case:

[code]

Here's the output:
[code]

---

Some diagnostics:
[code]
[code]

[2021-11-26 14:38] dirmeier commented on #1239
HMC requires taking derivates of the log-density wrt the parameters of interest. I think enumeration works only for categorical variables, not for counts.

[code]

PyMC also cannot fit this model via HMC only, but afaik automatically selects another sampler for count/discrete data.

[2021-11-26 17:51] OlaRonning commented on #1236
@paapu88 feel free to take inspiration/code from [this](https://github.com/aleatory-science/numpyro/blob/feature/einstein-interface/examples/bayes_networks_stein.py#L41) bnn implementation.

[2021-11-26 17:58] MarcoGorelli commented on #1239
Thanks @dirmeier ! Yes, indeed, I'd missed the warning which showed
[code]
I'll close this then

[2021-11-26 17:58] #1239 closed

[2021-11-26 18:02] martinjankowiak commented on #1239
@MarcoGorelli i'm not sure if there's an easy way to do inference for this model using current numpyro samplers. however if you introduced a truncated poisson distribution (in your case truncated at e.g. 250) it would work out of the box

[2021-11-26 18:08] MarcoGorelli commented on #1239
Thanks @martinjankowiak !

That's fine, I don't have a real-life use-case here anyway, was just doing exercise 15H7 from Statistical Rethinking :laughing:

[2021-11-27 02:47] fehiepsi commented on #1238
Hi @PetrarcaBruto, currently, we just have `numpyro[cuda]` in the master branch. It will be available in the next release. For now, you can use
[code]

[2021-11-27 02:47] #1238 closed

[2021-11-27 04:30] PetrarcaBruto commented on #1238
Thank you for your quick reply.

[2021-11-27 13:56] #1231 closed

[2021-11-27 17:35] fangzefunny opened #1241 "Need help: NUTS does't converge"
I observed my numpyro implementation gives very different results from a JAGS model (working really well using 1000 warmups). The main issue is the chain does not converge regardless of warmup numbers. Here are some notes:

* I implement the numpyro model wrong。
* Maybe I need to initiate the chain but I did not.
* Sampling looks a bit weird when I implement an exponential function or a power law.

[2021-11-27 22:12] martinjankowiak commented on #1241
- your priors over the `tau_` variables have very high variance is that what you want? if so you may want to initialize those variables to 1 or the like
- it doesn't appear that `theta` is a probability (?). when using `Binomial` you should explicitly specify if you're passing in `probs` or `logits`

[2021-11-27 22:30] fangzefunny commented on #1241
Thanks for your quick reply. I will consider playing around with the tau parameters but the benchmark JAGS model uses the same distribution but doing really well. So I prefer to first stick to this setting.

Now I specify the ```dist.Binomial( total_count=obs['n_items'], probs=theta)```, still the sampling looks unexpected.
![image](https://user-images.githubusercontent.com/24639671/143722297-5d0c

[2021-11-27 23:38] fehiepsi commented on #1241
You can draw samples from prior predictive (using Predictive without posterior_samples and with `obs=None` in the likelihood) to compare with your jags prior predictive. This way you can be more confident that you have an expected model. Something to check:
+ Some distributions might have different parameterizations.
+ Add some assertion for the shapes
+ Use [render_model](http://num.pyro.ai/en/st

[2021-11-28 01:10] fangzefunny commented on #1241
Thanks so much for the great debug method.

I just locate the problem. For the same model, if I set the ```eps<=.01``` for ```dist.Gamma( eps, eps)```,  the graphical model I draw is,

![image](https://user-images.githubusercontent.com/24639671/143725019-799f133f-7b93-4634-bc78-9817cffd7a05.png)

But if I tune ```eps>=.05```, I get

![image](https://user-images.githubusercontent.com/24639671/14372

[2021-11-28 04:56] fehiepsi commented on #1241
I'm not sure what causes the issue - will take a closer look later next week. In the mean time, hopefully setting `numpyro.enable_x64()` at the beginning of your program (script/notebook) might solve the problem.

[2021-11-28 21:02] MarcoGorelli opened #1242 "Feature request: DiscreteUniform distribution"
[As suggested in the forum](https://forum.pyro.ai/t/impute-missing-counts-statistical-rethinking-15h7/3589), I'm opening this up as a feature request

If welcome, I'd be interested in working on it

[2021-11-29 23:57] #1206 closed

[2021-11-30 00:03] EdwardRaff commented on #1241
The issue with the graph changing for seemingly random reasons and having lots of arrows between almost all latents is something I've run into intermittently myself, but been unable to isolate / make occur consistently. Just as extra info that this isn't isolated.

[2021-12-05 19:37] fehiepsi commented on #1217
Currently, it seems that the `grad` trick in `numpyro.render_model` does not work well with extreme values (like `1e-38`) and gives wrong visualization (as in https://github.com/pyro-ppl/numpyro/issues/1241#issuecomment-980816866)).

[2021-12-05 20:21] fehiepsi commented on #1241
It seems that `dist.Gamma(1e-3, 1e-3)` has a very sharp peak at 0. I tried to get some samples in float64 and see that
[code]
gives us very small values
[code]
This leads to `nan` values when we try to use `grad` to inspect dependency in a model. The rendering code would be more robust when we have `ProvenanceArray` in #1217.

@fangzefunny Which algorithm does JAGS use? Does it use the Gibbs sampl

[2021-12-05 21:21] #1242 closed

[2021-12-06 14:49] #1235 closed

[2021-12-06 15:45] jecampagne opened #1246 "Improving error message when using NeutraReparam"
Here is a snippet

[code]

this will generate an error until you provide `Yspls=yi` also in the `get_trace` but the error message is not so explicit and if one can improve it it would be great.

[2021-12-09 06:20] fehiepsi opened #1247 "Move contrib modules to the main library"
Currently, some contrib modules have been stable for a while. It would be convenient to move them directly to the main library. Some candidates and their corresponding target folders are

- [x] `indexing` -> `ops`
- [ ] `control_flow` -> `ops` (scan + cond)
- [ ] `module` -> `nn`?
- [ ] `render` -> `ops/inspect`
- [ ] `optim` -> `optim`

[2021-12-09 06:44] #1180 closed

[2021-12-09 19:30] fehiepsi commented on #936
Closed because the issue seems to be more specific to jax (e.g. ). And for large-memory-required models, it is better to use Pyro as mentioned above.

[2021-12-09 19:30] #936 closed

[2021-12-10 07:41] bkj opened #1249 "Amortizing overhead in `.run`"
Hello --

New to numpyro, but really excited to be looking at it!

Question:  When I call something like
[code]
there's a startup overhead, where the progress bar appears but doesn't move for ~5 seconds and then moves very fast.

I'm guessing this is compilation overhead?  If that's right, is there a way to cache the compilation so that I don't have to pay that overhead everytime I run my program?

[2021-12-10 13:36] fehiepsi commented on #1249
Good timing, @bkj! This is not possible in the past but it seems to be possible with the experimental [compilation cache](https://github.com/google/jax/tree/main/jax/experimental/compilation_cache) submodule added to the recent jax releases. I haven't tested it yet (so I'm not sure it is robust now) but happy to help if someone wants to tackle this issue, which will have a huge impact. I'm excited

[2021-12-11 14:47] omarfsosa opened #1253 "Raise an exception (or warning) when calling the inverse of a non-invertible transform."
The `Transform` class in `numpyro.distributions.transforms` provides an `inv` property which is meant to return the inverse transform. However, this is available even for functions that are not invertible. In those cases, we silently return the identity function which seems weird.

### Example:
[code]

The issue is also present in transformations that are obtained via `ComposeTransform`.
When the

[2021-12-11 16:16] fehiepsi commented on #1253
Yeah, I think it is better to raise a warning. (I'm not sure if we want to take inverse of abs transform some where)

[2021-12-11 19:35] fehiepsi commented on #1253
@omarfsosa Do you want to add that warning?

[2021-12-11 21:10] MarcoGorelli commented on #1112
Sorry for the delay, I'll look into this this week

[2021-12-13 13:19] #762 closed

[2021-12-13 14:27] fehiepsi commented on #762
Thanks for reviewing, @fritzo!

[2021-12-13 17:11] #1246 closed

[2021-12-15 17:58] #1131 closed

[2021-12-15 17:58] #1230 closed

[2021-12-22 09:22] akirayou opened #1260 "MCMC.run in case of multiple runs."
In case of num_chains >1 , progress_bar=False and multiple runs with same data ,The MCMC.run() will fail.

[code]

Here is full exploit code.
https://gist.github.com/akirayou/5fe54b4423b1f99b270f3c5891d21b66
-numpyro                   0.8.0
-jax                       0.2.26
-python                    3.8.10

Here is a workaround.
I'm guessing there is some bug in JIT cache code. So you need to thr

[2021-12-22 12:31] omarfsosa commented on #1260
Hey @akirayou, I am unable to reproduce the error with the snippet you shared. Are you able to reproduce it in a new, clean python environment? I see from your error messages that you are running it in an environment called "Stan" so I wonder if the error you're seeing is a result of some conflicts with other installed packages ... 👀

[2021-12-22 13:35] akirayou commented on #1260
Thank you @omarfsosa
I tried new conda environment , but it fails again ([log.txt](https://github.com/pyro-ppl/numpyro/files/7762705/log.txt))
In this time,I  used python not jupyterLab. ([untitled.py.txt](https://github.com/pyro-ppl/numpyro/files/7762734/untitled.py.txt))

By the way, In this exploit code,you have to restart jupyter kernel  to do "nupyro.set_host_device_count(2)".
In case of devi

[2021-12-22 14:52] fehiepsi commented on #1260
This seems to be fixed in the master branch, could you double check?

[2021-12-22 15:45] akirayou commented on #1260
It runs! thank you.

[2021-12-22 15:51] akirayou commented on #1260
It runs correctly. Thank you.

[2021-12-23 05:33] ayaka14732 opened #1261 "Change the link at the right side of the GitHub repository to HTTPS"
Currently the link at the right side of the GitHub repository is still using HTTP. The modification should be very straightforward.

![](https://user-images.githubusercontent.com/68557794/147192803-a24f2985-bf50-44ed-a35a-e7fe2db2a9a7.png)

[2021-12-23 12:35] fehiepsi commented on #1260
I remember that I fixed this issue in #1251 but not sure why we got this error. Fixing this also helps the `vectorized` chain method a bit faster.

[2021-12-23 12:56] fehiepsi commented on #1261
Thanks for the catch! Currently, we don't use `https` for numpyro docs. We'll update it soon.

[2021-12-23 22:50] fehiepsi commented on #1261
`https` should be the default setting now. Thanks!

[2021-12-23 22:50] #1261 closed

[2021-12-27 09:16] paapu88 commented on #552
for me, replacing
`kernel = NUTS(model)`
by
[code]
solved the problem
version:
[code]

[2021-12-28 13:26] corneliusroemer opened #1264 "[ENH, DOCS] Add tutorial on how to deal with discrete latent variables"
Numpyro is great! But it took me a while to figure out how to work with discrete latent variables. Unfortunately, there's not much in the documentation about it yet.

It would probably be good to condense the various discussions in issues, gists and forum posts into a doc page.

These are the resources that helped me - if anyone stumbles upon this issue, here you go ;)
Arviz workaround: #1121
How

[2021-12-28 14:14] fehiepsi commented on #1264
I guess your request is to have a tutorial that works with `arviz`? Currently, we have [5 examples/tutorials](https://num.pyro.ai/en/stable/) for models with discrete latent variables that cover various scenario: mixture model, hidden markov model, time series, imputation, non-enumerate (with discrete hmc gibbs in the nested sampling example). I think we can add some codes to the `annotation` exam

[2021-12-29 05:48] aflaxman commented on #1264
100% agree that numpyro is great!  I've been using pymc2 long after it has been deprecated, and I'm think about switching to numpyro.

If you do write a documentation on this, can you help me understand why plates are needed?  I.e. why doesn't something like this version work?

[code]

[2021-12-30 11:39] corneliusroemer opened #1265 "BUG: Automatic reparametrization using handler fails when using discrete latent variable"
When a model to be reparametrized using `@numpyro.handlers.reparam(config=reparam_config)` contains a discrete latent variable, I get a `ValueError: Incompatible shapes for broadcasting: ((1, 100), (100, 10))`

According to @fehiepsi this could be a numpyro bug (I assumed it was a coding error at first) (see [forum discussion](https://forum.pyro.ai/t/how-to-avoid-large-number-of-unused-random-vari

[2021-12-31 12:42] corneliusroemer opened #1267 "Deprecation warning for `jax.experimental.optimizers` and `jax.experimental.stax`"
When importing `numpyro` I get a `jax` deprecation warning for `jax.experimental.optimizers` and `jax.experimental.stax`

[code]

Am I doing the imports wrong or should `numpyro` change some what is imported from `jax` in the next release?

[2021-12-31 13:05] MarcoGorelli commented on #1267
Hey @corneliusroemer - this was fixed in https://github.com/pyro-ppl/numpyro/pull/1221, the next release should avoid the warning

[2021-12-31 13:19] corneliusroemer commented on #1267
Great, couldn't find an issue mentioning this yet.

Shall I close?

[2021-12-31 15:20] MarcoGorelli commented on #1267
Yeah, am not a maintainer but am fairly confident this is OK to close 😄

[2021-12-31 17:35] corneliusroemer commented on #1267
Resolved in #1221

[2021-12-31 17:35] #1267 closed

[2021-12-31 18:10] fehiepsi commented on #1265
Thanks so much for the reproducible code, @corneliusroemer! It turns out that this behavior is expected. When `mu` has an additional enumerated dimension, you will need to slide over its last dimension:
[code]

When `reparam` is not used, we are "lucky" that `mu` value still keeps its original shape, hence the code `mu[school]` will work. But it is a better practice to use `mu[..., school]`.

Thin

[2021-12-31 18:10] #1265 closed

[2021-12-31 18:33] fehiepsi commented on #1264
Hi @aflaxman, that version will work with algorithms like [DiscreteHMCGibbs](https://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.hmc_gibbs.DiscreteHMCGibbs) or `MixedHMC`. But for algorithms that require [enumeration](https://pyro.ai/examples/enumeration.html), at each site we will need to specify which dimension we need to marginalize over. For example, for each value of `cluster_idx`, we have

[2022-01-01 15:27] #1112 closed

[2022-01-01 17:10] fehiepsi commented on #1247
It seems to be better to leave the remaining submodule in contrib for a while.
+ For `control_flow`, we might need to introduce "named" scan (similar to `plate`) so that we can identify all the shapes of a variable. This might require revising the implementation a bit (hence might enable us to support nested scan or render time dimensions...).
+ For `random_flax_module` and `random_haiku_module`,

[2022-01-01 17:10] #1247 closed

[2022-01-01 17:11] fehiepsi commented on #1224
This is resolved in #1227. Thanks, @Carlosbogo!

[2022-01-01 17:11] #1224 closed

[2022-01-01 17:18] fehiepsi opened #1268 "Tutorial on truncated distributions in NumPyro"
It would be nice to have a tutorial on truncated distributions in NumPyro. The tutorial might include:
+ some explanations/usages for `TruncatedNormal`, `TruncatedCauchy`, `TruncatedDistribution`, `FoldedDistribution`, `HalftNormal`, `HalfCauchy`.
+ how to construct a truncated distribution using `host_callback`. This will enable users to define their own truncated distributions, for both continuo

[2022-01-01 17:19] fehiepsi commented on #1004
Close in favor of #1268

[2022-01-01 17:19] #1004 closed

[2022-01-01 23:32] omarfsosa commented on #1268
Thanks @fehiepsi , I'm already working on this. Will open a PR soon :)

[2022-01-02 00:16] aflaxman commented on #1264
Super helpful reply, much appreciated!

[2022-01-02 00:16] #1253 closed

[2022-01-02 01:18] omarfsosa commented on #1268
Preliminary work is here: #1272. Comments and suggestions are more than welcome.

[2022-01-02 02:51] fehiepsi commented on #1202
Closed in favor of #1268 which will be addressed in #1272.

[2022-01-02 02:51] #1202 closed

[2022-01-03 18:01] #1264 closed

[2022-01-05 16:17] martinjankowiak opened #1276 "[FR] raise missing plate warning in MCMC inference"
basically extend #1245 to be enforced more globally

[2022-01-06 18:19] omarfsosa commented on #1208
I'll try to write an example for this, serves me as an opportunity to learn more about SDEs. In the mean time, @GMCobraz this is how you can replicate the second model in [this example](https://docs.pymc.io/en/v3/pymc-examples/examples/time_series/Euler-Maruyama_and_SDEs.html) using numpyro:

[code]

And this is how you can use it:

[code]

Note that I have changed some of the flat priors in the e

[2022-01-07 07:45] sokol11 commented on #1208
+1 for Euler Maruyama in numpyro

[2022-01-09 04:48] sokol11 opened #1278 "Can't sample posteior predictive, if model uses no covariates"
Hi. I am trying to simulate data using the stochastic volatility model, [described](https://num.pyro.ai/en/stable/examples/stochastic_volatility.html) in the docs. However, when I try to get posterior predictive samples, it just returns observed values. For clarity, here's the model function below:
[code]
So, when I try to predict after fitting the model:
[code]
I just get my observed `returns` ba

[2022-01-09 12:34] omarfsosa commented on #1278
Hi @sokol11, this is the expected behaviour of the `Predictive` class - it will only give you the predictive samples if you don't pass the observed values (in this case the `returns` variable). The problem is that the number of steps depends on the shape of `returns`. To achieve what you are trying to do, I recommend you refactor a bit. Write your model as
[code]
Then for generating the predictive

[2022-01-09 16:38] MarcoGorelli opened #1280 "NumPyro doesn't raise if a determinstic variable has the same name as a random variable"
E.g.:
[code]

If executed, this gives the rather mysterious
[code]

[2022-01-09 18:01] #1280 closed

[2022-01-10 09:13] sokol11 commented on #1278
Thanks @omarfsosa . This makes a lot of sense and worked like a charm. Closing this.

[2022-01-10 09:13] #1278 closed

[2022-01-10 09:55] sokol11 commented on #1208
In case you haven't seen this, the pymc implementation of the `log_prob` is just five lines and should be the same in numpyro/jax IMO (see below). That said, pymc does not have the random sampling method implemented, and I am not sure how to approach it. I guess you will need to do something similar to the logp calculation, but backwards?

[code]

[2022-01-10 20:44] OlaRonning opened #1282 "Haiku networks with more than one param"
The [`haiku_module`](https://github.com/pyro-ppl/numpyro/blob/de22e7143c9792fe14e6c6d6647a9cb66d71f956/numpyro/contrib/module.py#L181) expects the callable only to have one parameter. It would be nice if the module worked an arbitrary number of parameters. Below is a distilled version of a model which currently produces a `TypeError` due to the missing positional argument `prev`.

[code]

The issu

[2022-01-10 21:07] fehiepsi commented on #1282
I think you can use `kwargs` for additional arguments.

[2022-01-11 00:10] fehiepsi commented on #1208
If you want to implement it as a distribution, here is a sketch
[code]
For non-trivial sample_shape, we can `vmap` over `scan` and reshape the output. Using distribution will make the inference faster because there is no `scan` in `log_prob` (see GaussianRandomWalk distribution as an example).

[2022-01-11 07:44] OlaRonning commented on #1282
I see. `def __call__(self, x, prev=jnp.ones((2,3))):` works as expected. It does make the networks slightly rigid, but it's workable. Thanks for the help @fehiepsi.

[2022-01-11 08:56] sokol11 commented on #1208
Thanks @fehiepsi , this is interesting. Though, admittedly, I am a little confused. IMO, the sample method you drafted is very similar to the log_prob calculation in pymc's EulerMaruyama logp method, I quoted above.

Pymc has this developer guide: https://docs.pymc.io/en/v3/developer_guide.html, which says that all their distribution classes have the logp method, which returns log probability, use

[2022-01-11 12:16] fehiepsi commented on #1282
I guess you can use the original `__call__(self, x, prev)` with `haiku_module(..., prev=...)`? Otherwise, we can support additional `*args` signature in `flax/haiku_module`.

[2022-01-11 12:27] fehiepsi commented on #1208
Yes, they serve the same purpose. You can take a look at [GaussianRandomWalk](https://github.com/pyro-ppl/numpyro/blob/6a0856b7cda82fc255e23adc797bb79f5b7fc904/numpyro/distributions/continuous.py#L326-L334) distribution where `sample` method uses sequential ops (more precisely, the `cumsum` ops) and `log_prob` is vectorized. Simulation in time is sequentially in its nature. The reason that we can

[2022-01-11 17:10] sokol11 opened #1285 "Potential shape bug in mcmc.get_samples()"
Reporting a potential bug in MCMC sample / get_samples with unexpected (transposed) shapes returned from the get_samples() call. Here's a reproducible example:
[code]
 The expected shape of the `h` variable in the posterior is `(n_chains, n dates, n_assets)`. However, when `mcmc.get_samples()` is called, the last two dimensions are switched in the resulting output to `(n_chains,  n_assets, n dates

[2022-01-11 17:25] fehiepsi commented on #1285
`(n_chains, n_assets, n dates)` is the expected shape because `dates` is the event dimension of `h` site (see the second point of [this comment](https://forum.pyro.ai/t/shape-issues-with-a-hierarchical-timeseries-model/3755/11?u=fehiepsi)). I'm not sure why Predictive yields `(n_chains, n dates, n_assets)` in your case. What is `posterior_samples` in `Predictive(model, posterior_samples)`?

[2022-01-11 18:07] sokol11 commented on #1285
Thanks @fehiepsi . So, to clarify, the event dimension is always going to be the rightmost?

`posterior samples` in `Predictive(model, posterior_samples)` are `posterior_samples = mcmc.get_samples()`

[2022-01-11 18:17] OlaRonning commented on #1282
Somehow I missed that `kwargs` are passed to `nn_module.init`. That is precisely the behavior I was looking for, so I'll close the issue.

[2022-01-11 18:17] #1282 closed

[2022-01-11 18:18] fehiepsi commented on #1285
What `reshape` does is to reshape the numpy array, not the distribution. Your code is equivalent to
[code]
If `posterior_samples` in Predictive is obtained from `mcmc.get_samples` then by default, predictive won't return the `h` site (because it already belongs to `posterior_samples`, no need to predict). How can you get `samples_predictive['h']`?

[2022-01-11 18:20] sokol11 commented on #1285
Ah good point about h not being in the `samples_predictive` I am actually returning a transformation of h, which is `v = numpy.deterministic('volatility', jnp.exp(h)`, but same can be said of `y` which is transposed in `posterior_samples` vs `samples_predictive`

[2022-01-11 18:23] sokol11 commented on #1285
Is there a way to change the shape of the distribution, e.g., transpose it, without creating an additional deterministic variable?

[2022-01-11 18:42] fehiepsi commented on #1285
Yes, you are right. We don't support batch dimensions on the right of event dimensions. Not sure why you don't want to transpose the data? I read your model and think that you are having a batch (assests) of time series. If you consider your data as 1 single timeseries with `assets` are features at each time step, then you might not use `plate` for `assets` because it is not a batch dimension of y

[2022-01-11 18:42] #1285 closed

[2022-01-11 20:25] sokol11 commented on #1285
Thanks @fehiepsi . I think, ideally, the data orientation (columns vs rows) should be a matter of user preference. In my case I have dates as rows everywhere outside of numpyro, which is why if I transpose the data, I have to transpose it back later on. But I'm sure there is a reason for this restriction on data orientation, as well as the distinction between event_shape and batch_shape, which I d

[2022-01-12 06:31] Hockey86 opened #1286 "How to make variable name incremental inside scan?"
Hi there,

I'm trying to implement a time series model with latent variable H using numpyro (great project!!)
But I'm stuck with a seemingly easy problem: I want to name the inferred latent variables "H_1", "H_2", ... (number is time index) so that later I can get the posterior by their names

[code]

As you see, `f'H_{t}'` is problematic since `t` is not an integer anymore.

So my question is, ho

[2022-01-12 08:59] MarcoGorelli commented on #1286
maybe something like
[code]
?

[2022-01-12 13:08] sokol11 commented on #1208
I like it!

I gave it a few naive attempts, trying to subclass the GRW or the Distribution base class, but it appears to be slightly more involved than that lol

[2022-01-13 03:20] fehiepsi commented on #1286
I think you can loop over vals and use numpyro.deterministic to record their values.

[2022-01-13 04:45] dcmvdbekerom opened #1287 "Question about JIT compiler"
As the title says, I have a question about the JIT copiler.
Please let me know if this is not the right place to post this.

Let us use the 8 school MCMC model as an example.
For calculating the log-likelihood, the log-probabilty for the 8 elements are summed to calculate the potential energy here: https://github.com/pyro-ppl/numpyro/blob/6a0856b7cda82fc255e23adc797bb79f5b7fc904/numpyro/infer/util

[2022-01-13 22:53] srivaschennu commented on #534
Hi @fehiepsi ! I'm trying to get sequential MCMC working in numpyro using the example you linked.

Specifically, I would like to be able to save my MCMC object and update it with new data at a later point. I tried this using the `post_warm_up_state` approach, but I haven't been able to get it working. Here is my sample code:

[code]

In the above, I'm trying to sequentially update the posterior 5

[2022-01-14 00:21] fehiepsi commented on #534
Hi @srivaschennu I think the result is expected. Post warmup sample is just the last sample from the previous run. It does not help you update the posterior.

[2022-01-14 00:43] fehiepsi commented on #1287
I'm not sure what's happening under the hood of JIT compiler. It is better to raise the question in JAX. :)

[2022-01-14 00:43] #1287 closed

[2022-01-14 16:40] srivaschennu commented on #534
Thanks for confirming @fehiepsi . Is it possible to update the posterior with new data currently with numpyro? Reading the the discussion in this issue didn't give me a clear idea. If not, this would be a really useful feature! :) Even if this is not currently supported out of the box, if you have suggestions on how to implement this, that would be very much appreciated! Thanks in advance!!

[2022-01-14 19:08] fehiepsi commented on #534
I'm not sure what's the principle way to do. I guess one way is
[code]

[2022-01-14 21:48] srivaschennu commented on #534
Ah great, thanks for the tip @fehiepsi !

[2022-01-15 05:27] Hockey86 commented on #1286
Hey, thanks a lot! Your solution worked!
Actually, without assigning time index inside the variable name, instead of `f'H_{t}'`, just name it `'h_t'`, and `'h_t'` itself will become an array that contains all time steps. Nice!

[2022-01-15 05:29] Hockey86 commented on #1286
Hey, thanks a lot! Returning (h_current, idx+1) did not work because idx
will still be a Jax object, not an int.
Actually, without assigning time index inside the variable name, instead of
`f'H_{t}'`, just name it `'h_t'`, and `'h_t'` itself will become an array
that contains all time steps. Nice!

On Wed, Jan 12, 2022 at 3:59 AM Marco Edward Gorelli <
***@***.***> wrote:

[2022-01-15 22:23] fehiepsi commented on #1286
that contains all time steps

That's right. Glad that the problem is resolved. :)

[2022-01-15 22:23] #1286 closed

[2022-01-17 14:29] mjbajwa opened #1292 "Out-of-memory error on TPUs - scaling Bayesian CNNs"
Hi,

I'm trying to reproduce some results of [this paper](https://arxiv.org/abs/2104.14421) using NumPyro and running into some memory issues on TPUs. I have a TPU v2-8 instance where I have been developing. I'm using a very small CNN to test, but even that seems to run into memory issues. As a test, I have initialized the TPU instance with with standard Flax examples in the Flax repo (with an alm

[2022-01-17 15:50] mjbajwa commented on #1292
Perhaps this more detailed error trace on the TPU instance might also help. I hypothesize a leakage somewhere in `flax_module`, but I have no idea where.

[code]

[2022-01-17 15:59] fehiepsi commented on #1292
Here are some of my thoughts:
+ The number of samples is small and the number of parameters is not large, so they are unlikely to cause the issue.
+ The data is quite large and you are performing Conv on top of all data. So the first convolution computation might be the main source of high memory. You might test it outside of numpyro context.
+ You might use [jax profiling](https://jax.readthedocs

[2022-01-18 14:33] mjbajwa commented on #1292
@fehiepsi your second point is indeed correct. Looks like reducing the "batch size" for a fixed model works. I imagine there's some sort of a time-space trade-off implicit in the convolution operations in XLA, but it's not obvious how I might control that through Flax. I'll do some digging. I'll shortly upgrade to a TPU instance with higher memory (v3-8), so hopefully it lets me do a full batch ru

[2022-01-18 14:33] #1292 closed

[2022-01-20 12:36] kaijennissen commented on #1292
@mjbajwa I'm trying to fit a Bayesian CNN on the MNIST dataset using numpyro, and ran into the same problem. Did you manage to get reasonable results?

[2022-01-20 12:46] kaijennissen opened #1293 "Raise better error message when using HMC for models with subsample"
Hi,

I was trying to combine subsampling and MCMC. Is this possible, because I receive the following error ```AssertionError: Missing random key to generate subsample indices.```
I've looked into the code but couldn't figure out where the ```rng_key``` should be passed to the ```_subsample_fn```.

[code]

[code]

[2022-01-20 13:54] mjbajwa commented on #1292
@kaijennissen yes, so I was able to resolve the memory issue by reducing batch size from 50,000 to 25,000, but I've only been able to hit 30% test set accuracy with a variation of the network above on CIFAR-10 (using standard NUTS settings). I'm also working on a v3-8 TPU instance and have ~128GB of memory.

I don't love the idea of needing to reduce the batch size; ofcourse sub-sampling is incons

[2022-01-20 14:57] fehiepsi commented on #1293
I think you can try https://num.pyro.ai/en/stable/examples/hmcecs.html or some other methods for tall data https://num.pyro.ai/en/stable/examples/covtype.html

[2022-01-20 15:21] tomasgeffner opened #1294 "Subsampling local variables"
Hi,

First of all, thanks for creating and maintaining Numpyro, I've been using it a lot! I have a question about subsampling in models with local variables. Let `g` represent the global variables, and `z = [z_1, z_2, ..., z_M]` the local variables (not observed, where we have M local variables). Consider the model

[code]

which is basically p(u, z) = N(u|0, 1) \prod_i N(z_i | u, 1). Is there a s

[2022-01-20 20:06] fehiepsi commented on #1294
Hi @tomsons22, we mainly use github to track issues. For questions and discussions, please use the forum. For  subsampling, we use [plate](https://num.pyro.ai/en/stable/primitives.html#numpyro.primitives.plate) (see [this tutorial](https://pyro.ai/examples/svi_part_ii.html#Subsampling)).

[2022-01-20 20:19] tomsons22 commented on #1294
Sorry about that, wasn't aware of the forum! And thanks for linking the tutorial, I'll have a look and reach out if needed. Thanks!

[2022-01-21 07:20] Vedranh13 opened #1296 "Sparse Poisson different log_prob values depending on type"
Using `numpyro-0.8.0`, depending on if you pass in an integer for the Poisson rate or a float, you get different values of `log_prob`. Was it intended that `log_prob` return an int value if you pass in an int? Or should it be cast?

To Reproduce:

[code]

[2022-01-21 12:23] fehiepsi commented on #1296
I think we need to cast to float [this one](https://github.com/pyro-ppl/numpyro/blob/99c31327937cd752ac71fe99a2b7dd075a148eac/numpyro/distributions/discrete.py#L695): `jnp.asarray(rate, dtype=jnp.result_type(float))`. Do you want to submit the fix?

[2022-01-21 12:26] fehiepsi commented on #1294
For your model, you can do
[code]
Let's close this issue and follow up in the forum if needed. :)

[2022-01-21 12:26] #1294 closed, assigned to nobody

[2022-01-21 21:25] ross-h1 opened #1299 "HMC Gibbs Hierarchical Prior Issue"
I'm trying to fit a hierarchical model with HMC Gibbs. Much simplified model in the attached notebook. Works fine with a fixed hyperparameter for tau, but not at all with a prior over tau sampled in the model function. I've seen this behaviour in several models and trying to get to the bottom of it. Quite possible that I am missing something... but seems as though this should work?

[hmc gibbs hie

[2022-01-21 21:28] martinjankowiak commented on #1299
@ross-h1 can you please post your code to a github (gist?) or the like?

[2022-01-21 21:47] ross-h1 commented on #1299
yes, happy to but unless I am mistaken I think this might be described as a bug report...

[2022-01-21 22:10] Vedranh13 commented on #1296
Sure, I would love to. I haven't contributed to numpyro before though so might have some questions around style, adding tests, etc during the review process

[2022-01-22 22:52] fehiepsi commented on #1299
+1 for uploading the notebook to https://gist.github.com/  Then we can use https://nbviewer.org/ to view it.

[2022-01-23 11:27] ross-h1 commented on #1299
et voila...

https://gist.github.com/ross-h1/677e6fb13a806bade94e387a5dda6d9e

Thanks for looking at this guys...

[2022-01-23 14:12] #1296 closed

[2022-01-23 18:09] fehiepsi commented on #1299
Here is the rendered version of the notebook: [link](https://nbviewer.org/gist/ross-h1/677e6fb13a806bade94e387a5dda6d9e).

With your model, `p(tau, sigma | alpha, liks) = p(tau) p(sigma | alpha, liks)` so its samples using HMCGibbs should follow `dist.HalfNormal(1)` distribution (which is also its prior).

[2022-01-23 18:17] fehiepsi commented on #1276
I'm a bit hesitating addressing this issue mainly because this will affect a lot of users. It is nice to raise the warning by default but we'll need to incorporate `enable_validation()` mechanism in Pyro and point to it in the warning message so that MCMC users can quickly disable the warning (if they don't like `plate` style and are confident on their models).

[2022-01-23 18:30] martinjankowiak commented on #1276
well there are different variants for how this might look... for example you could only raise the warning if there's at least one plate (so would catch cases where users are using plates but are doing so incorrectly/inconsistently)

[2022-01-23 18:42] fehiepsi commented on #1276
Good idea!!!

[2022-01-23 18:44] fehiepsi commented on #1268
Fixed on #1272. Thanks @omarfsosa!

[2022-01-23 18:44] #1268 closed

[2022-01-23 18:44] martinjankowiak commented on #1276
you could even have something like `plate_warning in [None, 'strict', 'loose']` with default to `loose`

[2022-01-23 18:52] martinjankowiak commented on #1299
@ross-h1 shouldn't the posterior conditional over `alpha` be a multivariate normal distribution?

[2022-01-24 01:55] #1293 closed

[2022-01-24 03:04] #1217 closed

[2022-01-24 03:04] #1241 closed

[2022-01-25 02:46] ykawashima opened #1308 "Restart mcmc.run from the saved state of the previous session"
I have a question regarding the MCMC. I see that it is possible to get multiple samples within the same session, as noted in [the NumPyro Docs](https://num.pyro.ai/en/0.6.0/mcmc.html#numpyro.infer.mcmc.MCMC.post_warmup_state), but is there any way to restart mcmc.run in another session with exactly the same settings as the previous one using the saved state?

When I try to do something like this,

[2022-01-25 03:01] fehiepsi commented on #1308
Looking like sample_fn is deleted. Do you pickle the mcmc object? By the way, it is better to use forum for questions. If you think this is a bug, could you provide small reproducible codes? I guess you might need to run `mcmc._compile(...)` but I'm not sure.

[2022-01-25 03:12] ykawashima commented on #1308
Thank you for your quick response. Yes, it is. Sorry that I forgot to mention, but what I pickle is the mcmc state object outputted with mcmc.last_state in the previous session. Ah sorry, I did not realize the forum. I will ask there. Thank you.

[2022-01-25 12:33] fehiepsi commented on #1308
Could you try `mcmc._compile(key, y1=nflux)` after loading your mcmc instance? Then you can setup post warm up state and run?

[2022-01-26 05:01] ykawashima commented on #1308
Thank you very much! It worked.

[2022-01-26 05:01] #1308 closed

[2022-01-27 20:21] ColdTeapot273K opened #1309 "Correct SVI API usage"
So I was playing around with SVI API and problems from Statistical Rethinking 2ed. And one thing - extracting posterior sample data - made me quite puzzled for a while.

The [doc on SVI](https://num.pyro.ai/en/stable/svi.html#numpyro.infer.svi.SVI) describes intended usage as:
[code]

The result of that for my model was:
1. Sample with deterministic estimands missing if I used `Predictive(guide, p

[2022-01-28 01:35] fehiepsi commented on #1309
Typically, to get posterior samples, you can use Predictive(guide, ...). To get posterior predictive, you can use Predictive(model, guide=guide, ...). Predictive(model, ...) will give you prior predictive. I think what you want is posterior predictive so please use Predictive(model, guide=guide,... It would be nice to improve the docs to get posterior predictive. Do you want to contribute? :)

[2022-01-29 18:43] #1276 closed

[2022-01-30 12:26] ColdTeapot273K commented on #1309
@fehiepsi correct, i was after posterior predictive. And yes i could work on PR

I think what you said should be mentioned in the `svi.py` and `util.py`.
Particularly `util.py` suggests the `Predictive(model, posterior_samples=posterior_samples, ...)` recipe (granted because MCMC doesn't imply any `guide`)
https://github.com/pyro-ppl/numpyro/blob/5d9e033297532ae1a81a3e762ce7250aed5ab269/numpyro/in

[2022-01-30 13:52] fehiepsi commented on #1309
Yes, that makes the svi docs much accessible. Just two suggestions - Maybe move the posterior_samples to the first section and comment it as an alternative way to draw posterior samples from auto guides. We should rename `samples` to `posterior_samples` to avoid confusion. - To get posterior/prior predictive, we should set data=None in predictive(..., data=None)

[2022-01-30 18:33] albcab opened #1311 "Automatic partial centering of hierarchical models"
Hi! I am working on contributing an example/tutorial on automatic partial centering of hierarchical models (as in Algorithm 2 of https://arxiv.org/abs/1906.03028). For example, with Neal's funnel
[code]
I use SVI to train a base diagonal normal and the LocScale parameter
[code]
to then fix the LocScale parameter and reparametrize the model
[code]
which should help sampling algorithms. In the case

[2022-01-30 19:19] fehiepsi commented on #1311
Hi @albcab, I think you can move `plate` statement into the `reparam` handler.

You can use [our forum](https://forum.pyro.ai/) for questions and discussions. :)

[2022-01-30 19:50] fritzo commented on #1311
I believe the default behavior in Pyro is to create one learnable parameter per element of the latent variable. So in Pyro the default behavior should match what @albcab is requesting?

@albcab have you checked the shape of the `params['xrest_centered']` parameter?

@fehiepsi do you know if NumPyro behaves differently from Pyro here?

[2022-01-30 21:02] fehiepsi commented on #1311
Oh, it turns out that the parameters have the same shape as the distribution event shape, so only
[code]
works in both Pyro and NumPyro.

[2022-01-30 21:08] albcab commented on #1311
[code]
has the behaviour I was looking for ,thanks. The forum is great :)

[2022-01-30 21:21] ColdTeapot273K commented on #1309
Can't run "prior predictive" without data/with data=None, it errors, apparently because the model demands its parameters.

Also I wonder why `"W"`, when it's present in `samples`, is always N identical rows of `data`. Like it's not sampled from the `dist.Normal(mu, sigma)`, it's just outputting a matrix of `df_dev["weight"].values` copies. Is this intended?

[2022-01-30 21:30] ColdTeapot273K commented on #1309
Also

[code]
is not equivalent to
[code]

I have a case where 1 outputs constant values and 2 outputs proper samples. Am I missing something?

[2022-01-30 22:43] ColdTeapot273K commented on #999
In case anyone encounters this problem and their AutoLaplaceApproximation + Adam gives this error, trying lower stepsize for Adam or different optimizers can help aswell (because substituting guide to AutoNormal can give weird results on some problems)

[2022-01-31 00:10] fehiepsi commented on #1311
Glad that it works. I think you can also remove fn= part in the reparam handler.

[2022-01-31 00:10] #1311 closed

[2022-01-31 01:23] fehiepsi commented on #1309
I think in the doc, you can use `with numpyro.plate("N", 10):` rather than `data.shape[0]` (so that `data` can be None, i.e. unobserved).

You need to set `obs=None` in the model. One way to do it is
[code]

They should be similar in functionality. Using `guide.sample_posterior` might return for you `deterministic` sites. You can achieve the sample purpose with `Predictive(..., return_sites=list_o

[2022-02-02 13:15] ColdTeapot273K commented on #1309
I think introducing a plate abstraction to a simple example of basics does more harm than good. And sampling prior is a basic functionality of a bayesian model.

So i've came up with this:
[code]

Full example:
[code]

---

That trick is very neat, thanks!

---

[code]

[2022-02-02 14:37] nicolasemmenegger opened #1317 "Make Distribution pytree work under jax.vmap"
I have a function which returns a posterior distribution of type `Independent` with `base_dist` being `Normal`. I want to `vmap` over the function in order to get the posteriors for a number of different models. However, the assertion in the constructor of `Independent` hinders the usage of `jax.vmap`. Here is a toy example that illustrates this behaviour. To simplify things, the following functio

[2022-02-02 16:26] tcbegley opened #1318 "`numpyro.render_model` behaviour changed in 0.9.0"
I noticed that the behaviour of `numpyro.render_model` appears to have changed since the latest release, specifically arrows signifying conditional dependence are not being rendered properly.

I haven't had time to dig into why this is yet, but here is a simple recreation

[code]

Running this with 0.8.0 and 0.9.0 I get (respectively)

![model-0 8 0](https://user-images.githubusercontent.com/15220

[2022-02-02 16:28] tcbegley commented on #1318
Seems like it may be related to #1248?

[2022-02-02 16:46] tcbegley commented on #1318
Something has changed in `get_model_relations` in `numpyro.contrib.render`. I get different outputs there with 0.8.0 and 0.9.0

[code]

[2022-02-02 17:29] fehiepsi commented on #1318
Could you try to use `jax 0.2.27`? I [suspected](https://github.com/pyro-ppl/numpyro/pull/1314#issuecomment-1028110807) it caused the problem.

[2022-02-03 15:32] fehiepsi commented on #1317
Hi @nicolasemmenegger, thanks for the clear description! I'm not sure how to make distributions robust w.r.t. jax transforms. Currently we convert distributions to pytree to be able to scan over them. For vmap, we need to redesign the distribution construction, which is a bit involved (see https://github.com/google/jax/issues/3265). How about using tensorflow probability distributions? I think vma

[2022-02-03 23:29] d-diaz opened #1319 "Working example for Bayesian Quantile Regression and AsymmetricLaplace Distribution"
I've prepared a simple working example of Bayesian Quantile Regression using an implementation of an AsymmetricLaplace distribution in a Colab Notebook [here](https://colab.research.google.com/drive/1h4yoaIYcDRHy6XYDtMgrUUCB0fJ1uf0v?usp=sharing). I'd like to offer this up as an example for numpyro documentation, but am not sure whether this needs to be converted to script or if it can be utilized

[2022-02-04 04:23] #1318 closed

[2022-02-04 04:41] fehiepsi commented on #1319
Hi @d-diaz I think it is best to have asymmetric laplace distribution in the library and a tutorial (which might be best to explain how quantile regression works and how to use numpyro to such problem) or an example script with current content. Using asymmetric parameter will match wikipedia article but you can make a wrapper like a function `make_lilelihood(..., quantile)` for your convenience in

[2022-02-04 07:49] ColdTeapot273K commented on #1309
Ok i've redesigned the whole "different samplings from SVI" example because my previous one looked stupid and had redundant arguments. At least that's what I use as a cheat sheet for myself.

Has all basic kinds of sampling and samples `W` variable directly

[code]

[2022-02-04 12:59] fehiepsi commented on #1309
Re constant values: AutoLaplaceApproximation uses a delta guide (which does MAP estimate, see [docs](https://num.pyro.ai/en/stable/autoguide.html#numpyro.infer.autoguide.AutoLaplaceApproximation)) so if you draw samples from it, you will get constant values.
Re plate: yeah, it might be confusing at first if we don't know about [plate diagram](https://en.wikipedia.org/wiki/Plate_notation)  - it wil

[2022-02-04 13:40] kaijennissen commented on #1178
Any progress on this?

[2022-02-04 14:54] alexander-maier opened #1321 "compat module: compat.infer.MCMC broken"
Calling
[code]
throws an error since no kwargs are handed to `mcmc.MCMC`. Also, shouldnt the correct `compat` call be
[code]
Thanks :)

[2022-02-04 15:19] fehiepsi commented on #1321
Thanks, @alexander-maier! I think we'll need to use [keyword arguments here](https://github.com/pyro-ppl/numpyro/blob/9719466a584af80683a7aa04401d4e065cc569ae/numpyro/compat/infer.py#L99-L100). It is surprised to me that we don't have a test for this.

[2022-02-04 21:21] Vinnie-Palazeti opened #1323 "Bayesian Hierarchical Stacking Example"
Hello,

The Bayesian Hierarchical Stacking example is not functioning. I tried in both the linked Google Colab & locally in jupyter lab.

Docs:
https://num.pyro.ai/en/latest/tutorials/bayesian_hierarchical_stacking.html

Link:
https://github.com/pyro-ppl/numpyro/tree/master/notebooks/source)/bayesian_hierarchical_stacking.ipynb

Error:

[code]

The issue stems from the test portion of the stacking

[2022-02-04 22:12] fehiepsi commented on #1323
cc @MarcoGorelli  :)

[2022-02-04 22:39] MarcoGorelli commented on #1323
Thanks for the ping! I'll take a look

[2022-02-05 01:42] Vinnie-Palazeti commented on #1323
@MarcoGorelli

I believe it is as simple as changing the variable name inside the numpyro.deterministic(). I am new to numpyro, so can't give a detailed reason why.

this `if test` section at bottom of stacking() function seems to work as intended:

[code]

[2022-02-05 10:14] ColdTeapot273K commented on #1309
Hm, even tho I had read the doc, it was not obvious to me that these are explicitly point estimates. Until I found how does Delta distribution look like 😵

Re plates
I'm a tad familiar with plate notation. Now, thinking of it again, from a vectorized code standpoint, it might indeed be a handy thing - like a shell for data which is empty when we don't supply it. I have to think about it.
Btw, can

[2022-02-05 10:25] ColdTeapot273K opened #1324 "0.9.0 error when sampling posterior predictive via guide"
Error:
`TypeError: mul got incompatible shapes for broadcasting: (1000,), (3,).`

Works just fine in `0.8.0`

Code to reproduce:
[code]

[2022-02-05 14:31] fehiepsi commented on #1323
Oh, good point! I think the last `numpyro.deterministic` statement is unnecessary. Could you try to remove it?

[2022-02-05 14:37] fehiepsi commented on #1324
Thanks, @ColdTeapot273K! We don't support providing both posterior_samples and guide. Will make a PR to raise the error soon.

[2022-02-05 14:41] fehiepsi commented on #1309
In your PR, could you update docs of LaplaceApproximation to: `... construct a MAP guide (i.e. point estimates to maximize the posterior)`

[2022-02-05 17:31] #1324 closed

[2022-02-05 20:43] MarcoGorelli commented on #1323
Thanks @Vinnie-Palazeti for picking up on this! I probably didn't re-run the notebook after changing that line 😳  Did you want to make a PR?

[2022-02-06 19:11] kaijennissen commented on #1178
I was able to implement a basic example.

**Sampling:**
I've used the fact that if `X` is a `(n x p)` matrix with `x_(ij) ~ N(0,1)` and `Y=loc + U @ X @ V'`  then  `Y ~ MN(loc, A@A',B@B')`.
Assume we have `sample_shape=(s,)`, `batch_shape=()` . Then we can sample X form a Normal distribution with `sample_shape = (s,)+event_shape` where `event_shape=(n,p)`.
We then have to map to matrix multiplicat

[2022-02-07 14:56] Vinnie-Palazeti commented on #1323
@MarcoGorelli @fehiepsi Yeah removing the last line of stacking() fixes the issue. I've never done a PR, is there a specific branch I should use for comparison? or do I fork first? It may be easier for one of you to just delete the line (and circumvent my incompetence lol)

[2022-02-07 15:12] MarcoGorelli commented on #1323
Up to you - it's a good learning experience to make a PR, happy to help out with that

And yes, you'd need to:
1. fork the repo
2. create a new branch
3. make a pull request

The scikit-learn contributing guide explains this really well https://scikit-learn.org/stable/developers/contributing.html#how-to-contribute

[2022-02-08 15:43] hessammehr opened #1328 "Vectorized sampling: error when var size is 0"
JAX refuses to reshape an array using the `(-1, ...)` shape notation if its `size` (i.e. product of `shape`) is 0. This causes issues with vectorized sampling when samples from different chains are concatenated.

# Steps to reproduce
[code]

Sampling of individual chains works fine but a `[TypeError: reshape new_sizes must all be positive, got (-1, 0, 8).]()` is raised during final concatenation o

[2022-02-08 18:26] fehiepsi commented on #1328
Oh, what's the subtle issue. Please feel free to make the change.

[2022-02-09 00:22] colehaus opened #1329 "Trivial model leaks tracer according to `jax.checking_leaks`"
See the gist here to reproduce: https://gist.github.com/colehaus/e68699dd0a5267545146025d4be6a027

If you run the model without checking for leaks, it seems to work fine and no tracer errors are thrown.

Interestingly, when I run the same code locally, no tracer leaks are flagged when running with `num_chains=1` but they are flagged when running with `num_chains=2`.

[2022-02-09 02:56] #1323 closed

[2022-02-09 03:11] fehiepsi commented on #1329
This seems to be some (possibly false positive) leaks from an old version of jax. Could you try to update jax version?

[2022-02-09 18:27] colehaus commented on #1329
I just updated the gist and bumped to JAX 0.2.28 (sorry, didn't realize the standard NumPyro invocation for notebooks didn't install the latest version of JAX by default). Now the error only happens for `num_chains=2` which is the same behavior as locally (where I'm running 0.2.27).

[2022-02-09 21:24] fehiepsi commented on #1329
I'm seeing this warning
[code]
in your notebook. It seems that the issue is fixed in the master branch. You can try with
[code]

[2022-02-10 00:27] colehaus commented on #1329
Ah, setting `pydev_do_not_trace = True` didn't make a difference but upgrading to master did. Thanks!

[2022-02-10 00:27] #1329 closed

[2022-02-10 13:13] #1328 closed

[2022-02-10 20:23] fehiepsi commented on #1319
It seems to me that the scale parameter lambda in the main wikipedia article should be the rate. Scipy also uses asymetry parameterization. If you find quantile argument useful, you can define a new distribution named AssymetryLaplaceQuantile or something like that. :)

[2022-02-10 21:07] d-diaz commented on #1319
I think it seems most sensible to implement an AssymetricLaplace class following the Scipy and Pyro and Wikipedia pattern and a distinct AsymmetricLaplaceQuantile class following the Bayesian quantile regression pattern. I don’t know the use cases for the AsymmetricLaplace with asymmetry parameterization, but did run into a the need for this quantile regression version in my own work. I’ll expand

[2022-02-10 21:41] fehiepsi commented on #1319
That's an awesome plan, thanks @d-diaz!

[2022-02-13 09:48] salvomcl opened #1334 "Trying to reproduce the gaussian mixture example from bayesian-methods-for-hackers"
Hi everyone! I'm starting exploring this package and I had some problems recreating the gaussian mixture example from bayesian methods for hackers (https://github.com/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/blob/master/Chapter3_MCMC/Ch3_IntroMCMC_PyMC3.ipynb).

This is my snippet
[code]

The problem is that in the example linked above, the averages of the `p_i`

[2022-02-13 12:40] fehiepsi commented on #1334
@salvomcl We have [forum](https://forum.pyro.ai/) for questions. Could you post it there? (I looked at the pymc3 version and saw a similar trace for `p`, the "Traces of unknown parameters" figure. In addition, you can have `mus`/`sds` follows e.g. `dist.Uniform(0, 100).expand([2]).to_event()` and use `mus[c_i]`, `sds[c_i]` as in the original article - but using `jnp.where` is fine for bernoulli va

[2022-02-13 16:18] nicolasemmenegger commented on #1317
Hi @fehiepsi and thanks for the quick answer. Unfortunately, tensorflow probability does not support this either: ["Because TFP distributions are registered as JAX pytree nodes, we can write functions with distributions as inputs or outputs and transform them using jit, but they are not yet supported as arguments to vmap-ed functions"](https://www.tensorflow.org/probability/examples/TensorFlow_Pro

[2022-02-14 02:57] fehiepsi commented on #1317
I don't have much ideas right now. I think one way is to follow one approach in tfp thread: return your distribution.flatten() rather than the distribution itself, then calling Independent.unflatten(the returned values of vmap). I guess it will work for your case and many other distributions; but might be there are some edge cases.

[2022-02-14 03:31] #1321 closed

[2022-02-15 12:02] fehiepsi opened #1335 "Add option to exclude `plate` from `scope` handler"
Currently, `scope` handler changes the name of all messages. I found that it will cause a bit confusing so it would be nice to have an option to exclude some message types. In the trace, we only raise issues when `sample` and `deterministic` messages are duplicated, so it makes sense to only rename them by default.

[2022-02-15 21:01] cstoafer opened #1336 "Notebook example for a nested hierarchical model"
I'm interested in contributing a notebook example showing how to setup a nested hierarchical model.  I'm opening a ticket based on the suggestion from issue #189 to see if this is a valuable contribution.

The notebook would outline a model similar to https://forum.pyro.ai/t/add-additional-level-in-hierarchical-model/3022/5 and https://forum.pyro.ai/t/hierarchical-model-with-two-levels/3775/6.  I

[2022-02-15 22:38] nicolasemmenegger commented on #1317
Thanks for the suggestion, this is cleaner than my own workaround! So I implemented a version that could potentially be generalized more. The main issue I was running into is that the `aux` data from `tree_flatten` may contain distribution types, and jax complains about these being in output of vmapped functions (even if you don't actually vmap over the axis where they are present), see e.g. https

[2022-02-17 03:06] fehiepsi commented on #1336
Thanks, @cstoafer! We love to have more tutorials/examples. Please feel free to extend the Bayesian Hierarchical Linear Regression notebook. :)

[2022-02-17 03:18] fehiepsi commented on #1317
I don't think it will work for all distributions but it is nice to cover many of them. I think we just need a simple `vmap` over the first dimension. Things are pretty complicated if we allow to specify out axes, which might add batch dimensions to event dimensions of the distributions.

Your implementation looks great to me. The usage of DIST_ID is a bit annoying but I can't think of a better sol

[2022-02-17 17:02] fehiepsi opened #1339 "Skip param initialization when it is already available in the trace"
Currently, the following program
[code]
will return `2.`. Given that we should only have 1 value for a single param, it might be nice to have a mechanism that `get_value` applies `trace` to `param` message first, before other effect handlers.

[2022-02-17 21:33] rusty-robin opened #1340 "Rhat and NEff are NaNs with NUTS"
Hi,

I am testing some models with NumPyro and trying out various combinations to evaluate performance of MCMC algorithms. I observed that running a linear regression model with NumPyro causes the `Rhat` and `Neff` values to be `NaN` for some parameters.

I think this happens when the distribution parameters are large (e.g. for studentT, its of the order 10^31). If I change those then I dont see N

[2022-02-17 23:50] nirmalya-broad opened #1341 "Error with log_likelihood with respect to random_flax_module"
I am getting error while using `log_likelihood` with respect to `random_flax_module`. Is this a bug or I am making any mistake?

my model:

[code]
Inference:

[code]

Unfortunately I am getting error while using log_likelihood from  numpyro.infer.

[code]

The error is as follows:

[code]

[2022-02-18 03:38] fehiepsi commented on #1340
Hi @rusty-robin this typically happens when you have constant samples. Looking like with the default strategy, we start MCMC at the tail of student t prior, hence the geometry there will be tricky to guide the HMC sampler. You can try different initial strategies like `init_to_sample` but even so, working with large value is not robust. You might want to call `numpyro.enable_x64()` at the beginnin

[2022-02-18 03:42] fehiepsi commented on #1341
Hi @nirmalya-broad, because you are not providing params to your model, we will need to initialize the parameters (to get random keys, you can do `seed_model = numpyro.handlers.seed(model, rng_seed=0)`). In this case, you already get optimized parameters, so you can use log likelihood with `optimized_model = numpyro.handlers.substitute(model, data=params)`

[2022-02-18 05:17] fehiepsi commented on #1340
I just looked at your `b` `sigma` and `w` std values.

I'm not sure if we need to raise error messages here. Sometimes we just got constant samples (e.g. when drawing discrete latent values). Those r_hat, n_eff diagnostics can [produce `nan`](https://discourse.mc-stan.org/t/meaning-of-nan-for-se-mean-n-eff-and-rhat-in-stan-output/20125) - but I'm not sure if getting constant samples are good or ba

[2022-02-18 13:05] #1339 closed

[2022-02-18 14:04] nirmalya-broad commented on #1341
Hi @fehiepsi, Yes, that worked! Thank you very much.

The following code is adapted from https://num.pyro.ai/en/stable/handlers.html

[code]

[2022-02-20 03:58] fehiepsi commented on #1341
Hi @nirmalya-broad, by `params`, I meant it is `svi_result.params`. I guess with the change in my last comment, you can use `log_likelihood` utility directly with `optimized_model`.

[2022-02-23 06:35] hesenp opened #1346 "AR2 model example question"
I was reading [this example doc](https://num.pyro.ai/en/stable/examples/ar2.html) about auto-regressive time series modeling using numpyro, and realized there's some confusion about AR(2) concept here.

In classical text book sense, $y_t$ would not only carry forward the deterministic terms, but also random terms from previous results, e.g. $e_t$, $e_{t-1}$ etc.

However, in the example code, we h

[2022-02-23 09:08] MarcoGorelli commented on #1346
Hi @hesenp - how should the example be written?

I was using https://mc-stan.org/docs/2_29/stan-users-guide/autoregressive.html as a reference

[2022-02-23 10:18] omarfsosa commented on #1346
Hmmm yeah I believe @hesenp is correct. The `transition` function should include a sample statement so that the noise is carried forward.
This is how I'd normally write an AR2 model:
[code]

(Note that I'm using numpyro's `scan` instead of `lax.scan`)

[2022-02-23 10:30] MarcoGorelli commented on #1346
Ah, thanks @omarfsosa !

[2022-02-23 12:24] fehiepsi commented on #1341
Closed due to the issue is resolved.

[2022-02-23 12:24] #1341 closed

[2022-02-23 12:26] fehiepsi commented on #1340
Closed because the behavior is expected. Please feel free to open a PR that enhances the documentation to mention it.

[2022-02-23 12:26] #1340 closed

[2022-02-23 12:58] fehiepsi commented on #1309
@ColdTeapot273K Do you still want to take a stab at this? Your suggestions would be nice improvements for the docs.

[2022-02-23 14:28] wiseodd opened #1347 "Memory leak when calling MCMC multiple time with non-static observations"
I'm aware of https://github.com/pyro-ppl/numpyro/issues/448 and its fix https://github.com/pyro-ppl/numpyro/issues/448#issuecomment-561984834. However, when the data in `mcmc.run` is dynamic (notice `np.random.randn()` in the last line of the following code), the memory leak becomes present again (4GB of memory usage and growing after 3 minutes). Any idea how to prevent this?

[code]

[2022-02-23 16:10] fehiepsi opened #1348 "Force validate_args to be keyword arguments"
This will help some forum users avoid issues like using `HalfNormal(loc, scale)` for HalfNormal distribution. In such case, validate_args will take the value of `scale` (because HalfNormal does not have loc parameter) and raise some misleading errors.

[2022-02-23 16:35] hesenp commented on #1346
Thanks a lot for sharing this @omarfsosa . I was thinking of doodling one example for this and then went to sleep. So happy that I wake up with an example here already.

[2022-02-23 20:12] fehiepsi commented on #1347
Could you try `mcmc = MCMC(..., jit_model_args=True)`? Otherwise, we can't prevent memory of jit caches.

[2022-02-24 08:27] wiseodd commented on #1347
Thanks a lot, it works! One additional question: Can we also use this workaround for SVI? I encountered a similar memory leak behavior and I can't find `jit_model_args` arg or its equivalent in SVI's docs.

[2022-02-24 12:39] fehiepsi commented on #1347
For SVI, you can do
[code]
We think it is much simpler than we incorporate jit_model_args there. But you can create a FR for it.

[2022-02-24 13:30] wiseodd commented on #1347
Thanks!

[2022-02-24 13:30] #1347 closed

[2022-02-25 10:01] omarfsosa commented on #1346
@MarcoGorelli Do you want open the PR to update the example? I'm also happy to do it if you don't have time atm

[2022-02-25 10:30] MarcoGorelli commented on #1346
Hey @omarfsosa ! I am quite busy at the moment so wouldn't have a chance to update this til at least next week, so am happy to let you (as you posted here the correct version of the example) or @hesenp (as he first noticed the mistake) author the PR

[2022-02-27 04:14] hesenp commented on #1346
yeah I can give a shot. Let me see if i can pull this off tonight.

[2022-03-03 15:39] ColdTeapot273K commented on #1309
"So that was a f* lie"

Sorry, had to attend emergency matters popping up due to the recent global events🥵

I aim to contrib this weekend

[2022-03-03 22:05] HanGuo97 opened #1353 "Efficient Metropolis Adjusted Langevin Algorithm (MALA) Sampler?"
Hi, I noticed that we have a `MetropolisAdjustedLangevinAlgorithm` via `TFPKernel`. However, it seems like the latter is not very optimized (the runtime is very slow). I'm curious if there are plans to implement MALA natively using `numpyro`?

It also seems like MALA can be implemented as HMC [with just one leapfrog step](https://github.com/tensorflow/probability/blob/main/spinoffs/oryx/oryx/exper

[2022-03-05 02:32] fehiepsi commented on #1353
That's right. We can expose `num_leapfrog_steps` to HMC if it is useful. Currently, we used fixed trajectory, rather than fixed num_leapfrog_steps.

For MAHA, we welcome the contribution (using [this MH pattern](https://gist.github.com/aflaxman/8d52ded24d0279b1dbbe74dd91c283b6)). Currently, we don't have plan to implement it.

[2022-03-05 02:47] HanGuo97 commented on #1353
Thanks! I noticed that in [this line](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/hmc.py#L358), `num_leapfrog_steps` is implicitly set to `trajectory_length / step_size`. In that sense, as long as I set `trajectory_length == step_size`, this should give me the expected behavior of MALA?

[2022-03-05 02:57] fehiepsi commented on #1353
I think so, as long as you set `adapt_step_size=False`. :)

[2022-03-05 02:58] HanGuo97 commented on #1353
Got it, thanks again!

[2022-03-05 02:58] #1353 closed

[2022-03-05 12:48] nicolasemmenegger commented on #1317
Hi, sorry for the delayed response.

One use-case I have is that I vmap over functions returned by `haiku.transform_with_state`. These pure functions return the original output, along with some model state. In one of my applications, the former is a distribution, while the latter is a regular nested container/pytree. Thus, it is nice if we can handle nested outputs possibly containing `Distributio

[2022-03-05 13:17] nicolasemmenegger commented on #1317
Also, what would the expected behaviour be when vmapping a Distribution with out_axes not equal to 0?

[2022-03-06 15:58] fehiepsi commented on #1317
I guess `out_axes=-1` for `dist.Normal(0, 1).expand([10, 3]).to_event(1)` means that the output will be `dist.Normal(0, 1).expand([10, vmap, 3]).to_event(1)`, i.e. vmap dimension semantic only applies for batch dimensions. Regarding the auxiliary issue, maybe instead of
[code]
we can do
[code]
i.e. turns distribution type into a dict with value None (vmap over None is still None).

Sounds reasonab

[2022-03-06 16:20] justinrporter opened #1354 "Anaconda build broken?"
I think the anaconda distribution is broken at the moment.

With a fresh install of numpyro from conda-forge, running `python -c 'import numpyro'` I get:

[code]

This looks like possibly a consequence of [this issue](https://github.com/google/jax/issues/9643), which I think is maybe fixed now... unclear if the numpyro anaconda distribution needs to do anything about this?

[2022-03-06 18:16] fehiepsi commented on #1354
Hi @justinrporter, I just merged https://github.com/conda-forge/numpyro-feedstock/pull/9. Could you double check if the issue is resolved. The tests passed there.

[2022-03-06 18:46] justinrporter commented on #1354
No good...

conda list shows: `numpyro                   0.9.0              pyhd8ed1ab_0    conda-forge`

Is that correct?

[2022-03-07 03:28] fehiepsi commented on #1354
Did you update jaxlib for the fix? I'm not sure what to do if this is jaxlib problem. You might want to downgrade it if needed I guess.

[2022-03-07 17:10] justinrporter commented on #1354
This is in a docker image, so I built it from scratch. The version of jaxlib I get is `jaxlib                    0.3.0            py39h3498573_2    conda-forge`... Is that correct?

[2022-03-07 17:48] fehiepsi commented on #1354
I think you need to update jaxlib version (or in case the latest version is not available in your system, please consider downgrade jax/jaxlib to older versions). The link https://anaconda.org/conda-forge/jaxlib/files shows the latest version is jaxlib-0.3.0-...-_3

[2022-03-07 19:52] justinrporter commented on #1354
Word.  I'll see if I can manually tell anaconda to use `_3` instead of `_2`. Do you know why anaconda prefers to install `_2` when `_3` is available? Perhaps there is some conflict somewhere? So far my attempts to convince anaconda to install `_3` have failed.

[2022-03-08 02:16] rusty-robin opened #1355 "HMC goes into infinite loop"
Hi, running the following regression model with HMC goes into infinite loop (or at least takes more than 15 minutes). NUTS works fine though. Is this bug known?

### Code:

[code]

Output:

Infinite loop?
[code]

### Environment:
[code]

[2022-03-09 02:26] fehiepsi commented on #1354
I'm not sure. I just tested in my system and it installed _3 version. Probably the new version is not available to your system.

[2022-03-09 02:31] fehiepsi opened #1356 "Allow a fixed num_steps in HMC"
It would be nice to allow a fixed num_steps in HMC. If the trajectory length is fixed and step size is too small, num_steps will turn out to be quite large. This will be helpful for #1355 and #1353.

[2022-03-09 04:31] rusty-robin commented on #1355
I see. But it seems the step size keeps going down and hence never finishes. Is this a bug?

[2022-03-09 10:48] mfouesneau opened #1357 "How to properly define a Mixture"
I am trying to define a mixture model
Something like

<img src="https://render.githubusercontent.com/render/math?math=\color{gray}y_i ~\mid~ \hat{y}_{in}, \hat{y}_{out}, \sigma_y, \sigma_{out} \rightsquigarrow (1 - g_i) \, \mathcal{N}(\hat{y}_{in}, \sigma_y) + g_i \, \mathcal{N}(\hat{y}_{out}, \sigma_{out})">

I see there is a `MixtureSameFamily` which would work in my current example below but is

[2022-03-09 15:43] justinrporter commented on #1354
Good news! For I re-re-rebuilt the docker image today and for some reason it got `_3` instead of `_2`... maybe there was some caching happening somewhere that's now been invalidated?

In any case, I think we can mark this as resolved.

[2022-03-09 16:04] #1354 closed

[2022-03-09 23:35] #1336 closed

[2022-03-09 23:39] fehiepsi commented on #1357
Hi @mfouesneau, could you use https://forum.pyro.ai/ for questions? I think you can try to isolate the issue by printing out shapes of all variables in your model. And see where the error happens (e.g., would using `jnp.array([beta + alpha * x, sigma_y, 0])` works).

[2022-03-09 23:39] #1357 closed

[2022-03-10 01:21] fehiepsi commented on #1355
It is just an artifact for low acceptance probability of the proposals, which typically happens when we initialize the latent variables using bad values.

[2022-03-10 15:15] fehiepsi commented on #1299
Closing. @ross-h1, please feel free to open discussions in https://forum.pyro.ai/ .

[2022-03-10 15:18] #1355 closed

[2022-03-10 15:50] ross-h1 commented on #1299
Yep thanks for pointing out. Found another way!

[2022-03-10 15:57] #1348 closed

[2022-03-10 22:18] rusty-robin commented on #1355
Thanks @fehiepsi Any suggestions on how to go around this for now?

[2022-03-11 00:14] fehiepsi commented on #1355
Hi @rusty-robin, I think you can set adapt step size to False and use init to sample strategy.

[2022-03-11 01:41] HanGuo97 opened #1359 "General Advice for Handling GPU Out-of-memory Errors for MCMC"
Hi, I noticed that I repeatedly ran into out-of-memory errors on GPUs when running MCMC (notably, `NUTS`/`HMC`). I searched around the issues and came across a couple of fixes such as `progress_bar`, but that unfortunately didn't work for me.

I'm curious if there is some general advice for handling such errors, e.g., places to change? I wasn't able to create a minimum example, as OOM happens usua

[2022-03-11 09:15] rusty-robin opened #1360 "NUTS sometimes does not converge on a regression model"
I observed that NUTS sometimes does not converge on this model (depending on the rng seed). For instance, if I change the seed to 7227991, it converges. Overall it fails to converge about 2-3 times out of 10. I am guessing that its not choosing the initial point properly for sigma/w sometimes and hence the chain diverges?

The model seems to work fine with Stan though, i.e. converges and gives cor

[2022-03-11 09:37] mfouesneau commented on #1357
@fehiepsi, I did not manage to connect to the forum. With both email and Github `Sorry, there was an error authorizing your account. Please try again.`

[2022-03-11 09:53] mfouesneau commented on #1357
Moved to forum: https://forum.pyro.ai/t/how-to-properly-define-a-mixture/3980

[2022-03-11 15:00] fehiepsi commented on #1359
Hi @HanGuo97 could you ask your question in our forum? It is easier to search around and discuss there.

[2022-03-11 15:05] fehiepsi commented on #1360
Could you try adding `numpyro.enable_x64()` to the top of your program? Or try `NUTS(..., init_strategy=numpyro.infer.init_to_sample)`.

[2022-03-11 15:07] tcbegley commented on #1360
The problem is with the specification of your model rather than NumPyro. Eyeballing the data it looks like there is very strong signal and very little noise

<img width="300" alt="image" src="https://user-images.githubusercontent.com/15220906/157891849-12069de2-4f11-4288-ae6b-39769c98d09d.png">

I estimate the true values of `w` and `b` that you used to generate the data were 20 and 3 respectively

[2022-03-11 17:37] rusty-robin commented on #1360
Yes, I agree that the model here has a very constrained prior. So I don't expect the results to be correct, i.e., `20` and `3` for `w` and `b`. However, I just wanted to test the behavior of the NUTS sampler with different kinds of priors. In this case I was expecting that it would converge like stan and produce a large sigma instead, which maybe desirable in some cases.
I also tried with `numpyro

[2022-03-11 17:45] hesenp opened #1361 "A question about generalizing into domain specific models (e.g. time series)"
I noticed that we already have [a few time series forecasting models](https://num.pyro.ai/en/stable/tutorials/time_series_forecasting.html) as part of the examples. For these models we mostly write the models from ground up.

On the other side of the spectrum, there's all these open source packages like Prophet, Orbit which just rely on a few models internally, but have more of a peripheral functi

[2022-03-11 18:22] fehiepsi commented on #1361
There are efforts in the past https://github.com/pyro-ppl/numpyro/pull/544 https://github.com/pyro-ppl/numpyro/pull/551 see e.g. [the lynx example](https://github.com/pyro-ppl/numpyro/blob/36457e8e15cd898ded44a2a8d5fd038d429606a1/numpyro/contrib/forecast/lynx.ipynb). If anyone is interested, please feel free to reuse/modify the code there but I think it is better to start with some popular algorit

[2022-03-11 18:44] fehiepsi opened #1362 "Clarify shapes in MixtureSameFamily distribution"
Currently, from [the docs](https://num.pyro.ai/en/stable/distributions.html#mixture-distributions) it is not clear that the last batch dimension of `component_distribution` should match the category size. In addition, it seems the docstring is not aligned well for this distribution (and [f-string](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/distributions/mixtures.py#L57) is missing the

[2022-03-11 23:06] hesenp commented on #1361
oh interesting. what's your thought on these code in the [forecast folder](https://github.com/fehiepsi/numpyro/tree/pylgt/numpyro/contrib/forecast) @fehiepsi ? do you have plans to check them in some time?

[2022-03-12 02:24] fehiepsi commented on #1361
Hi @hesenp, I don't have a plan for it. Currently, for time series problems, I just construct the model from scratch. But I believe having a module for basic forecasting models would be useful for many people.

[2022-03-12 06:20] rusty-robin commented on #1360
Ok, I obtained the potential energies:

Code:
[code]

Output:
[code]

Looks like one chain diverges. The potential energy is higher for that chain -- which should not happen ideally? Assuming I am interpreting this correctly.

[2022-03-12 07:57] fehiepsi commented on #1360
Yes, the chain with w~20 seems to be the bad one. Did you add `enable_x64()` at the top of your program or in the middle? I can't think of a reason for why that chain stuck at bad values beside numerical issues (probably our implementation of Exponential does not have a good precision at extreme values).

[2022-03-12 08:17] rusty-robin commented on #1360
Yes, i did enable x64 at the top, but that did not change the behavior. I am just running the program from command line using my conda environment.

I was checking the exponential distribution implementation. It seems its logprob function returns a positive result for negative values instead of nan/inf (like scipy). Is that expected?
I see that there are constraints on the input value. Does that o

[2022-03-12 13:55] fehiepsi commented on #1360
It is expected. You can enable validation to get -inf for out of support values. But I think it is not the issue here because the domain of w is positive. I tried 30 seeds with x64 but all of them give reasonable results. Could you let me know which seed is failing in x64?

[2022-03-12 16:33] HanGuo97 commented on #1359
Unfortunately, I'm having trouble posting this in the forum. Couldn't sign up for some reason... I will close this question here for now then.

[2022-03-12 16:33] #1359 closed

[2022-03-12 17:49] rusty-robin commented on #1360
Try: 2262058 or 901576

[2022-03-12 20:55] fehiepsi commented on #1360
I can confirm that with those seeds, MCMC is not mixing. I looked at the bad chain
[code]
and saw that `w` is initialized by a value ~7, then gradually move to 20. I can get away from the issue with
[code]
The potential energies of such chain are
[code]
[code]

It seems that the posterior is multimodal.

[2022-03-12 21:07] rusty-robin commented on #1360
I see. But this wont always work, right? For instance, this initialization strategy may not work if the prior is closer to the second mode?

Also, do you have any insight on how stan avoids this problem? Better initialization method?

On a different note, I am also observing some issues with multiple linear regression models: numpyro converges to wrong results (stan is correct). Should i post one

[2022-03-12 21:41] fehiepsi commented on #1360
I don't know. I guess so. Stan might generate a collection of init values and choose the best one to start with.

I'm not sure what would be a reasonable initialization strategy. In the above model, chains are not mixing and to me, it could be a good signal to explore more, rather than ignore (which might omit areas that has small probability). Typically, I rarely use strong priors and will try to

[2022-03-12 21:46] martinjankowiak commented on #1360
it's always possible that there exist better and more robust initialization strategies but i think it's always good to remember andrew gelman's [folk theorem](https://statmodeling.stat.columbia.edu/2008/05/13/the_folk_theore/)

[2022-03-12 21:58] rusty-robin commented on #1360
Here is another example of a multiple linear regression model. Here, the model converges, but the results are quite different than stan. Also the predictive accuracy is not that great in this case. I also tried different initialization strategies, but that did not affect the results much. However, if I change, Laplace to Normal, the results are better (better predictive accuracy).

[code]

Output:

[2022-03-13 03:21] fehiepsi commented on #1360
Could you print out the last sample from Stan chain so I can help you compare two log densities? I tried
[code]
but it does not give good result (compare to `mcmc.last_state.potential_energy`)

Regarding predictive, I think it does not tell much story unless you use improper priors.

[2022-03-13 03:30] rusty-robin commented on #1360
These are the values from the last few rows:

[code]

[2022-03-13 03:38] rusty-robin commented on #1360
Actually, scratch that. I realized I was using Gamma instead of InverseGamma in NumPyro which was causing the difference in results! :'(

Now it works after I make that change! Sorry about the fuss. :/

[2022-03-13 03:49] fehiepsi commented on #1360
Glad that you figured it out! I guess we can close this issue? Just a comment that it is better to reparam your model
[code]

[2022-03-13 03:49] #1360 closed

[2022-03-13 03:52] rusty-robin commented on #1360
Thanks for the help @fehiepsi!

Thanks. Will keep that in mind.

Just another thing. Is there a good documentation on all the debugging tools/apis that you mentioned on this thread: logdensity, potential energy, plotting the posterior, etc?

[2022-03-13 11:36] fehiepsi commented on #1360
We don't have it yet. Maybe we can add a Tips and tricks notebook. Do you want to start with some that you think important?

[2022-03-14 11:35] nipunbatra opened #1364 "[Examples]: Using Cholesky decomposition for GP decomposition kernel matrix inversion"
The [GP example](https://num.pyro.ai/en/latest/examples/gp.html) directly inverts the covariance matrix.

[code]

It may be better to use the Cholesky decomposition instead. See the following for an implementation: https://gregorygundersen.com/blog/2019/09/12/practical-gp-regression/

Should be a simple fix. I can have a student submit a PR if this is of interest.

[2022-03-14 21:43] fehiepsi commented on #1364
Hi @nipunbatra I think it is intended to use non-optimized code there. cc @martinjankowiak

[2022-03-15 07:52] ayaka14732 opened #1365 "icdf of beta distribution is not implemented"
[code]

NumPyro version: 0.9.1

[2022-03-15 13:18] fehiepsi commented on #1359
Maybe you need to sign-up using email. For some reason, github registration does not work...

[2022-03-15 22:54] fehiepsi commented on #1361
That API sounds reasonable to me. We can have default methods to get init values/ to-be-scanned values for traditional models while still provides extensions for some derived models. Like to include global terms as in [Orbit](https://uber.github.io/orbit/tutorials/dlt.html)

[2022-03-16 19:54] hesenp commented on #1361
Yeah Orbit is where I started to get the idea. The pattern is even more apparent in their [StanEstimator](https://github.com/uber/orbit/blob/dev/orbit/estimators/stan_estimator.py). Basically the core model is specified through a bunch of stan files. The rest is all wrappers to massage data and run the estimation. Prophet is similar too. Prophet is basically all resolving around just [one single s

[2022-03-16 23:47] fehiepsi commented on #1361
If you want, we can write a [design doc](https://github.com/pyro-ppl/pyro/wiki/Design-Docs) to exercise models that we want to put into (personally, I prefer textbook models to complicated ones so it might be easier to find common patterns for my usage case). I'm happy to collaborate. :)

[2022-03-17 20:56] arash-haddadan-wmg opened #1367 "Question about jax.lax.scan"

[2022-03-17 21:02] #1367 closed

[2022-03-18 01:24] dylanhmorris opened #1368 "log1m_exp and log_diff_exp functions"
When writing custom distributions, it is often helpful to have numerically stable implementations of `log_diff_exp(a, b) := log(exp(a) - exp(b))` and particularly `log1m_exp(x) := log(1 - exp(x))`. The naive implementations are not stable for many probabilistic programming use cases, and so probabilistic programming languages including [Stan](https://mc-stan.org/docs/2_29/functions-reference/compo

[2022-03-18 03:51] dylanhmorris commented on #1368
Sounds good. Will prepare one as soon as I have a chance.

[2022-03-18 10:46] jecampagne opened #1369 "get_trace failure: is there something missing"
Hello, here a simple snippet a bit overkill but let's try

[code]
I would like to generate a data set
[code]
but I have this not-so-clear-to-mee error message
[code]

I have not yet figure out what is missing... An help will be welcome.
Thanks

[2022-03-18 10:48] jecampagne commented on #1364
@nipunbatra  Ho that would be great for me if you have some more effective code.

[2022-03-18 14:03] jecampagne commented on #1369
It works !  thanks.

[2022-03-18 15:17] fehiepsi commented on #1369
If you run your seeded model with data, you will get the model's output. Trace handler only works for a callable with numpyro primities. It does not work for arrays or set of arrays or None,...

[2022-03-18 15:17] #1369 closed

[2022-03-19 05:09] fehiepsi opened #1370 "Using dirichlet sampler directly in Dirichlet distribution"
After https://github.com/google/jax/pull/9906, `jax.random.dirichlet` should be robust for small concentration, so we can remove the current trick that we put in the Dirichlet sampler.

[2022-03-20 19:56] #1356 closed

[2022-03-21 08:57] jecampagne opened #1373 "Gaussian Process example: a typo or a bug?"
Hello, here are few lines picked up from the Gaussian Process example:
[code]
Looking for instance at the book
[code]
page 16

![image](https://user-images.githubusercontent.com/20539759/159229508-b1c2f815-f25f-4492-b212-57be07c7ebba.png)

I would expect that `k_pp` is defined **without noise**
[code]
Don't you think ?
Thanks.

[2022-03-21 11:01] himalayajung opened #1374 "High level interface like bambi for numpyro"
Are there any plans to create a high level interface like bambi https://github.com/bambinos/bambi (uses PyMC) for numpyro? Having a user friendly interface on the top of numpyro would greatly help to increase adoption.

[2022-03-21 11:44] fehiepsi commented on #1373
I think Kpp with noise corresponds to y while without noise corresponds to f.

[2022-03-21 11:46] fehiepsi commented on #1374
Hi @himalayajung please check out https://github.com/pyro-ppl/brmp .

[2022-03-21 11:46] #1374 closed

[2022-03-21 12:33] jecampagne commented on #1373
But if I am write `Kpp` is what is defined as `K(X_ast,X_ast)`   which is used for `bar(f)_*` and `cov(f_ast)`.

[2022-03-22 18:32] hesenp commented on #1361
Interesting ... seems Fritz and Martin gave some thought into this way back as well, as documented in [this doc](https://docs.google.com/document/d/1jqQ_7mCnggqqmICzux2Fr9yvHO5AoVpBdmjNC0i6JAY/edit#heading=h.9kdf8uwe49yj). I guess I'll just carve out some time in the weekend to doodle a prototype out.

[2022-03-23 16:43] jecampagne commented on #1373
By the way the  [Gpy](https://github.com/SheffieldML/GPy/blob/devel/GPy/core/gp.py) library introduces `predict_noiseless` function:
[code]

[2022-03-24 04:45] fehiepsi commented on #1373
Yes, if you want noiseless prediction then you can set `include_noise=False`.

[2022-03-24 12:29] llaurabat91 opened #1376 "transform between domain and codomain of corr_matrix not stable for init_to_uniform strategy"

[2022-03-24 15:47] fehiepsi commented on #1376
Please look at [this forum topic](https://forum.pyro.ai/t/imposing-constraint-on-covariance-matrix/3913/6) for a context of this issue.

I think it is a bit tricky to improve precision using the current transforms:
[code]
shows that even for 10x10 matrices, the operator `L @ L.T` will give us a non positive definite matrix even though `L` is a valid lower triangular matrix of some positive definit

[2022-03-28 10:40] pierreglaser opened #1378 "Constraints object are not robust to pickling"
Hi, and first of all, thank you for this awesome project!

Properties of `Transforms` object such as `codomain` rely on identity checks such as this one:
https://github.com/pyro-ppl/numpyro/blob/34e0cdf4fa0ab9a0300a0d894d6758419fb46f40/numpyro/distributions/transforms.py#L173
which are not robust to serialization roundtrips (of the form `pickle.loads(pickle.dumps(obj))`, which lead to the creation

[2022-03-28 10:49] karm-patel opened #1379 "[Feature Request] Show params in `render_model()`"
Hi @fehiepsi and team,

Prof. @nipunbatra explained the [issue](https://github.com/pyro-ppl/pyro/issues/3023) (in `pyro`) of rendering params in `pyro.render_model()` and then I added this feature in `pyro` ([PR](https://github.com/pyro-ppl/pyro/pull/3039)). I would like to add the same feature in `numpyro`.

I have tried to add this feature for `numpyro`  and tested it on some examples. Consider

[2022-03-28 22:15] fehiepsi commented on #1379
Thanks @karm-patel! The enhancement looks great to me.

[2022-03-28 22:27] fehiepsi commented on #1378
Interesting! Does this happen at many places? I think we can replace `if ... is constraints ...` by `if isinstance(...)` statement, e.g.
[code]

[2022-03-29 09:23] pierreglaser commented on #1378
Looking for identity statements on `constraints` objects using `git grep 'is constraints' on the `numpyro` root directory gives (discarding results from `tests_*` files):
[code]

Which of course is only a rough lower bound of such occurences. But I could not find much more than that using more complex introspecting queries.

This goes against the rather intuitive feeling that `constraints.real` sh

[2022-03-29 12:16] fehiepsi commented on #1378
Those are very good points! Yeah, I think having `__reduce__` method would be great. Would the solution apply for `positive` and `unit_interval`? I'm seeing that `positive` is an instance of `_GreaterThan` and `unit_interval` is an instance of `_Interval`. I guess we can add `if/else` statements to decide how to pickle the object?

[2022-03-29 13:47] pierreglaser commented on #1378
In my opinion, yes, and (unless I'm missing something) to all top-level instances of the `constraints` module.

As a POC this looks good. We can also directly target the objects of interests in the logic to prevent any risk of false positives using for instance `if self is positive`, or `if self in getattr(globals(), "positive")` checks (the second option prevents issues with forward referencing `

[2022-04-01 13:53] jecampagne opened #1382 "How to deal with parameter as sum of a constant + a numpyro.sample distribution?"
Hello,

I have a question (stupid certainly), if I have a model using a parameter `k` that I know is above 4, if I code
[code]
and running NUTS I get
[code]
does this means that the "k" parameter in the `spls=mcmc.get_sample()` will be the "k" of the numpyro.sample or the "k" python variable that I have defined?

It seems that I should add the constant "4" to the `spls["k"]`, right?

Thanks.

[2022-04-01 16:56] fehiepsi commented on #1382
Hi @jecampagne, please use [our forum](https://forum.pyro.ai/) for questions and discussions.

You can use
[code]
or
[code]
You can also add `4` to `spls["k"]`.

[2022-04-01 16:56] #1382 closed

[2022-04-06 14:54] #1379 closed

[2022-04-06 15:01] fehiepsi opened #1383 "Allow rendering deterministic sites"
Currently, we skip deterministic sites while rendering the model. It would be nice to support plotting deterministic nodes (e.g. to make the rendered model clearer when using reparam handlers). This is especially useful for hierarchical models like the one in #1295

[2022-04-08 11:44] fehiepsi opened #1385 "NumPyro is broken after jax 0.3.5"
After [jax 0.3.5](https://jax.readthedocs.io/en/latest/changelog.html#jax-0-3-5-april-6-2022), "DeviceArray.copy() now returns a DeviceArray rather than a np.ndarray" so some of our codes that use `.copy()` are broken.

[2022-04-10 14:38] #1385 closed

[2022-04-12 15:52] theorashid opened #1390 "CAR sampler"
This is a proposed **enhancement**.

Conditional autoregressive (CAR) models are very useful in spatial settings. Previously, our group has specified a model with a CAR as

[code]

`d` is a vector of the number of neighbours of each spatial unit. `A`, is our adjacency matrix: specifying which spatial units share a boundary.

There are implementations in [pymc](https://github.com/pymc-devs/pymc/blo

[2022-04-13 10:45] fehiepsi commented on #1370
This is already addressed.

[2022-04-13 10:45] #1370 closed

[2022-04-13 11:06] fehiepsi commented on #1390
Hi @theorashid, there is a [jax.experimental.sparse](https://jax.readthedocs.io/en/latest/jax.experimental.sparse.html) module but I'm not sure if it helps here. I will need to dive into it a bit...

[2022-04-13 11:17] theorashid commented on #1390
There's also [jax.scipy.sparse](https://jax.readthedocs.io/en/latest/jax.scipy.html#module-jax.scipy.sparse.linalg). Looking at the pymc code, we'd need equivalents of `aesara.sparse.dot` and `at.slinalg.eigvalsh` and some way of detecting whether A is sparse. Quite impressive that the aesara team built up sparse functions. I'm surprised jax don't have this functionality

[2022-04-13 11:20] UmarJ opened #1392 "More than 1 `input_shape` when initializing `flax_module`"
Some modules require more than 1 input when initializing, which can be passed through `kwargs`. But this doesn't work in some cases. For example:

[code]

I tried to declare this with the following statement:

[code]

But I can't use kwargs because `nn.transforms.scan` does not support them:
[code]

I worked around this by wrapping my `RNN` with another class, after which I could pass `x` as a kwa

[2022-04-13 14:41] fehiepsi commented on #1392
Hi @UmarJ, I think you can ignore that argument and use `state=..., x=...` directly (docs of kwargs: "optional keyword arguments to initialize flax neural network as an alternative to `input_shape`")

[2022-04-13 14:43] #1335 closed

[2022-04-13 19:26] UmarJ commented on #1392
Like I said, kwargs don't work when `__call__` is wrapped in `nn.transforms.scan`, for example the RNN model above.
[code]

It's a minor issue, just thought I'd raise it in case someone else was having a similar problem.

[2022-04-13 20:33] fehiepsi commented on #1392
Thanks for explaining! I misinterpret the issue.

I think input_shape is a bad pattern here. Originally we would like to keep the same signature w.r.t. jax stax. Maybe it is time to support `*args`? (I made the [wrong comment](https://github.com/pyro-ppl/numpyro/pull/822#discussion_r528119575) here against `args` - seems like it is useful for this usage case.

[2022-04-13 22:24] fehiepsi commented on #1390
Looking at the Stan post, I think you don't need to use JAX here. Just simply computing those quantities using numpy and when compiled, they will become constants, hence become pretty fast to compute.

[2022-04-14 12:22] theorashid commented on #1390
Okay looking at the pymc implementation, which is equivalent to the stan one, comments inline:

[code]

So I think only `Wdelta = jnp.dot(delta, W)` would need a sparse equivalent, as that's the only sparse part computed at each iteration. How much difference would a sparse represenation of `Wdelta` make here? `dot` should be quite fast

[2022-04-14 12:56] fehiepsi commented on #1390
I think the speed depends on the size of `W`. jax sparse library supports dot product of a sparse matrix and a vector, something like
[code]

[2022-04-14 17:40] theorashid commented on #1390
Okay so it would be something like:

[code]

Roughly. Unless you think the first few logp terms need to be sparse as well. Apparently alpha can be an array but I've only ever seen it used as a float. I'd need a fair amount of help with all the other functions that make the distribution work in numpyro.

[2022-04-14 23:57] Tiantian-H opened #1393 "Ran out of free dims during allocation for assignment25"
Hi, I encountered the following error:

ValueError   Traceback (most recent call last)
[/usr/local/lib/python3.7/dist-packages/numpyro/contrib/funsor/enum_messenger.py](https://localhost:8080/#) in _gendim(self, name_request, dim_request)
    132             or (dim_type == DimType.VISIBLE and fresh_dim <= self._first_available_dim)
    133         ):
--> 134             raise ValueError(f"Ran out

[2022-04-15 14:14] fehiepsi commented on #1393
I think you can use [contrib.funsor.markov](https://num.pyro.ai/en/stable/funsor.html#numpyro.contrib.funsor.enum_messenger.markov) but native loops in JAX would be slow. I would recommend to use `scan` as in the [hmm](https://num.pyro.ai/en/stable/examples/hmm_enum.html) example.

[2022-04-15 15:45] fehiepsi commented on #1390
I think so. The computations that involve `W_sparse` can be moved to the sparse block:
[code]

(I would suggest to use the notation and the algorithm demonstrated in the Stan article as reference, rather than using code from PyMC - otherwise we will need to add copyright notice for this distribution.)

For broadcasting, I think you can follow the logic in MVN. You can skip broadcasting W if W is s

[2022-04-22 13:23] fehiepsi commented on #1393
Hope that your issue has been resolved. Please feel free to reopen this if needed.

[2022-04-22 13:23] #1393 closed

[2022-04-23 14:18] nadavyayon opened #1395 "te"

[2022-04-23 14:18] #1395 closed

[2022-04-26 01:16] GH-maggio opened #1396 "Support for polars"
I'm just inquiring if there are any plans to support polars, an alternative to pandas. I'm currently going through [https://github.com/fehiepsi/rethinking-numpyro](https://github.com/fehiepsi/rethinking-numpyro) and while I can cast polars Series into numpy arrays, what would need to be done to support polar dataframes?

polars: [https://pola-rs.github.io/polars-book/user-guide/index.html](https:/

[2022-04-26 21:09] YihaoZhou27 opened #1397 "Resume the mcmc.run() training"
I am trying to run a time-consuming MCMC sampler. I am wondering if it is possible to resume the training after I save and reload the MCMC object.

To be specific, in my case, I need to run many MCMC iterations and each step generally takes a long time. I use GPU node so the maximum walltime of each job is limited. I have to run `mcmc.run()` for some steps and save the results, which hasn't been c

[2022-04-27 19:58] fehiepsi commented on #1396
Hi @GH-maggio, we only support numpy/jax arrays. If you want to use your data format, I would recommend to write some wrappers on the top of numpyro that do the conversion.

[2022-04-27 20:05] fehiepsi commented on #1397
Hi @YihaoZhou27, would [post warmup state](https://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.mcmc.MCMC.post_warmup_state) be suffice?

[2022-04-27 20:18] YihaoZhou27 commented on #1397
Oh, sorry. I should open this issue in pyro. I use pyro actually. So is there a similar implementation in pyro?

[2022-04-27 21:02] GH-maggio commented on #1396
Thank you @fehiepsi, I think the `.to_numpy()` will work for me.

[2022-04-27 21:02] #1396 closed

[2022-04-28 02:36] andrewfowlie opened #1398 "Log Uniform distribution"
How about a Log Uniform distribution, i.e., the log of a variable is uniformly distributed. Implementation:

[code]

A more polished version would check that low and high are both > 0. This is rather simple for users to do, but quite convenient.

[2022-04-28 03:02] fehiepsi commented on #1398
Please feel free to submit a PR. I think we can also use:
[code]

[2022-04-28 03:13] fehiepsi commented on #1397
For Pyro, it is trickier. Please feel free to open an issue for it. Thanks!

[2022-04-29 09:22] gcskoenig opened #1399 "Conditioning on round floats (such as 0.0 or 4.0) does not work, do we really have to condition on 0.001 or 4.0001 instead?"
For the following simple model I have problems to condition on round values such as 0.0 or 4.0.

[code]

If I sample `model_fixed(y_obs=jnp.array(0.00, dtype=jnp.float32), rng_key=PRNGKey(0))`conditioning does not work, i.e. the model samples from the normal distribution. However, if I condition on `y_obs=jnp.array(0.01, dtype=jnp.float32)` the conditioning works as expected. As a consequence infe

[2022-04-29 09:42] gcskoenig commented on #1399
Fiddling around a bit more the problem rather seems to be that the conditioned upon value is probably too unrealistic for the model to handle. For instance for `1.99` the conditioning works, but not for `2.01`.

It could be helpful to print some warning to make the user aware?

[2022-04-29 11:39] #1397 closed

[2022-04-29 11:42] fehiepsi commented on #1399
Hi @gcskoenig, could you clarify what you mean by `conditioning works/does not work`? How can I see the problem? What's the expected output if I run `model_fixed(y_obs=jnp.array(0.00, dtype=jnp.float32), rng_key=PRNGKey(0))`?

[2022-04-29 13:47] martinjankowiak commented on #1399
@gcskoenig are you running inference (e.g. HMC)? simply writing 'obs=...` doesn't do inference. it merely fixes the observed value.

[2022-04-29 14:40] gcskoenig commented on #1399
@martinjankowiak Yes, I know. I left the following MCMC code out because the error occurs before performing inference.

To make it more clear: When setting `obs=..` I expect the value of the respective variable/sample to be fixed to the specified value, which does not work here. Instead, the sample statement produces values as if no `obs=...`would be specified.

[2022-04-29 14:59] fehiepsi commented on #1399
I think it is a bug. Outside of handler stack, the sample primitive ignores the obs keywork: https://github.com/pyro-ppl/numpyro/blob/1dbe63f72f1cd8befb76d0b8e7b4f284e7852404/numpyro/primitives.py#L195 Do you want to submit a fix? (Just add an if/else statement to return obs if it is not None.)

[2022-04-29 15:03] martinjankowiak commented on #1399
yeah if you notice no where in the `numpyro` codebase will you see `rng_key` specified in a model. you probably wanted something more like this:
[code]

[2022-04-29 15:07] gcskoenig commented on #1399
@fehiepsi I can do that later today

@martinjankowiak thanks for the hint, looks much more smooth. However, I don't think that would fix the problem. Originally I did not specify the rng_seed in the model and was confused why inference would work as desired for certain values and for other's it did not. Then I added the seed to the model for debugging. I will check later whether the problem is res

[2022-04-29 16:30] gcskoenig commented on #1399
I would suppose that the sample statement not taking the evidence into account is a potential cause for inference ignoring the provided evidence.

Using `numpyro.handlers.seed()` the issue is fixed (and inference works), so there must have been another problem as well. Thank you very much for your quick help @martinjankowiak @fehiepsi!

Do you wish to support specifying the `rng_key` in the model/

[2022-04-29 16:55] fehiepsi commented on #1399
Under seed handler, the line `if not _PYRO_STACK:` above will not be triggered so your code will run as expected. The issue happens when you are not using any handler (including `seed`) and `obs` is not None. I think adding an `if/else` statement there would solve the topic issue.

[2022-04-30 16:27] gcskoenig commented on #1399
I created a fix:

[code]

When I try to push my bugfix branch to origin, I get the following error

[code]

I followed the standard workflow, i.e.

[code]

What am I doing wrong? E.g. `git remote add upstream https://github.com/pyro-ppl/numpyro` did not help. Cheers

[2022-04-30 16:55] fehiepsi commented on #1399
I think you need to fork numpyro first, add a remote pointing to your fork, push your branch to that remote, and finally make a pull request. You can't push a branch to this repository directly.

[2022-05-02 08:58] lumip opened #1402 "Sampling from posterior predictive with Categorical and AutoDiagonalNormal occasionally samples outside support"
We encountered a subtle problem when sampling from the posterior predictive distribution for a model containing `Categorical` and using the `AutoDiagonalNormal`: In some rare cases, the sample drawn from the `Categorical` would be one large than the maximum category index. E.g., a model like
[code]
may sample a value of `num_categories` even though the support of the categorical distribution is `(

[2022-05-02 11:26] fehiepsi commented on #1402
Good point! I think one way is to remove the last value `1` there: `s = s[..., :-1]`. Do you want to submit the fix? :)

[2022-05-02 12:35] lumip commented on #1402
I'll give that a go soon.

[2022-05-05 20:36] ordabayevy commented on #1402
This is also the reason for tests failing in funsor https://github.com/pyro-ppl/funsor/issues/594. Funsor assumes that Categorical distribution `probs` are renormalized by the backend distribution which is done by the Pytorch's Categorical distribution but apparently not in Numpyro.

[2022-05-06 11:29] fehiepsi commented on #1402
@ordabayevy Thanks for the pointer! We typically don't want to modify the inputs of the distributions in numpyro so I hope that @lumip solution will resolve the issue. Maybe we can also fix the issue [here](https://github.com/pyro-ppl/numpyro/blob/6e98655957196243c2ab178e3af861060172cf4d/numpyro/distributions/discrete.py#L68) for completeness:
[code]

[2022-05-06 12:58] gcskoenig commented on #932
Hi!

Are there any plans to allow observation of deterministic nodes in the future? In general, for Structural Causal Models (Pearl/Spirtes/Peters/...), the most widely adapted graphical causal model, all observable variables are deterministic functions of not observable latent variables, which we would want to infer to compute counterfactuals. For instance, for models with invertible structural e

[2022-05-06 19:02] eb8680 commented on #932
@gcskoenig there is no natural way to support a non-approximate version of what you are describing outside of trivial scenarios, e.g. where every random variable is discrete or full-rank linear-Gaussian or every mechanism is invertible. Even [the meaning of conditioning is not always obvious in general](https://dl.acm.org/doi/abs/10.1145/3374208), especially when the event in question has measure

[2022-05-07 14:50] #1390 closed

[2022-05-11 17:42] hessammehr opened #1403 "RFC: General mixture distribution"
A quick search for mixture distributions in numpyro only turns up examples using `Categorical` in conjunction with an array of distributions. Since sampling from discrete distributions is not always desirable, I have implemented a quick general purpose mixture distribution with continuous log probability.

[code]

I'd be curious whether this distribution would be of use to other numpyro users/main

[2022-05-12 16:19] hessammehr commented on #1403
**Update:** It seems like indexing into distributions using a sampled value does not play nicely with JIT compilation. The following implementation eagerly samples all constituent distributions to overcome this limitation.

[code]

[2022-05-12 23:12] fehiepsi commented on #1403
Thanks @hessammehr! I think this is useful. Please make a PR for this.

[2022-05-14 11:50] YanniPapandreou opened #1405 "Non-bijective deterministic objective"
Hi, I have been using numpyro for my research and have been finding it very useful!

I had a quick question which isn't clear to me from the documentation. Is there a way to have an observation I want to condition on be the result of a non-bijective deterministic function? I saw in this issue #932 that this can be done using the TransformedDistribution API with a bijective transform. Is this not p

[2022-05-14 15:04] martinjankowiak opened #1406 "[FR] make DiscreteHMCGibbs plate aware"
afaik [DiscreteHMCGibbs](https://num.pyro.ai/en/latest/_modules/numpyro/infer/hmc_gibbs.html#DiscreteHMCGibbs) does not make use of plate information when computing Gibbs updates for discrete latent variables. it would be nice to support this, as leveraging this information can make Gibbs steps exponentially cheaper

[2022-05-14 19:45] fehiepsi commented on #1406
This sounds possible. I think we can perform discrete update in blocks (maybe #898 is helpful) where in each block, we can decide which strategy we want (i.e. using current DiscreteHMCGibbs strategy or plate-aware strategy). For plate-aware, I guess we just need to maintain plate-information of each factor, remove unnecessary factors (based on provenance?), then perform the gibbs update in one pas

[2022-05-14 20:53] fehiepsi commented on #1373
I guess this is already clarified. Please feel free to reopen this one if needed.

[2022-05-14 20:53] #1373 closed

[2022-05-16 22:14] cpieringer opened #1410 "Typo in the example Bayesian Hierarchical Stacking"
Hi, I noted that is a typo in the Bayesian Hierarchical Stacking notebook. In function ```stacking``` (cell 16), line 34, the code said:

```K = lpd_point.shape[1]  # number of candidate models```

However, the function argument is ```exp_lpd_point```. The example runs because Python allows functions to use variables outside its scope. The same type appears in the same function on line 62:

``` lo

[2022-05-17 14:54] fehiepsi commented on #1410
Hi @cpieringer, thanks for the catch! Do you want to submit the fix?

[2022-05-17 16:50] eyhl opened #1411 "non-expected behaviour for numerically large parameters?"
Hi I am running some test to use numpyro in a context of geophysics, where parameter values can be of size 1e10.

It seems to me that numpyro behaves oddly when I try to sample a Normal(1e10, 1e9) for an example. See comparison between numpyro and pyro below.

**Numpyro**
[code]
**Output**
`-158660.42 -44193.098 75339.68`

**Pyro**
[code]
**Output**
`tensor(-0.5968) tensor(1.0164e+10) tensor(1.931

[2022-05-18 02:28] martinjankowiak commented on #1411
@eyhl i don't know why the results in pyro are different but it's generally a terrible idea to have very large/small numbers in models. wherever possible the model should be redefined so that parameters are O(1). for example one might write:

[code]

in any case i think this sort of question is probably more suitable for our [forum](https://forum.pyro.ai/)

[2022-05-18 02:28] #1411 closed

[2022-05-19 18:21] cpieringer commented on #1410
Hi @fehiepsi, I will try.

[2022-06-01 11:57] nirmalya-broad opened #1414 "random_flax_module with NeuTraReparam is not working"
This is my model:

[code]

I am trying to use NeuTra with NUTS:

[code]

I am getting the following error:

[code]

Could you please give me any suggestion regarding the error  at **samples_1 = neutra.transform_sample(samples_0)["net/auto_shared_latent"]**

Thank you.

[2022-06-01 12:20] tavin commented on #600
As a newcomer it seems rather odd that I have to pass `batch_shape=()` and `event_shape=()` to ImproperUniform() when I don't have to do this for any other distribution. Is there a reason why those args don't have defaults of `()`?

[2022-06-01 22:30] fehiepsi commented on #1414
Could you provide some reproducible code? I think some information in the `print` statements in your code will be helpful (like keys of the traces). The error looks like `samples_0` is expected to be an array, but a dictionary is provided.

[2022-06-01 23:24] nirmalya-broad commented on #1414
Sure, let me work on that. I shall sent it by the end of tomorrow.

[2022-06-02 10:42] grfrederic opened #1416 "signature error when running SA MCMC sampler in parallel"
the following code fails:

[code]
with the following error (and a long stack trace):
[code]
any of the annotated changes make the code work again. what gives?

[2022-06-02 11:16] nana-zhang opened #1417 "A strange bug"
Hello, I am a beginner of numpyro. After Jax is installed, numpyro is installed with conda, but when I simply call numpyro.sample() The following error occurred. I am confused. Can you help me?
![1ac09c679124614f84bd5ffb846faad](https://user-images.githubusercontent.com/70929994/171617942-136eda96-5baa-4dca-b88f-e12ec7f400d5.png)

[2022-06-02 11:47] martinjankowiak commented on #1417
please refer to the [FAQ](https://github.com/pyro-ppl/numpyro#frequently-asked-questions)

[2022-06-02 11:47] #1417 closed

[2022-06-03 08:24] grfrederic commented on #1416
thank you for the quick answer and PR!

[2022-06-07 01:23] HerculesJack opened #1421 "change the number of parallel chains within the program"
Hi, to my understanding, to run multiple MCMC chains in parallel, we'd need to call `numpyro.set_host_device_count(n)` at the beginning of the program, before any jax calls, like this:

[code]

While if we change the first few lines to this, it won't run 4 chains in parallel.

[code]

Is it possible to lift this restriction? If I understand correctly, this is because once any jax evaluation is don

[2022-06-07 03:10] caxelrud opened #1422 "Stein-bnn Confidence Interval plot"
I modified the stein_bnn example to include a CI plot.
At this moment, I am using the training data to check the model.
Not knowing the results of the prediction function, I used the several results to create the mean and distribution information and used in the plot.
Is it valid?
Do you recommend another method?
Attached the jupyter notebook file.
[stein_bnn.zip](https://github.com/pyro-ppl/numpy

[2022-06-07 08:18] elizavetasemenova opened #1424 "older Numpyro versions on Colab"
It would be useful to have instructions on how to run previous versions of Numpyro on Google Colab for reproducibility, e.g. numpyro==0.7.1, jax=0.2.17.

[2022-06-07 14:18] elizavetasemenova commented on #1424
!pip install -q condacolab
import condacolab
condacolab.install()
!conda install jax==0.2.17 numpyro==0.7.1 -c conda-forge

[2022-06-07 14:18] #1424 closed

[2022-06-08 08:28] OlaRonning commented on #1422
Hi @caxelrud,

Would you mind uploading your code as a [gist](https://gist.github.com/) and linking it instead of the zip file? Then I'd love to have a look at what you've done.

[2022-06-08 09:12] fehiepsi commented on #1421
I don't think that this is possible for now. Please reach out to jax devs for suggestions on modifying host devices during executions.

[2022-06-08 13:15] caxelrud commented on #1422
I created a gist at:
https://gist.github.com/caxelrud/66288633f771da52c893736e9684d65f

[2022-06-08 20:33] rborder opened #1425 "Distributed lpdf / grad evaluation"
I would like to be able to use jax's `pjit` to parallelize density / gradient evaluation across multiple GPUs. This would allow [here](https://github.com/tensorflow/probability/blob/main/tensorflow_probability/examples/jupyter_notebooks/Distributed_Inference_with_JAX.ipynb) [here](https://github.com/tensorflow/probability/blob/main/tensorflow_probability/examples/jupyter_notebooks/Distributed_Infe

[2022-06-09 17:30] jeremiecoullon opened #1427 "pmap changes the behaviour of NUTS"
# NumPyro pmap bug

Hello!

I found an issue where using pmap to run a NumPyro sampler changes the result

### example without bug
Firstly, here's an example that works as expected (ie: without a bug):

[code]

### example with bug
Now here's a very slightly different example with the bug: we consider `beta` to be the slope in linear regression. We use a single matrix-vector multiplication to writ

[2022-06-12 14:34] fehiepsi commented on #1427
@jeremiecoullon I think this is expected. XLA computation does not guarantee the same value of `pmap(f)(x[None])[0]` and `f(x)`. You can use `numpyro.enable_x64()` to reduce such difference.

[2022-06-13 01:41] #1402 closed

[2022-06-13 07:51] OlaRonning commented on #1422
@caxelrud, your final plot shows the uncertainty (variance) due to the latent variable (the variance of the Stein particles). If you are interested in the epistemic uncertainty (uncertainty in likelihood term) you should increase the number of samples (`num_samples`) in `Predictive`
[code]
Feel free to open a PR updating the example with your CI plot.

[2022-06-13 18:34] rborder commented on #1425
Just in case it's helpful, there seems to be an experimental implementation of this sort of functionality (MCMC using jax with sharded data) in tensorflow probability [here](https://github.com/tensorflow/probability/blob/main/tensorflow_probability/examples/jupyter_notebooks/Distributed_Inference_with_JAX.ipynbl), though it would be great to be able to do this sort of thing within numpyro!

[2022-06-14 16:58] jeremiecoullon commented on #1427
@fehiepsi : thanks, I didn't know this! So this is a numerical precision problem, and is due to JAX ?

[2022-06-14 19:31] fehiepsi commented on #1427
Not 100% sure but I think this is jax's expected behavior

[2022-06-14 23:57] tavin commented on #600
Thanks @fehiepsi. It's not so hard to deal with event_shape because it has to be dealt with implicitly anyway when using other distributions, e.g. when passing ndarrays of locations and scales. But I still don't understand batch_shape in the numpyro world. Of course I have a basic idea of what it must mean from general experience. But I wouldn't know how or why to assign it any value other than `(

[2022-06-15 00:09] tavin commented on #438
So it seems clear how to draw samples in chunks by saving the state along the way, looking at the current [docs](https://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.mcmc.MCMC.post_warmup_state).

Is there any way to pause and resume warmup? Suppose it's not possible to complete warmup in a single method call, due to some externally imposed timeout.

[2022-06-15 07:55] fehiepsi commented on #438
Hi @tavin, I think you can use low level api of the kernel to save and load middle states as needed: https://num.pyro.ai/en/stable/examples/stochastic_volatility.html

[2022-06-15 10:40] tavin commented on #600
@fehiepsi I appreciate your explanation but I'm a bit more confused now. And I can't find the docs on `prototype_sample`.

Let's say I want to replace the following with ImproperUniform (because I am going to do something weird with log_prob):

    Normal(jnp.zeros(shape))

Which of these do I use?

    ImproperUniform(constraints.real, (), shape)
    ImproperUniform(constraints.real, shape, ())

[2022-06-15 19:11] scroobiustrip opened #1431 "DLT Model - Logistic Trend"
Hey there,

I initially posted this on the Pyro forum, however they believed this was an issue rather than a problem specific to the model (although I'm sure it can be improved) so thought I add it as an issue.

Recently I've been trying to implement the [DLT model](https://orbit-ml.readthedocs.io/en/stable/tutorials/dlt.html) from Uber's Orbit package in Numpyro, using a logistic global trend.

H

[2022-06-17 10:12] bmorris3 opened #1432 "numpyro.set_host_device_count seems to be ignored?"
Hi,

Thanks for your work on this excellent package! I'm trying to run jax+numpyro on a CPU with 128 cores. I want it to only use a few of the cores. I'm trying to achieve this behavior like so:

[code]

When I run the above function (**be careful** not to run this on a machine with <100 GB memory), I expect the pmap call to distribute the call to `f` over the 8 CPU cores that we allocated. Instea

[2022-06-17 13:13] jeremiecoullon commented on #1427
@fehiepsi : thanks!
I've also asked this question in the [JAX discussion](https://github.com/google/jax/discussions/11109). So I'm closing this issue.

[2022-06-19 00:59] tavin commented on #600
@fehiepsi I'm looking forward to seeing how the api evolves, with prototype_sample etc., and I appreciate the correction on the existing method signatures -- as I had it backwards. Indeed the [Usage](https://num.pyro.ai/en/stable/distributions.html#improperuniform) notes concentrate on using an empty batch_shape. Even the names batch_shape and event_shape suggest you should focus on event_shape an

[2022-06-19 17:59] xidulu opened #1433 "A bug in AutoMultivariateNormal guide"
The scale_tril should be parsed as the scale_tril argument of MVN instead of as the second positional argument (which corresponds to the covariance_matrix) I think?
https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/autoguide.py#L1349

Otherwise, the covariance matrix returned by the guide seems to be the lower-cholesky factor.,
![Screen Shot 2022-06-19 at 1 58 14 PM](https://user-image

[2022-06-21 04:08] xidulu commented on #1433
Sure : )

[2022-06-21 15:31] Hoeijmakers commented on #1432
Thanks for that pointer, which led us to what seems to be a working solution, but without the usage of mpiexec:
For running our script on 8 cores with `numpyro.set_host_device_count(8)`, we get the expected behaviour when running the script as:
`taskset -c 0-7 python3 /path/to/pythonfile.py`

[2022-06-21 16:45] fehiepsi commented on #600
Good idea on using `shape` instead of the pair `batch_shape` and `event_shape`. Could you make a separate feature request for it? I think we'll need to go through several deprecation steps if we decide to make such change.

[2022-06-21 16:46] #1433 closed

[2022-06-21 18:56] #1422 closed

[2022-06-22 12:10] hyperfra opened #1438 "issues when numpyro.enable_validation(is_validate=True)"
Hi
I identified a strange behavior:
I estimate a VectorAutoRegression model and when  I use numpyro.enable_validation(is_validate=True), (which I had in the code
for some versions of the model with a MultivariateTruncated) , the resuts of any simple version of the model (with MultivariateNormal residuals say) were off.
Taking out numpyro.enable_validation(is_validate=True) the results look fine.
S

[2022-06-22 12:45] fehiepsi commented on #1438
I think there might be some problems. When enabling the validation, we mask out-of-support samples by zero density. Not sure if it is related. Could you make reproducible code?

[2022-06-22 13:51] hyperfra commented on #1438
sorry, you are quite right.

[https://gist.github.com/hyperfra/9e8df68414b0172c852a16db82659bc6](url)

[2022-06-23 10:22] scroobiustrip commented on #1431
Hey @fehiepsi have posted it [here](https://forum.pyro.ai/t/dlt-model-logistic-trend/4349) if anyone gets a chance to look - if it looks beyond all hope, pls say I'll take another stab at it another time 😅

[2022-06-23 15:31] german-borisevich opened #1439 "With the latest NumPy version (1.23.0) MCMC inference throws KeyError: dtype([('float0', 'V')])"
After reinstalling numpyro into fresh virtualenv, I tried running MCMC inference on the following code:
[code]

After that the following Traceback received:
[code]

After trials and errors I have discovered that installing older version of NumPy (e.g. 1.22.3) helps.
Local machine is MacBook Pro with M1 Pro, macOS Monterey 12.4.

_P.S. This this my first post on GitHub, so I'm not sure if this the

[2022-06-23 17:18] caxelrud opened #1440 "Stein BNN predictions for a single input case"
The documentation example predicts for the full training input cases.
I am trying to get the predictions for a single input case (row) including Confidence Interval.

The existing code is:
`preds = pred(pred_key, xte, subsample_size=xte.shape[0])["y"].reshape(-1, xte.shape[0])
`
I tried to use the first input element from the training data using the following expression:
`pred(pred_key, xte[0].res

[2022-06-24 11:10] fehiepsi commented on #1439
Thanks @german-borisevich! I guess this jax issue is relevant https://github.com/google/jax/issues/11238

[2022-06-24 16:13] fehiepsi commented on #1438
Thanks @hyperfra! It seems that there is something wrong with the validation logic of LKJCholesky distribution.

[2022-06-24 17:52] hyperfra commented on #1438
ok :-)

[2022-06-24 17:52] #1438 closed

[2022-06-24 19:22] fehiepsi commented on #1431
Hi @scroobiustrip, I took a look at the model - it's pretty complicated so I'm not sure which causes your observation... Probably you can check the posterior samples. If there are extreme values, you can try to set priors away from such values

[2022-06-26 00:14] paupereira opened #1442 "A bug in the way enumeration handles batch dimensions"
`enumeration` requires all batch dimensions to be declared using `plate` but `scan` creates a batch dimension without using `plate`.

This came out in this discourse thread ([.html](https://forum.pyro.ai/t/why-does-scan-give-the-wrong-result-here/4361)) which contains a reproducible example with simulated data.

[2022-06-26 00:33] fehiepsi commented on #1431
Close in favor of the forum post.

[2022-06-26 00:33] #1431 closed

[2022-06-26 00:40] fehiepsi commented on #1432
I guess this is resolved. Please feel free to reopen this otherwise. :)

[2022-06-26 00:40] #1432 closed

[2022-07-01 15:05] #1442 closed

[2022-07-01 23:33] ecotner commented on #1177
Hi I am running into a similar error but have not been able to resolve it. I keep running into the assertion `assert base_dist.support.is_discrete` that makes it seem like the `ZeroInflatedDistribution` will not support continuous-valued distributions like the `Beta`. My model is:
[code]
so the ZI site is not latent, which from the discussion above, sounds like it should be ok then? Does the ZI di

[2022-07-04 09:44] OlaRonning commented on #1440
Hi @caxelrud,

You need to pass in the `subsample_size=1` parameter to `pred` and then you'll have to fix the downstream computations to also only use the first datapoint. It will become:
[code]

[2022-07-04 16:19] nirmalya-broad opened #1446 "Example code for using random_flax_module with flax.linen.BatchNorm (mutable)"
Hi,

I am trying to use random_flax_module on a class that uses flax.linen.BatchNorm that uses mutable parameters. Is there any example on how to use that? Here is my code:

The model:

[code]

The numpyro code:

[code]

Part of the inference code:

[code]

Here is the error that I am getting:

[code]

Could anyone please help me, regarding how to use random_flax_module with BatchNorm? Thanks.

[2022-07-05 00:28] caxelrud commented on #1440
I looks good to me. Thanks!

[2022-07-05 02:16] fehiepsi commented on #1446
I guess that it is not supported for now.

[2022-07-05 02:17] fehiepsi commented on #1439
This is fixed upstream. Please check out the the next jax release or reopen this if needed.

[2022-07-05 02:17] #1439 closed

[2022-07-05 09:04] #1440 closed

[2022-07-05 13:29] fehiepsi commented on #1446
It is not clear to me what's the fix here. Could you try to change `["param"]` to `["param", "mutable"]` at [this line](https://github.com/pyro-ppl/numpyro/blob/e68455f4316c5c4def9baef6b2827c16a95589bd/numpyro/infer/util.py#L614)?

[2022-07-05 13:54] #1421 closed

[2022-07-05 13:55] #1414 closed

[2022-07-05 15:15] nirmalya-broad commented on #1446
It seems to work after changing ["param"] to ["param", "mutable"]! Let me do some more testing and I shall let you know.

[2022-07-06 09:11] fehiepsi commented on #1446
Yeah, please feel free to make a pull request for this enhancement.

[2022-07-07 00:35] mattja opened #1447 "expose get_dependencies() and get_model_relations() in API"
`get_dependencies()` and `get_model_relations()` are covered in the documentation, but seems they are not accessible in the public API? In this respect differing from pyro.

`AttributeError: module 'numpyro.infer' has no attribute 'inspect'`

[2022-07-09 08:09] fehiepsi commented on #1447
You can import `get_dependencies` from
[code]
Please feel free to make a PR for moving `get_model_relations` from `numpyro.contrib.render` to `numpyro.infer.inspect`. :)

[2022-07-11 03:49] rafaol opened #1448 "initialize_model() fails with batch size of 1 for model with discrete variables"
Hi,

I'm having issues using NumPyro's latest version of `initialize_model()` on a model with discrete variables. The model samples random variables within a plate context with a data-dependent size. When the given data is of size $N > 1$, everything works fine. However, if I pass a dataset with a single data point ($N = 1$), the execution of `initialize_model` fails. Apparently, the funsor API ex

[2022-07-11 03:57] mattja commented on #1447
Thanks for pointing this out. PR incoming.

[2022-07-12 10:02] A2P2 opened #1450 "A tutorial for integrating ODEs multiple times"
Hi,
I'm wondering if there is a need to contribute with a tutorial for integrating ODEs multiple times based on different initial conditions. It's also possible to extend the current Lotka-Volterra example instead.

I oriented myself about the usage of jax.vmap for this purpose with the help of forums:
https://forum.pyro.ai/t/parallelization-plate-and-odes/2763
https://forum.pyro.ai/t/making-a-for

[2022-07-14 09:30] caxelrud opened #1451 "Examples using Stein BNN for Binary and Multi-Class Classification"
I am looking for examples using Stein BNN for Binary and Multi-Class Classification.

[2022-07-15 07:50] caxelrud commented on #1451
These following link has an example of BNN for binary classification in JAX (Two Moons case).
It is a reference for a binary classification using Stein BNN,
https://github.com/probml/pyprobml/blob/master/notebooks/book2/17/bnn_hierarchical.ipynb

[2022-07-15 20:39] OlaRonning commented on #1451
Isn't it sufficient to change the [likelihood](https://github.com/pyro-ppl/numpyro/blob/master/examples/stein_bnn.py#L110) to a Bernoulli or Categorical in the existing example?

(you probably also want to remove the [normalizing](https://github.com/pyro-ppl/numpyro/blob/master/examples/stein_bnn.py#L44) from your datapipeline)

[2022-07-16 15:10] e-pet commented on #1365
I'd like to use the beta icdf in a `pyro.deterministic` statement in a model guide. Do I understand correctly that that is not possible by simply using the scipy function because gradient information is required? (I tried doing so and got errors that seemed to indicate this.)

Any recommendations for what would currently be the best / easiest way to circumvent this problem? Can I somehow implement

[2022-07-17 04:26] colehaus opened #1452 "`SkewMultivariateNormal` and `SkewMultivariateStudentT`"
I have implemented versions of both of these:
[code]

(I also have some coding testing them.)

1. Is there interest in upstreaming these?
2. Are there obvious simplifications?
3. `SkewMultivariateStudentT` is notably slower than `MultivariateStudentT` in some circumstances. Are there any obvious performance improvements available?

[2022-07-17 18:42] martinjankowiak commented on #1452
@colehaus yes, i'm sure a PR would be welcome.

Would it help to use [tfp.math.betainc](https://www.tensorflow.org/probability/api_docs/python/tfp/math/betainc)?

`import tensorflow_probability.substrates.jax as tfp`

[2022-07-17 19:52] colehaus commented on #1452
Unless I'm misunderstanding you: There's a comment in the source describing the problem there which is that `betainc` doesn't have grads defined: https://github.com/tensorflow/probability/issues/655#issuecomment-558236514.

[2022-07-17 21:06] fehiepsi commented on #1452
FYI since the last release, [tfp.math.betainc](https://www.tensorflow.org/probability/api_docs/python/tfp/math/betainc) has grad w.r.t. all parameters

[2022-07-17 21:13] fehiepsi commented on #1450
The contribution would be awesome! Currently, we only have an example for Lotka-Volterra. A tutorial with motivations for your usage case would be super helpful for users.

[2022-07-17 21:16] fehiepsi commented on #1448
Thanks @rafaol! I guess we mixed up 1-size plate with singleton dimensions created by promoting and broadcasting somewhere. Let us take a closer look into this.

[2022-07-17 21:23] fehiepsi commented on #1365
I guess if beta icdf is only used at deterministic sites for prediction, then you can use `host_callback` as in [TruncatedDistribution](https://num.pyro.ai/en/stable/tutorials/truncated_distributions.html) tutorial. If it is used at some downstream observation sites, then we need grad rules for it. Please see [this tutorial](https://jax.readthedocs.io/en/latest/notebooks/Custom_derivative_rules_fo

[2022-07-18 13:48] paulsbrookes opened #1453 "Unable to fit MA(1) time series model when `theta` is greater than 1."
I have been experimenting with an MA(1) time series model and I have noticed a possible bug when fitting the to following synthetic data:

[code]

To fit this data I run the following code:
[code]

I receive the following output:
[code]

The value for `theta` is wrong. It should be 2, as in the generated data above. However there is no indication that the MCMC sampling has been unsuccessful. There

[2022-07-18 18:34] colehaus commented on #1452
Ah, that's good news! And that sounds like a reasonable plan. I probably won't be able to think about doing it for a few weeks though.

[2022-07-19 12:52] rafaol opened #1454 "Question about log-likelihood for model with discrete variables"
Hi,

I understand that I can use `funsor.log_density()` to compute the log-joint probability of a sample from a model whose discrete latent sites can be enumerated. However, I'm not sure what's the best way to compute the log-likelihood of the model while marginalising the discrete variables out.

If I simply call `log_likelihood()` with the enumerated model, I get the log-likelihood values for ea

[2022-07-22 08:04] timpiperseek opened #1455 "Example Docker Image fails to build"
The example docker image found [here ](https://github.com/pyro-ppl/numpyro/tree/master/docker/release).
Is failing to build (atleast for me) with the following error message.

[code]

Anyone know the solution?

[2022-07-22 10:20] fehiepsi commented on #1455
@AndrewCSQ I guess we need `numpyro[cuda]` here?

@timpiperseek could you change the last line of that file to
[code]
and reinstall?

[2022-07-22 10:28] fehiepsi commented on #1454
How about using log_density with latent variables masked, something like
[code]
Otherwise, log_density returns a trace. I guess you can also extract marginal log likelihood through that trace.

[2022-07-22 10:42] thisiscam commented on #741
I wonder if there is any update to this feature? I tried SVI with discrete latent variables and seem to be running into issue similar to 1174

[2022-07-22 11:38] #1447 closed

[2022-07-22 15:21] rafaol commented on #1454
Thanks, I'll give it a go!

[2022-07-23 01:49] timpiperseek commented on #1455
yes that install but it is giving the warning.
`WARNING: numpyro 0.10.0 does not provide the extra 'jaxlib_cuda'`
also it looks like it is no longer using GPU and is reverting to CPU. Although I am not confident if that is because of your suggested change

[2022-07-23 02:23] fehiepsi commented on #1455
Maybe that's because they change the binary url: from the last `jax_releases` to `jax_cuda_releases`

[2022-07-23 03:40] timpiperseek commented on #1455
yes that works

[2022-07-23 05:46] thisiscam opened #1456 "Understanding strange shape behavior due to enumerating discrete latent variables"
Hi,

I tried the following code

[code]

Since X2 and X3 are discrete latent variables, SVI will enable enumeration support from funsor. However, I get the following cryptic error:
[code]

I think I understand that the dimensions for X2 and X3 has a leading "2" because it is trying to enumerate the booleans. I don't understand:
- how broadcasting would work in this case
- why the batch dimension (

[2022-07-23 11:13] fehiepsi commented on #1455
Yeah, could you help me make a PR?

[2022-07-23 12:37] fehiepsi commented on #1453
This seems to be expected due to numerical errors growth exponentially w.r.t. time steps when theta > 1. Please see the explanation in the above jax thread. Thanks for reporting, @paulsbrookes !

[2022-07-23 12:37] #1453 closed

[2022-07-23 12:51] fehiepsi commented on #1456
I would recommend to look at enumerate tutorial, but here are quick answers to your questions
+ you can broadcast 3 arrays such that they have the same shape, then stack
+ That is the design choice. Under the hood, for each item in the batch plate N, those discrete variables have the same support/value, which is [0, 1]. So we only need to return a single item.
+ you will want to enumerate x2 over

[2022-07-23 12:51] #1456 closed

[2022-07-23 13:21] thisiscam commented on #1456
Hi, thanks for the quick response.

Is my following understanding of the desired broadcasting scheme correct?
[code]

I thought the point of enumeration is to sum out the discrete variables so that there are only continuous latent variables?

Thanks! Currently the above code does run (up to the shape mismatch problem). Is there anything technically blocking from getting enumeration + SVI to work?

[2022-07-23 18:44] fehiepsi commented on #1456
I'm not sure where 4 comes from but the rest seems correct to me. We haven't supported enumeration for AutoNormal and SVI. Please see https://github.com/pyro-ppl/numpyro/issues/741 for more context.

[2022-07-24 01:56] thisiscam commented on #1456
Corrected to:
[code]

#741 mentioned that enumeration is "not tested" -- so not officially supported but the presumably some code exists?
In fact, I was able to get through the dimension error following your suggestion and come to another error:
[code]

I am not sure why the enumerate dimension is left there but not summed out. Maybe I should look else where (Pyro seems to support what I need) for

[2022-07-24 09:58] timpiperseek commented on #1455
yes of course.
I think just changing line 24 to
`numpyro[cuda] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html`

should do the trick

[2022-07-24 11:26] fehiepsi commented on #1456
I think it should be
[code]

Yeah, I would recommend using Pyro for SVI with enumeration.

I guess it is a little bit complicated - I'm not sure.

[2022-07-24 21:59] thisiscam commented on #1456
I need the dimension to perform the concatenation?

Fair enough. I hope discrete enumeration in numpyro will catch up with Pyro at some point!

[2022-07-26 16:13] gcgibson opened #1457 "SIR Agent Based Model on a Contact Network"
Hi,

I've been working on the following SIR agent based model (ABM) on a contact network in numpyro. I have the true data generating ABM followed by some numpyro code attempting to implement and recover the true ABM parameters. Obviously this is not an easy ask of numpyro since everything in an ABM is essentially a latent discrete parameter. I've tried to think about this more as like each agent h

[2022-07-28 21:17] e-pet opened #1459 "Detail improvements to custom objectives example"
The [Custom Objectives Example page](https://pyro.ai/examples/custom_objectives.html) currently states that `svi.step()`  is equivalent to the following low-level code pattern "assuming we know all the parameters in advance":

[code]

The "assuming we know all the parameters in advance" part is not particularly helpful if one wants to actually do this, and TBH it is also not immediately obvious to

[2022-07-28 21:25] martinjankowiak commented on #1459
please be aware that numpyro != pyro. the api are similar but not identical, in large part because pytorch and jax have different api and programming styles. for custom optimization in numpyro try using optax ([usage example](https://github.com/pyro-ppl/numpyro/blob/3f1a9d745fe951d45a634af454bb25e12a61b11b/test/infer/test_autoguide.py#L704))

[2022-07-28 21:28] e-pet commented on #1459
Oh dear, I'm sorry, this was supposed to be a pyro issue. I'll close here and re-post there.

[2022-07-28 21:28] #1459 closed

[2022-07-29 15:04] hessammehr commented on #1403
@fehiepsi, I am closing this PR in favour of #1413. Very happy to re-open if there is interest in this particular implementation, although as I have noted on #1413, theirs seems more complete and inline with the existing API.

[2022-07-29 15:04] #1403 closed

[2022-07-29 15:42] gcgibson commented on #1457
This seems to be working (recovering the true parameter). I still feel like i'm not totally doing it correctly though.

[code]

[2022-07-29 20:44] martinjankowiak commented on #1457
@gcgibson github is intended for bug reports, feature requests etc; if you want to discuss a specific model please repost at https://forum.pyro.ai/

[2022-07-29 20:44] #1457 closed

[2022-07-30 15:37] e-pet commented on #1365
(In case somebody else finds this and looks for a solution, I opted to use the Kumaraswamy distribution instead, as recommended in the jax issue linked to above. It's very similar / in some cases identical to the beta distribution and has the icdf implemented.)

[2022-07-31 08:42] felavila opened #1460 "Problem whit initial parameters"
Hi, I am trying to make a bayesian fit of a microlensing light curve to do dat, I prepare these model and i adapted some parts using jax:
[code]
How you can observe i need to pass for complex number meanwhile is doing the fit,  and I am using nuts in these way

[code]
I tried to look for answers in the forum, but i don't find nothing similar and also i dint know if the code can be do something lik

[2022-07-31 12:41] martinjankowiak commented on #1460
@felavila please re-post your question on the [forum](https://forum.pyro.ai/). github issues are meant for bug reports, feature requests, etc.

you will likely need to add details to your question. i have basically no idea what you're asking. do you run into a runtime error? are you unsure how to translate a particular modeling idea into code? are you getting unexpected inferences? your post is no

[2022-07-31 12:41] #1460 closed

[2022-08-02 06:50] forestSKYwind commented on #1376
Hi @fehiepsi,

I found that the positive definite problem even occurs when using LKJCholesky distribution.

Code to produce:

`
def is_pos_def(x):
    return np.all(np.linalg.eigvals(np.array(x)) > 0)

rng_key = random.PRNGKey(0)

dim_L_Sigma = 16
eta_L_Sigma = jnp.ones(1)
L_Sigma = numpyro.sample("L_Sigma",
                         dist.LKJCholesky(dim_L_Sigma, eta_L_Sigma),

[2022-08-02 07:12] forestSKYwind commented on #1376
Sorry for proposing the problem...

Just checked with the shape: sample from dist.LKJCholesky is a 3-dimensional matrix of shape (1, d, d)

If I add a reshape operation to squeeze it, the result is as expected -- a positive definite matrix:

[code]

[2022-08-02 07:50] forestSKYwind commented on #1376
Sorry I'm here again...

I found that when I put it in a model, it will break the PD rule when preparing for a run of MCMC:

Updated PD check utility:

[code]

Code Segment in the model:

[code]

Code for MCMC:

[code]

Output for a MCMC run:

[2022-08-02 13:39] forestSKYwind commented on #1376
Update:

I have solved the proposed problem by checking my computational trace within the model, fixing some numeriacal overflow issues (e.g., with jnp.exp() for deriving categorical logits).

Hope my experience can help others facing similar problems.

[2022-08-03 12:24] tbenthompson opened #1461 "Binomial(...).sample has an infinite loop when combined with jax.vmap and p=0"
This seems to be the same bug the cropped up in the [Poisson case](https://github.com/pyro-ppl/numpyro/issues/582). And is a result of [combining `lax.cond`, `vmap` and data-dependent inputs](https://github.com/google/jax/issues/2947):
- one of the branches in `_binomial_dispatch` results in an infinite loop when p=0.
- normally that branch is only taken when `n * p > 10`
- but `vmap` causes jax t

[2022-08-04 20:46] xidulu opened #1463 "An issue on log_prob function of transformed distribution"
![Screen Shot 2022-08-04 at 13 43 46](https://user-images.githubusercontent.com/26022201/182949023-10722626-85a2-485a-9faa-b37c41559811.png)

[code]
I am using NumPyro 0.9.2

[2022-08-05 11:06] caxelrud commented on #1451
I changed the last statement from sample from Normal to sample from Bernoulli but now I get `ValueError: Incompatible shapes for broadcasting: ((100,), (2,))`.

Here is the code.

[code]

[2022-08-05 22:42] fehiepsi commented on #1463
Hmm, in line 612, it should be `**kwargs` rather than `*kwargs`. Do you want to submit the fix?

[2022-08-05 22:57] xidulu commented on #1463
@fehiepsi
NP, I can do that : )

[2022-08-06 13:34] caxelrud commented on #1451
I took several operations to debug the last statement of the model as:
`numpyro.sample("y", dist.Bernoulli(probs=(batch_x @ w1 + b1, 0) @ w2 + b2), obs=batch_y,)
`
Now, trying stein.run gives me the following error:
`TypeError: unsupported operand type(s) for @: 'tuple' and 'DeviceArray'`

[2022-08-06 13:41] martinjankowiak commented on #1451
@caxelrud github issues are not a great place to discuss beginner questions. please use the [forum](https://forum.pyro.ai/). github issues are meant for bug reports, feature requests, etc.

the error is very clear. `batch_x @ w1 + b1` is an array. but for some reason (probably because you kept around old code without examining it carefully) you combine it into a tuple with `, 0)`.  you probably wa

[2022-08-06 13:41] #1451 closed

[2022-08-07 01:34] #1461 closed

[2022-08-07 01:34] #1455 closed

[2022-08-09 16:52] #1463 closed

[2022-08-09 17:41] tbenthompson opened #1466 "V100 GPU is ~300x slower than 6 core CPU for hierarchical binomial model"
This example demonstrates the problem:

[code]

output:
[code]

[2022-08-09 17:42] tbenthompson commented on #1466
Any advice would be much appreciated if I'm doing something silly or wrong.

[2022-08-09 17:53] tbenthompson commented on #1466
Oh, I think the problem is that I specified 1 chain and thus the whole thing is sequential. But, then I would expect the GPU version to do much better if I run a larger number of chains. This does not appear to be the case. With `num_chains=100`, I get:
[code]

[2022-08-09 18:04] tbenthompson commented on #1466
Ah! Problem solved. Setting `chain_method='vectorized'` seems to do the trick. I know it's not possible to change the API at this point, but it's quite surprising to me that the default settings are so poorly tuned for GPU usage.

Anyway, I hope this hasn't been too much noise. Thanks!

[2022-08-10 12:55] #1466 closed

[2022-08-12 08:54] hyperfra opened #1467 "Leak when running examples with JAX_CHECK_TRACER_LEAKS=1"
Hi
when I run ar2.py from yours examples (or bnn.py did not try with others) with the environment variable JAX_CHECK_TRACER_LEAKS=1 they fail. (I had to use it to try to find an issue with a function I had written)

the exception raised is

Exception: Leaked level MainTrace(1,DynamicJaxprTrace). Leaked tracer(s): [Traced<ShapedArray(int32[])>with<DynamicJaxprTrace(level=1/0)>].

here the complete

[2022-08-13 04:27] beekill95 opened #1468 "module 'jaxlib.pocketfft' has no attribute 'pocketfft'"
Right now, I cannot use numpyro with gpu support. When I install numpyro with gpu support using `pip install numpyro[cuda] -f https://storage.googleapis.com/jax-releases/jax_releases.html`, the installation runs just fine. However, when I import numpyro, the following error was thrown:

[code]

Here is the colab notebook for reproduction: https://colab.research.google.com/drive/1tHmdv4P1I9AdviF5XF

[2022-08-13 14:18] fehiepsi commented on #1468
Hi @beekill95, the link is updated to `https://storage.googleapis.com/jax-releases/jax_cuda_releases.html`. Could you help me fix the path in README file?

[2022-08-14 02:59] beekill95 commented on #1468
Installing the package from the updated link does fix the error for me. Thank you!

[2022-08-14 10:40] fehiepsi commented on #1454
Closed because it is better to ask questions on [forum](https://forum.pyro.ai/)

[2022-08-14 10:40] #1454 closed

[2022-08-14 12:12] #1468 closed

[2022-08-14 12:12] #1467 closed

[2022-08-14 12:48] hyperfra commented on #1467
Hi sorry then if there is no issue :-(
I wonder why it happens in my machine will try a clean install.
Best

Sent from my iPhone

On 14 Aug 2022, at 13:12, Du Phan ***@***.***> wrote:

﻿

Closed #1467<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fpyro-ppl%2Fnumpyro%2Fissues%2F1467&data=05%7C01%7C%7C5ff44775860a405edac008da7dee4634%7C84df9e7fe9f640afb435aaaaaaaaaaaa

[2022-08-14 14:03] fehiepsi commented on #1467
Could you try to uninstall numpyro first then install the dev version (probably also with latest jax/jaxlib)? You can use `jax.check_tracer_leaks()` context manager to check the leak (instead of setting env variable)

[2022-08-19 22:11] hessammehr opened #1472 "Possibility of using models as distributions"
In certain situations it would be convenient to be able to treat models like distributions. As an example, one approach to calculating the Bayes factor for two models is to create a mixture distribution like so (`mixing_weights` acting as prior probabilities p(M1) / p(M2)):

[code]

I wondered how feasible/realistic it would be to enable such a use case (and whether there is a better way).

EDIT:

[2022-08-21 10:43] hyperfra commented on #1467
Hi sorry for the late response, was away. So I have reinstalled everything and used the context manager

  *   no issues when running on my laptop mac (jax  0.3.16, jaxlib  0.3.15, numpyro 0.10.0)

  *   But still have the same issue on my Linux machine (jax  0.3.16 , jaxlib  0.3.15+cuda11.cudnn82, numpyro 0.10.0)

best
________________________________
From: Du Phan ***@***.***>
Sent: Sunday, Augu

[2022-08-23 13:31] fehiepsi commented on #1472
Using a model like a distribution seems to be similar to TFP's [JointDistribution](https://www.tensorflow.org/probability/api_docs/python/tfp/distributions/JointDistribution). I feel that it's not quite complicated (for basic usage). We will need to define some notions for: joint support (a dictionary of site: support), joint sample (which traces the model and returns latent samples), joint log_pr

[2022-08-23 13:34] fehiepsi commented on #1467
@hyperfra I think the issue `Exception: Leaked level MainTrace(1,DynamicJaxprTrace). Leaked tracer(s): [Traced<ShapedArray(int32[])>with<DynamicJaxprTrace(level=1/0)>].` is fixed in https://github.com/pyro-ppl/numpyro/pull/1469. Probably you get a different leaked tracer. If so, could you make a new issue for it?

[2022-08-25 15:57] hessammehr commented on #1472
@fehiepsi thank you for your comment and apologies for the delayed response. To clarify the phrase that you had asked about, I have been using the following solution since opening this issue.

[code]

Which is a bit verbose but clear enough. I hope this clarifies the workaround I was referring to. Your suggestion sounds more general without requiring as much boilerplate, though I have to admit I'm

[2022-08-27 09:27] hyperfra opened #1473 "issue with jax.check_tracer_leaks() running AR2 example"
Hi when I run the AR2.py example with jax.check_tracer_leaks() I get an error: (this happens only on my Linux machine with jax                       0.3.16  , jaxlib   0.3.15+cuda11.cudnn82    and not my laptop OSX with jaxlib 0.3.15).

 Exception: Leaked trace MainTrace(1,DynamicJaxprTrace). Leaked tracer(s):
Traced<ShapedArray(int32[], weak_type=True)>with<DynamicJaxprTrace(level=1/0)>

here the

[2022-08-27 15:36] fehiepsi commented on #1473
Looking like you are using the released version. The issue is fixed in the dev branch. The tree flatten warning is also fixed in the dev branch. You can install dev version using the instruction in Readme file.

[2022-08-27 17:01] fehiepsi commented on #1472
agreed! let's reopen this issue or create a new one for using models as distributions in the future if needed.

[2022-08-27 17:01] #1472 closed

[2022-08-29 00:36] fehiepsi commented on #1365
As suggested in https://github.com/google/jax/issues/2399, we can use `tfp.math.betaincinv` in the implementation of this cdf.

[2022-09-06 01:15] fehiepsi commented on #1473
We just made a new release. Pls reopen the topic if you still get the issue.

[2022-09-06 01:15] #1473 closed

[2022-09-06 06:39] hyperfra commented on #1473
With dev version the issue was solved. Will try with new version but will probably work

Sent from my iPhone

On 6 Sep 2022, at 02:16, Du Phan ***@***.***> wrote:

﻿

We just made a new release. Pls reopen the topic if you still get the issue.

—
Reply to this email directly, view it on GitHub<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fpyro-ppl%2Fnumpyro%2Fissue

[2022-09-06 21:31] fehiepsi commented on #1365
This can be added in the same way as #1475 .

[2022-09-08 15:35] kaijennissen opened #1476 "Example: Hilbert space approximation for Gaussian processes"
It's not really an issue but the [Hilbert space approximation for Gaussian process](https://num.pyro.ai/en/latest/examples/hsgp.html) example does not converge.
Any suggestions on how to fix this?

<details>
<summary> `--chain=1 --num-samples=10000 --num-warmup=2000`</summary>

![plots](https://user-images.githubusercontent.com/50238578/189150121-181c4c00-9819-4592-bed1-9a3acc21dee9.png)
<img widt

[2022-09-08 22:01] martinjankowiak commented on #1476
@kaijennissen did you try double precision (`--x64`) and/or more warmup samples?

[2022-09-09 07:33] omarfsosa commented on #1476
@kaijennissen , following @martinjankowiak 's recommendation. I manage to get good mixing with
[code]

Give it a go and if it does not work I can look into it (it took about 28mins to run in my machine).

[2022-09-09 08:09] kaijennissen commented on #1476
@martinjankowiak @omarfsosa '--x64' made the difference. Thank you.

[2022-09-09 08:09] #1476 closed

[2022-09-10 13:09] fehiepsi commented on #1362
Closed because this is resolved.

[2022-09-10 13:09] #1362 closed

[2022-09-10 16:25] #1392 closed

[2022-09-12 22:11] #1365 closed

[2022-09-14 21:43] cpieringer commented on #1410
Hi @fehiepsi, I was fixing the issue, and I noted that somebody has already fixed it. However, I have a doubt about line 70 in def stack: `logp = jax.nn.logsumexp(exp_lpd_point + log_w, axis=1)`

In this case, the function receives a version of exp(lpd_point). It is necessary to apply again `logsumexp` inside the function stack?

[2022-09-14 21:51] fehiepsi commented on #1410
I think we need to use `jax.nn.logsumexp(lpd_point + log_w, axis=1)`. We can also reuse `exp_lpd_point` with
[code]
but using `logsumexp` is more numerical stable.

[2022-09-14 22:03] cpieringer commented on #1410
Ok. I can change the parameters on `mcmc.run` to just passing lpd_point into the function. Do you agree?
[code]

[2022-09-15 07:58] fehiepsi commented on #1410
Yeah, sounds good to me. Could you also rename the signature of stack function into `lpd_point=lpd_point` as you suggested in the PR?

[2022-09-16 21:08] fehiepsi commented on #1410
This is fixed in #1480. Thanks @cpieringer!

[2022-09-16 21:08] #1410 closed

[2022-09-25 23:14] ayhteo opened #1482 "Using jax.numpy versus numpy in diagnostics"
Heya, more of a question versus an issue:

Currently if I want to assess jax arrays with `diagnostics`, I have been resorting to converting them back to numpy arrays then running through the diagnostics, for example in `effective_sample_size`, the item assignment flags that jax arrays are immutable.

https://github.com/pyro-ppl/numpyro/blob/22c45db47ce56266ce2fdfa87efafc7235abd946/numpyro/diagnost

[2022-09-27 14:50] fehiepsi commented on #1482
We wanted to use numpy to improve speed and have better print format. I think it is better to add `x = jax.device_get(x)` at the top of those utilities to convert jax device arrays to numpy arrays. Do you want to make such change?

[2022-09-28 07:43] ayhteo commented on #1482
sure, I realized its the sole function that does item assignment in the file so there only needs to be this update for `effective_sample_size`. I have raised a PR https://github.com/pyro-ppl/numpyro/pull/1483 for this one line change 😄

[2022-09-28 16:38] #1482 closed

[2022-09-29 11:42] mjbajwa commented on #1292
@fehiepsi Based on your ideas and others, I was able to run small-scale Bayesian Convolutional Nets using mostly NumPyro. Got pretty reasonable results (71% test accuracy). All computation was done locally on my RTX 2080. I found that TPUs (v2) were very slow here; perhaps it was linked to convolution compilation. I'm not sure that

Leaving my code here for future refrence, happy to contribute as

[2022-10-02 10:45] dirmeier opened #1485 "Pathfinder"
Hi all, are there any plans to implement pathfinder ([arXiv:2108.03782](https://arxiv.org/abs/2108.03782)) ? If so, I would be up for implementing it.

Cheers,
Simon

[2022-10-02 11:46] fehiepsi commented on #1485
Hi Simon, we don't have plan to implement that algorithm. Welcome to contribute!

[2022-10-03 21:51] quattro commented on #1178
@kaijennissen , I apologize, but I do not have enough time to finish out my initial code. I did take a peek at your definition @kaijennissen , and it seems to me that your code, while correct, missing out on the speed savings based on the kronecker definition. There is no need to blow up the definition to the large multivariate normal, when the inverse of the kron can be defined in a smaller (comp

[2022-10-05 13:26] YanniPapandreou commented on #1383
Hi, is anyone working on this? If not I'd be happy to give this a try - I'm quite new to this so any guidance would be great :)

[2022-10-06 21:02] fehiepsi commented on #1383
Thanks,  @YanniPapandreou! The inspect logic is in [this file](https://github.com/pyro-ppl/numpyro/blob/f81ce325de402d9a9891497136a36e3b44f982cc/numpyro/infer/inspect.py#L192). Currently, we only consider messages with `sample` type. You can modify the dictionaries in that method to also include `deterministic` sites. You can get started by making a model with deterministic site, obtain a trace of

[2022-10-09 15:31] kaijennissen commented on #1178
@quattro You are right. The current implementation is a simple translation of the `MatrixNormal` used in tensorflow probability. While an efficient version is straight forward without batching I'm struggling with a batched version. Hopefully I will have some time in the near future to work on this.

[2022-10-13 16:40] YanniPapandreou commented on #1383
Thanks @fehiepsi ! I have started looking into this.

Do you have any resources for learning about provenance logic? I have managed to get the deterministic sites but I am not sure I understand how `log_prob` is used for samples to get the dependency. I am also not sure about which `identity` function you are referring to is this **the** identity function which seems to be implemented in `numpyro.

[2022-10-20 14:59] mlpotter opened #1488 "Inconsistent MCMC Results Based On * Operator"
## Issue
I receive inconsistent MCMC results based on simply using the * operator or not. Model1 (correct result) and Model2 (incorrect result) gives different answers despite all the mathematical description being equivalent. The only difference between model2 versus model1 is the * operator.
[code]

## Package Versions
* numpyro=1.23.3
* numpyro=0.10.1
* jax=0.3.23
* torch=1.12.1

## OS
Edition

[2022-10-20 17:18] martinjankowiak commented on #1488
@mlpotter i don't think this is surprising. libraries like jax and pytorch do computations using floating point operations not exact arithmetic. so computations that are equivalent mathematically won't be equivalent in practice due to the accumulation of floating point errors, numerical under/overflow, etc.

factoring like in "## correct answer" is just good practice, which explains why you get a

[2022-10-20 23:27] mlpotter commented on #1488
@martinjankowiak it may be the case that floating point operations cause the discrepancy of results in practice, but when doing doing this same formulation in RSTAN the MCMC results are the same for both mathematical formulations. This is why I believe it may be a bug?

[2022-10-21 00:54] adamgayoso opened #1489 "`MixtureSameFamily` outputting incorrect log probs"
[code]

[code]

Distrax and torch provide the correct output, which should be equal here

[2022-10-21 05:15] adamgayoso commented on #48
Hello,

I'm trying to sample from a Dirichlet with 4 dimensions, but over a batch of thousands of elements. The gradients are very slow compared to PyTorch. Has there been any progress on speeding this up ?

[2022-10-23 00:15] fehiepsi commented on #48
Could you try TFP Dirichlet distribution? IIRC it has faster dirichlet sampler.

[2022-10-23 00:26] fehiepsi commented on #1489
Thanks for catching this! It looks like we didn't [normalize the logits](https://github.com/pyro-ppl/numpyro/blob/f81ce325de402d9a9891497136a36e3b44f982cc/numpyro/distributions/mixtures.py#L275). Do you want to submit a fix? something like
[code]

[2022-10-23 03:38] adamgayoso commented on #48
I'm getting nan's there related to dirichlet sampling where I'm not with jax.random.dirichlet/numpyro!...

[2022-10-23 04:33] adamgayoso commented on #48
I can confirm the sampling if faster in TFP, but I'll get NaN's during training, which I haven't narrowed down to a gradient issue or a sampling issue.

[2022-10-23 10:33] fehiepsi commented on #48
You might want to create a wrapper to [clip Dirichlet samples](https://github.com/pyro-ppl/numpyro/blob/f81ce325de402d9a9891497136a36e3b44f982cc/numpyro/distributions/continuous.py#L261). Something like
[code]

[2022-10-23 12:44] martinjankowiak commented on #48
@adamgayoso it might help to make sure your parameter is bounded away from zero e.g. `concentration=0.01 + positive_param`

[2022-10-23 17:32] adamgayoso commented on #48
Thank you both for the suggestions, although I'm still getting nan's. I'd need more time to inspect if it's the gradients, but do you know if I can stitch the jax random dirichlet gradient fn with tfp gamma sampler?

[2022-10-23 17:37] martinjankowiak commented on #48
[code]

[2022-10-23 17:58] adamgayoso commented on #48
Thank you. Where is that happening?

I see this wrapper: https://num.pyro.ai/en/stable/distributions.html#numpyro.contrib.tfp.distributions.TFPDistribution

But not where a custom gradient fn is being set.

[2022-10-23 18:06] martinjankowiak commented on #48
i guess to do that you'd to override `sample` and define a custom `jvp` or `jvp` rule

[2022-10-24 05:42] adamgayoso commented on #48
@fehiepsi would you be able to check out https://github.com/google/jax/pull/12943 ?

The sampling wasn't the bottleneck, it was actually the lax map for the grads on cpu. I also fixed the lax cond in the sampling loop

[2022-10-25 10:27] hessammehr opened #1490 "Mixture: Intermediates cannot be coerced to bool"
[code]

In the above `l1` evaluates fine, as the intermediates returned in the model trace is a `DeviceArray` containing a single number, but when sample/batch shape is anything but `(1,)`, `intermediates` is an array with size > 1 the following boolean coercion causes and error:

![image](https://user-images.githubusercontent.com/392251/197748939-3dfa2096-4d2a-4451-9371-d8187bfcefee.png)

Compari

[2022-10-25 15:19] fehiepsi commented on #1490
You are right, we need to return a list there. Thanks for the catch! Please submit the fix :)

[2022-10-25 23:22] #1490 closed

[2022-10-26 09:35] hessammehr commented on #1490
Thanks for the quick feedback and the tip to fix the CI glitch, @fehiepsi

[2022-10-26 14:32] adrn opened #1492 "inf's with TruncatedNormal"
I've seen the discussion in #1184 and #1185, but I'm still seeing this issue with numpyro v0.10.1. Here's a MWE, comparing to scipy's `scipy.stats.truncnorm` implementation:
[code]
(arbitrary values chosen to get into the tail)

Comparing the output values:
[code]

It's possible to avoid this by special-casing the truncated normal distribution, as I [recently implemented in Jax](https://github.com

[2022-10-28 21:47] mlpotter commented on #1488
@martinjankowiak I tried this unfactorized versus factorized version in rstan. Rstan does not seem to have the same issue as numoyro and returns the correct parameters for both methods.

[2022-10-28 21:59] mlpotter opened #1493 "Inconsistent MCMC Results Based On * Operator (Reopen)"
Reopening #1488  because of comparison with rstan in R. @martinjankowiak I tried this unfactorized versus factorized version in rstan. Rstan does not seem to have the same issue as numpyro and returns the correct parameters for both methods. Not sure if rstan does optimization under the hood that numpyro does not, but now I am suspecting possible bug.

[2022-10-29 12:29] fehiepsi commented on #1492
That would be awesome, @adrn!!! Regarding numpyro codebase, I think you can add a method `log_cdf` in `Normal` and use it to compute sort of [_log_diff_tail_probs](https://github.com/pyro-ppl/numpyro/blob/e9af0c6facc38ba8421c27b27abedbcbae5ff937/numpyro/distributions/truncated.py#L238-L250) which computes log of `self._tail_prob_at_high - self._tail_prob_at_low`. You can add a method `_log_diff_ta

[2022-10-29 12:34] fehiepsi commented on #1488
Quoted from @mlpotter in #1493

[2022-10-29 12:34] #1493 closed

[2022-10-29 13:41] fehiepsi commented on #1488
@mlpotter It is better to raise those numerical issues to jax folks. You can just create a function with arguments are latent variables and try to see if there are differences in the evaluation. You use the following code to make an issue in jax.
[code]
which returns
[code]

[2022-10-29 13:41] #1488 closed

[2022-10-29 14:29] #1489 closed

[2022-10-30 00:15] fehiepsi commented on #1383
Sorry @YanniPapandreou, I miss your response! Let me make the previous comment clearer.

#### provenance

This is used to see which variable in the output depends on which variable in the input. For example,
[code]

#### model dependencies

Given a model with latent variables `a, b, c`. We will convert those variables to a dictionary of [ProvenanceArray](https://github.com/pyro-ppl/numpyro/blob/ma

[2022-10-31 04:44] muupan opened #1496 "SVI.run on GPU affects subsequent executions on CPU of with a new instance of SVI"
I asked about this issue in google/jax's discussions (https://github.com/google/jax/discussions/12945) but was not able to get an answer, so now I am asking here.

The issue is, when I run `SVI.run` of some SVI object on CPU by setting the default device of jax to CPU, the result is affected by whether I ran `SVI.run` of some other SVI object on GPU before. I expect the results of executions of th

[2022-10-31 20:35] elchorro opened #1497 "Example: Text-Based Ideal Points in Numpyro"
I wrote a Colab notebook with a Numpyro implementation of [Text-Based Ideal Points](https://arxiv.org/abs/2005.04232) (Vafa, Naidu & Blei, 2020).

It uses SVI with mean field ELBO, manual minibatching and Optax. It is [here](https://colab.research.google.com/drive/1JQEbAf8aTuEw9X9Yfqsgi6cEScuQ-i6c?usp=sharing) It is also linked from the original TBIP repo (https://github.com/keyonvafa/tbip).

Do y

[2022-11-01 01:31] fehiepsi commented on #1497
It's an excellent tutorial, @elchorro! We are happy to have it in the tutorials. You can add the notebook in [this folder](https://github.com/pyro-ppl/numpyro/tree/master/notebooks/source) and add link to it in [this index file](https://github.com/pyro-ppl/numpyro/blob/master/docs/source/index.rst). It would be nice to include a thumbnail for the tutorial - you can put a `[filename].png` file in [

[2022-11-03 12:46] elchorro commented on #1497
Thank you @fehiepsi

I made a PR #1498 and it passes tests but any suggestions are always welcome.

[2022-11-03 20:32] themrzmaster opened #1499 "constant parameters in IRT model"
Hi all!
Big fan of the project.
I am trying to use it on my company, in an educational context.
Basically, I am trying to build an Item Response Theory model where some of the item's parameters were already estimated somehow and I want to estimate the student parameters and the new items parameters.

`
def model(idx_students, idx_requirement, idx_requirement_nan, n_students, n_new_descriptions, be

[2022-11-04 12:17] themrzmaster commented on #1499
opened it here https://forum.pyro.ai/t/constant-parameters-in-irt-model/4736

[2022-11-06 14:03] elchorro commented on #1497
Closed by #1498

Thank you guys!

[2022-11-06 14:03] #1497 closed

[2022-11-08 05:41] muupan commented on #1496
Can anyone reproduce the result? I have trouble in running both cpu and gpu unit tests using numpyro as the execution order matters because of the issue. I have no clue what is causing it.

[2022-11-08 07:42] fehiepsi commented on #1496
Hi @muupan, this seems to be an issue but I'm not sure how to address it. Does this only happen with numpyro? Does this only happen when using `scan`? It would be nice to make a small reproducible code to isolate the issue, e.g. to create a stochastic loss function and optimize the parameters using optax. This will be helpful for us and jax team to see what's going on.

[2022-11-08 13:16] muupan commented on #1496
Thanks for your response!

I have experienced this issue only with numpyro. I am new to jax and numpyro so not sure if this issue is specific to numpyro.

I have not experienced this issue without scan. The code I shared is minimal code to reproduce the issue at the moment. If I can make it smaller, I will post it too.

Additionally, I tried disabling JIT for scan. There remains a difference betwe

[2022-11-10 09:11] fehiepsi commented on #1496
I convert the model into jax code. You can use this to report to jax team
[code]

[2022-11-11 13:08] d-diaz commented on #494
@fehiepsi, is there a way to implement the `pmap` example you show above to submit different shards or batches of data using the `i` as an index? I have lists of X and y data (e.g., `shards_x`, `shards_y`) that I want to pass to `mcmc.run(X, y)`, but I can't figure out how to do this inside the `get_samples` function.

For example:
[code]

will throw an error like `TracerIntegerConversionError`, s

[2022-11-11 13:17] fehiepsi commented on #494
does
[code]
works for you?

[2022-11-11 16:08] elizavetasemenova opened #1500 "`jax.experimental.host_callback.call` works on its own, but not within a Numpyro model"
Hi, filing an issue based on [this discussion](https://forum.pyro.ai/t/how-to-use-a-pre-trained-pytoch-model-within-numpyro/4749/9): `jax.experimental.host_callback.call` works on its own, but not within a Numpyro model.

A working example:
[code]

A failing example with the error `NotImplementedError: JVP rule is implemented only for id_tap, not for call`:

[code]

[2022-11-11 16:59] fehiepsi commented on #1500
Hi @elizavetasemenova, if you need grad (which NUTS requires), you need to implement jvp rule for your callback.

[2022-11-11 17:08] fehiepsi commented on #1500
If you want to disable the grad of the likelihood, you can do as follows
[code]
Feel free to follow up on the forum instead.

[2022-11-11 17:08] #1500 closed

[2022-11-11 20:12] d-diaz commented on #494
Nope.

[code]

As far as I can tell, Jax doesn't want me to use i as an index into a list.

[2022-11-11 20:56] d-diaz commented on #494
I'm totally open to other methods to `pmap` the execution of mcmc on different shards, but am struggling to see how to do it.

This also fails regardless of whether the iterable I pass is a list, array, or DeviceArray:
[code]
with
[code]

[2022-11-14 10:24] muupan commented on #1496
Thanks for your code! I removed optax so the code depends only on jax and numpy.
[code]
[code]

[2022-11-14 17:45] fehiepsi commented on #1496
Nice! I guess we can close this now because the issue is not related to numpyro. :)

[2022-11-14 17:45] #1496 closed

[2022-11-14 18:34] fehiepsi commented on #494
Hi @d-diaz, I'm not sure what you are asking for. If you want to use `pmap+MCMC`, you can follow the code in this [comment](https://github.com/pyro-ppl/numpyro/issues/494#issuecomment-566867224).

We don't support what jax team does not support, like pmap through a list. It's also hard for us to understand the error that you got without reproducible code. Please feel free to open a thread in our f

[2022-11-18 14:47] Kaktus1990 opened #1501 "Not quite clear to me how the model used by NUTS should be defined"
In [the documentation](https://num.pyro.ai/en/latest/mcmc.html#id7) it is written that the model contains the NUTS primitives but there is no more info on how the model should be built.
The model function does not return anything. I tried to figure it our from the examples. In [this example](https://num.pyro.ai/en/latest/tutorials/bayesian_regression.html#Model-1:-Predictor---Marriage-Rate)  and a

[2022-11-22 08:35] jecampagne opened #1502 "NUTS with pmap+vectorized: time scaling?"
Hello,
I have followed the snippet written in a note on MCMC
[code]
and I have modified accordingly an existing script using NUTS. I run on  1, 2 and 4 V100 GPUs (all on the same node)
to  produce 16 chains of 1000 samples/chain (200 warm)

- 18h30 on 1 GPU (6 chains)
- 13h30 on 2 GPUs (8 chains/GPU)
- 11h00 on 4 GPUs (4 chains/GPU)

I wander if this scaling is expected : ie I was expected to devi

[2022-11-22 09:06] YanniPapandreou commented on #1383
@fehiepsi thanks for sharing! I will try to take a look at this when I get a chance :)

[2022-11-23 21:44] fehiepsi commented on #1501
Hi @Kaktus1990, please checkout the getting start page: https://num.pyro.ai/en/latest/getting_started.html Those variables from `sample` primitive without `obs=...` will be the latent variables, those with `obs=...` will be the observed variables. You can choose an initialization strategy through the [init_strategy parameter](https://num.pyro.ai/en/latest/mcmc.html#numpyro.infer.hmc.NUTS). Please

[2022-11-23 21:44] #1501 closed

[2022-11-23 21:49] fehiepsi commented on #1502
Hi @jecampagne, I don't have resources to test but I feel that the non-linear behavior is expected.

[2022-11-23 21:54] fehiepsi commented on #1208
Assuming that `init_dist` has shape `batch_shape + event_shape`, I guess the Euler Maruyama distribution would have shape `batch_shape + new_event_shape` where `new_event_shape = (t,) + event_shape`. Maybe we can assume `init_dist.batch_shape == ()` for simplicity.

[2022-11-24 09:54] aleksandar-vuckovic opened #1503 "SVI: Memory scaling behavior of numpyro.infer.predictive"
Hello everyone,

I am using `numpyro.infer.predictive` for bayesian neural networks (i.e. very many parameters, think ~400.000 or more). The networks have been trained before, I just want to compute the posterior predictive here.
The function has the arguments `num_samples `and `parallel`. I have a 32GB machine, but depending on the number of samples I can run out of memory.

Now, I am wondering w

[2022-11-25 12:01] jecampagne commented on #1502
It is expected for instance in multhread CPU where the CPU should manage the multithrzding
but if the pmap copy the code/model in each GPU I have not the intuition/hint why there should be a mechanism that brake the linear scaling  ? Do you have a ref? thanks

[2022-11-26 11:43] yayami3 commented on #1208
@fehiepsi
Thanks. But still confusing.
I made draft PR.
I assume `init_dist` has shape `batch_shape` and `event_shape` is defined by t.

Could you comment on PR ?

[2022-11-27 21:41] fehiepsi commented on #1502
There are several factors here. Probably, the time to run 4-chain MCMC on 1 GPU is 11h, and the time to run 16-chain MCMC on 1 GPU is 18h30. With 4 devices, you can run 4 x 4-chain MCMC on 4 GPUs in 11h. Other factors include time to move arrays to devices and copy arrays from devices to hosts...

[2022-11-27 22:33] fehiepsi commented on #1503
Under the hood, we use [lax.map](https://jax.readthedocs.io/en/latest/_autosummary/jax.lax.map.html) which might consume more memory than for loop. Probably your approach is the best strategy to reduce memory consumption. I think you can improve the speed by jitting the predictive call
[code]

[2022-11-29 14:43] fehiepsi commented on #741
@eb8680 @ordabayevy Do you have a prototype or a guideline for how to support this feature? There are many requests for this so I would like to understand better how to implement. Thanks!

[2022-11-29 14:49] fehiepsi commented on #1425
Sorry for the slow response. I'm looking into this issue.

[2022-11-29 16:16] Zraxix opened #1505 "Issues with random_flax_module"
Hello,
I'm getting unexpected behavior when trying to train a simple baysiean neural network using numpyro and flax using the random_flax module.

I have a simple one layer neural net with no bias, and am just trying to test my code by learning the function y = x. I instead am learning something like y=.82*x and cannot figure out why. My code and results are copied below. Any help would be appreci