[2019-02-21 06:25] neerajprad opened #1 "Wrap distributions in scipy.stats for use with JAX"
To make the internals of the `sampler` and `logpdf` methods visible to the tracer and compatible with jax, we need to:
 - Write the operations in terms of `jax.numpy` operations.
 - We need to use jax's count based random number generator (via `PRNGKey`), and not the default used by scipy distributions which is numpy's globally mutable `mtrand`. Currently, the `PRNGKey` is being passed in through

[2019-02-21 07:30] neerajprad opened #2 "Enable jit compilation in minipyro"
JIT is currently not working as expected in the minipyro example - currently the `jitted` function within `step` is being compiled each time `step` is called. If we pre-compile and cache the function, it is giving static results.

[2019-02-23 00:27] #2 closed, assigned to nobody

[2019-02-23 16:59] fehiepsi opened #6 "[discussion] use functional approach for SVI"
Currently, SVI class just holds constant properties. It is much like a function IMO. So I create this thread to discuss about the possibility of splitting SVI's methods into functions: `svi_init` (to get initial svi_state/opt_state), `svi_step` (to update svi_state/opt_state). To avoid repeated arguments such as model, guide,... users can use `functools.partial` or we can keep the object SVI class

[2019-03-04 05:21] neerajprad opened #14 "Implement primitives xlogy and xlog1py"
This will be needed for certain distributions, and will be a good exercise in implementing primitive operations in jax.

[2019-03-04 06:43] fehiepsi opened #16 "Utilities for MCMC"
This issue tracks tasks for MCMC. Here are necessary ingredients to be able to benchmark. Feel free to add yourselves to your interest.

- [x] Port dual_averaging
- [x] Port welford_covariance
- [x] Port verlocity_verlet @fehiepsi
- [x] Port find_reasonable_step_size @fehiepsi
- [x] Port WarmupAdapter @fehiepsi
- [x] Port build_tree @fehiepsi
- [x] Port sample

[2019-03-05 07:07] #14 closed, assigned to neerajprad

[2019-03-06 15:24] fehiepsi opened #23 "Revise standard_gamma sampler"
Based on recent examples of @neerajprad for translation_rule of custom primitive functions, it seems that we can make standard_gamma jittable. Let's update standard_gamma with
+ translation_rule
+ using lax.cond
+ using various utilities from lax instead of relying on numpy

[2019-03-07 05:21] fehiepsi opened #27 "Collections of tips while using jax"
JAX is cool but docs/examples of its features are still lacking. Let's share tips while using jax here. :)

### pytree

`pytree` is a dict/tuple/array or a combination of them. Many transformations of jax works with pytree arguments. For example, we can apply `grad(f)(x)` will return a dict of grad arrays if `x` is a dict of arrays. There are also many utilities available at [jax.tree_util](https:

[2019-03-11 18:06] neerajprad opened #29 "Checklist for first release"
- [x] Add sphinx to generate documentation.
 - [x] Add docstring to existing modules.
   - [x] Revisit #60 @fehiepsi
 - [x] Update README - what is currently supported, some small examples, and future plans.
   - [ ] Add pypi version badge to readme
   - [x] Add readthedocs badge to readme
 - [x] Include examples in unit-test to ensure compatibility with release.
 - [x] A couple of good notebooks

[2019-03-12 02:52] fehiepsi opened #31 "Defer implementation `logpdf`, `pdf` to `jax.scipy.stats`"
Currently, numpyro's distribution is based on scipy's implementation. The approach is a bit different (though simpler) from `jax.scipy.stats` module. It would be nice if we only maintain the `frozen` wrapper for the purpose of pyro modelling and rely on the upstream implementation of `logpdf`.

[2019-03-13 00:22] neerajprad opened #32 "Do not use private utility functions from JAX"
For convenience, we are currently using many JAX functions that haven't been exposed publicly like `_promote_args`. Let us reimplement (and customize these functions as needed) in `util.py`, so that we don't incur dependency on private functions that might be removed or whose API changed without notice.

[2019-03-13 19:37] neerajprad opened #34 "Use scipy samplers directly for discrete distributions"
Due to issues like https://github.com/google/jax/issues/480, it makes sense to use discrete samplers directly from scipy and then transfer the results back to device using `jax.device_put()`. I checked that this is often an order of magnitude faster for the CPU, and should be safe since the samplers aren't reparametrized. Once we have have a JAX native multinomial distribution, we can change to th

[2019-03-13 21:58] neerajprad opened #36 "Thin out distribution wrappers and aggregate in continuous.py"
We can thin out our distribution wrappers, and let numpy do the dispatching, e.g. `np.log` or `np.exp` will be correctly dispatched by numpy even though they will incur a small dispatch cost. Like `discrete.py` we can move all the lightly wrapped continuous distribution into `continuous.py`.

[2019-03-14 04:08] #34 closed, assigned to neerajprad

[2019-03-14 18:43] neerajprad opened #41 "Add support for plate context manager"
We can start with a basic implementation that just does distributions broadcasting under the hood and stores the plate information at sample sites for any inference algorithms.

[2019-03-14 18:44] neerajprad opened #42 "Make basic datasets available for examples"
- [x] mnist
 - [x] baseball

[2019-03-14 22:51] #31 closed, assigned to nobody

[2019-03-14 22:51] #23 closed, assigned to nobody

[2019-03-15 19:34] neerajprad opened #45 "Disable generic args checking for discrete distributions"
Currently the `logpmf` method in `rv_discrete` does a lot of args checking and substituting `NaN` or `-Inf` values for pmf of out of support values. These operations are opaque to the JAX tracer and I think should simply be removed or done in a way that doesn't come in the way of operations like `grad`.

[2019-03-15 19:39] neerajprad opened #46 "Separate out model and guide args in SVI"
Many a time, the arguments to model and guides are different, and it is cumbersome to pass the same set of args to both and have some be unused. This suggests a further refactoring of the SVI class such that:
 - `model_args` and `guide_args` can be specified separately, and are jittable. These can potentially change during the course of training, e.g. data batches, or other dynamic arguments.
 - `

[2019-03-15 21:34] neerajprad opened #48 "Implement pathwise derivative for dirichlet distribution"
Refer to #44. We can implement dirichlet sample and grad methods that are similar to the ones we have in PyTorch.

[2019-03-18 06:32] neerajprad opened #51 "Add logits support to discrete distributions"
Since we use float32 values by default instead of float64 like `scipy.stats` does, having support for logits in multinomial, bernoulli and binomial distributions is important, and will make  operations that manipulate probabilities more numerically stable.

[2019-03-18 23:01] jpchen commented on #29
i have a gmm example (forked from the pyro ex) as soon as we have a categorical [edit: i see there's now a multinomial, which i can probably use

[2019-03-18 23:06] neerajprad commented on #29
@fehiepsi - After discussing with @fritzo, I think it will be a good idea to move this to pyro-ppl, and develop in public. We should definitely look to address the issues above, and have an initial release at that point. What do you think?

[2019-03-18 23:06] fehiepsi commented on #29
@jpchen If you need Dirichlet distribution, please let me know, I will implement it first. :)

[2019-03-18 23:06] neerajprad commented on #29
That's great! I think you should be able to use the multinomial directly, but let me know if you get into any issues.

[2019-03-18 23:08] fehiepsi commented on #29
@neerajprad Sure, let's go for it!

[2019-03-18 23:08] fritzo commented on #29
Thanks @neerajprad, you could even rename this issue to "Checklist before initial release". Now that we're part of Linux Foundation, I feel like development should be public whenever possible.

[2019-03-18 23:42] #46 closed

[2019-03-22 01:45] #45 closed

[2019-03-22 02:58] fehiepsi commented on #27
I have moved this to wiki page, which is a better place for these stuffs.

[2019-03-22 02:58] #27 closed

[2019-03-22 02:58] #6 closed

[2019-03-22 06:25] neerajprad opened #56 "Convenient way to turn off distributions arg checks"
With https://github.com/pyro-ppl/numpyro/pull/53, we can turn off distributions args checking with a contextmanager called `validation_disabled()`. Disabling is required because the args checking doesn't work with JIT (which isn't itself an issue since we anyways shouldn't need to JIT these extra debugging related features).

The current context manager is a hack because it is a global flag, and w

[2019-03-23 18:23] fehiepsi opened #58 "Iterative NUTS consumes more memory than recursive in big models"
#54 implements both recursive and iterative NUTS. It has been shown that iterative method outperforms recursive method in term of reducing overhead. However, currently iterative NUTS consumes a bit more memory than recursive NUTS as demonstrated in this [gist](https://gist.github.com/fehiepsi/cd8409d0a3feb3e3f287b12b9960d13c).

### Current benchmark (for tree depth = 10)

+ latent dim = 10
  - ite

[2019-03-25 19:51] neerajprad opened #62 "Support for bijective transforms for use in HMC"
This will be important for inference on models that contain distributions with constrained support. I think PyTorch's transforms module is pretty nice, and we can follow the same pattern here.

cc. @fehiepsi

[2019-03-25 19:52] neerajprad opened #63 "Use jax master for CI"
Lets host the jax/jaxlib wheels for CI so that we can track JAX master directly for development.

[2019-03-25 20:16] fehiepsi commented on #62
I'll try to make an initial api for this after adding dirichlet distribution.

[2019-03-25 21:07] #63 closed

[2019-03-25 21:47] neerajprad opened #66 "Support compatibility module in numpyro to support Pyro API"
As discussed in https://github.com/pyro-ppl/pyro/pull/1790, to support models written in Pyro, we can have a `compatibility` wrapper around distributions and inference algorithms.

I think we may have to think about some of the interface issues here, because the efficient way of doing things in Pyro (using classes, storing state) may not be ideal in Numpyro. Some of this can be abstracted within t

[2019-03-31 03:19] neerajprad opened #72 "Build wrappers for lax primitives to disable tracing in debug mode"
Even with the `disable_jit` flag, it is inconvenient to debug our existing code since we have many utilities that use these lax primitives which need to be manually rewritten each time we want to debug something. Lets build light wrappers around these to make debugging easy.

We should also move this upstream to JAX if we find it useful.

[2019-03-31 05:14] #72 closed

[2019-03-31 07:03] neerajprad opened #74 "Follow-up issues for HMC"
From discussion in #70:

 - [x] Uniform handling of packing / unpacking pytree values. I think we can just flatten everything in the kernel itself and unflatten the result received. Alternatively (if this is relatively cheap), we can also just let the adapter function take in `z` and do the flattening. The latter will be better for debuggability, and I'm not sure if there is a significant overhead

[2019-04-01 00:46] fehiepsi commented on #74
I vote for this way. I think that it is cheap because we have a bunch of this operator in `_is_turning` function. It is easy to detect if it is cheap or not when we start to work with more complicated models.

Maybe we'd better discuss about this design choice in message. :)

Yes, I agree.

Yup.

[2019-04-02 03:13] fehiepsi opened #76 "Discrete distribution does not respect initial seed"
The following repro returns different results for different runs.
[code]

[2019-04-02 03:18] fehiepsi opened #77 "Support float64 array"
Currently, we only develop and test for float32 array. When the functionalities are ready, we should test for float64 array too.

[2019-04-02 03:29] neerajprad commented on #77
Note that float64 will be significantly slower than float32 for GPU, so I think it is a good practice to write our code assuming that we will run it on float32, i.e. ensure numerical stability whenever possible. e.g. by providing logit support in distributions. I think tests passing with float32 should almost always pass with float64 (the reverse isn't true)?

[2019-04-02 03:32] fehiepsi commented on #77
@neerajprad This is to prevent something like `a = np.array([1.])`, `np.arange(...)`, or `random.normal(...)` without `dtype` in the code.

[2019-04-03 04:02] #76 closed

[2019-04-03 04:38] fehiepsi opened #80 "Add argcheck for continous distributions"
Currently, only discrete distributions support argcheck. We should do it for continuous distributions too.

[2019-04-03 04:45] fehiepsi commented on #56
After working on #79, I think that I have a better understanding to discuss about this issue now.

About arg_check, we didn't do checking in continuous distribution, so I make a new issue #80. Given that we use frozen distribution is Pyro, it is worth to support it only for `frozen` distribution. We might mimic #79 to add a flag to frozen instance.

In addition, I prefer to let `arg_check=False` b

[2019-04-03 05:37] neerajprad commented on #80
I like our args check logic in PyTorch which is more general than scipy, and the constraints on parameters can be further useful for #62.

[2019-04-04 23:17] neerajprad commented on #62
@fehiepsi - have you already started working on this? I think this is a blocker for working on more interesting models.

[2019-04-04 23:23] fehiepsi commented on #62
@neerajprad I have not yet worked on this. Feel free to work on this if you want. I am doing on the hmc pr which we discussed yesterday and will work on lax.scan instead. :)

[2019-04-05 00:40] neerajprad opened #82 "Remove dependency on scipy.stats for distributions"
Due to issues faced in #51, #50 and #81, it seems that we would be better off not inheriting from scipy and having to work around their class hierarchy which was designed to support its own use cases. Instead, I think it will help if our design was closer to PyTorch, in terms of Pyro <--> Numpyro compatibility (#66), and more generally reuse of functionality like constraint checks and bijective tr

[2019-04-05 00:54] neerajprad commented on #82
@fehiepsi - Let me know your thoughts. I think we should address this soon, so that we don't pile on more tech debt. I can take a look at it.

[2019-04-05 03:13] fehiepsi commented on #82
Agree. Currently, we only use rvs/logpdf for doing inference so there is no need to get inherited from scipy. I prefer to keep our current api (for rvs/logdf/frozen) and just rewrite the __init__ method so that it only initializes things we need (AFAIK, we only need the `parse_args` method to automatically parse args). Other infos such as `momtype=1, a=None, b=None, xtol=1e-14, badvalue=None, long

[2019-04-05 06:04] neerajprad commented on #82
I think this is worth discussing and fleshing out a bit. I used scipy to begin with as it was the choice of least resistance, but I am not convinced that following any of the design patterns from scipy will be a good long term plan. :)

My thought is that there is little benefit in maintaining frozen / unfrozen distribution objects, and significant maintenance cost. A lot of the convoluted code th

[2019-04-05 06:17] fehiepsi commented on #82
Hmm... so your propose is to not use the api of scipy.stats. I misunderstood it. That makes sense to me! The repo is numpyro, not scipyro, so we are free to design for our convenience. :+1: :D Pls go for it!

[2019-04-05 22:40] fehiepsi commented on #74
@neerajprad Look like most issues of HMC have been resolved. In upcoming days, I will address memory issue of iterative NUTS, and try to reduce its compiling time if possible. I think we have some room to improve given that functions will be recompiled when static args are not put in keywords (which we observed in dirichlet pr).

[2019-04-05 22:43] neerajprad commented on #82
I think this will require quite a few changes, so I'll try to figure out a way to do this more gradually, maybe by prototyping this in a separate module that can later be swapped out if we are happy with the design. For now, let us continue to use what we have, but I would like to address this soon rather than add more layers on top of an already convoluted design.

[2019-04-05 23:20] fehiepsi commented on #82
Previously, I put more weights on scipy users (so they just write a model with their familiarity). But now, I think that using pytorch/pyro dist interface will make transitions from pyro and numpyro easier for users (we only need to change the import torch.distributions by numpyro.distributions) without having to modify the model. It also makes it easier to debug what is going wrong by comparing t

[2019-04-05 23:47] neerajprad commented on #74
This is great, I am addressing the last remaining issue here.

[2019-04-06 02:09] #74 closed

[2019-04-06 02:10] #16 closed

[2019-04-06 02:26] fehiepsi commented on #58
@neerajprad I just update the [gist](https://gist.github.com/fehiepsi/cd8409d0a3feb3e3f287b12b9960d13c) with new profiling. Iterative nuts consumes just the same memory as recursive nuts for full tree. But it will ask more while compiling as shown in the last benchmark (that makes sense because it has to evaluate 2 branches of lax.cond e.g.). So I have no worry about memory any more.

 Are you fin

[2019-04-06 02:38] neerajprad commented on #58
I think the only reason to have it for some time would be for debugging purposes, but if you think we don't need that, go for it!

[2019-04-06 02:39] neerajprad commented on #58
That's awesome!

[2019-04-06 03:00] fehiepsi commented on #58
Hehe, so I close this issue.

[2019-04-06 03:00] #58 closed

[2019-04-07 00:28] fehiepsi opened #88 "Avoid compiling 2 times in HMC"
Currently, we do compiling 2 times: 1 at init, 1 at sample, so it would be better if we only compile 1 time.

One way is to modify `tscan` with additional parameters: `skip` to skip first warmup_steps; put warmup_state to a lax.cond to decide if it will be updated or not (depending on we are in warmup phase or sampling phase).

[2019-04-07 03:38] fehiepsi commented on #48
More context about this issue:

Dirichlet sampler is available in #81. However, the derivative is based on the gamma sampler which generates dirichlet samples. It is not a correct pathwise derivative. The algorithm for Dirichlet pathwise derivate can be found in [this paper](https://arxiv.org/abs/1806.01851).

[2019-04-07 03:47] fehiepsi commented on #36
Let's focus on #82 instead.

[2019-04-07 04:28] #36 closed

[2019-04-07 06:58] neerajprad commented on #88
I think the compiled function is cached, so we shouldn't have to pay the cost the second time around, but lets verify this.

[2019-04-07 15:09] fehiepsi opened #90 "Benchmark HMC/NUTS on various models against popular frameworks"
(split from #29 to track down the progress)

Here is a list of various models to benchmark. @neerajprad Please add more if you find they are needed.

- [x] Logistic regression on covtype dataset. Comparing against performance of PyMC/Stan/Edward which is reported in [Simple, Distributed, and Accelerated Probabilistic Programming](https://arxiv.org/abs/1811.02091.pdf).  @fehiepsi
- [x] Semi-supervi

[2019-04-10 00:23] neerajprad commented on #88
@fehiepsi - I think we can update this issue now to reflect the next steps on this task?

[2019-04-10 01:31] fehiepsi commented on #88
It seems that we don't need to revise the api. It is likely an unexpected behaviour of `lax.while_loop`. More context about it can be found in https://github.com/google/jax/issues/587.

[2019-04-10 05:17] neerajprad commented on #88
That's great! Should we close this issue then, or are there any things to follow up on?

[2019-04-10 15:43] fehiepsi opened #97 "Implement JVP rules for cumsum/cumprod"
Currently, cumsum/cumprod does not have jvp rule in jax yet. And these operators are necessary for simplex constraint. We should make custom primitives to support these operators.

[2019-04-10 15:51] fehiepsi commented on #88
I think that it is better to let this open. In case it is not an issue of `while_loop`, I would prefer to add a small utility to do scan including warmup phase and avoid this issue.

[2019-04-10 23:58] #80 closed

[2019-04-12 13:31] fritzo commented on #62
See also "constraint support in minipyro" https://github.com/pyro-ppl/pyro/issues/1819
I think you should be able to:
1. fork torch.distributions.constraints
2. fork torch.distributions.transforms
3. use torch.distributions.constraint_registry's `biject_to` directly (or fork to avoid torch dependency)

[2019-04-12 13:37] fehiepsi commented on #62
@fritzo , we already did this for most constraints. ^^

[2019-04-12 13:37] #62 closed

[2019-04-12 14:05] fehiepsi commented on #88
@neerajprad After working with the benchmark on covtype dataset, I think that we don't need to work around these issues of prims if we use nonprim version of lax.scan. Here are some benefits:
+ Allows us force fast-compiling by feeding a test_state which makes hmc_next/nuts_next run fast
+ Allows us separate compiling time and sampling time
+ Allows us print/tqdm the sampling the progress

Here is

[2019-04-12 14:51] neerajprad commented on #56
This should already be addressed. I now think that most time is spent in model debugging, so it would be better to have the default as validation enabled, provided that the checks are largely jittable. Right now, we have args checking turned off by default, but we can discuss and change this behavior in the future.

[2019-04-12 14:51] #56 closed

[2019-04-12 18:11] fehiepsi opened #102 "Makes a common interface for multivariate distributions"
Multivariate distributions does not have parameters `loc`, `scale` and it should stand on its own. So it would be nice if we make a common interface for it.

[2019-04-12 23:48] neerajprad commented on #102
I think this is another strength of tfp or pytorch distributions which is distinguishing between event and batch shapes, due to which multivariate distributions do not require any special statement. I would therefore suggest prioritizing #82 than spending too much time making this work with scipy.

[2019-04-13 17:30] #51 closed

[2019-04-14 22:04] fehiepsi opened #107 "[discussion] use transforms in potential_fn"
I would like to suggest a way to use support information for default transforms and incorporate it in potential_fn:
+ initialize_model takes an additional argument named transforms, which is a dict map each latent variable to its user-defined transform. Otherwise, we use the default transform.
+ initialize model returns a z transform fn (in addition to init unconstrained param and potential_fn) fo

[2019-04-15 19:59] neerajprad commented on #107
We could handle the default transforms for both SVI and MCMC via an effect handler, the only difference being that for SVI it affects only the `param` statements whereas for MCMC it would transform `sample` statements. Another thing to note is that just transforming in the outside loop is not be enough, since this also changes the PE computation.

Regarding:

In practice, I haven't seen models whe

[2019-04-15 21:15] neerajprad commented on #107
Actually, on second thoughts, I think your approach above would be the simplest since HMC in numpyro doesn't have access to the model directly.

[2019-04-16 01:54] #107 closed

[2019-04-16 18:43] neerajprad opened #109 "Investigate why adaptation does not work well with default HMC parameters"
For many models that seem to work well in Pyro with the default values for `trajectory_length` and `step_size` (see `test_mcmc.py`), the behavior in numpyro can be finicky in that either HMC / NUTS is too slow or we get wrong results, despite our tests running for many more steps than in Pyro.

[2019-04-16 19:01] fehiepsi commented on #109
I wonder if turning on fast-math makes things better? Currently, np.sum in CPU without fastmath has high error which makes accept prob get wrong values. Even with fastmath, the error of np.sum is also large. I will take a look too.

[2019-04-16 19:35] #97 closed

[2019-04-17 00:53] fehiepsi opened #112 "Some custom primitives does not work with the newest version of jax"
The error happens because new version of jax requires a specific pattern for using `jit`'s static_argnums. See https://github.com/google/jax/pull/595 for more context. The failed functions include:

- [ ] xlogy
- [ ] xlog1py
- [ ] standard_gamma

In addition, I think that we can simplify the implementation of these functions by using decorator `custom_transform` as in `cumsum`, `cumprod`.

cc @nee

[2019-04-17 05:04] fehiepsi commented on #109
@neerajprad I just run the tests but didn't observe the flakiness. `np.sum` imprecision is one of the reason but it seems do not affect much these tests. Initial step_size should not be important if we turn on adapt_step_size. Could you point out a specific test with failed parameters so I can take a closer look?

[2019-04-17 05:14] fehiepsi opened #113 "Use upstream samplers"
There are various sampler available upstream in the last version of JAX. Let's use these samplers instead.

[2019-04-17 06:46] neerajprad commented on #112
Are these functions failing with the jax master? We aren't using jit at least in `xlogy` and `xlog1py`, so that doesn't seem to immediately conflict with the JAX change. It also seems like a bunch of functions have been reorganized, so its probably worth tackling in one shot with the next jax release?

[2019-04-17 06:48] neerajprad commented on #109
I also don't see that HMC is at least passing without specifying `step_size`. However I still see NUTS not terminating without specifying `step_size` in `test_beta_bernoulli`. I'm not sure if that's due to fast-math mode, will check and confirm.

[2019-04-17 14:11] fehiepsi commented on #112
Yes, they fail with jax master. Maybe due to another reason. Yes, I also think that we just need to address these kinds of issues with one shot before our alpha release. It is almost there I guess. :)

[2019-04-17 19:50] neerajprad opened #114 "Make tscan jittable"
As it stands, unlike other primitives, our tscan implementation is not jittable. It is worth making it work well with `jax.jit` for benchmarking purposes.

[2019-04-19 03:04] fehiepsi commented on #109
According to #115, this issue seems have been resolved.

[2019-04-19 03:04] #109 closed

[2019-04-19 03:05] fehiepsi commented on #102
Resolved in #111

[2019-04-19 03:05] #102 closed

[2019-04-19 20:38] #114 closed

[2019-04-26 01:34] fehiepsi opened #122 "Support multivariate normal distribution"
These distributions will be useful for a [multilevel model](https://github.com/rmcelreath/rethinking/tree/Experimental#multilevel-model-formulas) which I am intending to make an example as hierarchy model.

[2019-04-26 07:18] #1 closed

[2019-04-27 02:06] fehiepsi opened #125 "Support exporting to arviz InferenceData"
There are a bunch of features available in [arviz](https://arviz-devs.github.io/arviz/api.html). We can utilize that great library without adding dependency by making a utility function which converting our `fori_append` results to a dictionary `arviz_dict`. Then in arviz, we just need to use [arviz.from_dict](https://arviz-devs.github.io/arviz/generated/arviz.from_dict.html#arviz.from_dict) to ge

[2019-04-27 04:26] fehiepsi commented on #125
Actually, our `fori_append` output + `transform` functionalities are quite convenient for this job. The following code plots well the result.
[code]
cc @neerajprad

[2019-04-27 04:26] #125 closed

[2019-04-27 16:39] neerajprad commented on #125
Good idea. I think since we are using very straightforward data structures, it is best to delegate all the diagnostics / plotting to arviz.

[2019-04-30 00:37] #82 closed

[2019-05-01 17:53] fehiepsi commented on #32
It seems that we are no longer use private utils from JAX except in `contrib` and `util`, so I close this issue.

[2019-05-01 17:53] #32 closed

[2019-05-02 22:35] #112 closed

[2019-05-08 06:18] fehiepsi opened #139 "Make HMCState picklable"
Currently, we use `laxtuple` to make HMCState. This way however make it not possible to pickle HMCState (unless we transform it to a dict/tuple/namedtuple).

[2019-05-09 06:28] neerajprad commented on #113
Can we close this issue now?

[2019-05-09 18:50] neerajprad opened #142 "standard_gamma not caching compiled function"
I would have expected the second call to `Beta.sample()` to be much faster due to 2 reasons - no compilation cost for `standard_gamma`, and faster samples from the compiled kernel.

This seems to not be the case.

[code]

[2019-05-09 19:05] fehiepsi commented on #142
This is bad. I believe this is a regression because it happens for `standard_gamma` too.

[2019-05-09 19:16] neerajprad commented on #142
I noticed this because `test_distributions.py` seems to be unusually slow now (earlier it was only initial calls to some tests during which `standard_gamma` would be compiled for a few shapes), so I think this is a regression too.

[2019-05-09 19:21] fehiepsi commented on #142
Yup, I can confirm this is a regression of JAX. This happens for other samplers too: e.g. `random.normal`.

[code]
Jax 0.1.24 took 1ms
while Jax 0.1.25 took more than 100ms

cc @matt

[2019-05-09 19:37] fehiepsi commented on #142
It seems a bit weird that if I wrap these samplers in a dummy function
[code]
then it is fast again.
This applies for `standard_gamma` too but does not apply for our distribution class. >"<

[2019-05-09 19:50] neerajprad commented on #142
Hmm..maybe the cache key is different now and for some reason we are generating a new key with our distribution classes and missing the cache. I'll take a look at it too.

[2019-05-10 02:47] #42 closed

[2019-05-10 02:47] fehiepsi commented on #113
Yup :)

[2019-05-10 02:47] #113 closed

[2019-05-10 03:29] fehiepsi commented on #142
The fix is landed in the new version of JAX. Hopefully our tests will be faster now.

[2019-05-10 03:29] #142 closed

[2019-05-10 03:34] fehiepsi commented on #29
@neerajprad Nice updates for tasks! ;)

[2019-05-10 06:27] fehiepsi commented on #142
@neerajprad It seems that LKJ does not perform well in CPU w.r.t. GPU is because of `vector_to_tril_matrix` function, not because of gamma sampler. Most of 5s in the benchmark is spent for this function. I reported the issue here: https://github.com/google/jax/issues/695. :)

[2019-05-10 21:23] neerajprad commented on #142
Whoa..that's great to know. Thanks for digging into this, and pinning it down!

[2019-05-11 00:21] neerajprad opened #144 "API issues to clean up before release"
This is to track minor API issues as we notice them, that will be nice to clean up. This is not super urgent - these are known things that can be cleaned up before release.

 - [x] It will be nice to see other diagnostic information like acceptance rate, and step size, since that's the easiest thing to make note of if the model is misspecified. @neerajprad
 - [x] Support initialization from `Unifo

[2019-05-11 00:22] neerajprad commented on #144
@fehiepsi - Feel free to add to this if you notice anything that appears off in our API.

[2019-05-11 01:24] fehiepsi commented on #144
Would it be `accept_prob` instead? To me, accept_prob is a more meaningful term than acceptance_rate. It also aligns with `target_accept_prob` arg. In addition, num_steps is also a useful dynamic term which I usually print out to see how the model and inference works. Please consider it if the progbar has some spaces. :)

I am keeping up with the progress of `lax.scan` in `differentiable-scan` bra

[2019-05-11 17:50] neerajprad commented on #144
Should we show mean value of accept_prob then? That's what we adapt after all.

Sure, lets see if we can put in `num_steps` as well. I think that is particularly useful for NUTS.

That's great to know! 🎉 Looking forward to a fast HMM example in numpyro, that'll be super cool! Since I think this is a temporary flag, it's fine to leave this as is and just mark it as an experimental arg for now.

Hah

[2019-05-11 19:23] fehiepsi commented on #144
Yeah, good idea! The mean of accept_probs is what we target at the end! I don't remember exactly but other frameworks will suggest to increase target_accept_prob or decrease it based on that mean value (and divergence info).

Yup, step_size does not vary after warmup but num_steps will vary in NUTS. During the warmup, maybe it is useful for HMC as well (when adapt_step_size=True, num_steps will va

[2019-05-11 22:29] fehiepsi opened #146 "binomial/multinomial tests fail with the new version of jax"
Start with jax version 0.1.28, as @neerajprad observed, tests for Binomial/Multinomial failed. I am not sure what is the reason for it because except for the tests, these distributions work well in notebooks.

[2019-05-12 04:58] fehiepsi commented on #29
@neerajprad Which ones you have in mind? I think that it might be good to have one for bayesian regression (based on the similar one in Pyro) and one for local global trend (an excellent application). :)

[2019-05-12 18:14] #146 closed

[2019-05-12 18:17] neerajprad commented on #29
Let us do it - I could take up the bayesian regression tutorial notebook.

[2019-05-12 18:25] neerajprad opened #148 "Make inference utilities available for prediction"
Related issue - #41.

It will be nice to provide an easy interface for doing predictions (ideally a vectorized version of `TracePredictive`), so that users do not need to write code to do this by themselves. e.g. [baseball](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/examples/baseball.py#L150). More detailed discussion on the design is needed, and hopefully, we'll have some more insigh

[2019-05-12 18:27] neerajprad opened #149 "Make MCMC diagnostics available in Numpyro"
Right now we don't have any diagnostics to measure the quality of mixing. It will be nice to either implement diagnostics like we have done in Pyro, or perhaps just use the `arviz` library for this (preferable to offload this to arviz if possible).

[2019-05-12 18:39] fehiepsi commented on #149
I think we can have some diagnostics such as r_hat or n_eff to be able to use in examples and defer other diagnostics/information criterion to arviz.

[2019-05-12 19:06] fehiepsi commented on #148
I think that for many models, we can also make a vectorized version in numpyro by using `vmap` (not sure how to do it in Pyro though).

[2019-05-14 19:10] fehiepsi commented on #149
Maybe I can take care of this issue because I have made a preliminary version `n_eff` last week.

[2019-05-16 00:50] neerajprad opened #154 "NUTS doesn't converge on a stan model"
@stefanwebb pointed out that Pyro's NUTS on the [earnings latin square](https://github.com/stan-dev/example-models/blob/48dcab3e1b63c57948389602e9be469cb6702484/ARM/Ch.13/earnings_latin_square.stan) model gives extremely different results from Stan. cc. @jpchen

To debug this, I have tried running the model on Pyro's NUTS and Numpyro's NUTS and both return results which are very far off from Stan

[2019-05-16 01:32] neerajprad commented on #154
I think using `HalfCauchy(1.)` instead of `Uniform(0, 100)` addresses some of these issues. Results on Numpyro using HalfCauchy with 2000 warmup and 2000 samples. The parameter values are at least in the vicinity of what we get from Stan.

[code]

[2019-05-16 01:38] fehiepsi commented on #154
The data and model look correct to me. And Stan did use Uniform prior for bounded parameters. I can't think of any reason for why using Uniform didn't work. Will take a closer look now. :)

[2019-05-16 01:56] fehiepsi commented on #154
It seems that our transform of HalfCauchy is correct while transform of Uniform is wrong. I have fixed that bug in the last PR. We need to address this issue in PyTorch too.

[2019-05-16 02:14] fehiepsi commented on #154
Hmm, the fix seems not be able to fix the issue because low_bound of these uniform priors are 0...

[2019-05-16 02:38] neerajprad commented on #154
Yeah, I think that's a very important fix, but unrelated to this particular model.

[2019-05-16 05:34] fehiepsi commented on #154
After investigating the model (see my [gist](https://gist.github.com/fehiepsi/c286c921cf2ebd4ffa7e3e7c32521717), it seems to me that both Stan and numpyro results achieve similar performance in term of log likelihood. Because the variables (a1, b1) and c are correlated (both are used for intercept), (a2, b2) and d are correlated (both are used for slope), I think that it is fine to get different p

[2019-05-16 05:52] neerajprad commented on #154
After playing around with this some more, here are some observations:
 - Working with `Uniform(0, 100)` does not lead to convergence on either Numpyro or Pyro. I am now thinking that maybe Stan uses some regularizing tricks for the default uniform prior. We could just make a recommendation to users to use weakly informative priors when writing out their models, as Stan does too.
 - Good news is th

[2019-05-16 06:49] neerajprad commented on #154
I agree with this general point, and using a uniform prior here is probably a bad idea for this precise reason.

[2019-05-16 14:44] fehiepsi commented on #154
Yes, [weakly priors rescue correlated variables](https://gist.github.com/fehiepsi/ba5504d4b5b06df067bf64eec3fda9c6) (replicated from SR book).

[2019-05-19 17:21] fehiepsi commented on #154
I have spent a large amount of time to debug this by disabling adaptation with fixing step_size=0.0004, and even doing inference in `float64` (by casting init_params to float64) (not related: @neerajprad we might consider supporting a `dtype` arg to `initialize_model` method so that `init_params` will be cast to `float64` automatically, and it will resolve #77, WDYT?).

Here are some observations

[2019-05-19 17:30] fehiepsi commented on #144
@neerajprad I am intending to rename `inv_transform_fn` to `constrain_fn` and its arg `constrain` to `invert`. The name will reflect its purpose and avoid the confusion with `transform` arg in `fori_collect`.

[2019-05-19 18:04] fehiepsi commented on #154
@neerajprad It turns out that the problem lies at `init_params`. I used the same init params with Stan and get similar results. In Stan, params is initialized Uniformly in (-2, 2) interval. While here we used initial_trace. The initial_trace makes dependent latent variables such as `a1`, `b1` get wildly initial values. We might consider supporting the same behaviour as in Stan?

[2019-05-19 23:19] fehiepsi commented on #154
For replication Stan result, we can try to replace init params with zero_params
[code]
@neerajprad I think it is good (to make it easier for R users) to follow Stan approach to initialize params within (-2, 2) intervals but I leave that decision to you. At least, I think that it will make no harm. :)

[2019-05-20 01:53] neerajprad commented on #154
Sorry for a late response on this, and thanks so much for posting all the details about model debugging.

I think that is the reason why we end up seeing values closer to 0 with Stan than with Numpyro. Having uncorrelated initial samples also makes sense. I'm fine with doing changing to this. Do you think we need to support alternate initialization strategies like sampling from the prior (what we

[2019-05-20 01:54] neerajprad commented on #144
Yes, please. This will really help my mental model. Otherwise, I need to go through a process of mental translation where I try to recall what inverse transform is? +1 on this change.

[2019-05-20 02:44] fehiepsi commented on #154
Look good to me. I just wonder how we can add default arg/kwarg to initialize_model? I also want to add a `dtype` kwarg to cast init params to float64 (because random samplers return `float32` by default).

[2019-05-20 15:54] #149 closed

[2019-05-20 18:48] #139 closed

[2019-05-21 01:11] fehiepsi commented on #154
I think that we can close this now?

[2019-05-21 01:13] #154 closed

[2019-05-21 19:02] neerajprad opened #164 "Add support for InverseTransform"
This will allow us to create new transform classes out of existing ones. e.g. `LogitTransform` as `SigmoidTransform().inv`.

It will also be nice if the client code can just take in a list of transforms and call `.inv` on it without having any knowledge of whether the original or the inverted transform was passed in.

e.g.
**Numpyro**

[code]

**Pytorch**
[code]

[2019-05-21 19:35] fehiepsi commented on #164
I have thought about this and found that it just makes things more confusing. Could you be more explicit about `the client code can just take in a list of transforms and call .inv on it without having any knowledge of whether the original or the inverted transform was passed in`? I guess there are some usage cases where both `SigmoidTransform()` and `SigmoidTransform().inv` are used in client code

[2019-05-21 20:52] neerajprad commented on #164
The reason would just be to have a wider class of transforms available by not having to write a separate implementation for the inverse transform if a transform is bijective. e.g. Instead of a `LogitTransform`, we should just be able to use `SigmoidTransform().inv` as a regular transform. Right now transforms from a constraint to real are not first class transforms (but simply functions) because,

[2019-05-21 22:27] neerajprad commented on #164
Changed the title/description to better reflect the motivation. This is a nice to have, but isn't blocking anything that we are working on right now.

[2019-05-22 02:00] fehiepsi commented on #164
Hmm, this might be nice to have. But I am curious because I don't know an explicit distribution which requires this feature.

[2019-05-22 19:24] neerajprad commented on #164
@fehiepsi - One such example to the last point that I mentioned is the [Gumbel](https://github.com/pytorch/pytorch/blob/master/torch/distributions/gumbel.py#L38) distribution.

[2019-05-22 20:07] fehiepsi commented on #164
Thanks for pointing it out! Though applying ExpTransform.inv to a Uniform distribution does not make sense to me (in terms of domain, codomain and their corresponding logdet) in that particular distribution, there might be other distributions with similar pattern. It is good to know btw.

[2019-05-23 13:19] #144 closed

[2019-05-23 13:20] fehiepsi commented on #144
Great! All the tasks are done.

[2019-05-26 14:48] fehiepsi opened #169 "tqdm hangs when `set_postfix_str` with `refresh=True`"
This issue is observed while running the LGT example. It is resolved if we replace `refresh=True` at
[code]
to `refresh=False`.

[2019-05-26 15:28] #77 closed

[2019-05-26 18:29] neerajprad commented on #169
Is this using `tqdm.notebook`? I think `refresh=True` by default at least on the command line.

[2019-05-26 19:07] fehiepsi commented on #169
I think we are using `trange`. For notebook widget, it should be `tnrange`. The issue happens when we set refresh=True and the iterator changes the speed drastically at some iterations. This happens in notebook with `trange`, not tqdm.notebook.

[2019-05-26 23:50] neerajprad commented on #169
I am unfortunately not able to replicate the issue on Mac. I have tried with the latest dependencies for jax, jaxlib and tqdm and the kernel simply crashes on the cell that runs `mcmc` with `Process finished with exit code 132 (interrupted by signal 4: SIGILL)`. What version of jax/jaxlib are you on?

[2019-05-26 23:59] fehiepsi commented on #169
Oppss... it is strange. I did not get that crashing issue, only hanging issue. I am using master version, both for jax and jaxlib. Let me test with official releases later today.

[2019-05-29 22:15] fehiepsi commented on #169
It seems that `refresh=False` works as expected. Let's open the issue again when something is wrong with prog_bar.

[2019-05-29 22:15] #169 closed

[2019-05-29 22:46] fehiepsi commented on #90
Clean up! :D

[2019-05-29 22:46] #90 closed

[2019-05-30 19:09] fritzo commented on #29
I've added a couple bullets for documentation. It would be nice to publish documentation and maybe tutorials (readthedocs for docs and maybe num.pyro.ai for tutorials? @jpchen how much effort would that be?)

[2019-05-30 19:18] neerajprad commented on #29
Thanks, @fritzo! @jpchen has set up readthedocs at https://numpyro.readthedocs.io/en/latest/. Tutorials would be nice to have too, right now I have just linked to the jupyter notebooks on github in readme. @jpchen - let us know how much work that is.

[2019-05-30 21:56] neerajprad commented on #122
Reopening since multivariate normal still needs to be implemented.

[2019-05-30 22:01] neerajprad commented on #122
cc. @martinjankowiak

[2019-05-30 23:48] neerajprad opened #176 "Batching for custom transforms"
Batching is currently not implemented for `custom_transforms` like `xlogy` and `xlog1py` so functions using these primitives will fail with `vmap`.

[2019-05-30 23:53] fehiepsi commented on #176
I guess it just needs a few lines of code. Let me do it. :D

[2019-05-31 00:09] neerajprad commented on #176
I tried to use `batching.defbroadcasted`, but haven't been able to get it to work. Here's a test case for you 😆

[code]

[2019-05-31 00:12] fehiepsi commented on #176
I thought that it is something like
[code]

[2019-05-31 00:13] fehiepsi commented on #176
Oppss, it does not work :D

[2019-05-31 00:14] neerajprad commented on #176
I think `defbroadcasting` will also broadcast the parameters for binary operators if needed, since its used for `binop`, but really anything that makes this test case work is fine by me.

[2019-05-31 08:04] #176 closed

[2019-06-01 10:37] #29 closed

[2019-06-01 13:59] fehiepsi opened #184 "pypi does not render README"
Current [pypi description](https://pypi.org/project/numpyro/) does not show README properly. Looking like we get the same issue at [this thread](https://stackoverflow.com/questions/26737222/pypi-description-markdown-doesnt-work). This happens in Pyro too. I think that we need to update `setuptools`, `twine`, `wheel` (or pinning to some working versions).

[2019-06-01 15:24] neerajprad commented on #184
I realized this after uploading that the legacy command `python setup.py sdist upload` does not seem to render markdown, and we need to use twine to upload. Unfortunately, updating the description requires uploading a new release, so we will have to wait for the next one to fix this.

Pyro's README is actually fixed by @fritzo which works even with the legacy commands because it converts markdown

[2019-06-03 21:06] neerajprad opened #187 "Optimize parameters with constraints in SVI"
Currently, our very basic SVI implementation would require users to transform the parameters to unconstrained space before handing it to SVI. Like HMC, let us do this automatically behind the scenes or provide utilities so as to avoid having to write boiler plate code for this.

[2019-06-04 20:30] neerajprad opened #189 "Call for user contributed examples and tutorials"
A good way to get acquainted with NumPyro would be to write your model of interest and contribute it to [examples](https://github.com/pyro-ppl/numpyro/tree/master/examples) or as a [notebook](https://github.com/pyro-ppl/numpyro/tree/master/notebooks).

If you are interested, please open up an issue describing your model so that one of the core contributors can help assess feasibility, put into pla

[2019-06-04 20:42] jpchen commented on #29
sorry my notifications for this project is misconfigured.

yes i will build the tutorials and push them to the website tonight. id like to move the docs to the pyro.ai domain but that will take a while since it needs to go through multiple approvals internally.

[2019-06-05 22:21] fehiepsi opened #192 "Test batching rule for distributions"
To support parallel chains, we need to make sure that each piece of the code works well under `vmap`. Currently, there is no batching rule for `lax.cond`. Given that we rarely use `lax.cond` and it can be replaced by a `while_loop` or `np.where`, this work is possible now. But making the whole thing works at the same time might be error prone and hard to debug / review. So this PR splits the task

[2019-06-05 22:58] neerajprad commented on #192
The initial tasks are valuable in their own right, but before investing too much time on this, we should evaluate the following alternatives:

 - using `pmap` instead which may not require batching all of the primitives.
 - using sequential chains instead of parallel chaining. While this will be slower, for certain models / data sizes (specially if we are already saturating the GPU) it might be ac

[2019-06-05 23:17] fehiepsi commented on #192
Yeah, that's a good idea. Personally, I would prefer using `pmap` because it resolves the problem of different trajectory length for each chain (which `vmap` won't). Not sure what is the current status of `pmap`. Let me dive into it a bit to see if it works now. I remember that there are some flags to enable `pmap` for CPU but last time I tried, things did not work.

Yes, either `vmap` or `pmap` w

[2019-06-08 22:38] fehiepsi commented on #192
Close because it might not need to test batching rule for distributions. Let's address related issues in separate PRs instead.

[2019-06-08 22:38] #192 closed

[2019-06-09 06:26] #122 closed

[2019-06-10 18:10] fehiepsi opened #199 "Test mcmc with chains"
With #198, we can use `mcmc` to with `num_chains > 1`. Let's test if it works for all of our examples.

- [x] add `num_chains` args to current examples and test it in Travis
- [x] ~add `num_chains` args to time series forecasting notebook~ just make a separate issue #216 for this work
- [x] make sure that chains work in multi_GPUs

Let's report issues here too
- [x] revise batching rule for `stand

[2019-06-11 22:29] fehiepsi opened #201 "Address API changes in jax 0.1.37"
JAX 0.1.37 comes up with a revised `custom_transform` which breaks our current implementation. More on this soon.

[2019-06-12 21:11] #201 closed

[2019-06-12 23:28] neerajprad commented on #88
@fehiepsi - can we close this issue now?

[2019-06-12 23:41] #88 closed

[2019-06-14 01:40] neerajprad opened #204 "BNN example unusually slow on the GPU"
@martinjankowiak reported that the BNN example is very slow (~60x) slower on the GPU, with the latest jax/jaxlib. While some slowness is expected on small datasets, such a large difference probably points to a perf issue in JAX.

As a point for comparison, the GP example while slower on the GPU is in a similar ballpark (20s on CPU vs 30s on GPU), and is much faster than the CPU for larger N.

[2019-06-14 02:43] fehiepsi commented on #204
Indeed, from our last discussion, many examples are slow in GPU. I guess we can isolate the source of slowness by first looking at the performance of `jit(potential_fn)(init_params)`.

[2019-06-14 10:09] arunpatro commented on #199
HI @fehiepsi, I have been using pyro for mvn posterior estimation using HMC/NUTS. I wanted to use numpyro.

The following code works fine with `num_chains=1`, but fails for `num_chains=2`. I have installed numpyro via `pip install git+https://github.com/pyro-ppl/numpyro` as the normal `pip install numpyro` doesn't have MultivariateNormal in the distribution: `AttributeError: module 'numpyro.distri

[2019-06-14 13:17] fehiepsi commented on #199
Hi @arunpatro, because you use 2 chains, I think that you would need to make `init_params` have batch size 2. To do that, just feed a rng with batch size 2 to `initialize_model`:
[code]

Please let me know if that does not work out for you. A small (not important) note is that you don't need to set `trajectory_length=10` because it is only used for `algo='HMC'`. In addition, because you are runnin

[2019-06-20 19:43] #187 closed

[2019-06-20 20:11] fehiepsi opened #214 "Implement IAF autoguide"
Given that we will have IAF implemented soon, it is time to make some auto guide using it. So far, I guess that we just need to mimic the current [implementation](https://github.com/pyro-ppl/pyro/blob/dev/pyro/contrib/autoguide/__init__.py#L618) in Pyro.

- [x] Implement AutoDiagonalNormal (mainly to sketch out necessary ingredients for IAF one)
- [x] Implement AutoIAFNormal

[2019-06-21 01:29] fehiepsi opened #216 "Timeseries model does not work with new version of `lax.scan`"
With jax 0.1.35, the model works well but it no longer works with newer versions of JAX. In particular, these models are blocked by https://github.com/google/jax/issues/790.

[2019-06-21 17:20] neerajprad commented on #214
@fehiepsi - are you working on this?

[2019-06-21 17:30] fehiepsi commented on #214
I am making Delta distribution. Do you intend to work on auto normal?

[2019-06-21 17:50] neerajprad commented on #214
Sure, I can try to sketch out auto normal in the meantime.

[2019-06-24 20:02] timothyb0912 opened #221 "Support for Scipy.Sparse"
Support for sparse matrices and sparse matrix operations would allow "easy" (i.e. in essentially native numpy/scipy) automatic differentiation in situations where users rely on sparse matrices to avoid dataset size limitations.

Note that this was a greatly requested feature in Autograd, and such support would be greatly appreciated!
https://github.com/HIPS/autograd/issues/80

[2019-06-25 00:52] neerajprad commented on #221
We rely on JAX for automatic differentiation, and it will be best to take this up with the JAX devs. I see that there is already an issue tracking this (https://github.com/google/jax/issues/765) that you could add to.

[2019-06-25 00:52] #221 closed

[2019-06-25 03:28] fehiepsi commented on #199
@neerajprad In case you have access to a 2-GPU machine, could you help me test the examples on multi GPUs)? I think that it should work natively but I don't have 2 GPUs to test. Thanks!

[2019-06-25 05:10] neerajprad commented on #199
Sure, I'll post an update on this tomorrow.

[2019-06-25 23:01] neerajprad commented on #199
@fehiepsi - I can confirm that this works fine with multiple GPUs too.

[2019-06-26 03:06] fehiepsi commented on #199
Thanks, @neerajprad !

[2019-06-26 03:06] #199 closed

[2019-06-27 18:31] neerajprad opened #226 "Unit tests failing on jax==0.1.39"
Distribution tests are failing with:

TypeError: Primal inputs to reverse-mode differentiation must be of float or complex type, got type int32

[2019-06-28 19:52] fehiepsi commented on #226
Thanks for addressing this, @neerajprad !

[2019-06-28 19:52] #226 closed

[2019-06-29 21:17] fehiepsi commented on #216
We can use the trick at https://github.com/google/jax/issues/790#issuecomment-506867835 to resolve this problem. However, I am noticing that NUTS is spending way more number of steps than before (so it is a few time slower than before). So we should identify the source of this problem.

[2019-07-01 22:29] jamestwebber opened #231 "example notebooks do not format correctly on website"
Probably not obvious to the author, so I thought I'd mention this. It looks like the notebook markdown does not get properly formatted when being compiled by sphinx (specifically it doesn't recognize lists).

I'm not familiar enough with sphinx to diagnose the issue, but it might just be a matter of adding [nbsphinx](https://nbsphinx.readthedocs.io) to the build process so it can handle ipynb file

[2019-07-02 02:42] fehiepsi commented on #231
Thanks @jamestwebber ! It seems that the issue has been resolved at https://github.com/pyro-ppl/numpyro/pull/215 but the website is not updated yet. We'll make sure that it is updated before the next release.

[2019-07-07 06:05] fehiepsi commented on #204
@neerajprad @martinjankowiak I just make a [benchmark](https://gist.github.com/fehiepsi/43e78b321d9f96ffd036244f1b727799) to compare performance of bnn in cpu and gpu. It seems that cpu is just way faster (70x faster) than gpu for those `matmul` operators on bnn dataset. So it is a problem of GPU (or XLA GPU), not our library. To me, this performance is expected. If you think that it is unexpected

[2019-07-07 23:07] martinjankowiak commented on #204
hmm i'm surprised the difference is so large. when i do timing comparisons using pytorch for similarly sized matmuls i find that cpu32 and cpu64 are about the same and that cuda32 is about 3x slower (so a difference but not a huge one).

[2019-07-08 00:58] fehiepsi commented on #204
Yup, it is a good idea to test against GPU performance in other framework. I'll do that to see how difference they are.

[2019-07-08 01:16] fehiepsi commented on #204
So with a similar setting, in my GPU, PyTorch took 105ms. Using torch.jit.trace, the time is reduced to 77ms. Because JAX took 35ms, JAX is 2x faster than PyTorch in this benchmark. In CPU, JAX is just way faster because the code is compiled to LLVM.

[2019-07-08 04:34] fehiepsi opened #236 "initialize_model should return valid initial params"
Currently, we don't have a mechanism as in Pyro to detect this. So it is nice to detect this.

I face this issue while working with ts forecasting tutorial, where I want to support multi-chains for that model. At first, mcmc just run forever with `num_chains=4`. So I start to debug which chain causes trouble. I discover that for some random seed, `potential_fn(init_params)` can be `nan`. But that

[2019-07-10 00:23] neerajprad opened #238 "Efficient computation of TransformedDistribution.log_prob without caching"
_Originally posted by @fehiepsi in https://github.com/pyro-ppl/numpyro/pull/234#issuecomment-508241392_

Yeah, let's make it clearer about `caching` stuff so we can discuss about better alternatives.
+ In [pytorch](https://github.com/pytorch/pytorch/blob/master/torch/distributions/transformed_distribution.py#L111) and numpyro, the way we calculate a transformed distribution log_prob is
[code]
+ Wh

[2019-07-11 01:46] fehiepsi opened #240 "cumprod translation rule does not work with new version of JAX"
Currently, `cumprod` is the last piece which requires us using low level utilities from JAX. Unfortunately, the way to implement custom primitives keeps changing in JAX. So it it best to use @custom_transform instead (I spent a few hours - just to debug why dirichlet_categorical model failed - before recognizing this issue). Unfortunately, batching rule for `np.cumprod` does not work yet. I'll fol

[2019-07-11 02:55] fehiepsi opened #241 "Handle dynamic support"
Just discover some edge case which we have not thought about it before. Consider the model
[code]
The support of `y` site does depend on `x` so `initialize_model` will return different transforms for different initial `rng`.

[2019-07-11 05:22] neerajprad commented on #241
Hmm..interesting. This will also be an issue with Pyro, and does seem serious because we will silently give wrong results. Maybe we should just have `transform_fn` take in both constraints and params.

[2019-07-11 13:25] fehiepsi commented on #241
Yup, this affects both autoguide and hmc inferences because both of them do inference in unconstrained space. As you said, this is indeed a serious problem. I think that we can resolve it by using non-centered reparametrization technique, that is to define each distribution as a transformed distribution with an affine transform. We do inference in the unconstrained domain of `base_dist`'s support.

[2019-07-11 18:15] neerajprad commented on #241
You mean the user has to use `TransformedDistribution` in their model or we do it behind the scenes? It seems to me that if it is the latter, that will have the same issue with having to detect the correct loc, scale for distributions with dynamic support? Maybe an example will help clarify.

The alternative seems even trickier because that would involve finding the new transform for each single s

[2019-07-11 18:42] fehiepsi commented on #241
I think we can just do it behind the scene. What I thought is to have log_density computed as follows
[code]
This way, we only need to revise Uniform/TruncatedCauchy/TruncatedNormal so that they are TransformedDistribution. In some sense, this makes inferences involving TransformedDistribution faster. For example, consider LogNormal potential_fn:
[code]
against the above proposal
[code]

Does this

[2019-07-11 19:43] neerajprad commented on #241
This seems very reasonable!

I'm not quite sure why we need `site['fn'].base_dist.log_prob(base_dist_samples[name])`. e.g. once a `Uniform(x, x + 2.)` is changed to `TransformedDistribution(Uniform(0, 1), AffineTransform(x., 2.))`, can't we simply use the transformed distribution's `log_prob` on the site values obtained from `model_trace`? That should also account for the jacobian adjustment from

[2019-07-11 19:47] neerajprad commented on #241
Also, this probably implies that we will need to do something like `predictive` and run the model forward to get constrained samples?

[2019-07-11 22:12] fehiepsi commented on #241
I think that this way is somehow redundant when we compute log_jacobian of `AffineTransform(x., 2.)` then remove it. For example, the potential of `Uniform(x, x + 2.)` would be
[code]
comparing to the above proposal
[code]
Basically, we don't care what `transforms` are, we just care about `base_dist` and `base_dist_inv_transforms` to compute log_prob of each site's unconstrained value. But `transf

[2019-07-11 22:26] fehiepsi commented on #241
Yup, I'll work on this next week but will definitely need your help on `handlers` stuff. There are several pending (but interesting) PRs I need to finish in upcoming days.

[2019-07-11 23:43] neerajprad commented on #241
Thanks for explaining, this is pretty neat! 😄

I suppose this will only matter if we have `TransformedDistributions` in the model, otherwise the computations should remain the same.

Please take your time. I'll work on the handlers part that you can build on top of.

[2019-07-12 22:26] fehiepsi opened #242 "Handle intermediate values in composed transform"
Currently, with #239 and #234, we can use intermediate values to avoid recomputing some expensive terms for log_det. We can also revise ComposeTransform to take advantage of the intermediate values. This is especially useful when we take composed transform of flows and use that transform for other inferences such as HMC.

[2019-07-12 23:32] neerajprad commented on #204
@fehiepsi - The timings that you see might be a bit misleading due to [asynchronous dispatch](https://jax.readthedocs.io/en/latest/async_dispatch.html). If you change your last line to `loop(w).block_until_ready()` and ensure that you aren't hitting the cache, the timings for the gpu and cpu are nearly the same. So this is probably not what would explain the 70x difference. I think it is more like

[2019-07-13 01:33] fehiepsi commented on #204
@neerajprad The notebook actually prints out the result of `loop` function. I add `block_until_ready` and still get the same result (as long as the input `w` has constant shape).

[2019-07-13 21:23] fehiepsi opened #243 "Support GramianTransform"
This is a transform from A -> A @ A.T, which if
+ composed with LowerCholeskyTransform will create PositiveDefiniteTransform, which transforms a real vector to a positive definite matrix (though I am not interested in Wishart/Inverse-Wishart distributions, this transform will be helpful for other contributors who are interested in implementing those distributions)
+ composed with CorrCholeskyTrans

[2019-07-15 21:14] neerajprad commented on #204
That's quite strange. I am consistently seeing 160-170ms for both CPU and GPU ([notebook](https://nbviewer.jupyter.org/gist/neerajprad/8408bb8e9ac1d689f4abad0048d415b7). What CUDA version and jaxlib version are you using?

[2019-07-15 22:08] fehiepsi commented on #204
That looks like they are compiling speed. Changing `config.update('jax_platform_name', 'cpu')` also requires you reset the kernel. Maybe `%reset -sf` does not reset the kernel? I am using `jaxlib 0.1.21` install from [this section](https://github.com/google/jax#pip-installation), cuda 100.

[2019-07-15 23:20] neerajprad commented on #204
Thanks, @fehiepsi. I'm able to replicate your results now. The compile time is 3-3.5 X slower for CUDA, and the actual computation seems to be 100-120 X slower on my machine.

[2019-07-15 23:27] neerajprad commented on #204
Maybe I'm doing something wrong though because CPU also seems to be much faster even with `N, D_X, D_H = 5000, 3000, 5000`.

[2019-07-16 01:03] fehiepsi commented on #204
I saw that in my system too. Can't guess why. :D

[2019-07-16 10:27] Nathan-Furnal opened #245 "How to use residual based boostrap with numpyro?"
Hi,

Basically I'm trying to sample from residuals of univariate time series in order to create prediction intervals for the series.

Is there an easy way to do that in Numpyro?

Thanks!

[2019-07-16 16:09] fehiepsi commented on #245
Hi @Nathan-Furnal , could you elaborate or provide some literature regarding what you want to achieve?

[2019-07-16 23:08] Nathan-Furnal commented on #245
@fehiepsi Sure ! I'd like to have a fast and reliable way to create nonparametric prediction intervals.

Something similar to what is described in Hyndman's book on [prediction intervals](https://otexts.com/fpp2/prediction-intervals.html). If the uncorrelated assumption is broken, we can fall back on [block bootstrap](https://otexts.com/fpp2/bootstrap.html)

In an [Uber paper](https://arxiv.org/pd

[2019-07-17 21:16] fehiepsi commented on #245
Hi @Nathan-Furnal, looking like you want to do something like [this section](http://pyro.ai/numpyro/time_series_forecasting.html#Forecasting). There for each set of sampled parameters, we predict future outcomes for the next 34 time steps. I see that it is similar to bootstrap method. After collecting future predictions for all sets of parameters (in NumPyro, this step is pretty fast using `jax.vm

[2019-07-17 21:48] fehiepsi opened #249 "HMC adaptation stuck at warmup phase due to step_size -> nan"
A script to replicate this issue
[code]

[2019-07-17 22:33] neerajprad commented on #249
This seems to run fine on my system, even for much higher warmup steps, but gives poor results, as you might expect.

[2019-07-17 23:14] #249 closed

[2019-07-17 23:17] fehiepsi opened #251 "HMC performs poorly for dual moon potential_fn when progbar=True"
This issue is noticed by @neerajprad . The script
[code]
gives
[code]

[2019-07-17 23:24] fehiepsi commented on #251
Initial observation shows that the parameters stuck at the mean point.

[2019-07-18 00:41] neerajprad opened #252 "fori_collect does not work with non-float arrays"
The issue is ravel_pytree which calls `vjp` and does not work with int32 or bool arrays. As such, `fori_collect` will fail if the default identity transform is used.

[2019-07-18 01:07] neerajprad commented on #251
I don't necessarily see parameters stuck at the mean point, but they are mostly confined to various regions where  I am guessing that the leapfrog trajectory diverges. By fixing the step size in HMC, I can see greater progress, but it is still very bad.

[code]

[vanilla.pdf](https://github.com/pyro-ppl/numpyro/files/3404317/vanilla.pdf)

[2019-07-18 11:09] fehiepsi commented on #245
You can use [quantile](https://docs.scipy.org/doc/numpy/reference/generated/numpy.quantile.html) to get quantiles (instead of HPDI) of prediction. Given a value, I think you can compute the probability by assuming that predictions (at a given time step) follow a Normal distribution and use `np.exp(Normal(mean, std).log_prob(value))`. If you want something like "inverse" quantile, I guess you can u

[2019-07-18 11:27] Nathan-Furnal commented on #245
@fehiepsi Thank you very much for your explanations ! My problem is that I expected the parameters of the residuals not to follow a Normal distribution or at least I'm not willing to take that step yet. Were I to sample over many series, do you think I could use numpyro to define an empirical distribution for the priors ? Thanks again for your time

[2019-07-18 11:43] fehiepsi commented on #245
We usually assign equal probability for each prediction. If you want to compute probability of 1 prediction, then it is `1 / len(preds)`. You can use the above `inv_quantile` formula as cumulative distribution function. So if you want to compute probability of an interval (a, b), then it is `sum(preds > a & preds < b) / len(preds)`. But I guess what you want is a bit more complicated.

[2019-07-18 11:59] Nathan-Furnal commented on #245
@fehiepsi Great ! I'll try some things of my own then, thank you for your help!

[2019-07-18 13:32] fehiepsi commented on #245
@Nathan-Furnal Thanks for keeping the discussion so far! Please make a feature request if there is something missing in NumPyro. :) Btw, we have a [forum](https://forum.pyro.ai/) for discussions like this. Posting there would bring attention from community so you might get some better answers for your questions.

[2019-07-18 13:32] #245 closed

[2019-07-18 20:42] fehiepsi commented on #251
@neerajprad I made a Stan code to see how it performs. It is surprised that Stan did a good job for sampling this distribution.
[code]
Despite that n_eff is pretty small, the posterior is good
[code]
[stan.pdf](https://github.com/pyro-ppl/numpyro/files/3408363/stan.pdf)

[2019-07-18 20:57] neerajprad commented on #251
Wow, that looks almost too perfect! These kinds of examples are important for stress testing.

[2019-07-18 21:31] neerajprad commented on #251
@fehiepsi - I ran this on Pyro and even with 1000 samples, it does quite well actually. This is either a bug in NumPyro or something in JAX.

[vanilla.pdf](https://github.com/pyro-ppl/numpyro/files/3408510/vanilla.pdf)

[2019-07-18 22:27] fehiepsi commented on #251
Yup, it is likely a bug of JAX CPU. I test the model in GPU, and it gives a pretty good result. Currently, something like `np.exp(-100.)` returns a negative value in CPU. Maybe this kind of imprecision happens for other operators as well.

[2019-07-19 01:13] fehiepsi commented on #251
It seems that the issue is caused by https://github.com/google/jax/issues/939. When I disable `progbar=False` (which runs fori_loop instead of python loop), I get good result. Hopefully the next jaxlib version solves these problems.

[2019-07-24 12:11] lumip opened #254 "Usage of the `scale` effect handler?"
The `scale` effect handler was introduced in commit [495cdbf2](https://github.com/pyro-ppl/numpyro/commit/495cdbf2c696ca9568e5a074e5b45d2e9eb2784c) but varies from other handlers in that it doesn't accept a callable `fn` argument on construction but only the scaling factor. Therefore I'm unsure how to use `scale` with any given model...

I'm suspecting that the `fn` argument should be there but ha

[2019-07-24 17:25] neerajprad commented on #254
I think that's right, thanks for bringing this up. I think this was intended to be used as a context manager, but there is no reason why this shouldn't be a regular effect handler. I'll fix this shortly.

[2019-07-24 18:44] #254 closed

[2019-07-25 22:56] neerajprad opened #256 "Sampling issues with NeutraHMC"
I noticed a couple of issues when refactoring some of the autoguide code:

 - [x] It seems to me that there is a bug in the transformed PE since the `unpack_fn` currently also applies the transform to constrain the samples. As such the original PE function gets constrained instead of unconstrained samples. ~While this can be fixed with the following changes, I am unable to get a good acceptance ra

[2019-07-25 23:00] neerajprad opened #257 "Add IAF VAE"
Now that we have an IAF autoguide, it should be relatively straightforward to add an IAF layer to our VAE example and do some comparisons.

[2019-07-26 01:43] neerajprad opened #259 "Slow compilation of while loop when using AutoIAFNormal"
In `test_autoguide.py::test_logistic_regression[AutoIAFNormal]`, almost 25 seconds out of 32 odd seconds are taken to just compile the while loop. We also cannot use `fori_collect` because of #252.

[2019-07-26 19:44] neerajprad opened #261 "Add condition handler"
As requested in https://forum.pyro.ai/t/transforming-hmc-sampler-with-autoguides/1144/12.

[2019-07-26 21:30] fehiepsi commented on #259
I can confirm this behaviour. The `body_fn` is fast to run and compile but `fori_loop` takes a lot of time. This is likely JAX bug but we need to isolate the reason.

[2019-07-26 21:37] #261 closed

[2019-07-26 21:46] neerajprad commented on #259
Thanks for taking a look, @fehiepsi. It is probably some combination of stax NNs and our effect handling stack. I'll try to isolate this soon.

[2019-07-26 21:57] neerajprad commented on #259
This issue seems to be much worse with the current JAX master actually. Even `AutoDiagonalNormal` which current compiles in a second seems to take a really long time on JAX master.

[2019-07-26 22:36] fehiepsi commented on #240
This is fixed upstream, but we keep this issue until the next JAX release.

[2019-07-27 03:01] fehiepsi commented on #259
I guess this might be related to the change of JAX fori_loop in JAX master (but I haven't test it yet). We need to either jit fori_loop for jit body_fn and use native loop. According to a benchmark which I did [here](https://github.com/google/jax/issues/852#issuecomment-508899753), jit fori_loop is fastest. We might jit fori_loop by default in `numpyro.util.fori_loop`, WDYT?

[2019-07-27 03:22] fehiepsi commented on #252
@neerajprad  how about we patch [this function](https://github.com/google/jax/blob/master/jax/api.py#L952) to do nothing? it is used to raise errors if inputs of `vjp` are int/bool. Or we can create a `vjp` + `ravel_pytree` version which does not have this check. I prefer using `patch` but would like to hear your opinion too.

[2019-07-27 15:47] fehiepsi commented on #256
If you change the default `num-iters` from 10000 to 100000, you'll get better fit for guide. It seems that your fix also helps improve n_eff and r_hat a lot. The only issue is neutra posterior is not as good as before, but I doubt that it is a side effect of using autoguide transform.

[2019-07-27 18:40] neerajprad commented on #259
I see that the issue is still open. I think jitting the for loop seems a good fix on our end!

[2019-07-27 18:48] neerajprad commented on #259
Hmm..I'm not sure if the JAX issue that you linked to would handle this, because in this case it looks like the compilation time without JIT is itself higher for some reason. We can check once the upstream issue is fixed.

[2019-07-27 18:49] neerajprad commented on #256
Good to know, I'll play around with it some more.

[2019-07-27 19:22] fehiepsi commented on #259
Yes, there are some other scenarios which trigger compiling time. E.g. [in here](https://github.com/google/jax/issues/772), by random change in computation of that function, the compiling time goes from 2s to 1m. I think something relevant is happening here and it is hard to detect. :(

[2019-07-28 05:10] #238 closed

[2019-07-29 19:32] fehiepsi commented on #251
This is a really tricky issue. The smallest repro code I have so far is
[code]
which `f(z)` will return
[code]
while `jit(f)(z)` will return
[code]

[2019-07-29 21:34] fehiepsi commented on #251
Hmm... spending a day to debug this and it turns out that the issue is fixed in JAX master version.

[2019-07-30 06:08] #252 closed

[2019-07-30 20:08] #241 closed

[2019-07-31 02:03] #251 closed

[2019-07-31 02:05] #240 closed

[2019-07-31 02:05] #214 closed

[2019-07-31 03:03] fehiepsi commented on #259
@neerajprad Do we still need to follow up with this issue? We have solved it with `jit(fori_loop)`. In case we need to follow up, can you update the title to better reflect the issue?

[2019-07-31 05:05] neerajprad commented on #259
I am fine with closing this but we should check this and file an issue upstream in JAX if this isn't resolved with https://github.com/google/jax/issues/852.

[2019-07-31 05:05] #259 closed

[2019-08-02 00:53] #242 closed

[2019-08-04 02:35] fehiepsi opened #274 "Refactor SVI api"
I think we can simplify the common procedure of svi by
- [x]  group `(opt_init, opt_update, get_params)` into one input

[code]
by
[code]
The reason is we usually don't work with opt_init, opt_update.
- [ ]  Merge the input `i, rng, opt_state` into `svi_state`, so that
    - svi_init(...) returns init state
    - svi_update(state, model_data, guide_data) returns new state
This way, users usually d

[2019-08-04 18:45] neerajprad commented on #274
I think grouping the relevant variables into a state namedtuple can clean up the code.

Why not just use lax.scan for this? If we need to reimplement this (e.g. for progress bar updates), I would suggest calling it `fori_scan` or something instead which will be cleaner than adding another optional arg to `fori_collect` (we can abstract out the common part into a separate function).

This seems lik

[2019-08-04 20:31] fehiepsi commented on #274
That's exactly what we need. Thanks for pointing that out! I wonder if `lax.scan` creates extra overhead for the purpose of differentiation, but even in that case, we can create `fori_scan` as you suggested.

Yup! I just edit the topic as separate tasks. Feel free to pick any point which you want to work on. It would be great if you can come up with a nice implementation of `module` handler. Right

[2019-08-05 23:07] fehiepsi opened #276 "cleanup code"
Just make a list here for some changes which have been put upstream to JAX to simplify our code base.
- np.var has `ddof` support
- np.median is implemented and has batching rule
- np.cov is available
- _elemwise_no_params functionality is available in jax
- various nonlinearity at stax is available: stax.Sigmoid (so we can revise vae example with this), slax.Elu
- entr/multigammaln is available a

[2019-08-09 07:15] neerajprad opened #279 "HMM example failing on travis with jax=0.1.41"
With the lates jax, the hmm example throws an error in travis with the following message:

[code]

I am unable to reproduce this locally on my mac.

[2019-08-09 17:13] #236 closed

[2019-08-12 06:02] kalradivyanshu opened #281 "Pin jaxlib version in next release"
Hey,

I was following: http://pyro.ai/numpyro/bayesian_regression.html, and tried to run the following code:

[code]

and it gave the error:

[code]

Can you let me know why this is happening? Thanks.

[2019-08-12 06:09] neerajprad commented on #281
Could you check what is the version of numpyro and jax that you are using? I think there is probably a mismatch in the numpyro and jax / jaxlib versions. A quick fix might just be to install from source instead of using pip.

[2019-08-12 06:21] kalradivyanshu commented on #281
Importing jax actually gives me an error

[code]

[2019-08-12 18:33] neerajprad commented on #281
I think you are using a more recent version of jaxlib that is incompatible with the jax version that numpyro release depends on. You can downgrade jaxlib by doing `pip install jaxlib==0.1.14` (may not work on all platforms):

Pinning the versions as below will be compatible with NumPyro release.
[code]

**TODOs for next release:**

 - [ ] If we are pinning jax version, we should also pin the jaxli

[2019-08-12 19:17] kalradivyanshu commented on #281
Yup, downgrading jaxlib, made it work, thanks!

[2019-08-12 22:58] fehiepsi commented on #256
@neerajprad @martinjankowiak I have troubles with using NeutraHMC on covtype dataset, where the guide seems doing good job (with some flags such as `nonlinearity=stax.Elu, skip_connections=False`) but it is so slow (8x slower) to sample from the transformed potential function (using IAF transform). The transform's computation does not cause much overhead, but the problem is the binary trees are so

[2019-08-13 17:32] #279 closed

[2019-08-13 18:01] #276 closed

[2019-08-14 22:43] #216 closed

[2019-08-22 05:51] neerajprad opened #285 "Use classes as interface for SVI and MCMC"
**Tasks** (to be expanded):
 - [x] Create `SVI` class; mark existing `svi` interface as deprecated.
 - [x] Create `MCMC` class; mark existing `mcmc` interface as deprecated.
 - [x] Create `Optim` class to wrap over jax optimizers.

**Motivation:**

Related: #274

As I am looking at the codebase with fresh eyes, it seems to me that we have to write a lot of boiler-plate code in NumPyro due to the f

[2019-08-22 06:15] fehiepsi commented on #285
I like to use classes at those places from early time!! Not just SVI, I think it is better to make `mcmc` a class. The function `mcmc` requires me to change the source code every time to get some results for debugging (e.g. to get num_steps from multi-chains). With classes, it will be more flexible for us to add methods for different purposes.

I think if we use classes for inference APIs `MCMC`,

[2019-08-22 07:27] fehiepsi opened #287 "substitute logic in autoguide is inconsistence"
Currently, e.g., in AutoDiagonalNormal class, we substitute unconstrained scale value in `median`, `quantiles`, `sample_posterior`. I think that we should use `substitute(self._loc_scale, base_param_map=params)()` there.

[2019-08-22 17:20] neerajprad commented on #285
Okay, great to know. Let us target having a nice simple interface for both of these for the next release!

[2019-08-22 17:37] neerajprad commented on #287
That's definitely wrong. Also, I think substitute should substitute the constrained value for `param` sites by default (exactly as in `base_param_map` but in this case the domain of the values is Real and we apply the full transform to constrained).

[2019-08-22 23:43] fehiepsi opened #288 "mcmc is so slow with the new version of JAX"
The new [refactor of JAX](https://github.com/google/jax/issues/587#issue-430578895) makes our MCMC extremely slow. Tests in `test_mcmc` are really slow too. This is high priority because otherwise, we can't run tests in Travis.

[2019-08-23 00:04] neerajprad commented on #288
@fehiepsi - Is it the same issue as you have linked? If so, we can probably go back to our earlier hack in `fori_collect`.

[2019-08-23 00:24] fehiepsi commented on #288
@neerajprad I tried it but it does help. The issue happens in `test_warmup_adapter` so I guess the issue lies at `lax.cond`. Still investigating...

[2019-08-23 02:08] neerajprad opened #290 "Add cheap tests to assert correct computation of ELBO"
With dynamic constraints and changes in the autoguide class, it is easy to introduce regression for a class of models while having our current test suite pass. We should have really cheap unit tests (not doing full inference) that validate ELBO computation for different classes of models (with autoguides and custom guides) so as to avoid such regressions.

[2019-08-23 02:11] fehiepsi commented on #290
Agree, this is important to have.

[2019-08-23 05:09] fehiepsi commented on #288
Hopefully, the only problem is the one at https://github.com/google/jax/issues/1239.

[2019-08-23 19:05] mattjj commented on #288
Sorry for the disruption! I think google/jax#1240 should fix this, but please let me know if it doesn't (by opening an issue on the JAX issue tracker with a new repro, since AIUI the repro in google/jax#1239 has been fixed).

[2019-08-23 19:24] neerajprad opened #292 "Separate out primitives from the handlers module"
We can name this module `primitives.py` or `pyro.py`. This will help point out which statements are pyro primitives vs regular functions. e.g. `pyro.sample`, `pyro.param`, etc.

[2019-08-23 21:04] fehiepsi commented on #292
Agreed! Having to use `from numpyro.handlers import sample, param` is inconvenient, especially for users who is familiar with `pyro.sample`, `pyro.param`,... I think we should expose them to `numpyro.__init__` as in pyro.

[2019-08-23 21:20] neerajprad commented on #292
Yes, I'm just refactoring this. Now they can use `numpyro.sample`. I thought that putting a module called `pyro` might be problematic when working with pyro imported, but this should provide a similar way to access numpyro primitives.

[2019-08-23 21:24] fehiepsi commented on #288
Hi @mattjj , thanks for a quick fix! With that PR, our inference algorithms are working now. Indeed, it seems that everything is about 2x faster than before. E.g. our `test_mcmc` tests took 240s with jax=0.1.41 but only took 142s with that PR. Whoa!!!

[2019-08-26 03:28] #288 closed

[2019-08-26 03:34] fehiepsi commented on #292
Thanks @neerajprad ! The import section is more reasonable now. I still see it a bit overwhelm. Let's see how things change when we refactor SVI/MCMC to classes. :)

[2019-08-26 03:34] #292 closed

[2019-08-26 23:16] neerajprad opened #298 "Remove params arg from SVI"
With the `module` primitive we can remove the params arg to SVI and also simplify the AutIAFNormal class.

[2019-08-27 00:04] neerajprad opened #299 "Use type hints whenever possible"
Since we are using python 3, we can start taking advantage of type hints wherever possible.

[2019-08-27 18:29] fehiepsi opened #303 "Clean up docs/source/conf.py file"
I think we can change the names `Numpyro` -> `NumPyro` there, but I am not sure if the changes will affect the build of the website. So I make this issue.

cc @jpchen @neerajprad

[2019-08-27 19:13] #303 closed, assigned to nobody

[2019-08-28 19:17] neerajprad opened #307 "Sequential chains in MCMC is broken"
It seems that sequential chains (at least with the current JAX release) is broken. Ref to the failing test in #306.

[2019-08-28 19:44] #307 closed, assigned to nobody

[2019-08-28 20:28] fehiepsi opened #308 "Update docs/tutorials"
Let's make sure that docs/tutorials/examples are updated and generated correctly for the next release.

[2019-08-28 21:50] neerajprad opened #309 "Add progress bar for HMC num_chains > 1"
Right now, it is very hard to ascertain progress when running MCMC with num_chains > 1. Let us figure out ways to show progress bar updates. Even a progress bar without diagnostic updates will be useful.

Currently, chain methods that support progress bar:

- [x] parallel
- [x] sequential
- [x] vectorized

With this, we can make the following enhancement.

- [x] Output other metadata like when the

[2019-08-28 21:58] fehiepsi commented on #309
Hmm, is this possible? AFAIK, the progressbar will only show the progress of compiling the code, while the real execution is hidden. Hopefully, there will be some tools in JAX allowing us measure this progress.

[2019-08-28 22:01] neerajprad commented on #309
Maybe not yet; it will likely depend on solutions for https://github.com/google/jax/issues/364. For sequential chains, it might be possible (though I am not fully sure).

[2019-08-29 13:30] fehiepsi opened #312 "Add tests and allow users use vmap instead of pmap in MCMC"
Probably this is the last piece to make our internal composable with jax api. Fixes #312

Working
- [x] sample_kernel
- [x] nuts_next
- [x] hmc_next
- [x] warmup adapter

[2019-08-29 13:43] fehiepsi opened #313 "Avoid recompiling when changing num_warmup, num_samples"
~The latest version of jax enables [caching](https://github.com/google/jax/blob/master/tests/lax_control_flow_test.py#L903) mechanism for while_loop cond and body function. So we'd probably be able to support this feature. I am not sure if it is possible now, maybe we want [caching2](https://github.com/google/jax/blob/master/tests/lax_control_flow_test.py#L918) mechanism instead.~

[2019-08-29 14:06] fehiepsi commented on #313
Actually, this is simple with sequential chain (currently jit+pmap does not work for cpu/gpu). We just simply make a wrapper for mcmc and jit it. Changing `init_step_size` e.g. is possible now, but we will need to replace some thing like
[code]
at warmup adapter to `lax.cond`.

I'll leave this as open to support jit for each of hyperparameters num_warmup, num_samples, adapt_step_size, adapt_mass_m

[2019-08-29 23:39] #298 closed

[2019-08-30 05:29] #274 closed

[2019-08-30 05:32] fehiepsi commented on #308
Close my pass for this. :)

[2019-08-30 05:32] #308 closed

[2019-09-04 05:50] #312 closed

[2019-09-04 05:50] #285 closed

[2019-09-04 17:45] neerajprad opened #319 "Bullets are not rendered in notebooks"
It seems like bullets are not rendered in our notebook tutorial. e.g. http://pyro.ai/numpyro/bayesian_regression.html

Let us fix it for the next release.

<img width="717" alt="Screen Shot 2019-09-04 at 10 44 52 AM" src="https://user-images.githubusercontent.com/1762463/64278220-140faf80-cf01-11e9-9a64-a4d9eb275440.png">

[2019-09-04 18:36] fehiepsi commented on #319
I think this is a duplication of #231. We have fixed this issue but haven't updated the website yet.

[2019-09-04 18:39] fehiepsi commented on #319
Basically, we need an empty list before starting Markdown list.
[code]

[2019-09-04 19:19] neerajprad commented on #319
Closing this as duplicate. Let us track this in #231, and make sure that the tutorials are correctly updated before release.

[2019-09-04 19:19] #319 closed

[2019-09-06 17:02] fehiepsi commented on #281
Closed! We currently pinned jaxlib to a fixed version. Will relax it again after the release.

[2019-09-08 06:30] #281 closed

[2019-09-08 07:23] neerajprad commented on #184
This should be fixed in the current release - https://pypi.org/project/numpyro/0.2.0/.

[2019-09-08 07:23] #184 closed

[2019-09-08 07:24] neerajprad commented on #231
Closing since this should be fixed now. Please reopen if you see any other formatting issues with the tutorials.

[2019-09-08 07:24] #231 closed

[2019-09-09 17:20] fehiepsi commented on #148
More tasks to complete this issue:

- [ ] Implement predictive for log likelihood. (I wondered if we can store `args`, `kwargs` in mcmc object so that these model-related information can be accessed when we pass `mcmc` object to other library (e.g. arviz))
- [ ] Implement predictive for prior. For this purpose, we can have `num_samples` and allow empty `posterior_samples` as in NumPyro.

[2019-09-11 12:42] guilhermebs opened #333 "Problem with sample_shape"
There seems to be a problem with sample_shape in version 0.2. Apparently the object that is returned by the sample primitive cannot be indexed. Also calls to `len()` and `.shape` do not return the expected results. It used to work in version 0.1

[code]

[2019-09-11 13:35] fehiepsi commented on #333
@guilhermebs Thanks so much for a clear bug report! This is a regression when we tried to find the initial points. We fixed this issue at #332. As a temporary workaround, you can replace
[code]
by
[code]
:)

[2019-09-11 13:43] guilhermebs commented on #333
Happy to help! I'm really enjoying the numpyro.
I've done some additional testing. i was not using 0.1.0, but rather  commit 91e2fae5b03b21007d858d35292c0dfefb4b111d

In my actual code I'm using Uniform distribution instead of normal distribution. Is there a workaround for this case as well?

[2019-09-11 13:52] fehiepsi commented on #333
Yes, I just tested that the workaround works for Uniform distribution as well
[code]

[2019-09-11 17:06] neerajprad commented on #333
Thanks for giving NumPyro a try. As mentioned by @fehiepsi, this should be fixed by #332 which is merged into the master branch. Please feel free to reopen this if you face any issues!

[2019-09-11 17:06] #333 closed

[2019-09-16 16:59] fehiepsi commented on #204
Regarding the performance of BNN in GPU, I have sent this benchmark to JAX team. Hopefully, inference time in GPU will be improved in the next versions of jax/jaxlib.

[2019-09-17 23:10] tuchandra opened #337 "Document behavior of primitive statements in README"
Hello! I'll preface this issue by stating that I'm new to numpyro, so there's a significant chance that I'm not using `numpyro.sample` correctly.

When building models, I want to test draws from my random variables to make sure I'm passing parameters correctly, getting the kwargs correct, etc.; I'll lift a line out of a model function, [like this one](https://github.com/pyro-ppl/numpyro/blob/maste

[2019-09-17 23:36] neerajprad commented on #337
That is correct. If you are using this `numpyro.sample` statement outside a model, you should instead consider calling the distribution's `sample` method instead. The reason why it works in the context of inference is that the model code is wrapped in a `seed` handler which provides the random generator seed to distribution instances and splits the seed for subsequent `sample` statements. Refer to

[2019-09-17 23:38] neerajprad commented on #337
I am closing this issue. Feel free to ask any follow up questions here, or ideally on the [forum](forum.pyro.ai), which will have better discoverability for other users!

[2019-09-18 00:52] fehiepsi commented on #337
You already get the main point, that it is by design. We can support `numpyro.sample("x", d.Normal(0, 1), random_state=rng)` or something likes that but it seems redundant to me (using `d.Normal(0, 1).sample(key=rng)` as you did already gives what you need). Personally, I would consider the primitives are meant to be used inside a stochastic function whose random state can be initialized using a r

[2019-09-18 00:57] fehiepsi opened #338 "Update jax/jaxlib to newer version"
There are some new features of jax which I need for #230 (regarding some new initializers for nn's parameters). So it is a good time to relax version restriction for the last release.

[2019-09-18 02:30] #41 closed

[2019-09-18 13:15] tuchandra commented on #337
Thank you both for your replies. That makes sense and I appreciate the clarification!

I don't think the design is problematic at all. But it may be helpful for this to be documented in [numpyro.sample](http://num.pyro.ai/en/stable/primitives.html#numpyro.primitives.sample), since it is different from `pyro.sample`. The Pyro tutorial [includes](http://pyro.ai/examples/intro_part_i.html#The-pyro.sa

[2019-09-18 13:18] fehiepsi commented on #337
Good point! We should document it. Thanks!! :)

[2019-09-18 20:18] #338 closed

[2019-09-19 04:34] fehiepsi opened #341 "Benchmark MCMC vectorized method"
We need to benchmark `vmap + fori_collect` vs `fori_collect + vmap`. Using the latter will allow us add progress bar for multi-chain (issue #309). In addition, the latter one will help us benchmark the effect of vectorizing chains having different trajectory lengths (because we can easily ignore compiling time).

[2019-09-19 17:01] fehiepsi opened #343 "Adapt Unit distribution / pyro.factor from Pyro"
We have some examples which uses Delta distribution to inject log_prob (hmm, neutra), so it is good to have a utility for those patterns:
+ inject a log_prob term
[code]
+ convert a log_prob_fn to a distribution (without having to define a custom distribution). Currently we use the following way (which is not quite accurate): the log_prob at `x` site `dist.Normal(0, 100000)` will add a large negat

[2019-09-22 15:01] timnon commented on #337
Ran into the same problem, also expected a similar behaviour as in pyro. It is also nice to have the option to sample from a complete model for testing just by running the `model`-method.

[2019-09-22 15:37] timnon opened #346 "error when running minipyro.py example: data type "guide_loc" not understood"
I get the following error when running `minipyro.py` from the example folder with version `0.2.0`:
[code]

[2019-09-22 16:50] neerajprad commented on #346
I think the SVI code (in particular, the ELBO loss) was recently changed so the example that you see on the master branch will need NumPyro's current master branch to run.

You can run the earlier version of the tutorial by checking out the 0.2 tag `git checkout v0.2.0`, which should run fine with NumPyro's 0.2 install. Alternatively you can run the example code in the master branch but you'll nee

[2019-09-22 17:00] neerajprad commented on #337
@timnon - Thanks for the feedback. We have tried to keep the interface as similar as possible, but there are a few things that cannot be done in a purely functional land. The particular issue in this case is that `sample` statements will need an explicit PRNGKey to generate samples, since there is no global random state.

Instead of calling `model()`, this requires that users call `seed(model, ran

[2019-09-22 17:02] neerajprad commented on #337
I have reopened this issue so that this is better highlighted in the README.

[2019-09-22 17:44] timnon commented on #346
Thanks, the old version works.

[2019-09-22 17:44] #346 closed

[2019-09-22 18:01] timnon commented on #337
Thanks, this seems to be a deeply technical issue, but solution with the `seed`-function works well. For people looking for some minimal copy-paste code how to sample from some numpyro model:
[code]

[2019-09-23 11:23] timnon commented on #337
P.S. the correct way to sample with jax is probably:
[code]

[2019-09-23 18:14] neerajprad commented on #337
@timnon - You can also use `jax.vmap` to vectorize the sampling (instead of generating samples sequentially):

[code]

[2019-09-23 18:38] fehiepsi commented on #337
@timnon probably you want `numpyro.handlers.seed(model,key_)` instead, because `key` is split in the next iteration.

The reason why we don't use numpy global random state is those states will be constant under jax transformations such as jit, vmap. That means if we use global random state, we can get a sample from `model` by calling `model()`, and to get another sample, we can keep calling `model

[2019-09-24 15:59] timnon commented on #337
@neerajprad I tried the vectorized approach (i think there `rngs` should be a parameter of the vectorised method):
[code]
However, i get `TypeError: <class 'numpyro.handlers.seed'> is not a valid Jax type
`. I never used jax before, but i think most people will first try to sample from some model when starting with numpyro for some sniff tests.

[2019-09-24 16:12] fehiepsi commented on #337
@timnon It is a typo: `numpyro.handlers.seed(model, key)` -> `numpyro.handlers.seed(model, key)()`.

Agreed! I will make a predictive utility for this purpose today, so given a `model`, you can simply do `predictive(rng, model, num_samples)` to get `num_samples` samples from all latent sites of your model. :)

[2019-09-24 17:38] neerajprad commented on #337
As @fehiepsi mentioned, that was a mistake in the syntax; fixed above.

[2019-09-24 17:41] timnon commented on #337
thanks @fehiepsi . For the sake of completeness, here is the complete best way to sample:
[code]
wouldnt it be easy to include some `sample_model`-method?

[2019-09-24 17:53] neerajprad opened #349 "Higher level interface for predictions and arviz integration"
### ArviZ integration

In https://github.com/arviz-devs/arviz/pull/811, I already made an attempt for this integration. As demonstrated in [InferenceData introduction](https://arviz-devs.github.io/arviz/notebooks/XarrayforArviZ.html), there are several groups of an inference data (prior/posterior/predictive/log_lik/inferece_stats/observed_data/...). Currently, users can do something like [NumPyro

[2019-09-24 23:55] neerajprad commented on #349
Could you point to the arviz code that needs access to args / kwargs to run it? I wonder if there is a way to include it in the wrapper for arviz rather than storing it in MCMC.

Could you clarify why we need this? This would have been observed by some observed site like `pyro.sample('obs', .., obs=y)`. Is it not possible to extract this from the trace instead? For instance, your forecasting model

[2019-09-25 00:32] fehiepsi commented on #349
We need arg, kwargs to compute log_likelihood  at observe site. The PR
above does not compute log_lik so currently, arviz does not need to access
args, kwargs. Otherwise, numpyro users will need to compute obs_data,
log_likehood themselves and  provide them to arviz through from_numpyro
method. That’s fine but redundant to me.

About using sample sites to store transformed values, it is doable if

[2019-09-25 01:01] neerajprad commented on #349
log_likehood themselves and  provide them to arviz through from_numpyro
method. That’s fine but redundant to me.

I think we should provide those utility functions, but I'm trying to understand the constraints here. Based on what you say, we could provide a `log_likelihood` function that depends on `args, kwargs`, but I'm guessing that arviz requires this function to only depend on the model?

val

[2019-09-25 01:32] fehiepsi commented on #349
I guess I have given a bad explanation. `arxiv` only needs to access log_likelihood value at the observed node. So there are two ways to do it:
+ compute the value in numpyro: this requires users to provide `log_likelihood` value to `az.from_numpyro` method.
+ compute the value inside the `az.from_numpyro`: this requires access to `args`, `kwargs` so that we can trace the model to get log_likeliho

[2019-09-25 01:34] neerajprad commented on #343
The second issue that you mentioned above seems a bit unrelated to the issue of delta distribution. Could you create a separate issue regarding the transformed potential energy? It will be nice to follow these separately. I think the latter issue will get resolved with #348.

[2019-09-25 01:44] neerajprad commented on #349
Sure, that sounds reasonable. I suppose we can store the args, kwargs in MCMC and provide a `log_likelihood(model, posterior_samples, *args, **kwargs)` function.

Hmm..`obs=` will be necessary I think, otherwise we'll run HMC on those delta distributions and that will forever be rejected.

[2019-09-25 01:48] fehiepsi commented on #343
Sorry, when working on #348, I think that it is better to define a custom distribution and move potential energy computation into `log_prob` method of that custom distribution. I added an edit note to the topic issue but forget to change the title. >__<

[2019-09-25 01:48] #343 closed

[2019-09-25 01:59] fehiepsi commented on #349
Sorry, my bad. I should have distinguished `model` and `forecast_model`. The former is the one which we run MCMC, while the latter is just useful for predicting/forecasting. But as you said, having `obs=...` will be helpful if we want to use `model` for both inference and forecasting (but doing so will slow down MCMC I guess).

In addition, now I think that having `return` node which stores a pytr

[2019-09-25 02:50] fehiepsi commented on #337
@timnon Yeah, that is simple to add (we will add it soon). We have mostly focused on building inference engines. Given that these engines are stable now, we should focus more on user experiences. Feedbacks from you and @tuchandra in this topic are very valuable to us, thanks a lot!

[2019-09-25 03:12] tuchandra commented on #337
I'm glad it was useful :) thank you for being so responsive and helpful!

[2019-09-25 04:49] #341 closed

[2019-09-25 06:11] neerajprad commented on #349
I don't think there should be any significant slowdown since the delta won't add anything to the PE term, but adding the same obs keyword isn't a very elegant solution. Do you expect the users to write this forecast function?

[2019-09-25 07:58] timnon opened #351 "Trying to reproduce the textmessage-example from bayesian-methods-for-hackers"
I had some problems recreating the textmessage-example from bayesian methods for hackers (https://nbviewer.jupyter.org/github/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/blob/master/Chapter1_Introduction/Ch1_Introduction_PyMC2.ipynb).

This example requires a `DiscreteUniform`-distribution, which can be created via a `Categorical`. However, the following model stall

[2019-09-25 13:03] fehiepsi commented on #351
Hi @timnon, the issue is your model does not have any latent variable for MCMC to run over. Your `tau_` is an observed variable. You can take a look at this [gist](https://nbviewer.jupyter.org/gist/fehiepsi/aa6ad7ff128ba57ffc46ca1101bb35fc) to see how to make a corresponding model in NumPyro.

[2019-09-25 13:28] fehiepsi commented on #349
I don't mean the slowdown is caused by using Delta distribution. I mean the slowdown is caused by calculating the extra terms (e.g. log(y)) which does not contribute to joint density computation.

I am not sure for other users, but it is enough for my purpose. For example, in the [ts forecasting tutorial](http://pyro.ai/numpyro/time_series_forecasting.html#Forecasting), I did use the low-level han

[2019-09-25 21:26] fehiepsi opened #355 "`plate` has unexpected behaviour when dist has batch_shape"
I faced this issue while revising baseball example using `plate`. The repro code
[code]
should return `(10,)` but currently, it returns `(10, 10)`.

cc @neerajprad

[2019-09-25 21:45] neerajprad commented on #355
Thanks for the bug report! We need to handle the interaction between batch and sample shapes better. I'll fix this shortly.

[2019-09-25 22:22] neerajprad commented on #355
Hmm..this issue is actually more complicated. Currently we can only change a distribution's shape on the left. If we have a distribution with batch shape `[2, 1, 10]`, we cannot just expand it to some arbitrary batch shape like `[2, 5, 10]`, unlike in Pyro which allows for this using `.expand`. The case above is more easily handled though. I'll address that first.

[2019-09-26 02:57] fehiepsi commented on #355
Do you mean that our distribution implementation does not allow this? Typically, I think we can just do `dist.batch_shape = (2, 5, 10)` to "expand" the distribution. I guess we are missing something like
[code]
in `distributions` module?

[2019-09-26 04:47] fehiepsi commented on #351
@timnon Thanks for raising this issue. I am going to close this issue because the site effect that MCMC stuck when the model has no latent site has been addressed in #352. For a repro code of the textmessage example, you can take a look at the gist in the above comment. :)

[2019-09-26 04:47] #351 closed

[2019-09-26 15:12] fehiepsi opened #357 "Declare dependent dimensions"
In Pyro, we can declare dependent dimensions through `.to_event()`. Currently, this is useful for correctly computing log_prob of a transformed distribution where `transform.event_dim>0` but `base_dist.event_shape=()`. In particular, we need this to declare `base_dist` in autoguide.

In Pyro, this is achieved by using Independent class. It seems unnecessary to me. Can we just manipulate `batch_sha

[2019-09-26 17:18] neerajprad commented on #355
I think doing it in a generic way at the Distribution class level will require us to broadcast parameters (so that other methods like mean also broadcast correctly), but I think it might be harder when distributions have multiple parameterizations or intermediate tensor values. That's the reason why we have an instance level expand in pytorch. Anyways, I don't see the need for this currently.

[2019-09-26 18:16] fehiepsi commented on #355
Now, I understand your point. Agreed that we don't need it.

[2019-09-26 20:18] #355 closed

[2019-09-26 22:09] neerajprad commented on #357
I think following the Pyro pattern here will be more modular. Adjusting the `batch_shape`, `event_shape` inside each distribution will lead to issues like `batch_shape` not matching the shape of distribution parameters which will necessitate all kinds of checks that are avoidable. Using `.to_event` will confine the change to a single class / method. I am happy to implement a version of this.

[2019-09-26 22:41] fehiepsi commented on #357
Sure, I didn't follow up with Distribution development from the start so I didn't appreciate much the current design decision. I imagine the method `to_event` can be implemented as
[code]
For some situations such as `loc.shape=(10, 1)`, `scale.shape=(1, 10)`, this still works.

While writing this reply, I do agree that using Independent will be beneficial for functions which utilizes this dependen

[2019-09-26 23:23] neerajprad commented on #357
Np, it is always good to question existing design patterns! Regarding the solution above, it is not that it cannot be done, but this will leak into individual distribution classes (methods like `log_prob`; additionally, if any methods use batch shape in the constructor to do something like set some internal attribute, and we later change batch shape, we will need to also change what was done inter

[2019-09-26 23:33] fehiepsi commented on #357
Thanks @neerajprad ! Based on your comment, it looks like an effect handler to me. :D

[2019-09-27 02:25] #357 closed

[2019-09-27 14:39] fehiepsi opened #362 "Optimize test suite to run faster on Travis"
TODOs:
 - [ ] Investigate why individual distribution tests take in the order of seconds. Maybe its just the JIT compilation of the gamma sampler? In which case, maybe we should disable JIT in some of these tests.
Du: JIT compilation for gamma sampler is slow, but disable it would be much slower.
 - [x] Remove duplicate MCMC tests for the older functional api. Only a few can be tested.
 - [x] Clea

[2019-09-27 17:50] neerajprad commented on #362
I think now is also the time when it might be worth going through the test suite and seeing what tests take up most of the time. It is usually the case that there are only a few tests that take up a majority of the time, and we can explore if that can be optimized. Some of the distribution tests took longer than 1s to generate samples (mostly to do with the gamma sampler) earlier, but I am not sur

[2019-09-27 18:40] fehiepsi commented on #362
let me do quick profiling for this

I see, let's see what profiling result is first.

[2019-09-27 23:58] fehiepsi commented on #362
### test_distribution: 310s
[code]
It seems that half amount of time is spent in LKJ distribution. We need to optimize this number.

[2019-09-28 00:04] fehiepsi commented on #362
### test_mcmc 184s
[code]
I think most of the tests here are covered in mcmc_interface. We only need to keep some of those to guarantee functional api works.

[2019-09-28 00:17] fehiepsi commented on #362
### test_hmc_util 217s
[code]
oppsss... those initialize strategy are so slow??? we need to investigate this!

[2019-09-28 00:20] neerajprad commented on #362
Oh wow..thanks for timing these! This will serve as a good master issue to optimize our test suite or do perf optimization.

[2019-09-28 00:25] fehiepsi commented on #362
### test_mcmc_interface 362s
[code]

[2019-09-28 00:38] fehiepsi commented on #362
### test_contrib 130s
[code]

### other tests > 4s
[code]

[2019-09-28 00:43] fehiepsi commented on #362
Yeah, it is also time to clean up the tests (e.g. `distributions_contrib` takes us 1m)

[2019-09-28 01:18] neerajprad opened #364 "Run MCMC with multiple chains without modifying any environment flags"
Users would like to be able to run MCMC without having to set the `--xla_force_host_platform_device_count` flag in advance. In certain cases, it is not possible to do this, e.g. in a repl or notebook environment.

cc. @null-a who will need this for brmp.

Related JAX issue - https://github.com/google/jax/issues/1408.

[2019-09-28 01:39] fehiepsi commented on #364
As a temporary solution, I think we can do this automatically when users import `numpyro` (by setting `os.environ` as in our examples).

[2019-09-28 01:52] neerajprad commented on #364
Hmm..I was under the impression that we had to set the environment flag before loading JAX, but seems like this should work even after the fact by setting this through `os.environ`. Is that true? In that case, we can just set/unset it as needed.

[2019-09-28 01:53] fehiepsi commented on #364
In addition, I also think that it is good to use `cpu` by default. So my proposal is:
1. set cpu + max device_count by default
2. make some utilities: `numpyro.util.set_backend('gpu')` to change backend, `numpyro.util.set_num_devices(...)` to change the number of required devices.

[2019-09-28 01:53] fehiepsi commented on #364
yes, it is true

[2019-09-28 01:54] fehiepsi commented on #364
I am not sure what intra-op is useful for, because I didn't observe much different in covtype data (in cpu).

[2019-09-28 02:33] neerajprad commented on #364
I think it will be safer to retain the XLA defaults since that's what would be most rigorously tested by the XLA and JAX devs. My concern was that this wasn't even possible to do once we imported JAX. But if it is, we can just do this in the MCMC class itself without changing anything else.

[2019-09-28 02:34] neerajprad commented on #364
Oh sorry, I missed this "The only requirement is we set it at the top of the script (i.e. no np.ones(3) is called until we set these flags". That we certainly can't guarantee.

[2019-09-28 02:37] fehiepsi commented on #364
Even if we don't change the defaults, having those utilities is helpful (rather than having to remember the name of those flags - I find myself always go to examples folder to copy those flags to notebooks :D).

[2019-09-28 02:43] neerajprad commented on #364
I agree we should have those utilities. I'm also fine changing the default to CPU and setting num devices (though hopefully the num device argument won't carry over when we change the backend to GPU) to CPU count, but it will be good to confirm with the JAX devs just so that we don't end up with a default config that causes other hard-to-debug issues.

[2019-09-28 02:53] neerajprad commented on #148
@fehiepsi - I think we can close this issue now?

[2019-09-28 03:11] fehiepsi commented on #148
Sure! I'll go for a pass tomorrow to see if we miss any feature for arviz, then will update #349.

[2019-09-28 03:11] #148 closed

[2019-09-28 03:34] neerajprad commented on #349
Are there any remaining todos on this one?

[2019-09-28 04:19] fehiepsi commented on #349
Yeah, I need to verify that we fully support arviz. I will make a notebook for verification tomorrow.

[2019-09-30 03:31] fehiepsi opened #371 "expose submodules to the main namespace"
NumPyro is lightweight, so submodules live in their own files. Currently, we don't expose those submodules to `__init__`, so only a few submodules are exposed to the main namespace `numpyro`. This in turn leads to a lot of import statements for a numpyro program.

I would propose to expose all submodules to the main namespace for convenience.

TODOs:
 - [x] Separate out `transforms` into its own m

[2019-09-30 14:31] #362 closed

[2019-09-30 19:32] #349 closed

[2019-09-30 21:15] fehiepsi opened #372 "Allow rng to be int in exposed method"
I think the pattern at [this PR](https://github.com/pyro-ppl/numpyro/pull/350/files#diff-c5378ba2ea50a6f7e17e51b65c5f251dR346) can be helpful for other utilities/classes such as `SVI.init`, `MCMC.run`, `AutoGuide.sample_posterior`, `predictive`, `Distribution.sample`. What do you think @neerajprad ?

[2019-09-30 21:30] fehiepsi opened #373 "Masking out of support log_prob"
Several months ago, we decided to not have "masking" pattern when computing log_prob for out-of-support samples. I thought that it was good because we already have a check for invalid samples.

We did so because masking is not necessary for our inference algorithms. Now, given that users will want to use our distributions for something else: e.g. to compute custom log_prob, to plot log_prob, we sh

[2019-09-30 21:34] neerajprad commented on #372
I think it is fine to do it only if the `rng` is fed into the `seed` handler. Right now, our distribution's first argument matches that of JAX samplers. Since the latter requires the first argument to be a `PRNGKey`, it is nice if we can match this (soft) interface. However, many a time when we pass in `rng` to inference classes, we do things like `split` it or pass it to some distribution, etc. I

[2019-09-30 23:18] fehiepsi commented on #372
Thanks for sharing your thought! It totally makes sense to me. Actually I want to close this issue because my proposal does not make sense to me anymore. Let’s revisit this if needed in the future.

[2019-09-30 23:18] #372 closed

[2019-10-01 03:06] #243 closed

[2019-10-01 22:27] neerajprad opened #377 "Rename rng -> rng_key"
I think this was a case of sloppy naming that we began with, and has percolated throughout the code base. Since we only ever pass the `PRNGKey`, the argument name should reflect that. Thanks to @fritzo for calling this out while reviewing the generic PR in Pyro.

[2019-10-01 22:44] fehiepsi commented on #377
Do you mean `seed` is different from `key` (i.e. random state)? If so, I agree!

[2019-10-01 22:51] neerajprad commented on #377
I think either `rng_seed` or `rng_key` should be fine, wherever we are currently using the `rng` argument name. Or simply even just `key` if the rng part is obvious from context.

[2019-10-01 23:34] fehiepsi commented on #377
I would prefer `rng_key`. In numpy, np.random.seed arg is an `int`, while `np.random.RandomState` is an int array.

[2019-10-02 15:24] fehiepsi opened #378 "Revise the pattern of loss_fn and init_strategy"
Currently, we implemented elbo / init strategies as functions. This makes it a bit tricky to change the default parameters of these utilities (e.g. num_particles in "future" `elbo`, num_samples in `init_to_median`, `radius` in `init_to_uniform`). I would propose the following pattern:
[code]
and similarly,
[code]
My motivation is:
+ I am intending to add a new init strategy, which set init params

[2019-10-02 17:58] fritzo commented on #377
While I'm not familiar with JAX rng architecture, I find `rng_state` more understandable than `rng_key`.

[2019-10-02 18:10] neerajprad commented on #377
JAX's PRNG does not have a state though, so I think this will probably cause some confusion. It uses a hash function to map this "key" (+ some counter say `1..n` for generating vectorized samples) to a random sample in Int256. The key is explicitly split by users to generate new samples, unlike traditional PRNGs which internally update their state.

[2019-10-02 21:44] neerajprad commented on #371
@fehiepsi - I have added some subtasks here. I think it will help to keep distributions, inference algorithms and handlers in their own namespace so as to avoid name collisions. e.g. it seems reasonable to be able to do:
[code]

rather than make each of these classes available for import directly from `numpyro`. WDYT? The above structure also matches the generic API.

[2019-10-02 22:29] fehiepsi commented on #371
Sure, that would be very helpful! My proposal is to add
[code]
to `__init__.py` file so that when I type `numpyro.`, the IDE (& autocompletion) will display out these submodules (together with their docstrings) for me to choose. Currently, typing `numpyro.` only displays some primitives, `patch`, `version`, and `distributions`.

[2019-10-02 22:52] #364 closed

[2019-10-05 11:06] timnon commented on #351
Thanks for the feedback, would be indeed good to have some error message in case there is no variable to sample from. Also thanks for the gist, looks more sane than my attempt. In general, is there already some attempt to adapt bayesian-methods-for-hackers to numpyro? Or is it too early due to changing interfaces, e.g. missing `DiscreteUniform`, but which can be easily created like in the gist.

[2019-10-05 13:29] fehiepsi commented on #351
Hi @timnon, AFAIK there is no attempt to adapt bayesian methods for hackers to numpyro. I don't think that there will be any blocker for it. The current API will be stable. For the next release, we'll only replace `from numpyro.mcmc import NUTS, MCMC` to `from numpyro.infer import NUTS, MCMC`.

Do you plan to try it? That's would be a great addition to NumPyro ecosystem. We are happy to help for a

[2019-10-05 18:07] #371 closed

[2019-10-06 05:52] fehiepsi commented on #373
This [gist](https://nbviewer.jupyter.org/gist/fehiepsi/eb3053aad5ece9ee4feba452d22e2740) shows that the distributions have this issue are:
+ Exponential
+ HalfCauchy/HalfNormal
+ TruncatedCauchy/TruncatedNormal
+ Uniform
Masking for these distributions is easy so I think that it is worth to add masks for these distributions.

[2019-10-06 17:24] fehiepsi opened #386 "Alpha (Renyi) divergence ELBO"
We think this is a  very nice feature to have and is a good practice to learn about how Elbo is implemented in NumPyro and how cool JAX is.

### References:
+ [Derivation](https://nbviewer.jupyter.org/gist/fehiepsi/7916400d8380cb05d21e859681b7a694) (skip non-reparameterizable part)
+ Pyro tutorial on ELBO: http://pyro.ai/examples/svi_part_iii.html#Setup (skip Non-reparameterizable Random Variables

[2019-10-06 18:54] fehiepsi opened #387 "Low-rank Multivariate Normal distribution"
This is a multivariate normal distribution with covariance matrix is parameterized by: `cov = W @ W.T + D` where `W` is a low-rank matrix, `D` is a diagonal matrix. Taking advantage of low-rank form and some algebra tricks, it is much faster to sample from or compute log probability of this distribution (comparing to MultivariateNormal distribution). If you love matrices, you might love to solve t

[2019-10-06 22:40] neerajprad commented on #373
I think the correct solution here should be for us to turn on `validate_args` by default, so that users can catch bugs when they are wrong. Otherwise, this will turn on some validation checks on large tensors by default with no way of turning it off. If a user is confident of their model and wants to run it as fast as possible, it should be possible to not have to do these checks which will be pos

[2019-10-08 14:31] fehiepsi opened #389 "reorder optim, loss to loss, optim in SVI"
This is to make SVI interface consistent with Pyro.

[2019-10-08 18:15] #373 closed

[2019-10-08 20:04] fehiepsi commented on #378
Woohoo, making PRs for this proposal is fun. Happy to close!

[2019-10-08 20:04] #378 closed

[2019-10-09 04:38] neerajprad opened #393 "Investigate discrepancy in effective sample size computation"
The effective sample size as reported in NumPyro / Pyro seems to be lower than the one reported by Stan. Details in https://github.com/pyro-ppl/brmp/pull/25.

[2019-10-09 04:44] neerajprad commented on #393
Taking the discussion over from https://github.com/pyro-ppl/brmp/pull/25:

I think one way to validate that the computation is the same is to pass the samples collected from brms (or pystan) to our diagnostics package. If the reported `n_eff` matches the one from brms, then there is probably some efficiency issue with our sampler, at least for this model.

[2019-10-09 09:18] null-a commented on #393
I just did this (using post warmup samples only) for the example I have in pyro-ppl/brmp#25 and found that the output of `numpyro.diagnostics.effective_sample_size` matches the `n_eff` reported by brms.

[2019-10-09 17:37] #389 closed

[2019-10-09 21:12] neerajprad commented on #393
Marking this as fixed. Please feel free to reopen if you notice this issue on other models. I think @fehiepsi's fix seems to work well on a variety of models that we looked at.

[2019-10-09 21:12] #393 closed

[2019-10-12 11:37] fehiepsi opened #398 "Support `parallel` argument to predictive"
In Pyro MCMC predictive, we have a `parallel` keyword to resolve the plate issue https://github.com/pyro-ppl/pyro/issues/1995. JAX supports batching out of the box. However,
using vmap for a large num_samples and a large model will consume [much more memory](https://github.com/google/jax/issues/1113). I faced memory issue in training bnaf for covtype dataset and using `lax.map` solves the problem.

[2019-10-15 01:38] TuanNguyen27 commented on #387
I would like to implement this! Is this the right place to put the code ? https://github.com/pyro-ppl/numpyro/blob/master/numpyro/distributions/continuous.py

[2019-10-15 02:36] fehiepsi commented on #387
@TuanNguyen27 Yes, that's the place to put the code.

It's great to hear that you want to implement this distribution! Please let me know if you have any questions. FYI (in case you follow PyTorch implementation), we do not support the `.expand` method so you don't need to worry about `_unbroadcasted` stuff. :)

[2019-10-18 04:05] fehiepsi opened #402 "Implement several important discrete distributions"
To name a few:

- [x] [BetaBinomial](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/conjugate.py)
- [x] [GammaPoisson](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/conjugate.py)
- [x] [ZeroInflatedPoisson](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/zero_inflated_poisson.py)
- [x] [OrderedLogit](https://en.wikipedia.org/wiki/Ordered_logit) which is re

[2019-10-18 05:19] TuanNguyen27 commented on #386
Also interested in taking this issue ! :D

[2019-10-18 18:07] jodablei opened #404 "Uniform distribution"
Hi,

I've been using some of the distributions that are implemented in numpyro, one being the Uniform distribution. Turns out that when evaluating the log_prob of a point outside the support, the returned value is not -inf. Is this intended behavior? I've only noticed this because I was getting posterior samples using MCMC that according to my priors shouldn't be possible.

[code]

Thanks in advan

[2019-10-18 18:13] neerajprad commented on #404
If you are using the master branch of numpyro, you can use `numpyro.enable_validation()` to do distribution args checking. In this case, it will throw a warning and return `-inf` as you expect. If you are using the release version you can use `Distribution._validate_args = True` which will throw an exception for all such cases. This isn't enabled by default, because args checking on large arrays c

[2019-10-18 18:16] fehiepsi commented on #404
This is unexpected behavior, which indicates some problems with how we handle the priors' supports. Could you provide us a reproducible code? Thanks!

[2019-10-18 18:22] jodablei commented on #404
The sampler I am currently using is not from numpyro. For now, I am only importing some of the distributions from numpyro and I use the base class to create new ones. Do the numpyro samplers perform a support check before evaluating the probability? If so, I guess I could look at the code and do something similar.

[2019-10-18 18:36] fehiepsi commented on #404
If you use a different sampler, then using `numpyro.enable_validation()` should give the expected behavior for you. In NumPyro, we [transform latent values to unconstrained space](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/util.py#L369) and run MCMC in unconstrained space. After we collected all unconstrained samples, we transform them back to the prior support domain.

[2019-10-18 23:42] neerajprad commented on #398
That's a good idea, we should have this.

[2019-10-19 14:27] fehiepsi commented on #404
If you are using NumPyro, it might be helpful to make your sampler a subclass of [MCMCKernel](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/mcmc.py#L456). Then you can use [MCMC](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/mcmc.py#L678) interface to get samples (without having to play with chain stuff: sequential/parallel/vectorized). If so, please let us know if

[2019-10-24 02:42] fehiepsi commented on #404
@jodablei I close this issue because I think that `numpyro.enable_validation()` will do what you need. Feel free to reopen this issue if the issue still happens in your code!

[2019-10-24 02:42] #404 closed

[2019-10-24 05:28] neerajprad opened #410 "Clean up the code by removing deprecated functions"
We should remove all deprecated functions like `svi`, `mcmc` to clean up the code before the next release.

[2019-10-24 21:27] #377 closed

[2019-10-24 23:28] #387 closed

[2019-10-25 21:00] #410 closed

[2019-10-25 21:00] #402 closed

[2019-10-27 06:21] fehiepsi opened #414 "vectorized elbo does not work with beta bernoulli model"
As observed in #413, when running SVI in beta bernoulli with num_particles=2, we get the error

This seems like a JAX issue but we need to isolate the bug to report upstream.

[2019-10-27 18:51] TuanNguyen27 commented on #414
@fehiepsi from a quick glance the error traces to here: https://github.com/google/jax/blob/master/jax/interpreters/ad.py#L217

[2019-10-28 03:20] fehiepsi opened #415 "Add tutorial for models with missing data"
We should able to run MCMC for models with missing data in NumPyro because NumPyro supports improper priors through `param` primitive. This is also a good chance to illustrate that NumPyro supports improper priors.

Related issues in other repos:
+ Pyro: https://github.com/pyro-ppl/pyro/issues/1106, https://github.com/pyro-ppl/pyro/issues/1676
+ brmp: https://github.com/pyro-ppl/brmp/issues/43, ht

[2019-10-28 03:33] fehiepsi opened #416 "Tutorial on automatic reparameterize model"
We already have the [funnel example](https://github.com/pyro-ppl/numpyro/blob/master/examples/funnel.py), but it might be better to turn it into a tutorial (probably with a different dataset - e.g. the well-known eight school).

[2019-10-28 03:51] fehiepsi opened #417 "Tutorial or example on embarrassingly parallel/consensus MCMC"
Despite that NumPyro is very fast (comparing to other frameworks), running MCMC for large datasets is still slow. Even that GPU helps us increase 10x the speed, it is still slow. This is when subposterior methods show their advantages. It is also a good chance to illustrate some available utilities [consensus](https://numpyro.readthedocs.io/en/stable/mcmc.html#numpyro.hmc_util.consensus) and [para

[2019-10-28 04:03] fehiepsi opened #418 "Add thumbnail images to example index page"
We already have some examples with nice plots. It would be nice to use those plots as thumbnails for these examples in http://pyro.ai/numpyro/ index page (something similar to [this pytorch page](https://pytorch.org/tutorials/#image)).

[2019-10-28 18:58] fehiepsi opened #419 "Tutorial on predator-prey model"
One of the coolest features of JAX is the [ode](https://github.com/google/jax/blob/master/jax/experimental/ode.py) submodule. Utilizing this module, I believe that we can run MCMC on models involving solving ode systems (e.g. the model in this [Stan case studies](https://mc-stan.org/users/documentation/case-studies/lotka-volterra-predator-prey.html#data-lynx-and-hare-pelts-in-canada). Probably we

[2019-10-28 23:11] neerajprad commented on #415
I think the issue in Pyro refers to allowing a way to support models with sample statements of the kind `pyro.sample('obs', dist(..), obs=[some partially observed tensor])`, where we condition on the observed data and impute the missing entries. Could you clarify how having `param` statements in MCMC help this use case?

[2019-10-28 23:28] fehiepsi commented on #415
I will use the most naive way to impute those missing data. For example,
[code]
I am not sure how to make this possible with `pyro.sample`...

[2019-10-29 00:53] neerajprad commented on #415
I see - I think your method will give us the ML estimate for the missing values.

I am not quite sure, but maybe sampling from the `dist.Normal(..)` might work:

[code]

In any case, I think this will make for a good tutorial.

[2019-10-29 02:10] fehiepsi commented on #415
Actually, those imputed values will have priors `dist.Normal(loc, scale)` because the statement
[code]
acts on the "merged" x (x_notnan & x_impute).

The script in your comment will double log_prob of `x_impute`.

[2019-10-29 06:34] neerajprad commented on #415
Interesting. No, you are absolutely right about the double counting. What I wrote above is incorrect unless we are doing masked observes. Actually, your original solution is quite clever! This will make for an interesting tutorial, look forward to it.

[2019-10-29 14:31] fehiepsi commented on #414
Thanks, @TuanNguyen27 ! I believe that this error comes from while_loop of gamma sampler in JAX, but it is a bit hard to make a small repro script. Anyway, this issue should not block your PR, feel free to complete it and mark failing tests as xfail.

[2019-10-29 16:52] TuanNguyen27 commented on #416
Can also take this issue :)

[2019-10-29 17:06] fehiepsi opened #420 "Support AutoLowRankMultivariateNormal autoguide"
With LowRankMultivariateNormal distribution implemented at #403, we are ready to add the corresponding autoguide.

[2019-10-29 17:12] fehiepsi commented on #416
Thanks, @TuanNguyen27! I am looking forward to reading your tutorial.

[2019-10-30 23:32] neerajprad opened #424 "Suggested changes to diagnostics / summary"
- [x] As in Pyro, we should have the summary function split into two components - one that returns a dict object `d[site_name] = {'mean': .., 'std', ..}` and a `print_summary` function which formats this into a table. The idea is that other examples can make use of the summary function and add to the diagnostics if needed.
 - [ ] Output other metadata like when the model is compiling and when it i

[2019-10-31 01:02] fehiepsi commented on #424
Probably we should rename `summary` to `print_summary` before the release?

About the second point, until JAX/XLA supports doing it, we can recommend users to set `num_warmup=1, `num_samples=0` if they are curious.

About divergence information, we can easily support it before the release. Are you working on this?

[2019-10-31 01:06] neerajprad commented on #424
None of these are release blockers and can make it into the next minor release. Just the documentation / making sure that the interface is reasonable is important for this release.

[2019-10-31 01:56] neerajprad opened #426 "Updates to README for next release"
- [x] Small example to showcase MCMC inference in NumPyro.

 - FAQs:
   - [x] Sampling outside an inference context.
   - [x] Any other differences from Pyro.
      + improper prior
      + noncenter reparameterization
      + svi step
   - [x] Writing backend agnostic code.

[2019-11-01 00:10] neerajprad opened #429 "Change random_state to rng_key in numpyro.sample"
We used the `random_state` argument name for compatibility with Scipy distributions but we don't need to do that anymore. `rgn_key` will be a more accurate name and match what JAX uses internally.

[2019-11-01 02:04] #337 closed

[2019-11-01 03:54] #429 closed

[2019-11-01 15:14] fehiepsi opened #434 "Improve the speed to load covtype dataset"
Currently, to load covtype dataset, we use the following code, but it is very slow (~20s in my system). This is a bit annoying to do experiments on this dataset, and for users who are running logistic_regression notebook or covtype example. We should provide a better solution to load this dataset.
[code]

### Propose solution

Save numpy array in cloud and use `np.load` here.
[code]

[2019-11-01 22:57] #426 closed

[2019-11-05 19:34] #386 closed

[2019-11-05 19:34] #398 closed

[2019-11-06 19:37] neerajprad opened #438 "More runtime flexibility in the MCMC class"
- [ ] Being able to freeze/start the chain from the last state without doing warmup adaptation.
 - [ ] In some cases, users may want to reuse the adapted `step_size` and `mass_matrix` parameters from the first run and do subsequent runs (say on slightly different datasets) without doing `warmup`.

An alternative would be to keep the `MCMC` class simple, and use the `hmc` function directly to get m

[2019-11-06 20:35] fehiepsi commented on #438
I think that we can solve both issues by introducing an additional arg `inverse_mass_matrix` to HMC.__init__() and store the last state of MCMC.

Having `inverse_mass_matrix` arg will also be helpful for the case users to use AutoDiagonalNormal to learn inverse_mass_matrix (which is much faster than using MCMC warmup).

Storing the last state of MCMC is also useful. We can inspect `step_size`, `in

[2019-11-07 00:46] neerajprad commented on #438
This will need us to expose those arguments in `HMC.init` and also the `inverse_mass_matrix` argument in `hmc`. I think doing so for the latter function definitely makes sense since that should have the super-set of all functionality we would like HMC to support.

For the MCMC class (and HMC/NUTS kernels), I am not fully convinced if it is worth introducing too much complexity at this point, if us

[2019-11-07 02:46] fehiepsi commented on #438
Exposing `inverse_mass_matrix` makes sense to me if there is a request for it (otherwise, because I don't use it, making that change is not necessary to me).

probably you didn't mean to compare with the complexity of multiprocessing in Pyro. :)) I think that the interface would be stable and I don't foresee any change in the near future. If we need to support something, we just need to create a n

[2019-11-07 03:50] neerajprad commented on #438
This is based on an internal discussion (low priority for now), but I think it will be a useful feature to have.

This is relevant only in the context of the current issue, though as you point out, we don't need to do so if we just store the `adapt_state` instead in HMC/NUTS. Of course, if we want to learn the mass matrix using autoguides and use that to adapt the step size, I think we'll need to

[2019-11-11 09:30] ziatdinovmax opened #440 "Error in bnn.py for num-chains > 2"
When I try running the bnn.py example (without any modifications) with num-chains > 2 it throws the following error:
[code]
The system is a deep learning VM (16 CPUs) on the google cloud platform. I'm using a CPU version of jaxlib (for whatever reason the bnn.py is running much slower on GPU).

Thanks for your help in advance!

[2019-11-11 17:25] neerajprad opened #441 "Avoid recompilation in MCMC.run with new data"
This can be important for saving on compilation cost.

There seems to be some bug in in HMC/NUTS kernels or the MCMC class due to which this doesn't work currently. See. @null-a's [snippet](https://gist.github.com/null-a/fa9e2038630daf104a7ed3821799db57) for details.

[2019-11-11 18:06] fehiepsi commented on #441
This issue seems to come from how JAX jit works
[code]
, which return `1` instead of `2`.

[2019-11-11 18:12] neerajprad commented on #441
I thought so too since the compilation overhead on the second call is small, whereas the code as it currently stands should have actually recompiled everything for the second call too. I think this may be a bigger change since this will require us to pipe in args/kwargs through sample fn, if we would like the args to be JITed too.

[2019-11-11 18:15] neerajprad commented on #441
I am marking this as enhancement because not only would we like to return the correct result, but also do so by still not having to recompile everything. This may require changes to a few utilities but hopefully not the `MCMC` class itself.

[2019-11-11 18:29] fehiepsi commented on #441
I think for new data, we have to recompile `sample_fn` unless the new data has the same shape. If the data has the same shape, users can jit whole `mcmc` sampling process (e.g. see [this test](https://github.com/pyro-ppl/numpyro/blob/master/test/test_mcmc.py#L338)) at the trade-off  of not having progress-bar.

[2019-11-11 18:40] neerajprad commented on #441
Keeping the data shape the same is a reasonable requirement to not having to recompile. I would like to keep this issue open, and ideally solve this by having model arguments be JITable. Then, if the shapes are retained across calls, we don't recompile but if they are, it automatically triggers recompilation.

[2019-11-11 18:58] fehiepsi commented on #440
@ziatdinovmax, thanks for the bug report! This issue should be fixed with #443.

[2019-11-12 19:56] fehiepsi opened #445 "Only use `figure_format = svg` in website"
Using the `svg` format will create a lot of changes in tutorial PRs, so it is hard to review changes or typos (if any). We should use the default matplotlib backend and only use `svg` when building tutorials, probably through an environment flag.

[2019-11-14 04:42] ziatdinovmax commented on #440
@fehiepsi, Thanks so much for fixing it so quickly! The MCMC inference part now works perfectly on multiple CPUs! There is, however, another problem in that the prediction part is taking *much* longer when num_chains > 1 and as a result, we don't gain anything from using multiple CPUs. See example below:

Running with bnn.py with num-chains=1. MCMC time is 74 s, overall elapsed time is 78 s.
[code

[2019-11-14 05:46] fehiepsi commented on #440
@ziatdinovmax That's a great question! Actually, using 4 chains will give you 4x number of samples so the same `Elapsed (wall clock) time` means that you have got 4x samples / s. :)

The reported number `17s` is wrong (due to [asynchronous dispatch](https://jax.readthedocs.io/en/latest/async_dispatch.html), actual computation is still running). If you add a line `mcmc.print_summary()` after `mcmc.

[2019-11-14 05:50] ziatdinovmax commented on #440
Ahhhh... okay, that was a really stupid question then :-) Thanks for answering!

[2019-11-14 17:28] #440 closed

[2019-11-17 09:01] ziatdinovmax opened #447 "NUTS with GPU (doesn't work for bnn.py)"
Hello,

I've noticed that choosing a GPU option results in memory problems when "training" even a very simple Bayesian neural network with NUTS (to be more specific it crashes with a "segmentation fault" message). I first thought I'm doing something wrong but when I ran the original bnn.py script from NumPyro examples it also crashed. Interestingly, the gp.py example works fine with a GPU option.

[2019-11-17 15:05] fehiepsi commented on #447
Thanks! I can confirm the issue. In my system, memory keeps increasing until the crash... Looking like this is jax/jaxlib issue. I'll isolate and report to them.

[2019-11-19 01:38] neerajprad opened #448 "Memory leak when running MCMC multiple times"
This was surfaced in https://github.com/pyro-ppl/brmp/issues/67.

I can see this issue on a simple NumPyro model, where the count of `jax.Var` objects (along with some other types) keeps increasing per iteration (the code below can be run with the latest jax/jaxlib to reproduce the issue). I have not yet been able to replicate this on a purely JAX based code, so it is possible that this is somethi

[2019-11-19 05:01] fehiepsi commented on #448
Interesting! This is the first time I touch `gc.collect()` stuff. :D I'll dive into this issue a bit more...

[2019-11-19 05:58] fehiepsi commented on #448
@neerajprad I am seeing the same issue with the following code (which only depends on JAX), but I am not sure if that's leakage (because I am not familiar with gc).

[code]

[2019-11-19 06:18] neerajprad commented on #448
Thanks for your code snippet, @fehiepsi. Interestingly, this version of your code doesn't have the same issue, and behaves as you would expect. :)

[code]

[2019-11-19 15:43] fehiepsi commented on #448
Yeah, should we report this issue to jax devs?

[2019-11-19 18:51] neerajprad commented on #448
Thanks, @fehiepsi. I just shared it on the same issue. I tried debugging this further last night, but I think it might be best to hear from the JAX devs before spending more time debugging this.

[2019-11-19 22:08] neerajprad commented on #448
I am closing this issue because this is due to the JAX cache working as expected. The right solution to https://github.com/pyro-ppl/brmp/issues/67 would be for us to not miss the cache and recompile each time, which should be solvable via #441.

[2019-11-19 22:09] neerajprad commented on #448
@fehiepsi - thanks for helping debug this!

[2019-11-20 02:14] hzyjerry opened #449 "[FR] supporting `pyro.factor` primitive"
Hi, I'm currently doing research on agent modeling, and I'm wondering if the functionalities of `pyro.factor` is in the roadmap of numpyro?

The pyro repo has some [great examples](https://github.com/pyro-ppl/pyro/blob/dev/examples/rsa/generics.py) covering the use case I have in mind.

[2019-11-20 03:45] fehiepsi commented on #449
Hi @hzyjerry, we will support that feature soon.

[2019-11-20 07:29] neerajprad opened #452 "Mark documentation for internal utility functions as experimental"
We should start making a distinction between a thinner more stable public API, and internal subroutines that we are freer to change. For instance, some of our internal utilities like `hmc` and `potential_energy` are exposed in the documentation. We should mark the interfaces for these as experimental, since for such internal functions, we would like to be able to break backward compatibility when

[2019-11-20 19:28] #449 closed

[2019-11-21 23:03] neerajprad opened #453 "Misc refactoring in mcmc util"
While trying to support #441, I noticed a few things that can be refactored in `mcmc.util`:

 - [x] Abstract out getting the potential function / constrain function from `initialize_model`. This part does not need to be vectorized and needs to be done just once.
 - [x] It seems that `prototype_params` will be reused if valid in the vectorized case, and seems like a bug. We can either not use `prot

[2019-11-21 23:31] neerajprad opened #454 "Create a test suite for performance testing"
To get around perf issues, we have had to put in optimizations in certain parts of the codebase. Sometimes these optimizations add to code complexity and can be removed once the perf issues are resolved (either upstream or within numpyro).

It will be nice if we had a set of perf tests capturing different kind of models (ideally something that runs within a couple of minutes):
 - Anytime we have t

[2019-11-22 00:29] fehiepsi commented on #453
Agreed! We have built all low-level functionalities to make things work during development. Now, we have got a simplified interface. I think it is a good idea to revise low-level ones - if they make things clearer or faster.

I'll review this carefully. I can recall that it is tricky to have proper logic here.

This arg is used internally. I don't think we need to expose it.

Agreed!

Most users w

[2019-11-22 00:50] neerajprad commented on #453
@fehiepsi - The first one is more to help with the other PR. In general, I'm not too concerned about complexity in the low level APIs, and I don't think we need to spend time simplifying it, unless it is needed to make it easier to refactor and support other features on top.

[2019-11-25 01:12] hzyjerry commented on #449
Thanks! The latest PR looks great

[2019-11-25 03:56] hzyjerry opened #461 "Improve doc examples"
This may be nitpicking, but I think it would be great if the examples in documents could include all the `import` statements: [example](https://numpyro.readthedocs.io/en/stable/mcmc.html#numpyro.infer.mcmc.hmc)

The reason being:
1. some times it's non-obvious to new users to get things like `from numpyro.infer.mcmc import fori_collect` correct
2. The examples will become much more self-contained,

[2019-11-25 07:47] fehiepsi commented on #461
@hzyjerry , thanks for pointing it out! Would you like to make a PR for this enhancement? It would be your first PR to NumPyro, and hopefully, there are more after that. ;)

[2019-11-25 16:37] jwschroeder3 opened #462 "numpyro equivalent to pymc3's Deterministic"
First of all, thank you for this excellent work!

I'm trying to implement the Finnish horseshoe prior (Piironen, J., and Vehtari, A., 2017).
Edit: I should credit Michael Betancourt for his implementation of the Finnish HS [here](https://betanalpha.github.io/assets/case_studies/bayes_sparse_regression.html).
I'm able to calculate the horseshoe as follows:

[code]

The problem I have is that the sa

[2019-11-25 16:56] hzyjerry commented on #461
Yes, happy to contribute

[2019-11-25 17:44] fehiepsi commented on #462
Hi @jwschroeder3 , currently, you can record `bC` using

[code]
IMO `bC` is not a latent site to sample, so it should belong to posterior predictive phase. Is it too verbose? We can also provide a primitive `numpyro.deterministic("bC", bC)` to replace `numpyro.sample("bC", dist.Delta(bC), obs=bC)`, but we would like to hear your opinion first. :)

[2019-11-25 19:37] jwschroeder3 commented on #462
Cool.
I definitely see what you're saying about bC not being a latent site, and it belonging in posterior predictive. I will plan to record bC this way in the future.

I am of the opinion that for people to quickly pick up numpyro, a `deterministic` primitive would be very helpful. It has the benefit of being more obvious than using posterior predictive sampling to grab variable like `bC` out of t

[2019-11-25 20:10] neerajprad opened #463 "Model compilation happens twice with the latest JAX version"
With the latest jax version, many models are compiled twice - once at the beginning of warmup and then again when sampling starts. The reason for this is the introduction of weak types in JAX (all python scalars have a weak type which might be promoted later depending on the dtype of other arrays).

As such, the arguments to `sample_fn` at the beginning of both the stages may differ in this aspect

[2019-11-25 20:27] fehiepsi commented on #462
Thanks for your opinion! I'll make a PR for it soon.

About the above proposal, I just meant to have `numpyro.deterministic("bC", bC)` replace `numpyro.sample("bC", dist.Delta(bC), obs=bC)` because it is:
+ not obvious why we have `obs=bC` here (though with extra thoughts, we can see that it tells MCMC: `bC` is not a latent variable and this site's log_prob is zero).
+ shorter than using `dist.Del

[2019-11-25 20:36] jwschroeder3 commented on #462
I agree with everything you've stated above. Thanks for your help. FYI, so far I'm thrilled with numpyro's performance, but I'll be sure to let you know if I have problems in the future.

[2019-11-25 21:12] martinjankowiak commented on #462
@fehiepsi before you submit a PR we should perhaps think about this a bit more. if possible, we don't want numpyro primitives to drift from pyro primitives. so if we do it in numpyro we should also do it in pyro.

@neerajprad @fritzo @eb8680 thoughts on adding a primitive to help record deterministic computations in programs?

[2019-11-25 21:23] neerajprad commented on #462
This has been something that users have often requested for Pyro. @karalets just brought this up last week. So far, the workaround has been to use `sample('record', dist.Delta(z), obs=z))`, at least in MCMC, but I think this should work for SVI too. I think the easiest way to implement this would be to alias this pattern (as @fehiepsi noted above) using a `deterministic` primitive. Then this will

[2019-11-25 21:31] hzyjerry commented on #461
Hmm it seems that these are well-specified in `testsetup` blocks inside the source code
[example](https://numpyro.readthedocs.io/en/stable/_modules/numpyro/infer/mcmc.html#hmc)

Initially, it was a bit inconvenient for me to run the examples. But maybe it's a design decision to hide them from users?

[2019-11-25 21:39] neerajprad commented on #461
That's right. Many of the imports were several lines long, and were therefore part of the `testSetup` block so that it did not clutter the code example. However, we have reorganized some of the codebase recently which should reduce the number of import lines, and it is worth considering whether we should add it to the visible code block, so that users can just copy/paste these snippets. If there i

[2019-11-25 21:40] neerajprad commented on #461
Btw..you should be able to run the doc tests using `make doctest`.

[2019-11-25 21:56] eb8680 commented on #462
If it's only a one-line alias for a `sample` call, that seems fine.  Would we have to make breaking changes to any existing validation logic for edge cases in SVI?

[2019-11-26 01:47] #441 closed

[2019-11-26 01:53] fehiepsi commented on #462
@eb8680 I think that we don't have breaking changes because this only introduces additional observation sites to the trace. Do you have an example in mind?

[2019-11-26 02:03] eb8680 commented on #462
I was thinking there might be assertions somewhere in our SVI validation logic about guide sites not being observed that would be triggered if there was a `deterministic` call in a guide for some reason, but I didn't actually find any.

[2019-11-27 20:18] neerajprad opened #467 "Improvements to help benchmark numpyro code"
- [x] Ability to reuse the compiled model + adapted state to rerun sampling from different seeds.
 - [x] Separating `summary` statistics from `print_summary`
 - [x] Add support for using x64.
 - [ ] Fix perf regression when progress bar is disabled.
cc. @fehiepsi - feel free to add to this.

[2019-11-29 03:00] neerajprad commented on #66
Closing this - we can open more specific issues later.

[2019-11-29 03:00] #66 closed

[2019-11-29 03:02] neerajprad commented on #461
I am closing this. @hzyjerry - feel free to open new issues if you find things lacking in the documentation, or anything that can be improved further.

[2019-11-29 03:02] #461 closed

[2019-11-29 19:39] neerajprad opened #475 "Regression in fori_collect when progress bar disabled"
I am finding that with progress bar disabled, `fori_collect` is not returning the same results for the sparse regression example:
 - [x] It fetches the wrong `init_state` and runs adaptation twice.
 - [ ] Results returned when progress bar is enabled/disabled are different.
 - [x] When progress bar is disabled, the time taken is almost twice. This seems to be a regression from earlier when disabli

[2019-11-30 17:15] #463 closed

[2019-11-30 18:06] fehiepsi opened #478 "Reuse warmup state might not work for multi-chains"
For multi-chains, warmup_state should have batch_size=4. Currently, we "seem" to only store the warmup state of one chain by setting `self._warmup_state = warmup_state[0]` in `_single_chain_mcmc` method. Probably a correct pattern should be
[code]
and move the logic to set the attribute `self._warmup_state` to `run` method.

[2019-11-30 19:56] #467 closed

[2019-11-30 21:33] fehiepsi commented on #313
Close because this is legacy. Recent PRs/issues can address this.

[2019-11-30 21:33] #313 closed

[2019-12-03 00:59] #418 closed

[2019-12-03 02:10] fehiepsi commented on #424
I moved the description for the remaining issue to #309, which is quite related. Let's close this for now.

[2019-12-03 02:10] #424 closed

[2019-12-03 02:10] fehiepsi commented on #478
This is fixed in #480.

[2019-12-03 02:10] #478 closed

[2019-12-03 02:14] fehiepsi commented on #452
I think this is addressed in #455.

[2019-12-03 02:14] #452 closed

[2019-12-03 02:17] fehiepsi commented on #414
Just want to put a context: this issue is tracked at https://github.com/google/jax/issues/1789.

[2019-12-03 02:18] fehiepsi commented on #438
This is addressed in #469.

[2019-12-03 02:18] #438 closed

[2019-12-03 02:52] fehiepsi opened #483 "mcmc progbar does not display correctly running phase"
The last change does not update the logic of progressbar. So it displays `warmup`, `sample` incorrectly when we run `.warmup` separately from `.run`.

[2019-12-03 04:35] milongo opened #484 "bnn.py example with another artificial dataset"
Hi,

I'm trying train a Bayesian Neural Network in a toy dataset of the form
y = xsin(x) + 0.3e_1 + x * 0.3e_2 with e_1, e_2 distributed as Gaussians with 0 mean and unit variance.
I'm using the following code: http://pyro.ai/numpyro/bnn.html

with the following changes to the data generating function:

[code]
With the following result:

<img width="454" alt="Screen Shot 2019-12-02 at 11 34 05 PM"

[2019-12-03 08:34] fehiepsi commented on #484
I think that you can try the following enhancements:
+ normalize `y`: otherwise, it is hard to capture the variance of `y`.
+ add bias for all layers, e.g.
[code]
+ change hidden size
+ change the number of hidden layers

I think a small NN can train this dataset, so does BNN. If you still can not make it work, please let me know. In the worst case, you can try Gaussian Process. :D

Btw, we have a

[2019-12-03 13:37] milongo commented on #484
Thanks for the answer! I'll try normalizing and adding biases. I'm trying to reproduce a paper experiment in which they train a BNN with a 1 layer MLP with 50 neurons, so I think I'm limited in terms of architecture. I'll let you know how it goes.

[2019-12-03 16:26] milongo commented on #484
Normalizing worked! Off-topic question, I'm guessing the `--num-warmup` parameter controls the number of iterations, but no matter what number I put, it runs for 2000 more iterations than that.
Is there a reason for this?

[2019-12-03 17:15] fehiepsi commented on #484
We have `num_samples` to control the number of samples we want to collect from MCMC (after num_warmup adaptation steps). So basically, MCMC runs `num_warmup` + `num_samples` steps.

I think that adding `bias` to `z1`, `z2`, `z3` can make the inference more stable. But this is really slow. Could you share your system information?

[2019-12-03 17:35] martinjankowiak commented on #484
@milongo note that the example input data has a constant feature of all 1s. this basically adds "bias" units to the nn. if you augment your input data with 1s, you should get more reasonable performance.

[2019-12-03 20:30] fehiepsi commented on #484
Oh, nice trick!

@milongo I just took a quick run on your dataset and it just took me 44s with default args. Could you please check again your timing?

[bnn_plot.pdf](https://github.com/pyro-ppl/numpyro/files/3918570/bnn_plot.pdf)

[2019-12-03 20:49] milongo commented on #484
@fehiepsi I should have mentioned I increased the number of neurons to 50.
Using the default arguments is indeed very fast. But it seems like messing with them quickly increases the time...
<img width="453" alt="Screen Shot 2019-12-03 at 10 29 50 AM" src="https://user-images.githubusercontent.com/16996940/70088519-6b96e780-15e4-11ea-9df0-76febfc64d25.png">

This is what I get with 50 neurons, 500

[2019-12-03 21:56] fehiepsi commented on #484
`num_hidden=50` is pretty large for MCMC to take care of (with this, the latent variable `w2` has more than 2500 dimensions). So I think the slowness is acceptable...

[2019-12-03 22:30] hzyjerry opened #485 "Disable jit with custom kernel"
Hi numpyro team,

For my use case, I would like to have the kernel perform some inner optimization (e.g. `scipy.optimize`). Something similar to

[code]
However, I couldn't get it working because `numpyro` passes in `Traced<ConcreteArray(3.7071364)>with<JVPTrace(level=1/0)>` or `Traced<ShapedArray(float32[])>with<JVPTrace(level=2/0)>,` as arguments to kernel, which conflicts with the external opti

[2019-12-03 22:42] neerajprad commented on #485
@hzyjerry - It is not just that `jit` wouldn't work, if we used some scipy function implemented in C, the execution will not be visible to the jax tracer, and we won't be able to compute gradients either, which HMC/NUTS will need. Depending on what the optimizer is doing, do you think it is possible to implement it using JAX primitives (for instance, you can take a look at some of the optimizers i

[2019-12-03 23:03] hzyjerry commented on #485
Hi, @neerajprad thanks a lot for the swift response!

I'm currently using `scipy.optimize.fmin_l_bfgs_b` to optimize, which may be (unfortunately) a hard requirement because other optimizers seem to work a lot worse. Yet, I do know analytical method to compute gradient (`d opt / d prior`) post-hoc. Would it be possible to still let external optimizers do the job, and then substitute in the gradien

[2019-12-03 23:19] hzyjerry commented on #485
Is there any assumption numpyro makes that prefers the target distribution to be known? Would love to learn more about the mechanisms behind.

[2019-12-03 23:31] milongo commented on #484
Nothing about timing.. But there are other datasets with more samples and bigger dimension. In any case, BNNs are a baseline and not their main contribution so I think it's fine for now. Thanks for your help!

[2019-12-04 00:18] neerajprad commented on #485
@hzyjerry - The implementation in numpyro doesn't make any assumptions, other than those implicit in HMC. That is to say, that you should be able to define a function which when given a state, returns the potential energy for that state, which is the unnormalized negative log density of your target distribution (we can just use the negative log joint density in a typical bayesian inference setting

[2019-12-04 00:38] hzyjerry commented on #485
Thanks for the guide!

Yes, I think agent modeling (https://agentmodels.org/) is a fun and active research field. The common problem setup is we assume a probabilistic human decision model (e.g. human runs some form of approximal optimization) with unknown parameters. We estimate these parameters from behavioral data.

For anyone that's interested, here's [one relevant paper](https://arxiv.org/abs

[2019-12-04 01:28] #483 closed

[2019-12-04 02:00] fehiepsi commented on #485
@hzyjerry I think you might be interested in [this issue in JAX](https://github.com/google/jax/issues/1400). Until LBFGS is implemented there, you can try other JAX optimizers as @neerajprad suggested to see if things work as your expectations. If you don't want to use AD in JAX, you can also write a [custom transform with jvp rule](https://jax.readthedocs.io/en/latest/jax.html#jax.custom_transfor

[2019-12-04 02:01] hzyjerry commented on #485
@neerajprad may be one more reason to support Metropolis-Hasting ([old issue](https://github.com/pyro-ppl/pyro/issues/179)) :)

[2019-12-04 02:12] hzyjerry commented on #485
@fehiepsi very cool! Thanks for the pointer

[2019-12-04 02:13] neerajprad commented on #485
Thanks for the links, @hzyjerry. We haven't had too many requests for metropolis hastings, mostly because it fares badly in high dimensions, and a vanilla task specific version should be really easy to implement. If you would like to implement it, I think you'll find all the distributions and other utilities already in place for your in numpyro. Once you have that, we'll be happy to work with you

[2019-12-04 02:58] fehiepsi commented on #485
I think it deserves a "contributed welcome"/"good first issue" feature request. This would be a nice reference for users who want to construct an MCMCKernel. @hzyjerry would you mind making a new issue for your feature request?

[2019-12-04 03:16] hzyjerry commented on #485
@fehiepsi makes sense. I'm lacking some starter tasks that are less domain-specific than the one I'm working on. I can see two directions:

1. Metropolis-Hasting Kernel that does not require gradient
2. MCMCKernel that allows user-specified gradient via `custom_transform`

I think I can make an issue once I find some good starting tasks.

[2019-12-04 15:38] fehiepsi commented on #485
@hzyjerry I think the first one is a really nice direction! I am not sure if the second direction is necessary. You can define your model/potential_fn with `custom_transform` operators, then you can use HMC/NUTS for that model/potential_fn freely, e.g.
[code]
Then you can use `potential_fn` with HMC/NUTS. Here `potential(3) == 9`, and `grad(potential)(3) == sin(3)`.

I guess you have another idea

[2019-12-05 00:04] neerajprad commented on #448
I think with all the refactoring we have done (reg. caching), this issue has resurfaced. 😄 We should aim to fix this asap.

[2019-12-05 06:05] fehiepsi commented on #448
Just a context for future reference: the topic issue can be solved with
[code]
and use `jax.jit(lax.map, static_argnums=(0,))(self.constrain_fn, states['z'])` to transform mcmc params back to constrained domain.

[2019-12-08 02:14] nkaimcaudle opened #491 "Numerical issues in distributions.util.poisson"
Hi, seems the function distributions.util.poisson encounters numerical issues when rate parameter is too high, in the code I see exp(-rate) which will go to zero as rate parameter increases.

Here is my code showing the issue

[code]

[2019-12-08 03:17] fehiepsi commented on #491
Thanks for the report!

You are right, the algorithm in numpyro is only good for a small rate. For a large rate, I think we need to implement another algorithm e.g. [the one in wikipedia](https://en.wikipedia.org/wiki/Poisson_distribution#Generating_Poisson-distributed_random_variables) or [the transformed rejection method in numpy](https://github.com/numpy/numpy/blob/master/numpy/random/src/distr

[2019-12-09 13:39] nkaimcaudle opened #492 "Import MCMC into Arviz"
Hi, not sure if this belongs in NumPyro or Arviz but in my relatively simple model when I import the data into Arviz InferenceData it takes a long time to calculate.

I am running a ZeroInflatedPoisson model and trying to estimate the gate parameter on pre-defined groups. In this toy example I have 16k observations and 4 groups. On my Ryzen 3900X the MCMC stage takes just 8secs whereas bringing th

[2019-12-09 17:15] fehiepsi commented on #492
Hi @nkaimcaudle , I think that 100s is a more reasonable value here. Due to https://jax.readthedocs.io/en/latest/async_dispatch.html the python code can run when the actual compiled code has not finished its job yet. Could you call mcmc.print_summary() before recording the time in numpyro? If it still shows that arviz is slow, then there is indeed a problem somewhere.

Is 100s slow in your opinion

[2019-12-10 01:18] nkaimcaudle commented on #492
Ok, so essentially the sampling takes 100s but Jax was returning control to python whilst it was still running, but az.from_numpyro() had to wait for the sampling to actually complete.

Indeed if I add in a print_summary() statement after run and before the time counter then it shows 100s or so. And the arviz function is then very quick.

Noted

[2019-12-10 01:26] fehiepsi commented on #492
Yup. :)

[2019-12-10 09:09] fehiepsi commented on #492
@nkaimcaudle Let me close this for now. If this confusion happens again in the future, we'll add a note to either docs or readme to clarify. :)

[2019-12-10 09:11] fehiepsi commented on #475
The difference of results when progbar disabled/enabled is explained in https://github.com/pyro-ppl/numpyro/pull/470#issuecomment-560989836. So I close this for now.

[2019-12-10 09:11] #475 closed

[2019-12-10 09:15] fehiepsi commented on #453
I guess the remaining task: renaming `contrain_fn --> transform_to_constrained, transform_fn --> transform_sites` is not necessary anymore. Feel free to create a new issue for that purpose. :)

[2019-12-10 09:15] #453 closed

[2019-12-10 09:15] #445 closed

[2019-12-10 09:15] #434 closed

[2019-12-12 15:28] milongo commented on #484
Hi,

I'm sorry if this not the correct place to post this but I tried signing up in the forum and got some error.
I'm revisiting this problem but trying a 1 layer MLP as follows:

[code]
As before, the data is normalized.

And this is what I'm getting with 10 hidden neurons, 2000 `num_samples` and 3000 `num_warmup`

<img width="423" alt="Screen Shot 2019-12-12 at 10 25 28 AM" src="https://user-ima

[2019-12-13 09:52] fehiepsi commented on #484
Could you put `b1` inside the `nonlin` to see if it helps?

[2019-12-13 17:43] milongo commented on #484
That seems to have worked... Interesting. I'm not used to seeing the biases inside non-linearities. Is there a reason for this?

[2019-12-13 17:52] fehiepsi commented on #484
Usually, biases go inside non-linearities. I haven't seen biases be outside in practice. If it is outside, then `bias + tanh(.)` is a different activation function, which should deserve a different name.

[2019-12-13 18:15] milongo commented on #484
Dang, you are right. I got confused there! Thanks a lot for your help again!

[2019-12-13 18:15] #484 closed

[2019-12-14 15:41] fehiepsi commented on #447
@ziatdinovmax Thanks for the report! Now you can upgrade jaxlib to fix the issue.

[2019-12-14 15:41] #447 closed

[2019-12-14 15:44] fehiepsi opened #493 "Test NumPyro in cloud TPUs"
Latest versions of jax/jaxlib support [cloud TPU](https://github.com/google/jax/tree/master/cloud_tpu_colabs). We should test it. :D

[2019-12-16 21:24] ramav87 opened #494 "Embarrassing parallel inference"
A problem I have been unable to solve in pymc3 and numpyro is use of embarrassingly parallel for loops (e.g., with dask): assume we have a list of observations, and I am trying

[code]

where the function `compute_nuts` does MCMC and returns the trace. Is there any way to do this at the moment with numpyro? Even when I set the jax to only use the cpu, dask gives an assertion error:

[code]

This i

[2019-12-18 03:48] fehiepsi opened #497 "[FR] sample adaptive MCMC"
Requested by @martinjankowiak ! This is a nice sampler to have. For me, this is a good chance to validate our MCMCKernel interface.

Reference: https://papers.nips.cc/paper/9107-sample-adaptive-mcmc.pdf

If the performance is good, we need to push this to Pyro too.

[2019-12-18 04:55] fehiepsi commented on #494
Hi @ramav87, I am not sure if dask is compatible with JAX. Could you try to test it first? Probably you would need to use mp strategies `forkserver` or `spawn` instead of `fork` and limit jax multithreading (see [here](https://github.com/google/jax/issues/1805) and [here](https://github.com/google/jax/issues/743)).

Otherwise, you can use `pmap` for parallel job. Because `pmap + pmap` does not wor

[2019-12-18 04:58] fehiepsi commented on #497
@martinjankowiak If you want to implement this, please go ahead! Otherwise, I can work on this this weekend.

[2019-12-18 05:04] fehiepsi commented on #448
The leak is due to caching mechanism of JAX and the current caching mechanism has resolved a big part of this.

[2019-12-18 05:55] martinjankowiak commented on #497
i don't have time to do this right now but happy to look at a PR!

[2019-12-18 06:35] fehiepsi opened #498 "HMM multi-chain example fails in Travis"
This issue is exercised in #495, when we run multi chain ~without XLA_FLAGS. I am not sure if XLA_FLAGS plays any role here because we used `set_host_device_count` in each example.~

In addition, I don't know why the failing example test does not happen previously...

[2019-12-19 05:49] fehiepsi commented on #204
It seems that CPU XLA cached constant values, so we get good performance in CPU. When I make things not constant, the benchmark results are as expected (CPU is much slower than GPU).
[code]

I would like to close this issue because the behavior here seems expected. When I change `num_data` to `10000`, I can see that GPU is a few times faster than CPU for bnn example. To me, this is just evidence f

[2019-12-19 05:49] #204 closed

[2019-12-21 05:29] fehiepsi commented on #494
@ramav87 I think that using pmap works for your case. But I am not sure if there will be any performance issue so feel free to open a separate issue if you observe something strange.

[2019-12-21 05:29] #494 closed

[2019-12-21 22:41] ramav87 commented on #494
Yes, this works for me. Thank you so much!!!

[2019-12-22 04:30] fehiepsi commented on #493
NumPyro just works seamlessly on TPUs: https://colab.research.google.com/drive/1UP7iEt4JORsc9KOtyrQw3cc82rvg7Wrm

[2019-12-22 04:30] #493 closed

[2019-12-22 22:07] fehiepsi commented on #498
It seems like the test is working again. This issue probably comes from Travis.

[2019-12-22 22:07] #498 closed

[2019-12-24 14:09] #491 closed

[2019-12-29 06:44] ross-h1 opened #505 "GPU version install"
Hi,  Firstly thanks for an excellent piece of work, am seeing huge speedups in inference v. other frameworks, making a big impact on my research!

Please excuse potentially naiive question, but I'm struggling to see how to install / run a GPU capable Numpyro. I have JAX working on GPU... some pointers please?!

Thank you

Ross

[2019-12-29 14:23] fehiepsi commented on #505
Hi Ross, I think that you want to call [numpyro.set_platform('gpu')](http://num.pyro.ai/en/stable/utilities.html#set-platform) at the top of your program.

[2019-12-29 17:45] ross-h1 commented on #505
Thank you, have tried that, but i seem to have an install issue. I can set up a working JAX environment (CPU/GPU) as per the JAX install guide.

If i then install Numpyro running either:
pip install git+https://github.com/pyro-ppl/numpyro.git
or
pip install numpyro

This breaks this install, for both numpyro with the command you mention, or with any JAX code set up to use GPU, and I get the follow

[2019-12-29 18:37] fehiepsi commented on #505
@ross-h1 Currently, NumPyro only works with jax==0.1.53 and jaxlib==0.1.36. If you want to use the latest jax/jaxlib version then you might want to install the PR https://github.com/pyro-ppl/numpyro/pull/496. There is an issue in the last version of jax that will break some NumPyro models so we can’t merge that PR yet.

FYI, you can use pip with no-deps flag to not update dependencies https://pip.

[2019-12-30 14:04] FlorianWilhelm opened #506 "numpyro equivalent to Pyro's poutine.mask"
For me, it seems that numpyro's `primitives` module is missing right now the functionality of Pyro's [poutine.mask](http://docs.pyro.ai/en/stable/poutine.html#pyro.poutine.handlers.mask) in order to mask out some of the sample statements elementwise. This is very convenient when dealing with missing values or if some padding is needed to align for instance time series.

[2019-12-30 14:15] FlorianWilhelm commented on #462
I would also love to see `deterministic` primitive in numpyro as it exists in Pyro now. The last comment of @neerajprad seems to be wrong as version 0.2.3 is already released but does not contain `deterministic`. I think it should rather read 0.2.4.

[2019-12-30 19:18] neerajprad commented on #506
Thanks for creating this feature request. We usually wait for internal use cases and user requests to prioritize new features. We also have a use case for `poutine.mask`, and we'll plan to have it in the next release.

[2019-12-30 19:21] neerajprad commented on #505
@ross-h1 - I am closing this issue, but please feel free to reopen if you continue to face issues. The simplest way would be to follow @fehiepsi's suggestion and install a `jaxlib==0.1.36` using installation instructions for the [GPU](https://github.com/google/jax#pip-installation).

[2019-12-30 19:21] #505 closed

[2019-12-31 23:14] danirisdiandita opened #507 "import numpyro got error"
Hi. I got an error in importing numpyro

`import numpyro`

[code]

I already installed all of the dependencies for numpyro version 0.2.3
such as jax==0.1.53, jaxlib==0.1.36 and also numpy version < 1.18

I have no idea even reducing some versions don't help. thank you

[2020-01-01 02:04] neerajprad commented on #507
Could you post the output from `pip freeze`?

[2020-01-01 02:11] neerajprad commented on #507
Also, I'm assuming you are using the dev version of NumPyro. If you are using Pyro's release (via `pip install`), the jax/jaxlib requirements will be different. If that's the case, I would suggest removing jax/jaxlib and simply installing numpyro via `pip install numpyro` which should install the correct versions of jax and jaxlib. This will work for the CPU, but for GPU you'll need an additional

[2020-01-01 04:01] fehiepsi commented on #507
I think somehow you have installed multiple numpyro versions (maybe in different environments and they got conflict). The [0.2.3 release](https://github.com/pyro-ppl/numpyro/blob/v0.2.3/numpyro/distributions/transforms.py#L5) shows a different content of `transforms.py`.

[2020-01-01 07:37] danirisdiandita commented on #507
hi. I installed

jax==0.1.49
jaxlib==0.1.32
numpyro==0.2.1

it works now. I use CPU btw @neerajprad

@fehiepsi It might be the case.

Thank you all

[2020-01-06 22:19] #507 closed

[2020-01-08 01:33] fehiepsi opened #510 "change init scale of auto_guide for stability"
Let's add an arg `init_scale=0.1` to auto guides like Pyro.

[2020-01-08 01:34] fehiepsi opened #511 "Incorporate Pyro's reparam poutine"

[2020-01-08 20:09] mattjj opened #512 "link the NeurIPS 2019 workshop paper in readme?"
After a quick skim I didn't notice an obvious link to [the NeurIPS 2019 workshop paper](https://openreview.net/forum?id=H1g1niFhIB) in the README. It'd be great to include, especially because it has benchmarks!

WDYT?

cc @jekbradbury

[2020-01-08 20:19] neerajprad commented on #512
Good idea, thanks for the reminder. We'll add a link to the README shortly.

[2020-01-08 20:20] fehiepsi commented on #512
Yeah, we will add it soon. Actually a better reference would be https://arxiv.org/abs/1912.11554 where benchmark results are updated and have a link to `benchmarks` branch to replicate results. cc @neerajprad

[2020-01-09 00:11] #512 closed

[2020-01-09 07:55] #420 closed

[2020-01-09 07:55] fehiepsi commented on #414
This is fixed in the latest jax release.

[2020-01-09 07:55] #414 closed

[2020-01-09 12:11] VincentBt commented on #506
Also very interested!
To do things like
[code]

[2020-01-09 23:31] VincentBt opened #514 "Reuse mcmc.run() without recompilation on a pickled mcmc"
I'm trying to get additional samples fastly from an  `MCMC` object which I saved and then recovered later. I didn't manage to do it fast i.e. without the compilation phase (which is really long for my model). Is it something numpyro can currently do?

I also tried on the eight_schools example, with the same arguments (y and sigma) to mcmc.run both before saving and after loading, and I tried with

[2020-01-09 23:48] neerajprad commented on #514
The compilation for NUTS inference will always be triggered for a new session even if it is the exactly same model. In your case, even within the same session, I think just saving and loading the model will change its `id`, and Python will consider it a different object and recompile everything. Unfortunately, I do not think there is a way to save compiled JAX assets to be reusable across differen

[2020-01-10 00:01] VincentBt commented on #514
My model is really slow (especially the compilation, which takes ~80% of the total time) and I simply want to be able to get additional samples fast, in case I don't have enough effective samples.
I don't know if it answers your question.

[2020-01-10 00:05] VincentBt commented on #514
and more importantly, I have to run mcmc.run() many times (the fitting is done for many subjects and I also use different models) so I need to save the objects somewhere.

[2020-01-10 01:13] neerajprad commented on #514
If you could share your code, we can try to see why compilation is so slow.

This is currently only possible if you would like to draw multiple samples within the same session, but I see that you are looking to do this on your reloaded model which won't work for the reasons I mentioned earlier. Let us try to see why compilation is slow first, because that might be more easily addressable.

[2020-01-11 06:49] fehiepsi commented on #514
Agreed! This is a more realistic approach for now.

[2020-01-13 04:19] #497 closed

[2020-01-13 04:36] fehiepsi opened #519 "Update documentations for 0.2.4"
This issue tracks tasks related to docs/websites for the next release:

- [x] mention in README that numpyro can run on TPU ~~flawlessly~~ out-of-the-box
- [ ] rebuild [example website](http://pyro.ai/numpyro/) to incorporate new gallery style

[2020-01-13 19:27] neerajprad opened #520 "Create support for MaskedDistribution"
Refer to the discussion in https://forum.pyro.ai/t/hmm-like-model-with-sequences-of-different-lengths/1507.

[2020-01-14 06:59] TuanNguyen27 commented on #520
I'm interested in helping out with this !

[2020-01-14 15:34] fehiepsi commented on #506
This is addressed in #515. For masked distribution, please refer to #520.

[2020-01-14 15:34] #506 closed

[2020-01-14 17:29] neerajprad commented on #520
@TuanNguyen27 - That's great. You could take a look at Pyro's [MaskedDistribution](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/torch_distribution.py#L227) and [distribution.mask](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/torch_distribution.py#L147) method. Let us know if you need any help.

[2020-01-14 18:02] fehiepsi commented on #416
@TuanNguyen27 We are going to incorporate a reparameterization handler #511 instead of the current automatic behavior. In addition, @neerajprad has added the eight school example, which showcases the automatic reparameterization, in `README.md` file. So I would like to close this issue, for now, to avoid misleading. Are you currently working on this? If so, feel free to make a PR; I will be very h

[2020-01-14 18:02] #416 closed

[2020-01-14 18:09] TuanNguyen27 commented on #416
I’m not working on this currently, yes please close it!

On Tue, Jan 14, 2020 at 10:02 AM Du Phan <notifications@github.com> wrote:

--
Sincerely,

Tuan Nguyen
Swarthmore ' 18 | Salesforce Einstein
610.517.5065

[2020-01-15 15:05] fehiepsi opened #523 "pattern for creating a TransformModule"
This issue discusses possible ways to have something similar to Pyro's [TransformModule](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/torch_transform.py#L7). The motivation is to move the construction of a flow nn to the construction of a flow transform, so the code is cleaner.

### Current approach

[code]

These steps are explicit, and that FlowTransform does not have to care abo

[2020-01-15 20:24] #510 closed

[2020-01-16 01:07] #462 closed

[2020-01-18 09:14] ross-h1 opened #528 "Crash / Infinite loop on second MCMC run"
Hi guys... I'm experienceing a crash on the second run of a model. I have an application which needs to re fit a model several times as part of a backtesting strategy. The first iteration of the model runs through fine, but iteration two hangs or seems to get caught in an infinite loop. The issue seems to be in the _hashable() function in the mcmc.py file.

My (self contained) code with toy data a

[2020-01-19 05:08] fehiepsi commented on #528
Hi @ross-h1, I am not sure what we can do in this case. Your model has about 2000 latent variables, together with several `scan` loop. So it should be very slow. I made a quick check and found that
[code]
1 leapfrog step would take about 8ms so typtically you can get a few samples in a minute (if chains mixing well). Could you try to call `mcmc.print_summary()` after each MCMC run to make sure tha

[2020-01-19 21:58] ross-h1 commented on #528
Yep the print_summary() shows that the model
Is still crunching away, and hasn’t in fact finished in 107 seconds as originally suggested!

Am still struggling to get Numpyro working on GPU, will have another try tomorrow and try out the additional vectorisation you suggest.

Thank you, Ross

[2020-01-22 20:07] fehiepsi commented on #528
@ross-h1 I implemented the solve for the sequence `x[n] = a[n] + b * x[n-1]`. You can use it in both `garch` and `dcb`. I just tested it with your data, it has the same speed as your CPU non-vectorized version so it might not worth to be implemented. Unfortunately, the MCMC result is pretty bad. :(
[code]

[2020-01-22 20:18] ross-h1 commented on #528
Thank you, I built something similar, and got to more or less the same place. I could get a function to calculate my logp running in JAX, but it was about as fast on CPU and GPU. I still cant get Numpyro to work on at all on GPU, even with a simpler non time varying regression model,  it throws an XLA compile error… I have a 2 GPU machine that I hoped to be able to use to run two chains in paralle

[2020-01-22 21:33] #256 closed

[2020-01-24 13:23] #519 closed

[2020-01-24 23:49] ziatdinovmax opened #531 "NumPyro seems to upgrade JAX to the CPU-only version"
It seems that when NumPyro upgrades the jax and jaxlib, it installs a cpu-only version of JAX. Please see the example below.

Start a fresh jupyter kernel/runtime. Get GPU info:
![image](https://user-images.githubusercontent.com/34245227/73111296-d9baa500-3ed7-11ea-8895-956fe7f2b736.png)
Check if JAX sees GPU:
![image](https://user-images.githubusercontent.com/34245227/73111475-6a918080-3ed8-11ea-

[2020-01-25 22:59] fehiepsi commented on #531
@ziatdinovmax I think this is expected because GPU-supported jaxlib does not available in PyPI. I have to upgrade it separately. Do you have suggestions for more convenient ways to do this?

[2020-01-25 23:04] fehiepsi commented on #528
@ross-h1 We just made a new release, which you can try to see if GPU works for you. If you can use GPU with JAX codes but not with NumPyro code, please let us know (this indicates that there is something wrong with our configurations).

As I understood, the topic issue has been identified. So I close this for now.

[2020-01-25 23:04] #528 closed

[2020-01-26 03:46] ziatdinovmax commented on #531
@fehiepsi You are right. Now that I re-read more carefully the installation instructions it is pretty clear that this behaviour is expected. Closing the issue.

[2020-01-26 03:46] #531 closed

[2020-01-26 11:33] ross-h1 commented on #528
Hi there, thank you! Now running on 2x GPU. I have switched to a different model for dynamic variances and covariances which eliminates the GARCH iteration, so can all be vectorised. Finally seeing some benefit of spending money with Nvidia... Ross

[2020-01-31 18:51] hzyjerry opened #533 "JAX 0.1.58 support"
Hi, it seems that latest jax 0.1.58 has some API breaking changes that breaks numpyro. Just wanted to post it here. It would be very nice to be able to use it.

[code]

[2020-01-31 18:56] hzyjerry commented on #533
Sorry for the spam. This is not an issue with numpyro, but my local settings. Posting the solution here

[code]

[2020-01-31 18:56] #533 closed

[2020-02-06 13:34] ross-h1 opened #534 "Sequential Sampling Strategy"
Hi all,

I have a sequential problem where I need to build an initial model and then update this as new data arrives (eg. every month for monthly data) I know that sequential MCMC is a whole separate field but for a few reasons (mostly its generality) I want to find an efficient way of using NUTS in this context. Instead of the brute force method of re running the whole sampling from scratch on an

[2020-02-06 14:32] fehiepsi commented on #534
Hi @ross-h1, your requests are interesting! For parameter estimates, I believe you can simply calculate it from posterior samples. For the mass matrix, you can do the same (by calculating (co)variance of your samples) or extract from the hidden attribute (`_last_state`).
[code]

To specify initial values, you can use [init_to_values](http://num.pyro.ai/en/stable/utilities.html#init-to-value) initi

[2020-02-06 15:08] ross-h1 commented on #534
Sounds like I have two requests then!

Had looked at hmc class, but i think the health warning in the docs is well founded!

So:

1. Expose Initial Mass Matrix in NUTS class

2. ’Interpolated’ distribution, although perhaps ‘Empirical’ may be a better name?

Very happy to help create a formal request!

[2020-02-06 16:59] ross-h1 commented on #534
Also, I think the mass matrix is calculated on unconstrained HMC parameters, not on the constrained versions returned in samples?

So need to get at these somehow…🤔

The mass matrix does seem to have a significant effect on sampling speed where there are correlations in the posterior, so worthwhile being able to tweak I think, especially for sequential sampling where the posterior changes very lit

[2020-02-06 17:31] fehiepsi commented on #534
It is a very good point! Yeah, the better option would be to extract from `mcmc._last_state`.

[2020-02-06 18:26] ross-h1 commented on #534
Yep, ok. Would be great to be able to build a new mass matrix though, so could perhaps update this after each set of samples, perhaps using some sort of exponential weighting… then plug back in for the next set of samples. This would provide maximum flexibility, and hopefully make NUTS more viable for sequential problems.

The mass matrix is only updated during warmup I think? This way could get t

[2020-02-08 05:01] fehiepsi commented on #534
@ross-h1 You can run warmup using `fori_collect` in [this example](https://github.com/pyro-ppl/numpyro/blob/master/examples/stochastic_volatility.py#L91). To get the last warmup state, you can use `fori_collect(num_warmup, num_warmup, ..., return_last_val=True)` (sounds complicated... :D).

Yes.

[2020-02-12 22:15] hzyjerry commented on #485
Hi @fehiepsi I'd like to follow up on this and seek your advice :)

My solution has converged to implementing a custom JAX primitive. I have tried using `numpyro.optim` but the compilation is still stalling (could be because the optimization is too complicated with its own JAX computation graphs).

I'm currently stuck at adding XLA translation rules. I believe it's similar to your previous issue a

[2020-02-12 23:06] hzyjerry commented on #485
another solution would be to run numpyro without `@jit` the kernel, since the gradient can be computed by hand.

The speed slowdown would be very tolerable for me. But it seems that `numpyro.kernel` is tightly integrated with `jit` and `lax` and it would be difficult to disable jit compile?

[2020-02-13 06:29] fehiepsi commented on #485
@hzyjerry I think you can define a custom primitive following [gamma sampler](https://github.com/google/jax/blob/master/jax/random.py#L925) pattern. Note that `_gamma_impl` returns a tuple there so that `xla.lower_fun` works.

[2020-02-14 00:01] hzyjerry commented on #485
@fehiepsi Thanks for the pointer! That PR looks amazing.

I'm still trying to get my example to work. I wonder if the `_gamma_batching_rule` is a crucial step in getting it working?

My cryptic error message looks like `RuntimeError: Invalid argument: Expected array argument for input tensor operand of gather op, but got (f32[10,10]).`

[2020-02-14 01:47] hzyjerry commented on #485
Actually was able to get it working by following your PR line by line. Thanks for the help.

[2020-02-14 01:47] #485 closed

[2020-02-19 10:40] ross-h1 opened #539 "GPU Memory"
GPU Memory

Hi guys, have been having some problems with GPU Memory allocation, especially with fori_collect. I’ve read the JAX note on this here:

https://jax.readthedocs.io/en/latest/gpu_memory_allocation.html

- which has helped a bit, though does slow things down. Without using XLA_PYTHON_CLIENT_ALLOCATOR="platform", JAX seems very reluctant to give back memory after each batch of samples. I’m

[2020-02-19 14:52] fehiepsi commented on #539
@ross-h1 You can use [transform](http://num.pyro.ai/en/stable/mcmc.html#numpyro.util.fori_collect) arg to only collect fields you want. E.g., `transform=lambda state: state.z`

[2020-02-19 16:43] fehiepsi opened #540 "Construct a contrib.forecasting module"
Follow up https://github.com/pyro-ppl/pyro/issues/2311, it would be great to have a `contrib` module in NumPyro for forecasting. I expected some differences

- Use NUTS instead of SVI and target a single time series, instead of a hierarchical time series like in Pyro. This is not a good approach for problems with a bunch of "hierarchical" time series. Even in that case, with the inference results

[2020-02-19 17:34] fritzo commented on #540
@slaweku what model class would you recommend? Are there any areas where you think NumPyro's fast HMC or neural nets could outperform competing univariate forecasting tools?

[2020-02-19 20:46] neerajprad commented on #539
@ross-h1 - Is 900 the size of the flattened variables? That's not a lot, and I would be surprised if you are running into memory issues unless you are collecting all the intermediate HMC fields (like the mass matrix). As @fehiepsi mentioned, you can just collect the  `z` field. Let us know if that solves your problem.

[2020-02-19 20:53] neerajprad commented on #534
I think we would like to support (2) for active learning. @karaletsos has also brought up this issue before. I'm not the best informed on this topic, but the `Interpolated` distribution in pymc3 sounds promising. I'm not sure how well that works in high dimensions.

[2020-02-20 12:26] theofanis commented on #534
I hate it to disrupt any discussion here, but I think I was mentioned in a comment here by mistake, which is totally fine, but @neerajprad probably wanted to notify someone else, so it's only fair to drop by and mention it and help you guys reach a resolution faster 😄.

Feel free to delete my comment - or I will gladly do it - after you see this and mention the person you initially intended to.

[2020-02-20 16:44] slaweks17 commented on #540
Sure. A typical univariate tool will fit a model per series, thus losing opportunities from cross-learning. Also. when there are meaningful regressors, available in past and for future (like holidays, calendar features) or limited future covered by prediction horizon (like user attributes, promotions) NNs and generally ML algorithms should do better.

[2020-02-21 09:15] joaogui1 opened #541 "Confusing error on grad of Categorical.log_prob"
I was trying to implement OpenAI's [simple policy gradient](https://github.com/openai/spinningup/blob/master/spinup/examples/pytorch/pg_math/1_simple_pg.py)
using JAX and used numpyro for the categorical distribution, but when computing the gradient I get the following error: `ValueError: start_indices must have an integer type`
Does anyone know what could it be?
Here's a link to the [colab](https

[2020-02-21 10:16] fehiepsi commented on #541
I think you should provide int input to log_prob, probably by changing the following `float32` to `int32`?
[code]

[2020-02-21 11:22] joaogui1 commented on #541
It worked, thanks!

[2020-02-21 11:22] #541 closed

[2020-02-21 16:41] vanAmsterdam opened #542 "NUTS initialization problem when sampling non-observed values from discrete distributions"
In my model I need to sample (possibly observed) discrete variables. Using the `obs=y` where `y=None` possibly, works for Normal distributions, but not for Bernoulli (or Poisson).

This does work in Pyro by the way.

Here is a minimal example:

[code]

[2020-02-21 18:58] fehiepsi commented on #542
@vanAmsterdam Currently, NumPyro does not support models with discrete latent variables (the case `y=None`). We are targeting this for the next release.

[2020-02-21 18:58] neerajprad commented on #542
NUTS will not work with discrete variables. The reason why it works in Pyro is because Pyro marginalizes out all the discrete variables in the model automatically. We are looking to have support for this in NumPyro through integration with [funsor](https://github.com/pyro-ppl/funsor). This will provide a more general framework for discrete variable enumeration or marginalizing conjugate distributi

[2020-02-21 20:50] vanAmsterdam commented on #542
ok thanks for the fast reply

the non-observed discrete variables are all leaf nodes in my model so I should be able move around this issue for now by returning the parameter that goes into the discrete distribution and then sample values outside of the MCMC sampling

btw this is probably a jax issue but looking at the numbers of my example it seems like something's off with jax.random.bernoulli (

[2020-02-21 22:28] fehiepsi commented on #542
You are using the same random key for x and y1/y2, hence they are correlated. :)

[2020-02-22 08:27] vanAmsterdam commented on #542
sorry should have been more clear. The point was that the means of `x[y==1]` and `x[y==0]` are very far apart, even though the should be very close according to the data generating mechanism. On top of this `x[y==1]` should be greater than `x[y==0]`. In fact, there is no overlap between the values of `x` between the groups of `y`:

[code]

I there something wrong with how I call the distributions

[2020-02-22 17:27] fehiepsi commented on #542
I think you will get the expected behavior if you replace
[code]
by
[code]
The situation is similar to when you create two uniform random variables, one in [0, 1] (`x = lambda: np.random.rand(1)`) and another one in [1, 2] (`y = lambda: np.random.rand(1) + 1`). If you use the same seed, you will always get `y() == x() + 1`.

[2020-02-22 21:15] vanAmsterdam commented on #542
ok that works. So the random seed that makes `x = Normal()` be low or high makes `y = Bernoulli(x)` low or high at the same time if you reuse the same seed. Got it, thanks!

[2020-02-22 22:17] #419 closed

[2020-02-24 15:03] jhmenke opened #543 "Very slow compile on simple model"
Below is an example code of using MCMC to infer some variables *vm* (size: 3) and *va* (size: 2). However, on my machine the runtime of the code is about 3 minutes, mostly due to an abnormally slow compilation process. The results are exactly what i would expect though.

Unfortunately, debugging that is not really my expertise, therefore i have created a minimal example and also attached the compi

[2020-02-25 02:23] fehiepsi commented on #543
This is unfortunate. I'm not sure what we can do to improve JAX compiling time... You can temporarily fix the issue by removing [this line](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/mcmc.py#L254). We will investigate more about it.

[2020-02-25 02:33] fehiepsi commented on #543
@neerajprad In #127, we added an arg `heuristic_step_size` to disable the functionality of `find_reasonable_step_size`. In preparing for 0.2 release, we [remove it](https://github.com/pyro-ppl/numpyro/pull/310) because using `lax.scan` solves the slowness of the time series forecasting tutorial or the hmm example IIRC (some discussion [here](https://github.com/pyro-ppl/numpyro/issues/144#issuecomm

[2020-02-25 07:29] jhmenke commented on #543
Thank you so much! It is now down to 11s from 3 minutes.

[2020-02-25 07:44] jhmenke commented on #543
@fehiepsi You are not referring to this call, are you?

https://github.com/pyro-ppl/numpyro/blob/f2aefcf1b034418244c1e465c64bce469388e566/numpyro/infer/hmc_util.py#L383

That finishes in ~3 seconds in debug mode.

[2020-02-25 14:43] tbsexton opened #545 "Obscure NotImplementedError for Categorical"
Somewhat new to numpyro, though more familiar with Jax, so apologies if this is a known issue.

Modelling the boilerplate off of the baseball and time-series forcasting examples, working on a network inference problem (see [here](https://github.com/google/jax/issues/2251#issuecomment-587980705) for an older jax version with discussion)

Setup looks like:

[code]

Where `infections`  is an array wi

[2020-02-25 15:48] fehiepsi commented on #543
I think you would need to increase num_warmup. 300 might be not enough for this model.

[2020-02-25 15:51] fehiepsi commented on #545
@tbsexton This is a duplicated issue of #542.

[2020-02-25 15:56] tbsexton commented on #545
@fehiepsi Interesting. I did see #542 but

- I never use the case of `obs=None`, since all are observed, and
- If discrete observations aren't supported generally, how do the baseball examples work with a binomial observation?

[2020-02-25 15:58] fehiepsi commented on #545
The latent site `x0` in your model is discrete: `ny.sample("x0", dist.Categorical(ϕ))`. Probably you want to another distribution here?

[2020-02-25 16:07] tbsexton commented on #545
Ahh. Ok interesting. Definitely looking forward to that release! Numpyro has been a joy to use, coming from a long-time pymc3 user.

I will have to think this out a bit more...unfortunately [estimating the "patient-zero"](https://iopscience.iop.org/article/10.1088/1742-5468/2014/10/P10016) is a part of the inference problem, for *each observation* in the plate. For now I might simply use the diric

[2020-02-25 16:44] tbsexton commented on #545
@fehiepsi It seems as though the classic work-around continuous approximation to a categorical sample is the [gumbel-softmax](https://arxiv.org/pdf/1611.01144.pdf). Are there plans to implement the Gumbel distribution w/ mixin from pyro?

[2020-02-25 20:48] justindomke opened #546 "possible to use numpyro as a modeling language only?"
Hi! I'm very interested in this project. However, my potential use is a bit different from what seems typical with numpyro, and I was wondering if there was a "recommended" way to go about it.

In short, what I'd like to do is use numpyro as a modeling language only, and implement my own inference algorithms. Essentially, I'd like to define a model in numpyro, then specify values for some subset o

[2020-02-25 23:15] fritzo commented on #545
@fehiepsi am I correct that this model will be enabled by enumeration after your Funsor integration?

[2020-02-25 23:56] fehiepsi commented on #546
I think all of those (`log_prob` and `constrain`) are exactly what [initialize_model](http://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.util.initialize_model) does for you. You can find its usage in [this example](http://pyro.ai/numpyro/examples/stochastic_volatility.html).

[2020-02-25 23:59] fehiepsi commented on #545
@tbsexton That would be a great "good first issue". :)

@fritzo Yes, that is my purpose for the integration with funsor. Do I miss something technically (that funsor is not suitable for this purpose)?