[2020-02-26 03:35] justindomke commented on #546
Thank you! Indeed, that seems to do it! In case this is of interest to anyone else, here's what I think is a minimal working example of this:

[code]

Which leads to the results of

[code]

[2020-02-26 07:36] jhmenke commented on #543
Thanks! Unfortunately, even using 100 000 warmup samples makes it converge to the wrong value.

First plot is without any code changes and the low number of samples:
![bokeh_plot](https://user-images.githubusercontent.com/25080218/75322436-05340500-5873-11ea-9f8b-e0bfa8e5dcbe.png)

This is with the single line removed and 100k warmup samples and 100k samples

![bokeh_plot (1)](https://user-images.

[2020-02-26 12:28] LysSanzMoreta opened #547 "missing expand_by() feature"
Hi!

I am writing to kindly request the expand_by() for sampling from distributions feature (present in pyro) to appear also in numpyro. We had to implement a not so pretty work-around by expanding the dimensions of the parameters (means, sd,...) in order to achieve something similar.

Thank you very much in advance!! :)

[2020-02-26 13:46] justindomke commented on #546
Actually, could I be even more greedy?

Is there any way to create a function that's like `potential_fn` except that it also takes an `rng_key` argument and performs data subsampling? (Probably subsampling only over `plate`s as determined by `subsample_size` arguments?

As an example of something that doesn't work, I tried the following:

[code]

My hope what that a random `c` would be used in eac

[2020-02-26 15:28] fehiepsi commented on #546
Looking like [get_potential_fn](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/util.py#L406) with `dynamic_args=True` is what you are looking for:
[code]

[2020-02-26 15:32] fehiepsi commented on #547
@LysSanzMoreta could you elaborate your usage case? It seems to me that you can use [sample_shape](http://num.pyro.ai/en/stable/primitives.html#numpyro.primitives.sample) instead.

[2020-02-26 15:39] fehiepsi opened #548 "[FR] add Gumbel distribution"
As requested @tbsexton at #545, it would be nice to have Gumbel distribution in NumPyro.

References: [wikipedia](https://en.wikipedia.org/wiki/Gumbel_distribution), [pytorch dist](https://pytorch.org/docs/stable/distributions.html#gumbel), [jax sampler](https://jax.readthedocs.io/en/latest/jax.random.html#jax.random.gumbel).

[2020-02-26 17:22] LysSanzMoreta commented on #547
Hi!

Oh! I see, this:
M = pyro.sample("M", dist.StudentT(1,0,3).expand_by([data1.shape[0],data1.shape[1]).to_event(2))

Is the same as:
M = numpyro.sample("M", dist.StudentT(1, 0, 3), sample_shape=(data1.shape[0], data1.shape[1]))

I think we missed the sample_shape argument back then or we were very focused on finding expand_by(). We did extra work for nothing heheh, but it's ok, works either way

[2020-02-26 20:58] fehiepsi commented on #543
@jhmenke I think that disabling `find_reasonable_step_size` does not cause the issue. Probably you are facing [identifiability](https://mc-stan.org/docs/2_22/stan-users-guide/collinearity-section.html) issue. Could you verify that the inference gives consistent results with different random seeds? Another way is to verify your posterior predictive.

[2020-02-27 07:46] jhmenke commented on #543
I can confirm that using different random seeds produces different results, i.e., it's not an issue with numpyro.

[2020-02-27 10:35] vanAmsterdam commented on #514
I have a different use case for the same problem of reusing a model for different data without recompilation. It's a measurement error / latent variable model with global and local parameters. To get N samples from the posterior predictive over new data, we will need to run separate MCMC runs with the same model, but with global parameters substituted from N different posterior samples from the in

[2020-02-27 10:55] vanAmsterdam opened #549 "Sampling with invalid observations (e.g. Poisson(1|-1))?"
Is this a bug or is this by design? If so, maybe it deserves a notion in the documentation of sample / distributions.

[code]

doesn't throw an error

[2020-02-27 12:16] fehiepsi commented on #549
This is expected. We don't validate obs value at `sample` statement, but will validate it at log_prob computation.
[code]
will raise a warning for you and mark out-of-support log probability by -inf.

[2020-02-27 12:51] fehiepsi commented on #514
@vanAmsterdam Does your global parameters have different shapes in each run? If your data/parameters have the same shape, then you can avoid [recompiling](https://github.com/pyro-ppl/numpyro/blob/master/test/test_mcmc.py#L535) by setting `MCMC(..., jit_model_args=True)`.

[2020-02-27 14:19] justindomke commented on #546
Thanks so much for your help! I tried an implementation using `get_potential_fn` but doesn't seem to quite do what I expect. Here's what I tried:

[code]

The results are:

[code]

Since the result above for the same parameters and the single value `c=1.0' was `6.228439` I had expected a result at the end of  `potential_fn:  6.228439`. Any idea why this isn't happening?

[2020-02-27 14:31] justindomke commented on #546
Thanks so much for your help! Just in case anyone else would like to see a full example of this, here's a version that uses `inialize_model` with 2 data without any data subsampling

[code]

The results are:

[code]

Now, here's a version that uses `get_potential_fn` with subsampling:

[code]

With the results of

[code]

Since `(8.115278+7.970379)/2=8.0428285` this is exactly what we want.

[2020-02-28 06:03] fehiepsi commented on #547
It seems that `sample_shape` works, so I close this issue. :)

[2020-02-28 06:03] #547 closed

[2020-02-28 15:16] vanAmsterdam commented on #514
Tried it and it makes a huge difference, thanks!

[2020-02-28 16:17] tbsexton commented on #548
Also commenting to add info on `gumbel-softmax`, which kicked off this discussion (continuous approximation of categorical distribution).

[Paper](https://arxiv.org/pdf/1611.01144.pdf), [(deprecated?) Pytorch version with straight-through forward-mode support](https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L1447)

[2020-03-02 15:06] tbsexton commented on #548
Wow, thanks to @daydreamt! That was fast. I'd be happy to close this, or re-name it as "Gumbel-Softmax" if that functionality is also wanted.

Based on the pytorch link above, it seems like they are making use of some pytorch-specific detachments, etc. to implement the straight-through version (argmax in the fwd/sampling direction, softmax in the backward/gradient direction, if I'm understanding c

[2020-03-03 11:34] jhmenke opened #552 ""Cannot find valid initial parameters" after data size exceeds some threshold"
I am not sure if it's a bug or a problem with my model. In that case please close this issue :)

I am using the Bayesian Neural Network example as my base here, D_H (hidden layer neurons) being set to 30. D_X is 36 while D_Y is variable. I have found that as long as D_Y is below certain number (7 in my case), everything works great and i get expected results. However, as soon as i use another inpu

[2020-03-03 16:36] fehiepsi commented on #552
@jhmenke You can try some init_strategy such as [init_to_prior](http://num.pyro.ai/en/stable/utilities.html#init-to-prior) or [init_to_value](http://num.pyro.ai/en/stable/utilities.html#init-to-value).

[2020-03-03 16:43] fehiepsi commented on #548
@tbsexton A similar version can be implemented using [jax.lax.stop_gradient](https://jax.readthedocs.io/en/latest/_autosummary/jax.lax.stop_gradient.html#jax.lax.stop_gradient), which plays the role of PyTorch `detach`. However, I am not sure how useful it is to solve your problem. Could you open a new issue which sketches your ideas and your feature request? FYI, we have [RelaxedOneHotCategorical

[2020-03-03 16:43] #548 closed

[2020-03-03 16:50] fehiepsi commented on #549
@vanAmsterdam You can follow up on the question in [the forum](https://forum.pyro.ai/). Currently, the only method which requires validating samples is `log_prob`, so the current design is fine IMO. If you have other suggestions, please let us know.

[2020-03-03 16:50] #549 closed

[2020-03-03 16:51] fehiepsi commented on #545
Closed as a duplication of #542.

[2020-03-03 16:51] #545 closed

[2020-03-03 16:55] fehiepsi commented on #546
@justindomke We have a [forum](https://forum.pyro.ai/) where those tips would be more accessible to users. Thanks for your clear report! We didn't focus much on SVI, hence subsampling, right now so it is awesome that the MCMC utilities work out of the box for you. :D

[2020-03-03 16:55] #546 closed

[2020-03-03 16:58] fehiepsi commented on #539
@ross-h1 I think using `transform` arg will resolve the issue for you. Please open this again if it doesn't help. For some large models, JAX might also require more memory than it should (I am not sure).

[2020-03-04 08:28] jhmenke commented on #552
Thanks. Of the available options, only *init_to_median* works up to  a bigger size but also stops working (even with, e.g., 100 samples) at some point.

Do you think it would make sense to train a discrete ANN first and then transfer the trained weights as the means of the Normals in the BNN?

[2020-03-04 17:56] fehiepsi commented on #552
In your model, `sigma_obs` has real support, which will cause NaN if it takes a negative value; so using HalfNormal or Exponential prior to `sigma_obs` would be more reasonable. But I don't know why `init_to_value` does not work. I think that as long as you can find a good init params, `NaN` shouldn't happen (this points out that there should be some bugs in `find_initial_params` logic).

[2020-03-05 08:05] jhmenke commented on #552
Although i have no idea of the math behind it, replacing the Normal with a HalfNormal solves the error for any init_to_* or even None at all.
You can probably decide better if it should have worked regardless when i chose _init_to_value_ (so there's a bug) or if it's just a poor model.

[2020-03-05 15:27] fehiepsi commented on #552
Great to hear that it solves your problem. I guess you didn't specify an initial valid value for `prec_obs` site using `init_to_value`, e.g. (`init_to_value({"prec_obs": 1.})`)?

[2020-03-06 07:29] jhmenke commented on #552
Of course i forgot. I only set w1-w3 and b1-b3. Setting prec_obs to a value > 0 (i tried 0.1) seems to work even if i use Normal instead of HalfNormal.

Thank you so much for your insightful comments!

[2020-03-06 07:29] #552 closed

[2020-03-07 06:34] liseeocean opened #554 "'Normal' object has no attribute 'expand'"
Hi,
I find distributions in numpyro don't have .expand but pyro have. How can I get this one?
It works in pyro:
import pyro.distributions as dist
N=10

wi=dist.Normal(0., 1.).expand([N, N]).to_event(2)

Not work in numpyro:

import numpyro.distributions as dist
N=10

wi=dist.Normal(0., 1.).expand([N, N]).to_event(2)

[2020-03-07 06:37] fehiepsi commented on #554
@liseeocean This seems like a duplicated issue of https://github.com/pyro-ppl/numpyro/issues/547#issuecomment-591486854. Could you check if it solves your problem?

[2020-03-07 07:34] liseeocean commented on #554
Thank you very much for your quick reply! Do you know how to use "from pyro.nn import PyroSample" in numpyro?
In Pyro:
self.linear = PyroModule[nn.Linear](hidden_size, output_size)
self.fc1.weight = PyroSample(dist.Normal(loc=0., scale=1.))

[2020-03-09 19:09] fehiepsi opened #556 "Support numpyro.subsample"
As [requested](https://github.com/pyro-ppl/numpyro/issues/546#issuecomment-592002328) by @justindomke, it would be nice to have native support for subsampling, without requiring users to write subsample code.

This also comes from the internal discussion we have today.

[2020-03-09 20:09] martinjankowiak opened #557 "Add example usage of numpyro.infer.SA"
perhaps to baseball.py?

[2020-03-09 20:46] fritzo commented on #556
Note there is a new [pyro.subsample()](http://docs.pyro.ai/en/stable/primitives.html#pyro.primitives.subsample) primitive that might be a good place to start.

[2020-03-12 03:10] liseeocean opened #558 "Do you have pyro.random_module or Pymodule in numpyro?"
I tried to use Pyro.random_module or Pymodule in numpyro and it did't work. I don't find similar function in numpyro.
[code]

[2020-03-12 18:37] neerajprad commented on #558
The reason for creating a `PyroModule` interface in Pyro was to use PyTorch JIT for model deployment. You can do bayesian regression in NumPyro by directly writing your model (here is an [example](https://github.com/pyro-ppl/numpyro/blob/master/notebooks/source/bayesian_regression.ipynb)).

[2020-03-13 00:37] liseeocean commented on #558
Hi,

The problem is that  more complex model like cnn, rnn we can't write directly. In pyro, we can use pyro.random_module in "model" or directly use PyroModule but I don't find related information in numpyro.

[2020-03-13 00:38] liseeocean commented on #558
Hi,

The problem is that  more complex model like cnn, rnn we can't write directly. In pyro, we can use pyro.random_module in "model" or directly use PyroModule but I don't find related information in numpyro.

[2020-03-13 13:48] tbsexton opened #559 "Implement `RelaxedOneHotCategoricalStraightThrough`"
Following #548 discussion, and while we wait for discrete latent variables, it would be nice to have a Gumbel-Softmax categorical approximation as featured in Pyro. Didn't realize this was the name given to Gumbel-Softmax in Pyro, but hopefully replication might be straight-forward?

`numpyro` (i.e. Jax) seems uniquely suited for problems involving large discrete structures (e.g. networks), so an

[2020-03-13 13:50] tbsexton commented on #559
[Pyro link](http://docs.pyro.ai/en/1.3.0/_modules/pyro/distributions/relaxed_straight_through.html) for the original implementation.

[2020-03-13 21:40] neerajprad commented on #558
I see. Due to a functional interface for JAX's NN module, I think this might be easier to do with NumPyro without resorting to `random_module`. For instance, if you are using [jax.stax](https://github.com/google/jax/blob/master/jax/experimental/README.md#neural-net-building-with-stax) to build your NN, you can pass in parameter values directly to the NN's `apply_fn`. To make your NN bayesian, you

[2020-03-22 16:04] daydreamt commented on #559
If no one else commits this until then (and no hard feelings if they do), I will give this a stab starting next weekend.

[2020-03-23 17:40] neerajprad commented on #559
@daydreamt - Please go ahead, you will be assured a thorough and timely review. If you have any questions around the codebase, please let us know.

[2020-03-27 12:36] lumip opened #560 "MCMC run with unobserved Poisson output fails"
## Brief summary
I have just been running an MCMC involving a Poisson distribution without the observations to get some prior draws and encountered an `NotImplementedError` doing so.

## Example Code
A simple replicating example is the following:
[code]
The same code runs fine when fixing observations for the model (passing in a `counts` array).

## Details of Encountered Error
The resulting excep

[2020-03-27 17:33] neerajprad commented on #560
I think the error is misleading (we should fix that). In your case, the issue is that we can really use HMC to sample from discrete variables. However, if you just want to sample from the prior, you can use the `Predictive` utility:

[code]

You can use the same class to also draw values from the posterior predictive, by passing in the `posterior_samples` argument (returned values from `mcmc.get_s

[2020-03-28 21:26] leoguelman opened #561 "Non-centered parameterization help"
Hello,

This is not an issue. I'm looking for some guidance on how to code a non-centered parameterization of this Bayesian Hierarchical Model.

[code]

Sample data

[code]

Thank you,
Leo.

[2020-03-29 00:56] nkaimcaudle commented on #561
Hi, this is quite easy in NumPyro.

For a
`a = numpyro.sample("a", dist.TransformedDistribution(dist.Normal(0, 1), dist.transforms.AffineTransform(a_bar, a_sigma)), sample_shape=(20,))
`

and for Rho
[code]

[2020-03-29 11:22] leoguelman commented on #561
This is awesome, thank you!

[2020-03-29 11:22] #561 closed

[2020-04-02 14:40] lumip commented on #560
Ah, I see. Thanks!

[2020-04-02 14:40] #560 closed

[2020-04-07 15:03] dsheldon opened #563 "Numerical issues with GammaPoisson (i.e, negative binomial) for small rates"
I was looking into the use of different observation models for large discrete counts, including the negative binomial distribution, which is equivalent to the GammaPoisson. However, it appears to be numerically unstable for large counts / small rates. (As a side note, it could be nice to expose the negative binomial as a named distribution.)

Here is an example:
[code]

This produces:

![image](ht

[2020-04-07 17:51] fehiepsi commented on #563
@dsheldon Thanks for a clear explanation! I think the issue is JAX's `gammaln` loses precision for high values in 32-bit mode.
[code]
I think you can turn on `numpyro.enable_x64()` to improve the precision.

[2020-04-07 19:15] dsheldon commented on #563
Hi @fehiepsi, this makes sense, and using `numpyro.enable_x64()` does resolve the issue. I was surprised not to see this behavior with the other distributions (e.g. Binomial) that would also use these functions, but they do indeed appear under the right circumstances, e.g.:

[code]

[2020-04-07 20:55] neerajprad opened #566 "Predictive distribution fails on model with lax.scan"
Refer to the [forum discussion](https://forum.pyro.ai/t/state-space-model-is-lax-scan-compatible-with-numpyro-sample/1758/8)

The following snippet:

[code]

fails with:

[code]

[2020-04-07 21:03] fehiepsi commented on #566
@neerajprad I think we can't trace this function
[code]

[2020-04-07 21:47] neerajprad commented on #566
Hmm..yes, that makes sense. We can't really collect `x_i`, `y_i` samples unfortunately, so this doesn't work. I would like to keep this issue open to explore better workarounds for such use cases where we may need to use a jax control flow primitive inside a model. I think the only workaround is to make sure that the body of the control flow doesn't contain any pyro primitives, but I wonder if the

[2020-04-07 22:30] fehiepsi commented on #566
I think that we can follow your direction to rewrite `scan` such that it takes `rng` as `carry` and moves the drawn samples to `collection`. For log_density, given the collection of samples, we use an index `i` in `carry` to select the corresponding samples at each scan step. I think a similar approach can be used for `fori_loop`.

[2020-04-07 22:59] fehiepsi opened #567 "improve gradient computation of eucledian kinetic energy"
I have been wanted to do this for a while. Given the recent improvement in JAX regarding custom derivatives, it is time to make this enhancement. Currently, `kinetic_energy` is defined as `x.T @ M @ x`, which has an analytical grad formula (we will use this instead of relying on `grad`). This is just a small optimization but would be useful for the `dense_mass` case.

[2020-04-09 18:08] dsheldon opened #568 "mask handler does not behave as expected"
I am trying to use the mask handler to mask invalid observed values (nans). Per [this discussion](https://forum.pyro.ai/t/behavior-of-mask-handler-with-invalid-observation-possible-bug/1719), I replace invalid observations with values that are valid for the particular distribution to avoid nans in the gradient. But now it seems that the default values actually affect the posterior distribution.

P

[2020-04-09 19:02] fehiepsi commented on #568
Your argument sounds very reasonable to me. Let me look at this in more details.

[2020-04-09 19:11] fehiepsi commented on #568
@dsheldon It seems that you miss the keyword `mask_array`:
[code]

[2020-04-09 19:19] dsheldon commented on #568
Oh, wow. I guess I misunderstood how to call this.

[2020-04-09 19:21] dsheldon commented on #568
Wait, does inference work for you when you make this change? Now I get:
[code]

[2020-04-09 19:27] dsheldon commented on #568
Update, with this change (using `mask_arrray=mask`), it seems to work as long as there it at least *one* non-masked value:
[code]

For k=0 (all nans) inference diverges and gives all nans as in my last post. For k=1 and k=5 it seems to behave as expected.

[2020-04-09 19:37] fehiepsi commented on #568
Thanks! It eventually leads to another bug. ;)

[2020-04-09 20:12] dsheldon commented on #568
Thanks!! I picked up your fix and this makes a big difference in the model I'm working on.

[2020-04-10 00:20] fehiepsi commented on #563
@dsheldon If you observe something strange, feel free to open an issue like this. Thanks for dive into those numerical issues!

[2020-04-10 00:20] #563 closed

[2020-04-11 13:08] jeammimi opened #570 "MCM sampling with custom jax function"
Hello, I have a function that I have writen using jax in another module and which is called Tpm,
and that use as input an array which is fixed called ran and an input N,4 array that I want to sample.
Here I am trying to use this function in a numpyro model:

[code]
Here I am making it run with a 1,4 array.

If I run it like that it does not work, because the input arrray created is of type dtype a

[2020-04-11 17:28] fehiepsi commented on #570
@jeammimi I think you will need to use
[code]

[2020-04-11 17:29] fehiepsi commented on #568
glad to hear! :)

[2020-04-11 17:29] #568 closed

[2020-04-13 12:39] jeammimi commented on #570
Thank you, it worked.

I have a question regarding the speed of the mcm sampler.

right now for about 400 parameters, the speed of the mcm sampler is about 17s /it .
Is it normal ?
My function take about 6 ms / evaluation.

Best

[2020-04-13 15:08] fehiepsi commented on #570
If your function takes about 6ms/evaluation then `17s/it` might be not normal. Generally, I think you can either:
+ optimize your code
+ reparameterize your model (so it took fewer steps to construct a binary tree in NUTS)
+ or use GPU

[2020-04-14 09:04] jeammimi commented on #570
I dont understand in detail the NUTS algorithm, but at some point it must compute the derivative
of the function with respect to the parameter.
I know that if I just do the gradient of the least square difference between my data and my model,
If I dont jit the gradient, it is slow.
Do your implementation compile the gradient, or does one must give it compiled to increase the speed.
Best

[2020-04-19 22:58] stuhlmueller commented on #542
Just wanted to +1 this. Unobserved discrete latent variables are the most important feature I'd want before switching to Numpyro.

[2020-04-20 03:10] stuhlmueller opened #571 "Inference by enumeration"
Related: [Unobserved discrete latent variables](https://github.com/pyro-ppl/numpyro/issues/542)

[2020-04-20 16:38] neerajprad commented on #571
Thanks for filing this, @stuhlmueller.

My understanding is that most of this work is already happening in Funsor and Pyro, and we may need to port some of @eb8680's refactoring code from https://github.com/pyro-ppl/pyro/pull/2307. @fehiepsi - Please feel free to add any blocking / in-progress issues.

[2020-04-21 05:20] fehiepsi commented on #570
Hi @jeammimi , we use JAX, while compiles both forward and backward (computing grad) pass. You don't have to worry about it I think.

[2020-04-22 17:38] fehiepsi commented on #520
@TuanNguyen27 Did you have a chance to work on this feature? If you want, I can make a PR for this. I need to use this distribution to test out some codes.

[2020-04-22 17:48] TuanNguyen27 commented on #520
ah, please go head, i have't had time to work on this :)

[2020-04-22 18:11] fehiepsi commented on #570
@jeammimi I think we can close this because the topic issue is resolved with `np.stack`. Please open another issue if you observe some performance issue with NumPyro.

[2020-04-22 18:11] #570 closed

[2020-04-23 14:28] jeammimi commented on #570
Yes you are right.
Thank you!

[2020-04-26 17:55] dsheldon opened #576 "KeyError when using scale handler and deterministic"
When I combine the `deterministic` primitive with the `scale` handler:

[code]

it triggers an error:
[code]

The issue seems to be that the `scale` handler expects the field `scale` but `deterministic` does not include it in its message:

[code]

For now I can workaround it like this:
[code]

[2020-04-26 18:02] fehiepsi commented on #576
Thanks for the solution! Could you submit a PR with the fix? I think we can simplify `'scale' not in msg or msg['scale'] is None` by `msg.get('scale') is None`.

[2020-04-26 22:02] freddyaboulton opened #578 "Adding Difference-of-Proportions Example"
Hi,

This is in reference to issue #189 . I have created an example script showing how to test whether two proportions are equal via logistic regression. Can I get permission to push my branch and create a PR?

Thank you!

[2020-04-26 23:44] stuhlmueller opened #579 "Add logistic distribution"
Submissions to [Metaculus](https://www.metaculus.com/) are represented as mixtures of logistic distributions. Having access to logistic distributions would make it easier to use Numpyro in [Ergo](https://github.com/oughtinc/ergo/).

[2020-04-28 02:52] fehiepsi commented on #578
Hi @freddyaboulton , thanks for the contribution! I believe you can push your branch to your fork and make a PR without problems. Let me know if you get any issues.

[2020-04-28 02:53] #576 closed

[2020-04-28 16:05] freddyaboulton commented on #578
Thanks @fehiepsi ! I created #581 .

[2020-04-28 16:05] #578 closed

[2020-04-30 14:13] lumip opened #582 "Poisson may enter infinite loop under vmap"
We ran into a situation yesterday where we essentially run something like
[code]
which did not terminate for a long while (we gave up after 10 minutes or so). The same happens for `numpyro.infer.Predictive(model, num_samples=100, parallel=True)(<rngkey>)`.

The issue appears when using non-constant rate parameters for the Poisson distribution and vmap around the (seeded)
model function. Using a co

[2020-05-01 06:55] fehiepsi opened #585 "Optimize compiling time for MCMC"
Now we start looking at large models. We need to remove unnecessary traveling the model to reduce compiling time.

#### Single-chain init

We travel 4 times: 1 to find `inv_transforms`, 1 to find init sampling state (which involves computing potential energy), 2 to find valid initial params (which involves computing both `inv_transforms` and potential energy).

- [x] We should only need to travel

[2020-05-02 02:00] ethanluoyc opened #587 "substitute_fn argument in the substitute effect handler."
Is the way to use substitute_fn expected?

I was expecting that values returned by substitute_fn will be unchanged. However, from the code it appears that these values will be base_value and will be transformed. This is not mentioned in the documentation.

https://github.com/pyro-ppl/numpyro/blob/25d055ad4b5a5e85a02159af87e8db1451243217/numpyro/handlers.py#L432

[2020-05-02 04:24] fehiepsi commented on #587
@ethanluoyc You are right that it will substitute base values of transformed distributions. We should document it better. Btw, I believe that we will remove this arg when #511 is incorporated.

[2020-05-02 12:45] ethanluoyc commented on #587
Actually I would like to know if substitute with the original value can be supported? I am writing an LMH sampler and this comes handy..

[2020-05-05 11:32] cmlakhan commented on #531
Sorry I don't have much experience installing GPU libraries.  So are you saying JAX with GPU support needs to be built from source?

I attempted this

[code]
and then installed numpyro which reinstalls the CPU version of JAX.

When I tried to replace with jax 0.1.57 I get the following error

[code]

[2020-05-05 14:11] fehiepsi commented on #531
@cmlakhan The command `pip install --upgrade $BASE_URL/$CUDA_VERSION/jaxlib-0.1.45-$PYTHON_VERSION-none-$PLATFORM.whl` will install `jaxlib` version `0.1.45` with GPU-supported. `jax` package is independent of CPU/GPU/TPU so you don't have to worry about that. I think you can install `numpyro` first and then `pip install --upgrade jax`.

[2020-05-05 15:18] cmlakhan commented on #531
So I have tried various combinations and am unclear about what is going on.  It seems to be a numpyro/JAX version incompatibility problem

First I just tried to install Jax with GPU support

[code]

Then I tried as you suggested

[code]

but I get an error saying that numpyro is consistent with jax 0.1.65

[code]

So then I force it to install with jax 0.1.57 and it goes back to the CPU version

[

[2020-05-05 18:38] fehiepsi commented on #531
Yes, it is expected because you want to use the latest jax version. NumPyro still works with the latest version I believe. I think you can install NumPyro with no dependencies `pip install --no-deps numpyro`.

[2020-05-05 19:55] cmlakhan commented on #531
That did it, thank you very much!  For reference this worked on my end.  Installed on an AWS GPU instance (Deep Learning AMI (Ubuntu 18.04) Version 28.1).

[code]

[2020-05-06 17:15] ahmadsalim commented on #566
I am trying to port the DMM example to NumPyro and experiencing the same issues when using SVI. I really support the idea of making NumPyro primitives work within Jax loops 😄

[2020-05-06 17:33] neerajprad commented on #566
@ahmadsalim - we agree that this will be important to have. I think having effect handlers work generically within jax control flow primitives might be hard, but there may be a way to rewrite some version of these control flow primitives in a way that makes writing such loops and collecting samples easier, like @fehiepsi mentioned above. We will look into it.

[2020-05-07 03:47] fehiepsi opened #590 "Use the convention jax.numpy -> jnp"
JAX team has decided to follow the above convention. We should also update the codebase with this convention, i.e. using `import numpy as np; import jax.numpy as jnp`

I marked this issue as low priority but contributions are very welcome!

[2020-05-09 19:25] dsheldon opened #593 "add namespace feature?"
I've found myself writing small model components that include `numpyro.sample` statements and are reused in several places within a model. To avoid duplicate names I need to pass unique prefixes or suffixes into the components.

I had the idea that this might be more cleanly handled with a `namespace` handler. Here's an example of what I'm thinking:

[code]

And the handler:

[code]

What do you t

[2020-05-09 21:18] fehiepsi commented on #593
This looks like [scope handler](https://github.com/pyro-ppl/pyro/blob/dev/pyro/contrib/autoname/scoping.py#L88) in Pyro. I think it would be great to have. :+1:

cc @eb8680

[2020-05-10 01:32] eb8680 commented on #593
I think @dsheldon's `namespace` implementation is fine.  There's some extra weirdness in `pyro.contrib.autoname.scope` involving adding a counter suffix to sites and namespaces that appear more than once that hasn't proven to be all that useful in hindsight.

[2020-05-11 13:52] lumip commented on #582
I guess this can be closed now, unless you want to wait for results on the related jax issue?

[2020-05-11 14:14] lumip opened #594 "AutoContinuous not working correctly with TransformedDistribution"
The implementation of `AutoContinuous` will not work with `TransformedDistribution` objects, because the transformations specified for the distribution seem to be never applied. We encountered this issue with a `LogNormal` distribution and here is a minimal example:
[code]

If the key is seeded with 0, this will produce `nan` values (but it will work fine
for a seed of 1, or even if the order of m

[2020-05-11 16:21] fehiepsi commented on #594
Hi @lumip, we haven't moved autoguide out of `contrib` to the main `numpyro.infer` module because there are some issues with it. One reason is as you mentioned above. Could you try [AutoContinuousELBO](http://num.pyro.ai/en/stable/autoguide.html#numpyro.contrib.autoguide.AutoContinuous) as in [neutra](https://github.com/pyro-ppl/numpyro/blob/master/examples/neutra.py#L31) example? I believe we can

[2020-05-11 16:23] #579 closed

[2020-05-11 16:24] fehiepsi commented on #582
Thanks, @lumip !

[2020-05-11 16:24] #582 closed

[2020-05-12 10:04] lumip commented on #594
`AutoContinuousELBO` works but makes our life a tiny bit more difficult, but I guess that's what we get from using "non-standardized" modules :) Looking forward to the final integration of the autoguide.

I have to say, however, that it seems like a somewhat odd choice to implement the autoguide such that it violates assumptions for existing library parts and then, rather then addressing that, cre

[2020-05-12 16:10] fehiepsi commented on #594
Great question! Back then, pyro does not have reparameterization implemented, so autoguide will give incorrect results if the model has dynamic support (e.g. a Uniform(0, a) prior, where `a` is another latent variable). When we developed numpyro, we want to address it by using automatic reparameterization all priors with dynamic support. The solution is good but it adds a lot of complexity in the

[2020-05-13 22:29] eb8680 commented on #566
It looks like JAX has a new experimental library `loops` that might play nicely with effect handlers: https://github.com/google/jax/blob/master/jax/experimental/loops.py

[2020-05-13 23:26] neerajprad commented on #566
Thanks for pointing this out, @eb8680! I'll definitely take a look at this as I find time. It will be really cool if effect handlers would work with this.

[2020-05-14 02:08] fehiepsi commented on #566
Looks interesting! I have been thinking about this issue for a while. I think we can mimic its ideas: rewrite content inside `loops.Scope()` into lax.control_flow primitives.

I think I can come up with a solution for a loop with simple content. Let's see how it goes. :) (I'll be pretty excited if it works)

[2020-05-14 02:35] fehiepsi commented on #554
The `.expand()` method is available now. Thanks for making this feature request!

[2020-05-14 02:35] #554 closed

[2020-05-14 02:35] #540 closed

[2020-05-14 02:37] fehiepsi commented on #543
Just update: the `find_reasonable_step_size` functionality is disabled by default.

[2020-05-14 02:37] #543 closed

[2020-05-17 01:38] fehiepsi commented on #309
JAX now supports an experimental [host_callback](https://github.com/google/jax/blob/master/jax/experimental/host_callback.py). It seems that this is doable now, but we need to study how that module works.

[2020-05-18 14:18] organic-chemistry opened #597 "Problem with setting initial value"
(I am using numpyro   0.2.4)

Hello,
when I run my model I have the following error:

`Cannot find valid initial parameters. Please check your model again`
When I print the value for the first samples of the model, I don't understand how the values are sampled, because I choose a small scale for the normal distribution but the values sampled are far from the initial values:

in the model Here is a

[2020-05-18 16:53] fehiepsi commented on #597
@organic-chemistry Could you try [init_to_prior](http://num.pyro.ai/en/stable/utilities.html#init-to-prior) strategy? (you can just set `init_strategy=init_to_prior()` in [NUTS](http://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.mcmc.NUTS) definition)

[2020-05-18 21:43] fehiepsi commented on #587
Oops, sorry, somehow I missed your comment. Could `param_map` argument resolve your issue? We are going to remove those `base_param_map`, `substitute_fn` arguments because they are not necessary. Could you share your usage case so we can have better decisions?

[2020-05-19 02:35] fehiepsi opened #598 "0.3 release checklist"
Here we list issues that we want to address for the next release:

- [x] Port `pyro.infer.reparam` #599
- [x] Remove all `base_param_map`/`transform_with_intermediates` stuffs to simplify our codebase. Remove `AutoContinuousELBO`. #601
- [x] Update `neutra`, `neal_funnel`, `eight_schools` examples to reflect the usage of `reparam`
- [x] Update the pattern to define improper prior #605
- [x] Move `

[2020-05-19 08:55] ross-h1 opened #600 "implicit sampling statements"
Hi guys, I'm looking at implementing this in Numpyro, which seems an excellent way of removing indeterminate nature of Probablistic PCA:

https://github.com/RSNirwan/HouseholderBPCA/tree/master/py_stan_code

The original code is written in Stan.

The component variances (sigma) are 'implicitly' sampled in the Stan code as a positive ordered vector, and the model logprob is incremented directly, wo

[2020-05-20 06:13] fehiepsi commented on #600
Hi @ross-h1 , about positive ordered vector, I think it is a [ComposeTransform](http://num.pyro.ai/en/stable/distributions.html#composetransform) of [OrderedTransform](http://num.pyro.ai/en/stable/distributions.html#numpyro.distributions.transforms.OrderedTransform) and [ExpTransform](http://num.pyro.ai/en/stable/distributions.html#exptransform). To declare such `positive_ordered_vector` constrain

[2020-05-20 06:45] ross-h1 commented on #600
Yep is improper and not explicitly sampled. Ok so declare this as a parameter with some initial value, and I can increment model Log Probability via Numpyro.factor?

Thank you, Ross

[2020-05-20 08:40] organic-chemistry commented on #597
Thank you it worked.
It may be useful to mention using other init_strategy when the error
`Cannot find valid initial parameters. Please check your model again`
is raised. I struggle for quite some time before asking here.
Thanks again

[2020-05-20 08:41] #597 closed

[2020-05-20 13:04] lumip opened #602 "_NumpyroOptim causes double jit-compilation"
We've noted that our SVI-trained models are always jit-compiled two times (in the first and second epoch, not more afterwards). This is caused by the initialization of `_NumpyroOptim` in conjunction with [jax issue 3163]( https://github.com/google/jax/issues/3163).

Briefly, `_NumpyroOptim.init` returns a tuple, the first entry of which tracks the iterations the optimizer has seen, which is initia

[2020-05-20 15:01] OlaRonning opened #604 "Single-site MCMC"
Hi,

I'm implementing [Newtonian Monte Carlo](https://arxiv.org/pdf/2001.05567.pdf) into Numpyro. The algorithm proposed in the article chose a random site to update as described in [single-site MCMC](https://arxiv.org/pdf/2001.05567.pdf).

I'm having trouble randomly selecting the site. If I use `random.choice` then the chosen site is cached and repeated on every iteration, and as the sites as st

[2020-05-20 16:07] #602 closed

[2020-05-20 16:15] fehiepsi commented on #600
Yes, you can add custom log_prob using factor. For the log_prob of unconstrained sigma, it will be added automatically through the transform from unconstrained domain to positive ordered domain, so no need to worry about it. :)

Do you want to make a PR for positive_ordered_vector constraint? It would be nice to turn our discussion into something useful for other users. :)

[2020-05-20 17:51] fehiepsi commented on #604
@OlaRonning I think you can use [jax.lax.cond](https://jax.readthedocs.io/en/latest/_autosummary/jax.lax.cond.html#jax.lax.cond) here. For example, the following code snippet returns the log_prob of a random site
[code]
which returns
[code]

[2020-05-20 21:14] OlaRonning commented on #604
@fehiepsi that looks very promising thank you! I need to finish testing it, and I'll open a PR. Will be good with some feedback :D

[2020-05-21 06:11] fehiepsi commented on #598
@neerajprad I want to remove the support for improper prior through `pyro.param`. The reasons are:
+ We can achieve the same purpose by using `sample(name, dist.Foo().mask(False))`. Using `sample` is better because we can draw samples from the (improper) prior to get initial values; rather than a fixed value from `param` statement.
+ The distinguish between `param` and `sample` is clearer.
+ Keeps

[2020-05-21 21:27] neerajprad commented on #598
Removing support seems fine to me and +1 to more uniformity with Pyro's syntax. We should just make sure that we document and raise a warning/error that tells users how to change their code. I'm curious to see your `.mask(False)` solution. Let's discuss that when you have a PR up.

[2020-05-23 12:29] #558 closed

[2020-05-23 12:30] fehiepsi commented on #558
Closed to follow up in the forum instead.

[2020-05-27 05:40] #587 closed

[2020-05-27 05:40] #594 closed

[2020-05-27 19:56] fehiepsi opened #610 "Support MaskedDistribution, ExpandedDistribution for TransformReparam"
cc @neerajprad

[2020-05-28 08:52] #604 closed

[2020-05-29 12:25] vanAmsterdam commented on #492
I'd like to +1 for adding this to some docs / readme
I didn't know about this behavior from jax; I was running into the same issue and have spent quite some time trying to profile the code

[2020-05-29 13:06] vanAmsterdam commented on #600
is something going to change to the way param states are handled by MCMC?
when installing from source I get different behavior than when installing through pip

aren't model1 and model2 supposed to be equivalent? (https://github.com/pyro-ppl/numpyro/blob/d52c7f0a8adde52408a45bf8fb145fbf28e676b8/notebooks/bayesian_regression.ipynb)

now when I use model2 I get the message from here: https://github.

[2020-05-29 18:57] fehiepsi commented on #492
Sure, we'll add a note into `run` method. Do you want to contribute? :)

[2020-05-29 19:03] fehiepsi commented on #600
@vanAmsterdam Yes, `param` nodes will be treated as constant. We found that it is better to distinguish `sample` and `param`. To get the old behavior, you can use
[code]
What do you think about this change? We love to hear more about your opinion.

[2020-05-30 07:05] vanAmsterdam commented on #600
In terms of consistency of writing code I would say yes. I personally was a bit puzzled by this param behavior in the context of MCMC before, although it is more in line with the stan way of declaring parameters first and then sampling priors later.

Will it be possible to add constraints to the sample statements? I need an ordered vector parameter (for the OrderedLogistic distribution). How would

[2020-05-30 07:24] fehiepsi commented on #600
Whoa, good point!!! I thought that every constraint has a corresponding distribution but you are right about ordered logistic. We should fix this soon. I like the idea of ImproperUniform in Pyro: https://github.com/pyro-ppl/pyro/pull/2495/files#diff-6ed267332a6a0424d3099a26160813c2 , so the code will be something like sample(..., dist.ImproperUniform(support)). How about that?

@fritzo @neerajprad

[2020-05-30 14:36] vanAmsterdam commented on #600
ImproperUniform(support) would make the code more explicit compared to dist.Uniform().mask(False) in my opinion, so that's a plus. Would it be able to incorporate every constraint though? Aren't constraints (like 'ordered_vector') more general?

+ for my case I wan't to add additional information to the parameters (normal prior, centered around zero), as opposed to an uninformative prior on a rest

[2020-05-30 14:52] vanAmsterdam commented on #492
something like this #611 ?

[2020-05-30 15:08] fehiepsi commented on #600
Yes, it should work for any bijective constraint including [ordered_vector](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/distributions/transforms.py#L582).

I think using `numpyro.factor` or an observed statement as you did should work. I agree that a solution would be more flexible, but a bit worried that we need some interface changes. Alternatively, we can have something like SomeNam

[2020-05-30 16:02] ross-h1 commented on #600
I think some examples with factor/ param in the context of sampling might be really helpful.

A tutorial going from a model set up for MCMC to running the same model in VI in Numpyro would also be great...

[2020-06-02 21:25] fehiepsi commented on #600
Hi @ross-h1 , I think you can find the usage of `factor` in [HMM](https://github.com/pyro-ppl/numpyro/blob/master/examples/hmm.py#L128) example. FYI, we will move `autoguide` from `contrib` to the main `infer` module soon. For now, you can see how to use MCMC and SVI to get posteriors in [neutra](https://github.com/pyro-ppl/numpyro/blob/master/examples/neutra.py) example. But it would be great to

[2020-06-03 02:01] neerajprad opened #615 "Use ExpandedDistribution in numpyro.plate"
Since #574, I think we should be able to switch our existing logic to use `ExpandedDistribution` instead of our current logic. This will align the underlying implementation with that of Pyro and possibly aid with funsor integration.

[2020-06-03 16:01] fehiepsi commented on #615
I guess we can also use MaskedDistribution for mask handler to simplify `mask` logic in `log_density` computation. WDYT?

[2020-06-03 16:33] fehiepsi commented on #610
@neerajprad Looking like your issue requires to handle the composition of those distributions? Or we just need to support some simple composition?
[code]

[2020-06-03 18:10] neerajprad commented on #610
@fehiepsi - it will be nice if we could support arbitrary compositions, but let me think about it a bit to see if there's a natural way to do this.

[2020-06-03 18:13] neerajprad commented on #615
For `ExpandedDistribution` my only use case is supporting funsor integration, but if we don't need it for that, I'm happy to keep things simple as they are now. What was your reason for migrating it to NumPyro?

Likewise, I would say the same for MaskedDistribution, but it seems that you already have a use case for that, so let us use `MaskedDistribution` for that instead.

[2020-06-07 18:17] fehiepsi opened #620 "Support `do` handler"
While answering a [question](https://forum.pyro.ai/t/beginners-toy-examples-tutorials-for-exact-inference-on-discrete-variables/1911) in the forum, I found that `do` handler will be useful if users want to intervene with a value for a site to compute conditional distribution, rather than joint distribution.

Here is how [poutine.do](https://github.com/pyro-ppl/pyro/blob/dev/pyro/poutine/do_messeng

[2020-06-08 20:23] jkgiesler opened #621 "SVI GammaPoisson: Forward-mode differentiation rule for 'digamma' not implemented"
I'm trying to use SVI with a GammaPoisson distribution on jax version 0.1.57 and numpyro version 0.2.4.

[code]

This code will generate the following exception:

I was able to successfully use MCMC:

[code]

Does this seem right? If so, I'm happy to raise this issue with the jax team. Are there other distributions that are known to work with MCMC but not SVI in numpyro?

[2020-06-08 21:19] fehiepsi commented on #621
Yes, I think you can make a FR in JAX. Currently, it lacks jvp rule for `digamma` so we can't compute hessian for models involving `gammaln`. You can test it with
[code]

[2020-06-08 22:48] #615 closed

[2020-06-09 00:10] fritzo commented on #621
In Pyro we also provide a cheap approximate [log_beta()](https://github.com/pyro-ppl/pyro/pull/2500) function that uses only `log()` internally and so is differentiable. I've been using that for `BetaBinomial`, but you could in principle use it for `NegativeBinomial` as well.

[2020-06-09 00:22] nh2liu opened #622 "SVI leaking memory?"
I'm having issues with numpyro, specifically `SVI` using GPU memory when running the same model multiple times.

I've set `XLA_PYTHON_CLIENT_ALLOCATOR=platform` as advised in jax docs to debug this further.

Here's a sample gist of the code I am using to debug this.

https://gist.github.com/nh2liu/2570812c5913a8e0889e746274188aba

The loop at the bottom runs a SVI for each iteration. Even though n

[2020-06-09 05:22] TuanNguyen27 commented on #620
I'd like to work on this over the weekend if no one claims it by then !

[2020-06-10 01:58] fehiepsi commented on #621
Thanks, @fritzo ! I just fixed this issue upstream. Using `log_beta` sounds good to me but we need to find a way to expose `tol` argument.

[2020-06-10 05:16] neerajprad commented on #622
Thanks for the sample gist, @nh2liu. Do you also see this with the CPU? The only thing that I can think of is that JAX has a compilation cache which can grow without bound. I don't have a GPU available currently, but could you check if the number of `jax.interpreters.xla.DeviceArray` objects increases as the loop runs (using `gc.get_objects`)?

[2020-06-10 05:27] fehiepsi commented on #622
Agreed! I think JAX users usually solve this issue by doing e.g. `jit(train)(X, y, key)`.

[2020-06-10 14:01] vanAmsterdam opened #624 "Why 'seed' the model in posterior predictive density in bayesian regression tutorial?"
This may be a minor thing, but going through the Bayesian Regression notebook tutorial again, I noticed this piece of code:

[code]

If I'm not mistaken, this `handlers.seed(...)` bit doesn't do anything and could be left out. It might be a bit confusing to someone reading about the posterior predictive density.

[2020-06-10 22:56] fehiepsi commented on #622
Yeah! Actually, it will rarely affect functional programmers who don't use `lambda`. :D

[2020-06-11 21:31] #590 closed

[2020-06-15 04:39] fehiepsi commented on #542
Thanks for the example and feedback @vanAmsterdam! FYI, the issue has been resolved with #572. Until that PR is landed, let's move the discussion to #571 instead. :)

[2020-06-15 04:39] #542 closed

[2020-06-15 04:46] fehiepsi commented on #571
@stuhlmueller We added [some tests](https://github.com/pyro-ppl/numpyro/pull/572/files#diff-fed0396c70de3697c3e0eb518df45b00) for enumeration (gaussian mixture model, Bernoulli latent) in #572. Could you take a look at those tests and let us know if they already cover your usage cases? We love more feedbacks/examples before getting through that PR. Thanks!!

[2020-06-15 22:11] fehiepsi commented on #624
Thanks, @vanAmsterdam! We have fixed the tutorial.

[2020-06-15 22:11] #624 closed

[2020-06-15 22:12] fehiepsi commented on #621
Closed because this issue has been addressed upstream. Thank @jkgiesler for bringing this up!

[2020-06-15 22:12] #621 closed

[2020-06-15 22:12] #610 closed

[2020-06-15 22:14] fehiepsi commented on #610
Closed because ExpandedDistribution has been supported. For MaskedDistribution, we can use `ImproperUniform` instead (as illustrated in the docs of `ImproperUniform`).

[2020-06-15 22:15] jkgiesler commented on #621
Excellent, thank you!

[2020-06-15 22:16] fehiepsi commented on #600
Closed because all the questions have been addressed. I think we can have further discussions in forum or in a new topic. Thanks for all the feedback so far, @ross-h1 and @vanAmsterdam!

[2020-06-15 22:16] #600 closed

[2020-06-16 03:24] #520 closed

[2020-06-16 03:24] #511 closed

[2020-06-16 03:25] fehiepsi commented on #492
Thank @vanAmsterdam for addressing this issue!

[2020-06-16 03:25] #492 closed

[2020-06-17 03:21] fehiepsi commented on #545
@tbsexton With #572, it is possible to marginalize discrete latent variables so I think that your original model should work. Currently, we have some tests for the Gaussian mixture or latent Bernoulli models. Personally, I would like to turn your model into an example to illustrate this new functionality of NumPyro. If you agree, could you suggest me a dataset to run your model?

[2020-06-17 19:05] fehiepsi opened #639 "Allow arbitrary sample_sample in Predictive"
Currently, we assume the sample_shape in Predictive is `(num_samples,)`, but it might be more convenient to allow arbitrary shapes here. Some motivations are:
+ We can apply Predictive on samples with `group_by_chain=True`. For models with discrete latent variables, we don't replay the model to collect the value of discrete sites so we need to use Predictive to collect those samples. Of course, we

[2020-06-17 19:07] fehiepsi opened #640 "Support `hide` argument in `block`"
If we want to hide some sites, using `hide_fn=lambda site: site['name'] == 'x'` is a bit inconvenient. We can mimic Pyro by allowing an extra `hide` argument, so users can just simply use `hide=['x']`.

[2020-06-17 21:15] neerajprad commented on #639
I am not opposed to it, but would like to understand the use case better. For case 1, we should be able to flatten the chain dim and use `Predictive`, right? For the second case, could you point me to the code so that I understand what the issues are.

[2020-06-18 04:01] fehiepsi commented on #639
Yes, you are right that this is not an issue. I just found it more convenient to avoid `reshape` stuff. Here is my code for gmm (there is nothing special with it), predictions will have the leading dimension with size 1. If we allow something like `sample_shape=()`, the output won't have that leading dimension. At the time I write this, I found that `batch_ndim` might be a better argument (by defa

[2020-06-18 17:59] tbsexton commented on #545
@fehiepsi I would love that. Actually, I've been working on a paper that may include that model, but I honestly haven't been able  to test it out until now! So I have code that would easily synthesize data for it (it's a form of network "backboning", like [this work](https://www.nature.com/articles/s41467-019-08667-3) but with diffusion dynamics baked in ).

Would it be possible for me to get set

[2020-06-18 19:02] fehiepsi commented on #545
Awesome!! I can't wait for your contribution. :D We used notebooks and put them in [this folder](https://github.com/pyro-ppl/numpyro/tree/master/notebooks/source). Please feel free to fork #572 and create a PR.

[2020-06-19 13:49] Joshuaalbert opened #643 "Best method for complicated multimodal posteriors"
Are there any plans to implement something like pyMC3's SMC which works quite well for multimodal posteriors. I perform inference in angular coordinates where phase wrapping occurs and this results in periodic structure in the posterior. NUTS often fails. I'll provide data simulation and model for completion. Note the effective sample size is low and the Rhat is high even after 1M draws.

[code]
I

[2020-06-19 14:36] Joshuaalbert opened #644 "Incorperating NUTS into larger jittable function"
I'd like to use NUTS to perform inference as a small subpart of a larger call. I'd like the whole thing to be jit compilable for maximal performance. Is this possible with numpyro, specifically with NUTS?

[2020-06-19 14:37] Joshuaalbert commented on #643
This would be useful example for https://github.com/pyro-ppl/numpyro/issues/189 once solved.

[2020-06-19 14:40] fehiepsi commented on #644
Yes, it is possible. Sometimes, I do things like
[code]
then reuse `jit_nuts`. Does it solve your usage case?

[2020-06-19 15:26] Joshuaalbert commented on #644
Thanks for the fast reply! Yes, that's perfect. I should have tried it before asking, but thought better to ask in case others have similar questions. Followup question: What things in numpyro are not jittable?

[2020-06-19 15:55] fehiepsi commented on #643
Hi @Joshuaalbert, currently, we don't have a plan to implement SMC. However, we welcome contributions on new inference methods because NumPyro is community-oriented (like other Pyro projects).

Personally, I am not familiar with SMC. For multi-modal problems, I tend to use normalization flows to neutralize posterior geometry. For example,

[code]

with `num_samples=10000`, I get

[code]

[2020-06-19 16:04] fehiepsi commented on #644
Haha, I think JAX devs should answer that question. AFAIK, some utilities in [diagnostic](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/diagnostics.py) are not jittable because that module uses `numpy` instead of `jax.numpy` to calculate the statistics. We use `numpy` there because we think that users will want to calculate them outside of `jit` context (to avoid the small overhead of JA

[2020-06-19 16:11] Joshuaalbert commented on #643
Thanks for this thoughtful reply. This result looks ok considering the priors were vague.
I would would be happy to contribute my use case once I am happy with it.
As for tempered sampling, I would love to have it, and would consider contributing it, but I'll need some guidance. I'll start another issue for that.

[2020-06-19 16:16] fehiepsi commented on #643
Sure, please ping us for any questions that you have! The [forum](https://forum.pyro.ai/) is also a good place to discuss because it will catch the attention of other users and it is easier to search for the old topics there.

[2020-06-19 16:20] Joshuaalbert commented on #643
Hmm, I'm getting
[code]
Both on pip 0.2.4 and on master HEAD.

[2020-06-19 16:27] Joshuaalbert commented on #643
Ah, no worries had to first delete package and reinstall

[2020-06-19 19:51] #593 closed

[2020-06-19 23:54] Joshuaalbert commented on #643
@fehiepsi I get strange results with NeuTra and it seems the "good" result with the simulation parameters I posted was a coincidence. Firstly, the posteriors that I get out sometimes have shrunken or clipped domains (even if I use priors with real-line support I often see sharp cutoffs in the posterior, which I can only imagine is due to the nonlinearity of the NN). The posteriors are just wrong f

[2020-06-20 00:19] Joshuaalbert commented on #643
NeuTra seems to be aimed at making HMC efficient and making better geometry when the curvature changes a lot throughout the domain. Can it actually handle multi-modality? Is there a way to visually see this?

[2020-06-20 04:23] fehiepsi commented on #643
Opps, I don't have much experience with multi-modal problems. Using block neural autoregressive is by far the best approach I know. It can cover multi-modal pretty well as you can see from this image https://images.app.goo.gl/2ntJEW8kX33vJ6RK6

I did try NeuTra in large dataset such as covtype and it also helps mixing MCMC a lot. But that is the farthest I go. About some issues that you raised, I

[2020-06-22 09:58] vanAmsterdam opened #645 "Allow for calculation of log_likelihood by chain?"
When checking inference, diagnosing log_likelihoods by chain could provide some insight, e.g. if the posterior has different modes. Currently passing samples that are `group_by_chain`-ed to `log_likelihood` will lead to broadcasting errors. Maybe we can add something like this:

[code]

the only thing I have been struggling with still is to keep the possibility to pass *args to the model call...

[2020-06-22 20:23] fehiepsi commented on #645
Thanks, @vanAmsterdam! I guess the easiest workaround is to do `smps  = mcmc.get_samples(group_by_chain=False)`, get likelihoods, then reshape the output to `num_chains x num_samples x ...`. The job can be easier if we incorporate an argument `batch_ndim` or something like that, so users just need to set `batch_ndim=1` to get the current behavior, `batch_ndim=2` to get chained likelihood, and `bat

[2020-06-22 21:06] #640 closed

[2020-06-23 13:02] Joshuaalbert commented on #643
@fehiepsi I'll use this issue to post some of my findings. For a small introduction to problematic posteriors people might first read [this](https://mc-stan.org/docs/2_23/stan-users-guide/sampling-difficulties-with-problematic-priors.html). I think I'll focus in this thread on NeuTra. I think we'll need a few modifications to it for a truely robust implementation that "just works".

[2020-06-23 17:28] neerajprad commented on #639
@fehiepsi - Sorry for a late reply on this. Is the reason for this that we have additional enumeration dims on the left, or is this a more general issue? I am trying to understand all the interface issues involved with Predictive and assess if it shares any commonality with Pyro.

Fritz has also pointed out a couple of issues with Predictive in Pyro (the last one was about being able to use sample

[2020-06-23 17:52] tbsexton commented on #545
@fehiepsi  heres the initial attempt. Having a strange broadcasting error and very little luck debugging it...can't find many examples in the docs with similar observations to compare? If you find the issue let me know; I have a lot more writing I can add to it, assuming it works.

https://github.com/pyro-ppl/numpyro/pull/646

[2020-06-24 05:05] fehiepsi commented on #639
I guess the purpose of that Pyro PR is to align sample dimensions so that those samples can be substituted into a vectorized model, which is similar to the output of `Predictive.get_vectorized_trace` method. I didn't intend to address that in this issue. My proposal is a bit simpler: to avoid having to reshape the `sample_shape` to use Predictive. Currently, we require `sample_shape = (num_samples

[2020-06-24 05:40] fehiepsi commented on #643
Sure, I am looking forward to seeing your results. I just read that Stan article and tried to use NeuTra for such examples
[code]
and got
[code]
which is pretty good comparing to vanilla NUTS without NeuTra in that Stan article. I guess NeuTra plays some regularization job here...

[2020-06-24 17:58] #566 closed

[2020-06-29 15:21] #644 closed

[2020-06-29 18:08] fehiepsi opened #650 "Indepedent distribution does not have `enumerate_support` implemented"
This bug is observed in #646.

[2020-06-29 18:36] fritzo commented on #650
Note we specifically avoided implementing `IndependentDistribution.enumerate_support()` in torch.distributions because the size of the cartesian product space grows exponentially in `event_shape.numel()`, so most uses would be impractical or lead to OOM errors.

[2020-06-29 18:53] fehiepsi commented on #650
I see. Thanks for explaining! I am going to ask this question in slack but you are so fast. :))

[2020-06-29 18:53] #650 closed

[2020-06-30 02:32] fehiepsi commented on #598
@neerajprad I think that my last refactoring job is to split `SA` implementation from `mcmc.py` file, as you requested in the last release. Another point that you wanted to discuss was whether or not to include `deterministic` sites to the output of `AutoGuide.get_posterior`. What is your opinion about it now? (the current behavior is to include `deterministic` sites to the output) I think that's

[2020-06-30 05:43] neerajprad commented on #598
This is purely an internal code organization related change, so it shouldn't block us from releasing.

I don't recall the discussion right now, and the arguments for each. Could you point me to it? In any case, I don't think any of these issues should be blocking us from doing a release.

The only thing that will be nice to have is usage of `scan` in some tutorial / example. Can we modify our time

[2020-06-30 13:05] Joshuaalbert opened #656 "Refactor MCMCKernel code and make them composable"
Currently, it's very difficult to work on code inside `mcmc` because all the logic is mixed up in various places. It makes it impossible, for example, to modularly compose sampling. I want to write nested sampling using the composition MetropolisHastings(NUTS). The NUTS proposes a new state that samples the likelihood weighted by the prior, and then the MetropolisHastings accepts only those where

[2020-06-30 15:25] fehiepsi commented on #598
The discussion that we deferred for later about autoguide is from https://github.com/pyro-ppl/numpyro/pull/601#issuecomment-634387357

I think I can modify ts forecasting example to illustrate scan. Nice suggestion!! Thanks ;)

[2020-06-30 16:47] fehiepsi commented on #656
Yeah, we like to make MCMCKernel as flexible as possible. We want to understand more about your refactor request. Let me illustrate what is going on in the pseudo-codes below:

Currently, MCMCKernel contains 3 methods
[code]

With composed kernel, I guess you mean something like?
[code]

I am not sure if that is suitable for your usage. In addition, I don't quite understand the monolithic stuff th

[2020-06-30 20:45] neerajprad commented on #656
@Joshuaalbert - The internals of NUTS are complicated because of various performance related optimizations but this complexity should be internal. Is there anything that you would want to change at the level of `MCMCKernel` interface to allow for better composability?

If I understood your problem correctly, my suggestion would be to use composition within your kernel (instead of inheritance). Arb

[2020-06-30 22:53] Joshuaalbert commented on #656
Thanks for the replies. In terms of composing, there isn't a need for general composability. @neerajprad your code is actually just was TFP does for the MH kernel. Their MH kernel accepts an `inner_kernel` argument and then inside its `one_step` (equiv to your `sample`) does:
[code]
`log_acceptance_correction` is to be returned as part of the results of `inner_kernel` or else assumed zero. This is

[2020-06-30 23:29] Joshuaalbert commented on #656
Just wondering what the reason for not using `*args` and `**kwargs` here,
[code]

[2020-07-01 00:24] Joshuaalbert commented on #656
@fehiepsi I need to compute the log-likelihood at the current proposal inside `sample`. What's the best way to do that? It looks I need the `model` and then call `numpyro.infer.util.log_likelihood(model, proposed_state, *model_args, **model_kwargs)`. Is that correct? Then, do I need to manually pass in `model` to the sampler and construction time or is it possible to get the model some other way?

[2020-07-01 02:55] fehiepsi commented on #656
It is just our preference to use `model_args`, `model_kwargs` for intermediate functions/methods (i.e. those not interacted by users). That way, we don't have to worry about name conflicts when we pass `*args, **kwargs` from user inputs to those intermediate utilities. (e.g. a conflict will happen when user's model contains `state` keyword).

Yes, it is basically like that. You will need to conver

[2020-07-01 03:12] fritzo commented on #656
In addition to the added safety in avoiding name conflicts, there is a slight performance improvement by avoiding unrolling and constructing the tuple and dict each call.

[2020-07-01 05:59] neerajprad commented on #656
I usually find it easier to think of a single batch dim for these utilities in the spirit of `jax.vmap`, but I think you have a few examples to suggest that having `batch_ndims` will be useful, so let us include this in our utilities. I think the default value of 1 would lead to no change to existing code, and users should be able to adjust this to 0 like in this case, or 2 for multi chains.

[2020-07-01 09:16] geoHeil opened #658 "installation / deployment to conda-forge"
Is anyone working on making this library available via conda-forge?

[2020-07-01 11:39] Joshuaalbert commented on #656
Thanks for the information. It turns out I'll actually need to touch some NUTS/HMC code to implement constrained HMC. Basically, after each spatial step in constrained HMC a constraint (infinite potential barrier) is checked and if violated then the particle bounces off the barrier. This requires the addition of another `cond`, which is not great for accelerators but necessary.

[1] Constrained HM

[2020-07-01 14:45] fonnesbeck opened #659 "NumPyro pegs CPU cores after sampling completes"
I'm running a relatively simple model in NumPyro:

[code]

Which completes sampling in a few seconds on my local machine. However, I notice that the cores (4) on my machine remain pegged at 100% even after sampling completes. Running a subsequent task, such as getting the mcmc samples, or sampling again, results in a hang of the Python session. Anyone seen this behavior before? I get similar behav

[2020-07-01 20:38] neerajprad commented on #659
Thanks for trying out numpyro! I haven't seen such an issue before. Do you find python hanging when running any of the existing examples, say `python examples/baseball.py`? Another thing to note is that due to JAX's [asynchronous dispatch](https://jax.readthedocs.io/en/latest/async_dispatch.html), it is possible that the sampling isn't finished. To see if that's the case, you can add `mcmc.print_s

[2020-07-02 01:59] nkaimcaudle commented on #659
I think it's the same misunderstanding I encountered when using NumPyro initially, #492. JAX returns control to Python before it has finished execution.

[2020-07-02 02:02] fonnesbeck commented on #659
I think you are right, thanks. I will close this.

[2020-07-02 02:02] #659 closed

[2020-07-02 03:58] fehiepsi commented on #658
Hi @geoHeil, we don't have a plan for making NumPyro available in conda-forge. NumPyro depends on JAX, which does not have a conda build. In addition, we don't have the bandwidth to maintain conda builds for Pyro packages. NumPyro is purely Python and only has a few dependencies,  so using `pip` is enough I guess.

[2020-07-02 19:50] fehiepsi opened #661 "[FR] port `pyro.lift` handler to NumPyro"
This [Pyro handler](http://docs.pyro.ai/en/stable/poutine.html#pyro.poutine.handlers.lift) lifts `param` sites to `sample` sites, which is useful for #655.

[2020-07-03 05:23] geoHeil commented on #658
Are you certain?

- https://github.com/conda-forge/jaxlib-feedstock
- https://github.com/conda-forge/jax-feedstock

both are registered as feedstocks.

As far as I understand it, for now, this is only for the CPU versions (yet) on conda, but I might be wrong.

[2020-07-03 06:18] neerajprad commented on #658
We had some discussion around this in Pyro - https://github.com/pyro-ppl/pyro/issues/1494, which may be relevant. Since both Pyro and NumPyro are just python libraries, you should be able to use pip in your conda environment or install it through an `environment.yml` file without issues. Are there any specific reasons to have a separate conda package?

[2020-07-03 07:34] geoHeil commented on #658
Indeed:

[code]

something along these lines can be set. But from the logs it looks like pip then installs a couple of libraries like jax again.

[2020-07-03 14:33] fehiepsi commented on #658
Interesting, thanks! I didn't know that some contributors are maintaining jax/jaxlib builds in conda-forge. This [JAX thread](https://github.com/google/jax/issues/189) discusses the progress so far. It seems like currently, only CPU version is available.

I think this issue happens because numpyro releases depend on specific JAX versions. We might consider removing it when JAX 0.2 is released. Unt

[2020-07-03 16:40] vanAmsterdam opened #663 "TransformedDistribution broken in MCMC?"
A NegativeHalfNormal distribution, defined with an AffineTransform gives negative samples when sampling directly, but when used in mcmc context, only positive samples. This works properly in the pip-version of numpyro 0.2.4 but not in the development version

[code]

[2020-07-03 17:08] fehiepsi commented on #663
@vanAmsterdam Currently, AffineTransform only works for a positive `scale`. What NumPyro 0.24 does can be translated to the code
[code]
in the `master` branch (see the eight school example in README). Does it serve your purpose?

If you want to use `NegativeHalfNormal` directly, I think we need to provide `support = constraints.less_than(0)` and its corresponding transform but currently, both Pyro

[2020-07-03 20:33] fehiepsi opened #665 "Behavior of `condition` handler is different from `pyro.condition`"
In Pyro, we allow `condition` on observed sites, but this is not allowed in NumPyro. Should we relax this constraint? cc @neerajprad

(I think this issue will block #638: we can not compose `do(condition(...))`)

[2020-07-03 20:46] fritzo commented on #665
@eb8680 ?

[2020-07-04 01:19] eb8680 commented on #665
I don't see why this would block #638, can you explain?

[2020-07-04 01:25] fehiepsi commented on #665
With `condition(model, {'z': 1})`, `z` will be come an observed site. Then in `do.process_msg(z_site)`, we do `apply_stack(z_site.copy())`, which will do `condition` again on the observed `z_site.copy()`.

[2020-07-04 06:19] geoHeil commented on #658
How stable is the numpyro master? I thought it is better to use the latest 0.2.4 release.

[2020-07-04 15:36] fehiepsi commented on #658
We tried to keep up with the latest JAX release, but there is a serious bug in JAX that is likely to be fixed in the next JAX release: we can't reshape samples from multi-chain MCMC. The remaining functionalities are pretty stable IMO.

[2020-07-04 15:39] fehiepsi commented on #665
Actually, this constraint is [relaxed in Pyro](https://github.com/pyro-ppl/pyro/pull/2157/files#diff-8b4f7d602fb71525c816c41901267f78) to support `do` handler. :D

[2020-07-04 16:51] vanAmsterdam commented on #663
thanks for quick reply; It did use to work in the previous versions though

This works. However, I got ~500 more diverging transitions for my model and somewhat worse mixing between chains. The model is a bit too involved to create into a minimal working example. Can this be related to the `reparam` functioning? Or are there other important recent changes to mcmc?

[2020-07-04 19:55] fehiepsi commented on #663
Oops, sorry about that.............

AFAIK, we only change [find_heuristic_step_size](http://num.pyro.ai/en/latest/mcmc.html#numpyro.infer.mcmc.HMC) from `True` to `False` to improve compiling time. Could you change it back to `True` to see if that is the reason?

Could you also help us diagnose the issue by trying different random seeds (using `mcmc.run(PRNGKey(new_seed))`)? We haven't noticed re

[2020-07-04 20:42] neerajprad commented on #658
I suppose you can also pin the jax and jaxlib versions in your `environment.yml` file to the same as in numpyro's [setup.py](https://github.com/pyro-ppl/numpyro/blob/v0.2.4/setup.py). The reason why we have needed to pin to a jax/jaxlib release in the past is that we found small changes to jax's api that would end up breaking compatibility, though as things become more stable, we would be able to

[2020-07-06 17:19] #557 closed

[2020-07-06 17:29] fehiepsi commented on #658
I marked this issue as "help wanted" in case some NumPyro users want to create and maintain a conda-forge build for NumPyro. Because some versions of jax/jaxlib are available in conda-forge, I guess registering NumPyro there might not be so complicated.

[2020-07-07 22:49] #665 closed

[2020-07-07 22:49] #661 closed

[2020-07-07 22:51] fehiepsi commented on #645
@vanAmsterdam Now, you can compute log_likelihood by chain by specifying 'batch_ndims=2'.

[2020-07-07 22:51] #645 closed

[2020-07-07 22:52] #639 closed

[2020-07-08 01:42] fehiepsi opened #671 "Cannot reshape the output of chained MCMC"
This issue is created to make sure that https://github.com/google/jax/issues/3597 is resolved before we release the next version.

[2020-07-08 01:44] fehiepsi commented on #598
I created this issue to track down issues for 0.3 release. Most of them are addressed or in reviewing so I will close this now.

[2020-07-08 01:44] #598 closed

[2020-07-08 19:54] tomsons22 opened #673 "Jacobian of constrain_fn returned by initialize_model"
Hi,

I have a question about the automatic transformations applied to models with constrained domains. Once we define a model `model`, we can initialize it using `init_params, potential_fn, constrain_fn = initialize_model(model, ...)`. Here, `constrain_fn` receives an unconstrained sample `u` and returns a sample `c` constrained to the correct domain. I want to compute the log-abs-det of the Jacob

[2020-07-08 20:23] fehiepsi commented on #673
Hi @tomsons22, you are right about that. In 0.2.4, the transform only transforms unconstrained values to the base values of transformed distributions. We have removed that ambiguity in the master branch. However, we also change the API of those utilities in `infer/util.py` a bit. I think, for now, the corresponding code will be
[code]

The easiest way to get log det of the transforms for general m

[2020-07-08 21:00] tomsons22 commented on #673
Hi @fehiepsi,

Thanks for the helpful response! I have two additional questions regarding your answer:

(1) "We have removed that ambiguity in the master branch." This means that, with the version of Numpyro in the master branch and the piece of code you wrote, ` constrain_fn(u)['tau']` and `T['tau'](u['tau'])` would always return the same thing, right? (In other words, the method I propose in the

[2020-07-08 21:13] PHYSICSIDEA opened #674 "Metropolis Hasting MCMC for simulating spin model"
Dear numpyro team,

So I am dealing with what is so-called spin models in physics, whereby the state space is discrete and of very large dimension. The standard procedure to approximate the true distribution ( which is theoretically a Boltzmann distribution) of such systems consists of generating a Markov chain of states, one after another, by specifying a transition probability from the current t

[2020-07-08 21:18] fehiepsi commented on #673
Yes.

I think you can use the hidden function `numpyro.infer.util._get_model_transforms` to get the transform and use `numpyro.infer.util.transform_fn` to forward/inverse those transforms. To avoid using that hidden function, for most models (including all models without `deterministic` sites), you can also use
[code]

[2020-07-09 06:54] fehiepsi opened #675 "Support LocScaleReparam"
I found that writing TransformedReparam is too verbose for several examples, e.g. the eight school example in README or [this example](https://github.com/pyro-ppl/numpyro/blob/b06be2b46c8b026e365c9504d2b6e4956ea268e8/examples/annotation.py#L218) in #672. So it would be nice to port LocScaleReparam in Pyro to here to simplify those programs.

[2020-07-09 07:02] fehiepsi commented on #674
Hi @PHYSICSIDEA, you can create an MH kernel by subclassing [MCMCKernel](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/mcmc.py#L44) and implementing `init` and `sample` method. Could you take a look there and see if that interface is enough for your purpose? I am happy to discuss with you any difficulty that you got.

[2020-07-09 16:51] #673 closed

[2020-07-10 15:54] fehiepsi commented on #663
@vanAmsterdam Any news for this issue? I think this is a random seed issue but I am not sure... Probably we made some mistakes during refactoring work.

[2020-07-10 19:38] fehiepsi opened #678 "Improve compiling time for numpyro.markov"
This issue tracks progress toward improving the compiling time of `numpyro.contrib.funsor.markov`.

This can be separated into 3 tasks:
- [x] Collecting all log_prob terms together with their dimension information. We might rewrite `markov` using a functional interface `transition_fn`, then using `scan` for this purpose.
- [x] Using something like [sequential_sum_product](https://github.com/pyro-p

[2020-07-10 19:51] fehiepsi commented on #678
For the first task, I think we can do something like
[code]

[2020-07-11 22:34] fehiepsi commented on #678
So far, I come up with the following sketch

[code]

When I run
[code]
I get the shapes
[code]
as expected because I haven't used any `markov` (`LocalNamedMessenger`) stuff here. @eb8680 do you think that we can modify the function `f_f` such that the third shape `(2,)` instead of `(2, 1, 1)`?

This is low-priority. I just want to explore some approaches toward resolving the compiling issue.

[2020-07-12 08:16] vanAmsterdam commented on #663
I found out the divergences are most probably due to a bug in my own code. I have to prioritize running experiments over developing code for now so I can't debug it right now but don't leave this hanging on my account

[2020-07-12 16:35] fehiepsi commented on #663
Thanks for the feedbacks @vanAmsterdam! They are really valuable for improving NumPyro. If you observe any regression, please let us know, we'll follow up.

[2020-07-12 16:35] #663 closed

[2020-07-12 17:05] fehiepsi commented on #674
@PHYSICSIDEA We just expose [MCMCKernel in docs](http://num.pyro.ai/en/latest/mcmc.html#numpyro.infer.mcmc.MCMCKernel). I hope that subclassing it and implementing `init`, `sample` would be enough for your MH kernel compatible with `MCMC` class. Please let me know if you need further clarification either here or in [forum](https://forum.pyro.ai/).

[2020-07-12 17:05] #674 closed

[2020-07-13 01:19] #675 closed

[2020-07-13 01:23] fehiepsi commented on #571
After #572, MCMC works for models with discrete latent variables. We'll follow up on the compiling time issue for `markov` models in #678.

[2020-07-13 01:23] #571 closed

[2020-07-13 06:49] fehiepsi commented on #678
Finally, with the change
[code]
we are able to scan over `markov`:
[code]

a big step for now :D

[2020-07-15 13:42] AdrienCorenflos opened #685 "Support for Empirical distributions"
Hi,

I have started implementing an Empirical distribution by porting the pyro one.
Kind of unsure how to do the log probability, I actually think the implementation in pyro might be a bit problematic for limited memory GPUs as it artificially creates a N * N tensor where N is the number of diracs in the distribution.

Does anyone have a better idea?

Code as it stands for now:
https://colab.resea

[2020-07-15 15:08] fritzo commented on #685
I would think the cleanest way to deal with the `O(N * N * d)` complexity of all-pairs-equality is to implement a matmul-like operation that uses less memory (or optionally uses less memory) under the hood. Naive matmul is also `O(N * N * d)` but is implemented via cheap kernels that perform reductions over one of those `N`s locally, so the space complexity is reduced to `O(N * d)` and time comple

[2020-07-15 17:44] fritzo opened #686 "Vectorized interpretation for pyro.scan"
This proposes to implement a vectorized interpretation of `pyro.scan` that completely parallelizes over the time axis. This follows a hand-implementation of vectorization in `pyro.contrib.epidemiology` (in [CompartmentalModel._relaxed_model()](https://github.com/pyro-ppl/pyro/blob/776b6ef966a089bce573cdf34a202a45f34053e2/pyro/contrib/epidemiology/compartmental.py#L980-L983) and [._vectorized_model

[2020-07-16 12:04] vedal commented on #531
updated instructions for `jaxlib-0.1.51` at:
https://github.com/google/jax#pip-installation

[2020-07-16 19:25] fehiepsi commented on #686
This is nice to have! If you need any functionality from jax/numpyro, just let me know. About `block_trace_but_allow_replay_and_condition`, probably it is simpler in NumPyro because you can use `control_flow` primitive (as in `numpyro.contrib.control_flow.scan`) and decide if `substitute_stack` is empty or not. If that stack provides all information to do vectorization, then you can run `vectorize

[2020-07-16 20:46] prpr2770 opened #687 "Creating Custom Distributions in Numpyro | TypeError: sample() got an unexpected keyword argument 'sample_shape'"
Hi, I'm a newbie to Pyro/Numpyro. I'm trying to create a custom-distribution which tries to sample uniformly at random a Permutation Matrix from the space of all possible permutation matrices for a given dimension `n`. I achieve this by initializing the Identity Matrix, `eye(n)`, and then iteratively exchanging any two randomly chosen rows. The `log_prob` helps to define that the sample was genera

[2020-07-16 22:06] fehiepsi commented on #687
@prpr2770 I think you need to use the same signature of [sample](http://num.pyro.ai/en/stable/distributions.html#numpyro.distributions.distribution.Distribution.sample) method as in `Distribution` class.

[2020-07-17 00:25] prpr2770 commented on #687
I made the following changes to the definition of the Custom Distribution

[code]
And followed up with the following call
[code]
I obtained the following error

[code]

[2020-07-17 03:05] fehiepsi commented on #678
Closed because this issue is mainly for discussion. #682 will resolve this issue.

[2020-07-17 03:05] #678 closed

[2020-07-17 04:51] prpr2770 commented on #687
I've resolved the issue, by referring to this `http://num.pyro.ai/en/stable/_modules/numpyro/primitives.html`

[code]

However, could you please guide me on the usage of a rng_key in the Custom Distributions. I'm not sure whether we need to consider them as input-parameters explicitly, or whether the `~numpyro.handlers.seed` shall do some magic with this.

[2020-07-19 18:44] vanAmsterdam commented on #663
just for completeness, I can confirm that the extra divergences I found were due to a bug in my own coding. It was due to a numeric overflow / underflow issue that was swept under the carpet by `lax._safe_mul` but is now exposed since jax 0.1.62 (https://jax.readthedocs.io/en/latest/CHANGELOG.html#jax-0-1-62-march-21-2020)

[2020-07-20 04:26] fehiepsi commented on #687
@prpr2770 You don't need to worry about `rng_key` I think. You can look at other distributions' implementation to get an overview. For example,
[code]
then to generate a permutation, you can use
[code]

[2020-07-20 05:08] wandomPewlin opened #688 "Running PyPl release on Colab GPU runtime has suboptimal performance"
I spent quite some time trying to get numpyro to run on Colab's GPU runtime. Initially, I got it to work by running the following code block.
[code]
I then ran the [logistic_regression](https://github.com/pyro-ppl/numpyro/blob/master/notebooks/source/logistic_regression.ipynb) benchmark with both CPU and GPU runtime on Colab. The CPU version took `~35ms` per step while the GPU version took `~27ms`

[2020-07-20 15:13] ethanluoyc commented on #587
I think this would work! Thanks!

[2020-07-23 11:26] vedal commented on #514
@fehiepsi Thanks for the tip to set `jit_model_args=True`. However, I tried it on the [Time Series Forecasting](http://pyro.ai/numpyro/time_series_forecasting.html) example, and it gives shape errors. Do you have any idea what the reason for this could be?
Error:
```ValueError: Axis size 4 does not match leading dimension of shape (80,)```

[2020-07-23 17:13] fehiepsi commented on #514
Hi @vedal, I think it is a bug, thanks for catching it!

I guess `mcmc.run` runs in parallel in background due to [async dispatch](https://jax.readthedocs.io/en/latest/async_dispatch.html). `get_samples` is pretty cheap and does not involve numeric operators.

[2020-07-23 17:15] fehiepsi opened #691 "Can't use jit_model_args for multi chains"
@vedal observed it in #514:

[2020-07-24 08:48] vedal commented on #691
Thank you so much @fehiepsi for amazing responsiveness and lightning-fast PR. This seems to partially solve my problem, but I unfortunately hit another error in the mentioned tutorial (at least on my side) when running with `jit_model_args=True`:
https://github.com/google/jax/blob/master/jax/numpy/lax_numpy.py#L3774

The error seems to be due to the parameter `seasonality` in function `sgt`. When

[2020-07-24 13:41] fehiepsi commented on #691
Thanks @vedal! I see that jitting index/length arguments might not be permitted. Beside your solution, there are other options such as:
+ set `seasonality=38` by default and don't feed it in `mcmc.run`
+ equivalently, set `model=partial(sgt, seasonality=38)` for NUTS.

Because the tutorial does not use `jit_model_args`, I think it is better to leave it as-is. :) Do you think `jit_model_args` helps

[2020-07-24 14:20] vedal commented on #691
@fehiepsi I like the `model=partial(...` solution, thanks for the tip!

The tutorial-example runs fast for me, but I'm not sure if my setup is optimal. At the moment, I use a 24-core machine with
4x RTX2080 GPU. Using the gpus (with `numpyro.set_host_device_count(4)`) and `num_chains=4`, I get nowhere the speed of using `cpu` and device count 24 and `num_chains=24`. The GPUs take forever. Not sure

[2020-07-24 14:37] fehiepsi commented on #691
GPU is slow for small-tensor operators. That might be the main reason I guess. If your model involves large tensor ops, then GPU will be faster. (Most of the operators in `sgt` model are scalar, so CPU is much faster there)

You can simply set `jit_model_args=True/False` instead of using GPU. I don't observe the difference between those options.

[2020-07-24 19:11] jawolf314 opened #695 "NumPyro master and PyPI versions not in sync"
Hi - I was running some examples that use newly released features on the master branch and noticed that the PyPI version seems to be based on the version 0.2.4 from January 2020.  I wonder if this is because the minor versions need to be incremented -- many new features have been added since January 2020, but the minor version has not been incremented.  Not sure how this package is updated on PyPI

[2020-07-24 19:18] jawolf314 commented on #695
One reason the versioning may be important is that with the releases since January there are some backwards incompatibility issues if using the master branch (e.g., the SGT example). If someone downloads NumPyro from PyPI and then tries running the latest SGT - the example will fail at the imports.

[code]

[2020-07-24 21:55] fehiepsi commented on #695
@jawolf314 Do you have some solutions for this issue? I understand your point but not sure what is the best way to deal with it.

[2020-07-24 21:58] fehiepsi commented on #695
Maybe we can add some pip statements at the first cell (like colab notebooks) which install the specific versions (if it is no longer backward compatibility) and remove it for each release?

[2020-07-24 22:07] neerajprad commented on #695
I think when we move to using jax master for development, we could just bump up the version in `version.py` and checks in the examples / tutorials, i.e. our examples/tutorials on the master branch should assert that numpyro's version is at least `0.2.5`, and our `version.py` should be `0.2.5-dev`. That way the examples on the master branch will fail the assertion when run on an earlier version of

[2020-07-24 22:27] jawolf314 commented on #695
@fehiepsi I am not sure the best way to deal with this. I was wondering if there is CI/CD to PyPI when the new master branches are released - but based on the pip install numpyro the original 0.2.4 seems to be what is pulled from PyPI. I was wondering if incrementing the minor version when there are changes to master would be required - depending on how the deployment to PyPI is done.  I imagine m

[2020-07-24 23:29] #691 closed

[2020-07-25 03:27] jawolf314 commented on #695
Bumping up the micro version ("major.minor.micro" schema) when a change to master occurs would probably be the simplest solution.  Currently, the 0.2.4 in PyPI is incompatible with the time_series_forecast.ipynb, but the assert in that notebook is for version 0.2.4.  I took at look at PEP440 (https://www.python.org/dev/peps/pep-0440/#id24) - that's how I interpret the PEP.

[2020-07-25 04:44] fehiepsi commented on #695
Thanks @jawolf314! Let me ask some folks about the bumping micro version process. I'm not familiar with it.

The short term solution is we will try to fix #671 and release NumPyro 0.3 in a couple of days. But after that, I agree that tutorial requirement and numpyro version should be consistent so we should think about this issue after the release.

[2020-07-25 07:32] vedal commented on #691
Thanks alot for your feedback, explanations and PR @fehiepsi and @neerajprad

[2020-07-25 12:05] vanAmsterdam opened #698 "handlers.mask not working when enable_validation(True)"
Using `handlers.mask` for sampling doesn't work when `numpyro.enable_validation(True)`.

Is this a bug or is it expected behaviour?

[code]

[2020-07-25 13:24] fehiepsi commented on #698
I think the issue comes from: JAX has changed `0 x inf = 0` to `0 x inf = nan`.

[2020-07-25 19:20] #698 closed

[2020-07-25 19:25] #671 closed

[2020-07-25 19:30] neerajprad commented on #695
That was my thought as well. As @fehiepsi mentioned, this will most likely not be an issue in the future until we start tracking jax master again after release, or make a backward incompatible change (which are becoming rarer). If we need to track the jax master again, we will make sure that we bump our version during development so that users are not misled. Thanks for raising this issue.

[2020-07-28 04:20] fehiepsi commented on #688
Thanks @wandomPewlin for helpful information! We just update numpyro to 0.3 so I guess we can close this issue.

Hope that this suboptimal performance does not happen with the release version. :D

[2020-07-28 04:20] #688 closed

[2020-07-28 04:24] fehiepsi commented on #687
@prpr2770 I hope that the last comment answered your question. If you have further questions, you can open them at https://forum.pyro.ai/, which is a great place to communicate with the community.

[2020-07-28 04:24] #687 closed

[2020-07-28 04:48] fehiepsi opened #701 "Tutorial/example on capture-recapture (CJS) models"
This is a good exercise to get familiar with the enumeration mechanism, which is available in the last 0.3 release.

### References

+ [Pyro example](http://pyro.ai/examples/capture_recapture.html) which uses SVI. We can port those models to NumPyro and use MCMC for inference.
+ [Stan example](https://mc-stan.org/docs/2_23/stan-users-guide/mark-recapture-models.html) on CJS models. The reference w

[2020-07-28 04:53] fehiepsi opened #702 "Support markov with history size greater than 1"
Currently, we supported `markov(history_size=1)` using `scan`. As suggested by @eb8680, we can use [sarkka_bilmes_product](https://github.com/pyro-ppl/funsor/blob/d139ed18ed19ca70fe2c2b2ab2595ffefe317655/funsor/sum_product.py#L288) for `history_size > 1`.

[2020-07-28 05:03] fehiepsi opened #703 "Implement some popular distributions"
This issue tracks some popular distributions that are not available in NumPyro yet.

- [x] [Geometric distribution](https://pytorch.org/docs/master/distributions.html#geometric)
- [x] [ZeroInflatedNegativeBinomial](http://docs.pyro.ai/en/stable/distributions.html#zeroinflatednegativebinomial)
- [x] [Weibull distribution](https://pytorch.org/docs/master/distributions.html#weibull) (supported in `co

[2020-07-28 05:20] fehiepsi opened #704 "Integrate with Tensorflow Probability distribution"
TFP has some [subtraces](https://www.tensorflow.org/probability/api_docs/python/tfp/substrates/jax/distributions), including JAX. It is helpful to build a layer so that users can use TFP distributions in NumPyro. This helps avoid duplication of effort and settles some collaborations between two communities in the future.

It is nice to make TFP Normal distribution works in NumPyro first. Probably

[2020-07-28 05:44] fehiepsi opened #705 "Integrate with flax/haiku"
Currently, we support [stax](https://jax.readthedocs.io/en/latest/jax.experimental.stax.html) but it lacks some popular layers such as RNN. Some other candidates include [flax](https://github.com/google/flax), [haiku](https://github.com/deepmind/dm-haiku). It might not take much effort to use those libraries in NumPyro.

We might start with some utilities/handlers in `numpyro.contrib.flax` or `num

[2020-07-28 07:13] #415 closed

[2020-07-29 21:19] hzyjerry opened #706 "Strange/interesting thing about speed"
Dear numpyro team,

I'm experiencing some strange/interesting thing about inference speed.

My `sampler.run` and `samples = sampler.get_samples(...)` operations are fairly fast using numpyro. However, it is when I print out `samples` that the code stalls for up to a few minutes. I wonder if this is a widely observed thing with numpyro, or a potential misuse on my end?

Thanks for your insights!

[2020-07-29 22:00] hzyjerry commented on #706
Here is what the code roughly looks like

[code]

[2020-07-29 22:06] martinjankowiak commented on #706
@hzyjerry [this](https://jax.readthedocs.io/en/latest/async_dispatch.html) might be relevant

also, for the future, please post questions like these in our [forum](https://forum.pyro.ai/)

[2020-07-29 22:10] hzyjerry commented on #706
Thanks!

[2020-07-29 22:10] #706 closed

[2020-08-11 04:28] TuanNguyen27 commented on #703
TFP also has [Geometric ](https://www.tensorflow.org/probability/api_docs/python/tfp/distributions/Geometric) & [Weibull](https://www.tensorflow.org/probability/api_docs/python/tfp/distributions/Weibull) distribution support, in case #710 is successful :)

[2020-08-11 04:37] fehiepsi commented on #703
Yeah, if those distributions in `numpyro.contrib.tfp.distributions` work well, we will probably move them to the main module. There are some interesting distributions in tfp such as [JointDistributionSequential](https://www.tensorflow.org/probability/api_docs/python/tfp/distributions/JointDistributionSequential).

[2020-08-11 16:50] TuanNguyen27 commented on #705
Can i work on this ? Promise i'll finish the PR timely :D

[2020-08-12 03:41] fehiepsi commented on #705
Hi @TuanNguyen27! It is great to hear that you are interested in this PR. Please take your time.

FYI, if you come up with several design choices and don't know which one is good, you can create a design doc (you can take a look a some [design docs](https://github.com/pyro-ppl/pyro/wiki/Design-Docs) that we created previously) and invite us to review/comment.

[2020-08-12 04:03] nkaimcaudle commented on #703
Is it possible to also add [SinhArcsinh transformation](https://www.tensorflow.org/probability/api_docs/python/tfp/bijectors/SinhArcsinh) ?

[2020-08-12 04:50] TuanNguyen27 commented on #705
@fehiepsi For my first attempt, I will try to migrate VAE example to use flax/haiku. If that works, how do I further integrate this library into numpyro, do i re-implement some existing handlers to work with haiku, for example ?

[2020-08-14 05:16] fehiepsi opened #712 "[FR] SinhArcsinh transformation"
Requested by @nkaimcaudle at https://github.com/pyro-ppl/numpyro/issues/703#issuecomment-672559558.

[2020-08-14 05:17] fehiepsi commented on #703
@nkaimcaudle Sure, I just created a FR for it. :)

[2020-08-14 05:22] fehiepsi commented on #705
@TuanNguyen27 I think you can put required utilities/handlers in `contrib.flax`. Users will need to install flax/haiku to use the utilities/handlers in `contrib.flax`. You can add an ImportError for it, for example like [this](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/contrib/funsor/__init__.py#L5).

[2020-08-14 16:53] Joshuaalbert commented on #643
@fehiepsi I did not find a nice way to fit nested sampling into numpyro for several reasons, so I wrote my own package: https://github.com/Joshuaalbert/jaxns. It does nested sampling using JAX and is pretty fast. I'll continue to support it there. If you feel it could come into numpyro (or some port of it) let me know.

[2020-08-15 21:56] fehiepsi commented on #643
@Joshuaalbert It is cool! I think that your implementation will be very helpful for many tricky models that NUTS can't do well or requires further transformation steps.

Please just follow your gut. :) I am not sure I can assess the complication for an integration to NumPyro. FYI, having new inference algorithms is one of the main focus for the future of Pyro so we are very welcome you to contribu

[2020-08-16 16:04] Joshuaalbert commented on #643
@fehiepsi Thanks, I'll improve it and at some point make a PR for numpyro.

[2020-08-23 23:30] fehiepsi opened #715 "Support TFP mcmc kernels"
TFP [kernels](https://www.tensorflow.org/probability/api_docs/python/tfp/substrates/jax/mcmc/RandomWalkMetropolis#one_step) takes potential function in its construction and has the method [one_step](https://www.tensorflow.org/probability/api_docs/python/tfp/substrates/jax/mcmc/RandomWalkMetropolis#one_step) which update `(current_state, previous_kernel_results, seed)`. This is equivalent to how [M

[2020-08-23 23:44] fehiepsi opened #716 "Support jax.scipy minimizers in NumPyro"
After jax 0.1.74, `bfgs` minimizer is available in JAX. It would be nice to have a BFGS wrapper in `numpyro.optim`.

In jax/scipy, 'BFGS' is provided through `method` keyword in [minimize](https://docs.scipy.org/doc/scipy/reference/optimize.minimize-bfgs.html#optimize-minimize-bfgs). I am not sure if we should make a wrapper `numpyro.optim.Minimize` for `minimize` or we should split those methods

[2020-08-24 00:10] benwaldner commented on #505
I had the same issue with Jax and Jaxlib. Didnt found any way how to solve it. Anyone solved it? I dont know what to try else. All things suggested come up with the error: Backend GPU not found. And I tried it on several machines/ linux-installations. Even on CPU the problem is that it doesnt use all the cores on 100% but skip after one CPU-core hits 100% and doesnt load balancing it efficiently o

[2020-08-24 02:34] fehiepsi commented on #505
@benwaldner Did you follow the steps in [jax](https://github.com/google/jax#pip-installation) for GPU support? Make sure that you specify the correct CUDA_VERSION in your system.

[2020-08-24 11:24] Joshuaalbert commented on #716
I like the first way. It'll be familiar for people who have used scipy, where you also specify a method name. And then as you noted, it'll let people use new methods as they become available. JAX is following the scipy interface so you can expect the output of minimize to stay consistent.

[2020-08-25 21:18] TuanNguyen27 commented on #705
@fehiepsi I'm trying to rewrite `numpyro.module` to work with haiku's `Module` class, but somehow my losses come out as Nan during training. I'm wondering if you could take a look to see if there's anything i missed.

https://gist.github.com/TuanNguyen27/57ab8264632ccded683ff819acb99253

[Runnable colab link here](https://colab.research.google.com/gist/TuanNguyen27/57ab8264632ccded683ff819acb99253

[2020-08-25 21:22] TuanNguyen27 commented on #705
In the meantime i will try using flax's `Module` to see if it can work :D

[2020-08-25 22:49] TuanNguyen27 commented on #705
haiku's Module & flax's Module both require user to first initialize the parameter with rng & data input (data input could be completely unrelated to the real training data as long as it has the correct shape). When I reimplement `numpyro.module`, I initialized Encoder and Decoder's parameters with `(rng_key, jnp.ones(input_shape))`. I then wrap the initalized params with `numpyro.param(module_key

[2020-08-25 23:26] TuanNguyen27 commented on #704
While working on #705 I found [Oryx](https://github.com/tensorflow/probability/tree/master/spinoffs/oryx) ; [documentation](https://www.tensorflow.org/probability/oryx/notebooks/a_tour_of_oryx) which is another good candidate for integration with numpyro :D

[2020-08-26 04:32] fehiepsi commented on #705
@TuanNguyen27 Awesome! You are so fast... Your code looks very reasonable to me. I will try to debug to see if I can isolate the nan issue for you.

[2020-08-26 04:36] fehiepsi commented on #716
Yeah, I agree. After some tfp prs, if no one wants to tackle this issue, I'll do it.

[2020-08-26 04:57] fehiepsi commented on #704
@TuanNguyen27 Do you have some suggestions on how to integrate it in NumPyro? The ability to transform a sampling function to a log probability function looks pretty cool! It would be great if we can use it to simplify some implementations or enable a new way to do inference.

[2020-08-26 05:07] TuanNguyen27 commented on #704
I don't know numpyro internals well enough to make suggestion, but if you have an example implementation in numpyro that could be replaced by the submodules implemented in Oryx I can prototype something out :D I am interested in both refactoring numpyro & new inference !

[2020-08-26 05:15] fehiepsi commented on #704
@TuanNguyen27 For now, I don't have any idea in mind. :(

[2020-08-26 23:27] fehiepsi commented on #705
@TuanNguyen27 It seems that you need to add some additional layers to the output of those nn modules:
[code]

While playing with your example, I really like the way you simplify the problem: we only need to make a new handler `module` and its definition is quite similar to the current `numpyro.module`. With that, to integrate with NumPyro, I think you only need to put it in a contrib file like `nu

[2020-08-26 23:58] TuanNguyen27 commented on #705
that's great! I am also interested in converting a traditional NN into a Bayesian NN. In the past I have used [pyvarinf](https://github.com/ctallec/pyvarinf), which might be similar to how Pyro does the conversion. Let me rerun my notebook with your suggestion and make a PR :)

PS: Do you want both haiku and flax to integrate with numpyro or just one ? I can also try to see if Oryx has a similar m

[2020-08-27 02:29] fehiepsi commented on #705
Yeah, in Pyro, we first use `sample` primitives to get the value of some parameters. Then using `param` primitive for the remaining parameters. I think we can do the same here but need to work around the nested structure of Flax parameter names. I am looking forward to seeing your PR on that. :)

I am seeing your PR which includes two. Let's do it. Thanks!

[2020-08-27 03:28] TuanNguyen27 commented on #705
@fehiepsi I thought when you extract params from a pytorch module, the dictionary of params is also nested ? How do you overcome that in pyro ?

[2020-08-27 07:38] fehiepsi commented on #705
In PyTorch, you can call [module.named_parameters()](https://pytorch.org/docs/stable/generated/torch.nn.Module.html#torch.nn.Module.named_parameters) to get a list of parameters with flatten-using-dot names (e.g. `layer1.linear.weight`). Those parameters (together with their flatten names) will be stored in a global ParamsStore. Then we use `pyro.lift` to convert some parameters to random variable

[2020-08-27 16:17] fehiepsi commented on #705
@TuanNguyen27 Here is an example for looping over a nested dict and updating corresponding params:
[code]

[2020-08-27 22:36] TuanNguyen27 commented on #705
@fehiepsi thanks for the detailed code example !

I'm afraid my current implementation for haiku doesn't allow me to access params from a partial function

`return lambda x: nn.apply(nn_params, rng_key, x)` is a `<function haiku_module.<locals>.<lambda>` with no attribute. Printing `nn.__dict__` returns `{}`

It is possible to do this for Flax, since the return result of flax_module is `flax.nn.Mo

[2020-08-28 00:15] TuanNguyen27 commented on #704
PPS: We have another candidate, https://github.com/google/objax :D

[2020-08-28 01:17] fehiepsi commented on #705
Hmm, I think for `haiku`, you can simply return `partial(nn.apply, nn_params, rng_key)` and for `flax`, you can simply return `partial(partial(flax.nn.Model, nn), nn_params)`. Btw, I am curious why `rng_key` is necessary for `haiku`? Is it used for `Dropout` or something? If it is important, we need to split the keys, otherwise, it would be nice if we can set it to `None`.

[2020-08-28 01:37] TuanNguyen27 commented on #705
interesting, so if we wrap `.apply` with `partial` we can access `nn_params` later on ?

[2020-08-28 01:39] fehiepsi commented on #705
Yes, you can see how it works in [this comment](https://github.com/pyro-ppl/numpyro/issues/705#issuecomment-681702467).

[2020-08-29 20:39] fehiepsi commented on #712
#718 should support this transformation and also SinhArcsinh distribution. So I close this to avoid confusion.

[2020-08-29 20:39] #712 closed

[2020-08-31 16:57] prpr2770 opened #722 "Guide for translating code from webppl to numpyro"
Hi, I'm working on a project where I can implement the inference in webppl, but I'm having issues in translating the codebase into numpyro, as I'd like to scale-up and parallelize the computations. Is there a guidebook/reference that helps understand how webppl codebase can be translated into numpyro?

thanks

[2020-08-31 17:52] #704 closed

[2020-08-31 18:08] fehiepsi commented on #722
Hi @prpr2770, I haven't used webppl but [this forum post](https://forum.pyro.ai/t/is-there-an-equivalent-pyro-construct-for-webppls-infer-operator/612) might be a good start. We don't have guidebook or reference for this. It seems to me that two libraries target different inference methods.

In case you want to port an inference algorithm to NumPyro, could you post your pseudo-code here? I will tr

[2020-09-01 21:34] prpr2770 commented on #722
Thank you for linking me to the forum-post. I tried to follow up on the way the RSA is implemented, for handling my particular use-case, but I'm facing some errors.

I have provided my code in this gist [here](https://gist.github.com/prpr2770/94a6171e5e6f694531a7bdeebcd82d92).
I obtain the following error:
[code]

[2020-09-02 19:34] ksachdeva opened #723 "Black Box Variational Inference"
Hi,

I am relatively new to variational inference and so far my understanding has been that the trend/research in this space is to invent inference algorithms/mechanics such that one does not have to go through the rigor of crafting the analytical ELBO for every model. One general approach is to use Monte Carlo estimates of gradients of the expectation that appears in the loss function.

The paper

[2020-09-03 03:37] fehiepsi commented on #723
@ksachdeva Good question! Currently, NumPyro does not have [TraceGraphELBO](http://docs.pyro.ai/en/stable/inference_algos.html#pyro.infer.tracegraph_elbo.TraceGraph_ELBO) implemented (we mostly focus on reparameterizable samplers). You can find those variance reduction techniques in Pyro, which is well-explained in [this tutorial](http://pyro.ai/examples/svi_part_iii.html#Variance-or-Why-I-Wish-I-

[2020-09-03 16:55] ksachdeva commented on #723
Thanks @fehiepsi

[2020-09-03 16:55] #723 closed

[2020-09-07 11:34] OlaRonning opened #724 "HMCECS in numpyro"
Hi,

@LysSanzMoreta and I are working on a project where we use [HMCECS](https://arxiv.org/abs/1708.00955), and so made a model-specific implemented in Numpyro.
This implementation assumes the model to have the form:
[code]
and then implement HMC-in-Gibbs as a loop, following the algorithm:
1. update subsample;
2. update parameters (by HMC) evaluated on the subsample.

We want to add HMCECS to Num

[2020-09-07 17:03] fehiepsi commented on #724
Hi @OlaRonning, I think the current `plate` statement supports subsampling (we have a [small test](https://github.com/pyro-ppl/numpyro/blob/master/test/test_handlers.py#L204) for it, also see [this thread](https://github.com/pyro-ppl/numpyro/issues/546) for a discussion). Could you be a little more explicit on "user-defined subsample schemes"? I think that we can implement some specific handlers f

[2020-09-07 17:19] LysSanzMoreta commented on #724
I hope I can help, by "user-defined subsample schemes" we would like to be able to imitate NUTS on the automatic set up of the parameter "subsample size" (same as they do with step size for example). Therefore the subsample size will change /will be corrected according to the likelihood.

[2020-09-07 18:44] fehiepsi commented on #724
Unfortunately, I think that dynamic subsample size can only work with some masking mechanism. Kind of taking a subsample of max_subsample_size and masking out some log probabilities if the current subsample size is less than that max value. Could you provide some pseudo code so we can see if any additional mechanism is needed? I still believe that if something works with `obs, feats` then it will

[2020-09-07 19:54] OlaRonning commented on #724
Hi @fehiepsi,
Thanks for linking the subsampling discussion!

The scheme is to block update a subsample of indices by gibbs sampling. In pseudo python it would be something like:
[code]
The `likelihood` is estimated by a precomputed map estimate of the models' params corrected by the current params evaluated on the subsample choose by `u`. As @LysSanzMoreta mentions we can update the subsample siz

[2020-09-08 06:20] fehiepsi commented on #724
If you want to change subsample_size, I think you can do
[code]
(later, we can write a handler to do that job because `subsample_size` is only specific to your HMC algorithm, rather than to the model - one solution is to expose `create_plates` in your HMC constructor like in Pyro [autoguide](http://docs.pyro.ai/en/stable/infer.autoguide.html#pyro.infer.autoguide.AutoGuide) or [forecaster](http://d

[2020-09-08 06:59] OlaRonning commented on #724
Great that there is already a way to make `subsample_size` variable.

The second model has the structure I was thinking of. We have to be able to substitute `idx` to make the `hmc_update` work with a plate, so if you have time for working on #556 that would be much appreciated!

[2020-09-08 15:48] vanAmsterdam opened #726 "Bayesian imputation tutorial with discrete covariates"
since numpyro supports enumerating discrete latent variables, imputing missing values for discrete covariates should be a possibility (which makes numpyro suitable for many more applied projects!)

Since array shapes will be altered when using parallel enumeration it is not directly evident how to adapt the continuous imputation example to discrete covariates, an example may be helpful

[2020-09-08 21:08] fehiepsi commented on #726
[Enumerate HMM](http://pyro.ai/numpyro/examples/hmm_enum.html#sphx-glr-examples-hmm-enum-py) already shows how to use mask handler for missing discrete data. But we welcome any new tutorial for this.

[2020-09-08 21:09] fehiepsi commented on #726
(I misclicked the button)

[2020-09-09 02:09] fehiepsi commented on #726
I think it is really nice to have a different tutorial for this. For those who want to contribute one, here is an approach, which is quite similar to the approach in [Bayesian imputation](http://pyro.ai/numpyro/bayesian_imputation.html#Modelling) tutorial.
+ Mask out the discrete site using `.mask(False)`
+ At an observed index (i.e. `x_obs != nan`), we mask out all enumerated values which are dif

[2020-09-09 21:12] C-J-Cundy opened #727 "NumPyro disables GPU on import"
When numpyro is imported, the platform is set to 'cpu' by default in the init file.
This was very confusing to me since suddenly jax stopped recognising my GPU--only after a bit of digging did I discover it was due to the numpyro import statement.

I think it would make sense to either display a warning or reconsider changing the platform, since it's a bit unexpected for a module to change some gl

[2020-09-09 22:55] fehiepsi commented on #727
I think one solution is to make it clear in README on NumPyro uses CPU backend by default and how to switch between backends? What do you think? I think adding a warning is unnecessary for most NumPyro users but I agree that changing the default JAX behavior might cause confusion for JAX users.

[2020-09-10 07:28] rim30 opened #729 "Issues with standard SGT initialization"
Hi, not sure if there is a bug or there is an issue with my implementation, but I tend to think there must be a bug with the mcmc initialisation.... I tried to implement the standard(simple) SGT model in numpyro, following the example on the numpyro website.

This is the code:
[code]

and here is the error that I get:

[code]

Any idea what the issue is? I tried to vary the arguments for the prior

[2020-09-10 08:10] C-J-Cundy commented on #727
Yep, a clear note in the README will certainly help.

I think I would have still been caught out unless the warning in the README was very obvious, since coming from a jax point of view the behaviour of numpyro seems very strange. The jax ethos tends to be that by default a gpu/tpu will always be used if available, as it tends to be very reliably faster than the cpu. (Typically compilation can als

[2020-09-10 14:42] vanAmsterdam commented on #726
I've created a pull request with an initial version (#730). In addition to showcasing this method for automatically enumerating missing covariates, it discusses several forms of missing data and how to handle them

[2020-09-10 14:51] fehiepsi commented on #727
I still don't find a good reason to enable GPU by default for most NumPyro users so adding a clear note is a good option to me here. If there are more people want GPU to be default, we can open a vote in forum to see which default option is better. ;)

Currently, with most examples that we have, CPU is much faster than GPU, and in CPU, we can run multiple chains, while with GPU, we have to buy new

[2020-09-10 16:43] fehiepsi opened #731 "Add a better error message for how to debug "Cannot find valid initial parameters" issue"
Recently, several users got this issue but it is not easy to diagnose the issue just by looking at the `model`. We should add a better error message, e.g. to mention about `numpyro.validation_enabled()` utility, which tells us at which latent site, we get invalid parameters/values.

[2020-09-10 17:37] fehiepsi commented on #731
We can also run the model with `validation_enabled` once if we can't find a valid initial parameters.

[2020-09-11 08:57] AngelBerihuete opened #735 "Set platform to GPU but Volatile GPU-Util is still 0%"
First of all many thanks for update README numpyro #732  in order to set platform to GPU.

I've downloaded numpyro/examples/proportion_test.py example and added the following lines to use my notebook GPU

[code]
obtaining the followgin

[code]
but checking the GPU with ```nvidia-smi``` I have the following

[code]
Same results if I set ```numpyro.set_platform("cpu")```. What I'm doing wrong?

[cod

[2020-09-11 14:43] fehiepsi commented on #735
@AngelBerihuete This example has a flag `device`, which is set to `cpu` by default. You can use GPU by running `python pathToExample --device gpu`.

[2020-09-11 16:07] RaulPL opened #736 "Possible error in the validation of a Categorical distribution"
I am getting  an error when I try to run the following code. The code just sample from a categorical distribution using the defined probabilities.

[code]

[code]

I think the problem is caused by the validation because If I restart my kernel and comment the line ```numpyro.enable_validation(True)``` the code will run without problem. It will print 0 in my case.

If I write a similar code in Pyro

[2020-09-11 16:30] fehiepsi commented on #736
Thanks, @RaulPL! Could you help us relax the check for interval constraint at [this line](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/distributions/constraints.py#L149)?

[2020-09-11 17:48] RaulPL commented on #736
I think the line to change is this [one](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/distributions/constraints.py#L195). Go from this:

[code]
to this:
[code]

I think this change will fix it. I can make the pull request if that's okay with you.

[2020-09-11 17:59] fehiepsi commented on #736
You are right, sorry for making confusion. Thanks so much for diagnosing the issue and the fix!

[2020-09-11 22:30] #736 closed

[2020-09-12 05:29] fehiepsi commented on #705
@TuanNguyen27 I think we have all ingredients for `random_module`. Do you want to pair-code this feature together? In case you agree, could you setup some time this weekend or next week (I believe 30m or 1h is enough)? I would like to hear more about your experience with `pyvarinf` and your ideas on a good example for `random_module`. :)

[2020-09-12 05:56] TuanNguyen27 commented on #705
Yes, i've been wanting to work on this but I forgot, I will ping you directly to set up a time :)

[2020-09-12 06:11] AngelBerihuete commented on #735
Many thanks @fehiepsi I added ```--device gpu``` and the code tried to run, but an exception appears. Maybe JAX was improperly installed. What do you think?

[code]

[2020-09-12 06:35] fehiepsi commented on #735
@AngelBerihuete I guess so.  Could you try to run JAX alone:
[code]
to see if it is a NumPyro bug or an installation issue? You might try to install `jaxlib` with
[code]

[2020-09-13 18:46] AngelBerihuete commented on #735
Yes! It works perfectly!!
Many thanks @fehiepsi

[2020-09-13 18:46] #735 closed

[2020-09-14 04:57] fehiepsi opened #741 "Support enumeration in SVI"
Currently, enumeration is supported in MCMC but is not yet tested in SVI. It would be nice to support this feature for SVI too.

[2020-09-14 11:06] fritzo commented on #741
This is good motivation to move enumeration tests into pyro-api https://github.com/pyro-ppl/pyro/issues/2606 I believe @eb8680 has already done much of the work as part of https://github.com/pyro-ppl/pyro/issues/2580

[2020-09-14 13:58] eb8680 commented on #741
I can take this issue, since I'll need to update `numpyro.contrib.funsor` in the process.

[2020-09-15 15:10] vanAmsterdam opened #744 "Log probability calculation with arviz conversion goes wrong with enumeration"
Not sure if I should post this here or at the arviz github, but converting an MCMC object to arviz data goes wrong when using enumeration in the model.
A invalid _random_bits error get's thrown when calculating the log likelihoods
Check e.g. notebooks/source/discrete_imputation.ipynb and try `az.from_numpyro(impmcmc)` on cell 9

[2020-09-16 05:42] fehiepsi commented on #744
Thanks for the report, @vanAmsterdam! I have thought about this a bit. We need to tell [log_likelihood](http://num.pyro.ai/en/stable/utilities.html#numpyro.infer.util.log_likelihood) to use `enum` if the model has discrete latent variable. I think we can add a flag to `log_likelihood` to control a behavior and after the next release of numpyro, we can make a PR in arviz to enable the flag when the

[2020-09-17 20:12] fehiepsi opened #745 "Support `step` method in SVI"
I can't recall if we have discussed about this previously. Should we support the following pattern?
[code]
This matches Pyro API (except for `init`) and looks easier to use than `lax.fori_loop` or `lax.scan`.

[2020-09-18 02:55] #745 closed

[2020-09-18 02:58] fehiepsi commented on #745
Closed because `data` might not be a pytree, so `jit(svi.update)` might not work.

[2020-09-18 05:20] fehiepsi opened #746 "Port autoguide AutoNormal from Pyro"
I am trying to fit a bnn in #743 with ELBO loss but couldn't optimize it with stochastic KL. It might work if I use AutoNormal with TraceMeanField_ELBO, so I would like to add this feature to try that option.

[2020-09-18 10:58] fritzo commented on #746
@eb8680 do you think it would be easy to implement the KL parts of
TraceMeanField_ELBO (not the baseline parts) using Funsor?

On Fri, Sep 18, 2020 at 1:20 AM Du Phan <notifications@github.com> wrote:

[2020-09-19 04:04] eb8680 commented on #746
Sorry, missed this earlier. We could certainly write `eager` patterns that called the upstream KL implementations in TFP or PyTorch and a very simple `TraceMeanField_ELBO` reimplementation that used them - this would look very similar to the [`Trace_ELBO` implementation in `pyro.contrib.funsor`](https://github.com/pyro-ppl/pyro/blob/dev/pyro/contrib/funsor/infer/trace_elbo.py), but with slightly r

[2020-09-20 07:28] fehiepsi commented on #744
@vanAmsterdam Do you need this feature soon? I have thought a lot about this FR but couldn't find a simple solution yet. As I understand, we need to filter out all latent sites but keep those discrete sites that the observation site depends on, and marginalize them. That seems doable to me. When there are multiple observation sites, my only solution is to loop over them and do the above steps for

[2020-09-20 11:47] vanAmsterdam commented on #744
I have no immediate use for this feature, but obviously we will need to sort it out. Once a solution is in place, we could add it to the discrete imputation example

[2020-09-22 00:10] #746 closed

[2020-09-22 05:24] fehiepsi commented on #729
@rim30 I can verify that setting `exp_val = jnp.clip(exp_val, a_min=1e-30, a_max=1e38)` will resolve the numerical issue in your model. Please reopen this if you still face the issue.

[2020-09-22 05:24] #729 closed

[2020-09-22 18:27] OlaRonning commented on #724
Hi @fehiepsi,

Awesome, you merged #734! Would you recommend doing a `substitute`
on the trace as [here](https://github.com/pyro-ppl/numpyro/blob/master/test/test_handlers.py#L286) to update the subsample indices? Or is there a way to augment the model, so that the `fn` for the plate is a custom function?

[2020-09-23 07:08] fehiepsi commented on #724
Hi @OlaRonning, I think you can replace your model by `subsampled_model = substitute(model, data={"plate_name": subsample})` and compute `log_likelihood` for `subsampled_model`. You can also augment the model to something like
[code]

I think there are some requirements in the model to make this work. For example, the model code might look something like
[code]

Do you have any blockers else? I wi

[2020-09-23 07:23] OlaRonning commented on #724
I see, thanks for the examples. With your PR merged we have the tooling to make it work with `plate`.

We have a version, in an internal repo, that uses slicing of input parameters to do the subsampling. @LysSanzMoreta is currently porting it to a Numpyro fork. We will update and test with subsampling using a plate internally and make a subsequent PR once it's working.

[2020-09-23 13:50] rim30 commented on #729
Thanks, that indeed solved it. I noticed that the implementation is a bit fussy when using jnp.clip() in general - for example I tried to build a hierarchical model in which my local parameters depended on the distribution of the global ones, and to limit them to (0,1) I used the hard clipping and failed. In case you are interested in looking into that direction, expect some messages of te form "C

[2020-09-23 14:46] fehiepsi commented on #724
That is great! I am looking forward to your PRs. 👍

[2020-09-23 20:44] #731 closed

[2020-09-24 05:36] fehiepsi opened #749 "NumPyro is breaking with JAX 0.2"
In JAX 0.2 release, many of our tests are failing... I think it is related to the new [omnistaging](https://jax.readthedocs.io/en/latest/CHANGELOG.html#jax-0-2-0-september-23-2020) mechanism.

This issue discusses several strategies that we would follow for our next release:
- Release 0.3.1 and pin jax version to `0.1.77`
- Release 0.3.1, pin jax version to `0.2.0`, disable omnistaging by default

[2020-09-24 05:56] fehiepsi opened #751 "Rename `init_strategy` in SVI to `init_loc_fn`"
We used `init_strategy` to be consistent with MCMC at our early development. In recent releases, we are gradually making two APIs consistent but we missed this point. It would be nice to make two API consistent.

[2020-09-24 16:27] fehiepsi commented on #726
Thanks for addressing this issue, @vanAmsterdam!

[2020-09-24 16:27] #726 closed

[2020-09-24 16:29] fehiepsi commented on #620
Thank @TuanNguyen27 for addressing this issue!

[2020-09-24 16:29] #620 closed

[2020-09-24 16:29] #556 closed

[2020-09-24 16:33] fehiepsi commented on #695
@neerajprad Could you help me with this issue? It is unclear to me what we need to do. :(

[2020-09-24 22:14] neerajprad commented on #749
How easy is it to fix the tests/other issues with `0.2.0`. I agree that it is best to pin to `0.1` for the time being.

[2020-09-25 02:01] neerajprad commented on #695
@fehiepsi - From what I understood, the issue is that our version check in the tutorials is not as strict as it should be in the master branch. Anytime we are using something that is only available in the master branch in one of our tutorials, and a user runs the same tutorial with the release version of numpyro, we should raise an error.

To address this, once we release `0.3.1`, we can bump up t

[2020-09-25 02:37] fehiepsi commented on #749
I am trying to fix those issues. Hopefully, they will be easy to fix. :)

[2020-09-25 02:39] fehiepsi commented on #695
Thanks, @neerajprad! I get it now. That way makes a lot of sense to me.

[2020-09-25 02:53] jawolf314 commented on #695
@fehiepsi and @neerajprad , the initial reason I brought up the versioning was that in PyPI the latest version was behind the master branch in GitHub. I thought maybe this was due to the way the minor versioning was being handled in the package, because at the time the version in PyPI had the same major.minor.micro version number as the master branch in GitHub. The PyPI version was from January 20

[2020-09-25 03:11] #715 closed

[2020-09-25 19:41] #749 closed

[2020-09-25 23:08] fritzo opened #756 "Port poutine.collapse to NumPyro"
Pyro introduced a `poutine.collapse()` effect in https://github.com/pyro-ppl/pyro/pull/2620, allowing exact conjugate inference over blocks of code, similar to @neerajprad's [pyro.contrib.conjugate](https://github.com/pyro-ppl/pyro/blob/dev/pyro/contrib/conjugate/infer.py).

@fehiepsi I think this would be an edifying intro to using Funsor for general pattern matching. Once `poutine.collapse()` is

[2020-09-26 03:53] fehiepsi commented on #756
Thanks, @fritzo! Let me assign this to myself. And will do some conjugate stuffs after this.

[2020-09-27 06:49] fehiepsi opened #758 "PyroModule with Objax"
I think that [Objax](https://github.com/google/objax) is a JAX-based neural network library that is closest to PyTorch. This seems to be a good candidate to have something like [PyroModule](http://docs.pyro.ai/en/stable/nn.html#module-pyro.nn.module) in NumPyro.

[2020-09-27 17:14] #751 closed

[2020-09-28 00:17] #716 closed

[2020-09-28 06:05] fehiepsi commented on #695
Sorry, @jawolf314! I missed your comment.

We use `master` branch for developing so it is not possible to pin `master` to PyPI. I know that some other repositories use `dev` for developing code and `master` for the released code but we don't follow that way here. To go to a PyPI version, you can use tag to find the correct code base. For example, code for `0.3.0` release can be found at [this link

[2020-09-28 20:26] fehiepsi opened #759 "jax.tree_utils do not keep dict key order"
Follow this upstream issue https://github.com/google/jax/issues/4085.

I think that this is a very important issue, that we need to address. If the orders of items are not preserved, when we use `ravel_pytree` at various places, the order of entries in the flatten value might not be preserved...

We should walk over our code carefully to see if this affects us. A user in the forum reported that he

[2020-09-28 20:53] fehiepsi commented on #759
Closed. Even if dict keys are reordered, when we ravel_pytree, it still produces a consistent result. But this is an issue that we need to keep in mind.

[2020-09-28 20:53] #759 closed

[2020-09-29 10:23] akihironitta opened #761 "Fix exception chaining all over the codebase"
I recently went over [PyTorch](https://github.com/pytorch/pytorch/pull/43836) and [Detectron2](https://github.com/facebookresearch/detectron2/pull/1945), suggesting a fix in the way that Python 3's exception chaining is used.

As described in detail in [the article](https://blog.ram.rachum.com/post/621791438475296768/improving-python-exception-chaining-with), exception chaining ([PEP 3134](https:/

[2020-09-29 14:32] fehiepsi commented on #761
Sure, thanks @akihironitta! The fix looks more reasonable to me.

[2020-09-29 14:59] akihironitta commented on #761
@fehiepsi Thank you for your quick response! I'll give it a go later this week!

[2020-09-29 17:34] fehiepsi opened #762 "Use multipledispatch for `kl_divergence`"
As @fritzo's suggestion in https://github.com/pyro-ppl/numpyro/pull/748, we can use `multipledispatch` to simplify dispatching work in `kl_divergence` (and possibly in `biject_to` too?). We can do this when `funsor` becomes the main dependency of numpyro.

[2020-09-29 17:36] fritzo commented on #762
For `biject_to` you could simply use Python 3's builtin [singledispatch](https://docs.python.org/3/library/functools.html#functools.singledispatch) which requires no extra dependencies. We use that in Funsor for single dispatch. We had avoided that in PyTorch because PyTorch originally supported Python 2 which is missing `singledispatch`.

[2020-09-30 05:48] TuanNguyen27 commented on #758
interested in taking this issue :)

[2020-09-30 17:34] akihironitta commented on #761
@fehiepsi Just made #764 ready for review. Can you have a look at the changes?

[2020-09-30 17:43] #761 closed

[2020-10-01 00:18] hyperfra opened #765 "BernoulliProbs"
Hi
I am trying to run a probit. Question: is it that your BernoulliProbs has a constrained on the argument probs which is (0,1) ? I am asking because I am getting as an error

ValueError: The parameter probs has invalid values

In the Bernoulli 0<=p<=1 so 0 and 1 should be valid.

(I am passing as probs cdf(beta*x) where pdf is jax.scipy.stats.norm import cdf)

thanks

[2020-10-01 01:30] fehiepsi commented on #765
Hi @hyperfra, please feel free to open a PR to relax the `_Interval` constraint to a closed interval: `return (x >= self.lower_bound) & (x <= self.upper_bound)` (or I can do if you want) if you found that it is helpful to avoid the error. I suspect that the issue comes from something else because we only validate the model when we can't find valid initial parameters.

[2020-10-01 09:13] hyperfra commented on #765
thank you fehiepsi,

so we are both "partially" right. The context is that I am reproducing regressions from Wooldridge textbook to test, Table 15.1 p580.

1. So If I constrain to a open interval the probit model does not run:
   ValueError: The parameter probs has invalid values
2. If I contain to a closed interval it runs and gives me the correct results.

Notice that is true only if I normalize

[2020-10-01 11:11] fritzo commented on #765
It looks like the original `torch.distributions.constraints._Interval` is indeed a [closed interval](https://github.com/pytorch/pytorch/blob/master/torch/distributions/constraints.py#L214).

**Note** the open/closed question has come up repeatedly; we have not found a compelling compromise along the simplicity-expressivity spectrum; and we have therefore mostly avoided creating a proliferation of

[2020-10-01 12:06] hyperfra commented on #765
@fritzo

I imagine the difficulties. In this particular case you need to correct it as PHI(beta*x) can easily be equal to 0 or 1 (at least numerically) which with the open interval prevents the estimation of the probit model.

in any case let me say how much I appreciate what you are doing : it is really great work

[2020-10-01 12:06] #765 closed

[2020-10-01 14:23] fehiepsi commented on #765
Re open vs closed: I cannot recall the reason why we used open interval. We also got some issues recently with `Simplex` constraint and relaxed the condition fix the issue. I'll walk over the current constraints to make them match Pyro's ones.

[2020-10-01 15:53] martinjankowiak opened #768 "[FR] add a thompson sampling example"
add an example script that that uses thompson sampling, either in the context of gaussian process based bayesian optimization (see e.g. [here](http://gpss.cc/gpss15/talks/Nado.pdf)) or gaussian process or logistic regression based contextual binary bandits (see e.g. [here](https://gdmarmerola.github.io/ts-for-contextual-bandits/)).

for a basic GP implementation in numpyro see [here](https://githu

[2020-10-01 18:43] fehiepsi opened #769 "Example for spike-and-slab regression"
Per [a question](https://forum.pyro.ai/t/regression-variable-selection/2236) asked by a user in the forum, it would be nice to have a tutorial/example for this type of regression. I searched for some examples available and found some nice ones below.

+ https://github.com/AsaCooperStickland/Spike_And_Slab with Gibbs sampling
+ http://www.batisengul.co.uk/post/spike-and-slab-bayesian-linear-regress

[2020-10-01 18:52] fehiepsi opened #770 "Add a utility to get posterior samples of discrete latent variables"
Per @martinjankowiak suggestion, after we marginalize discrete latent variables to run HMC and get posterior for continuous variables, it would be nice to have a utility to get posterior samples for discrete latent variables. That is we have a model with `p(data | discrete, continuous)`, we marginalize and run MCMC to get `p(continuous | data)`. This utility will get samples from `p(discrete | dat

[2020-10-02 21:18] hyperfra opened #771 "Omnistaging does not work when enabling distributions' validation"
Hi again,

I have updated to 0.4 and my probit model (that runs in the previous version) gives the following error:

ConcretizationTypeError: Abstract tracer value encountered where concrete value is expected.

the model I fairly simple, (see below), I thought it might be cdf (jax.scipy.stats.norm.cdf) but could not make sense of it.

Have you experienced such changes by updating ?

MODEL:

def mo

[2020-10-03 02:27] fehiepsi commented on #771
Hi @hyperfra, I think this is due to a new behavior of JAX 0.2 called [omnistaging](https://github.com/google/jax/blob/master/design_notes/omnistaging.md). We got a couple of issues like this when we pump JAX to 0.2. Our fixes are to change `jnp` to `np` at various places. Could you post your error trace so we can identify where the issue is?

[2020-10-03 12:40] hyperfra commented on #771
hi @fehiepsi thanks.
1. disabling oministaging worked. :-)
2. complete error if I do not disable omnistaging below:

j---------------------------------------------------------------------------
FilteredStackTrace                        Traceback (most recent call last)
<ipython-input-19-059edad865e3> in <module>
     32 with numpyro.validation_enabled():
---> 33     probit.run(random.PRNGKey(1), *

[2020-10-03 16:14] fehiepsi commented on #771
Thanks, @hyperfra! It is really helpful. I think we can fix this issue.

[2020-10-05 18:42] Nikolin4 opened #774 "Bayesian Neural Network doesn't work for my dataset"
Hi there!

I am writting to you because  bayesian neural model does not produce the desired output.
I have one hot encoding data, also X.shape = (N,20), also the data has 20 features, each for an amino acid.
The targets are  Y.shape = (N,2), also one feature stands for phi angles, and the other feature stands for psi angles.
N stands for the numbers of the rows.

My objectives are to predict the p

[2020-10-05 18:52] martinjankowiak commented on #774
neural network architectures/assumptions need to be tailored to the data. the neural network in the example is very simple and is tailored to the 1 dimensional input data that is used. one needs to take care, for example, that each layer has bias units. there are different ways to do this, including encoding bias via a all-1s feature. one should also be aware that there's no reason to expect HMC t

[2020-10-05 19:35] Nikolin4 commented on #774
I would like to give more details, but I can't share everything online.   Could you think of one possibility. Data must be 20 dimentional because of amino acids.

[2020-10-05 22:10] martinjankowiak commented on #774
how many datapoints do you have? what are DX DY DH? why are you using a softmax non-linearity? that seems strange. have you tried fewer layers? have you tried using a subset of your data? what do your observation model look like?

[2020-10-05 22:40] Nikolin4 commented on #774
Input data is  X, and it is one hot encoding.
It has a shape (50 000, 20)

Out target data (50 000, 2) Representing the torsion angles.
Data split into train and test: x_train = X[ :25000, :] the rest is the X_test.
Y_train = Y[: 25000, :], the rest for the Y_test.
Y_train.shape = (25000, 2), same for Y_test.
X_test.shape =(25000, 20).
Also from model, D_X =20, D_Y =2, D_H are the Number of nodes

[2020-10-05 22:46] martinjankowiak commented on #774
well apart from other possible issues with your model the large number of datapoints is probably a significant problem. the loss surface you get with N large is going to be very sharp. as a consequence you're probably seeing the HMC step size get very small, e.g. 10^-5 or 10^-7. as a consequence HMC probably does a very poor job of exploring the posterior. unfortunately there are no easily solutio

[2020-10-06 01:01] fehiepsi commented on #774
How about using SVI instead of MCMC? You can mimic the example in [random_flax_module](http://num.pyro.ai/en/stable/primitives.html#random-flax-module): using Flax to construct a neural network that predicts `mu` and `kappa`, then set `Normal()` priors for weights/biases. My main concern is if `phi` and `psi` are latent variables, it will be tricky to run MCMC/SVI unless there is a way to reparame

[2020-10-06 09:00] Nikolin4 commented on #774
I am not familiar with SVI, but I will try that.

You have pointed out to reparameterize  `kappas`, but I am not sure about that!
Kappas and mus have a shape (N, 2) where N can be the number of row, sometime N=25000.

Can you write that part "reparameterize"  with code, also the last 4 lines written above ?

[2020-10-06 17:09] fehiepsi commented on #774
@Nikolin4 Assuming that `locs` and `kappas` are loc and scale parameters of Normal distribution, then instead of
[code]
, you can reparameterize as follows
[code]
But I don't know how to do a similar thing for `VonMises`. I think that you don't have to worry about it if `phi` and `psi` are observed. Is that the case here? If they are latent variables, then I don't think that MCMC will work at all

[2020-10-06 17:53] Nikolin4 commented on #774
@fehiepsi I have updated the code above, and I can see that I didn't provide you with the right info.
Y contains both phi and psi.
We know that phi and psi are Von Misses distributed, and that's why I cannot use  `dist.Normal`.

[2020-10-07 15:47] #756 closed

[2020-10-09 09:39] xidulu commented on #769
This example looks pretty interesting to me.

I believe the *model* could implemented like this?

[code]

Haven't figured out how to write the inference part, is `Enum_elbo` available in Numpyro now?

[2020-10-09 17:13] fehiepsi commented on #769
Hi @xidulu, I think you can use MCMC for this model. We haven't supported enum for SVI yet. Regarding the model, I think it does not make sense to use `xi` for scale of Normal distribution (e.g. scale can't take 0 values). Your model looks a bit different from [spike and slab regression](https://arxiv.org/pdf/1812.07259.pdf). I guess there is a typo or something?

[2020-10-09 19:45] xidulu commented on #769
Hi @fehiepsi
My knowledge on spike and slab prior mostly comes from : Eq 11 in https://arxiv.org/pdf/1810.04045.pdf

<img width="546" alt="Screen Shot 2020-10-10 at 3 40 37 AM" src="https://user-images.githubusercontent.com/26022201/95625016-5fa06f80-0aaa-11eb-8b69-92a2aadf8141.png">
<img width="428" alt="Screen Shot 2020-10-10 at 3 42 44 AM" src="https://user-images.githubusercontent.com/26022201

[2020-10-09 21:14] fehiepsi commented on #769
Thanks @xidulu! Now, I can see what you meant. Unfortunately, there is a limitation in NumPyro that Normal(0, xi) can't represent the Delta probability when xi=0. You can get around that issue by using w = xi * Normal(0, 1).

[2020-10-10 07:03] fehiepsi commented on #774
Hi @Nikolin4, thanks to your report, we have identified some issues of VonMises implementation. For follow-up questions such as how to make BNN work for a particular dataset, you can follow up in the [forum](https://forum.pyro.ai/), which will catch more eyes from Pyro community. We just use github issue for bug reports and feature requests.

[2020-10-10 07:03] #774 closed

[2020-10-10 10:17] akihironitta commented on #299
@neerajprad @jpchen Could I work on this issue?

[2020-10-11 13:26] xidulu commented on #769
@fehiepsi

[code]

It seems that the code above is incompatible with the enumeration mechanism:
[code]

I believe the reason behind is that, `xi.shape` becomes `(2, 1)` during the `enumerate_support`, causing the shape of `xi * Normal(0, 1)` to go wrong.

[2020-10-11 18:39] neerajprad commented on #299
@akihironitta - The codebase and number of contributors to numpyro core is small enough that this is low priority for us at the moment. When I created the issue, I was thinking that we could do this in a piecemeal fashion as we were refactoring the codebase. If you are interested, my suggestion would be to start with one of the other tasks and refactor to use type hints on the internal code that y

[2020-10-11 18:39] fehiepsi commented on #769
@xidulu Under enumeration, one restriction is to write your code such that it is compatible with batch dimensions. In particular, the matrix-vector product `np.dot(X, w * xi)` will not compatible with batched "w * xi" (in jax/numpy, matrix-vector will become matrix-matrix product if the vector has batch dimensions). Usually, for "batched" matrix-vector product, we will use `np.matmul(X, (w * xi)[.

[2020-10-12 16:05] eb8680 commented on #769
Unfortunately, enumeration is working as intended - the failure is caused by the fact that @xidulu's model cannot be used with exact enumeration, since the computational complexity of enumerating over the mixture variables is exponential in `d`.  See [this section of Pyro's enumeration tutorial](http://pyro.ai/examples/enumeration.html#Restriction-2:-no-downstream-coupling) for more discussion.

[2020-10-12 16:19] xidulu commented on #769
@eb8680

Does it mean that, discrete variables (if enumerated) cannot be used inside the plate ?

[2020-10-12 16:25] eb8680 commented on #769
No, not exactly - it means that independent discrete variables enumerated inside of a plate cannot be used later outside that plate, because that would mean they are not really independent and we would have to enumerate over all `2^plate_size` *combinations* of their values.

[2020-10-12 16:32] xidulu commented on #769
@eb8680
I also tried moving `xi` outside the plate, however, the shape of `xi` printed out is still `(2, 1)`

[code]

[2020-10-12 16:47] fehiepsi commented on #769
@xidulu The following code might run with #778
[code]
but as @eb8680 pointed out, we need a sequential plate for `xi`. As you observed: `xi.shape = (2, 1)`, which means that `xi[0]` is all 0s (after broadcasting to become a d-length vector), and `xi[1]` is all 1s. What we need is a d-length sequence of 0/1 values (there is 2^d such sequences). Sorry for making confusion, I am thinking about a solu

[2020-10-12 16:53] eb8680 commented on #769
This would work in the sense that enumeration would produce the correct factors.  To be clear, though, the underlying problem is mathematical, and exactly integrating out the `xi`s in spike-and-slab regression still has cost exponential in `d` - the observation factor couples all of the discrete variables.

[2020-10-12 17:27] xidulu commented on #769
@eb8680

Now I get what you mean, enumerating a **d** dimensional Bernoulli vector would inevitably cost O(2^d) right?

[2020-10-12 17:34] eb8680 commented on #769
Yes, that's right. In our implementation of enumeration in Pyro (and NumPyro) we've chosen to have programs fail and raise an error in this situation rather than attempt to instantiate such a large tensor, although enumeration in NumPyro is still experimental and is missing the more interpretable error messages generated in Pyro.

[2020-10-13 19:09] fehiepsi opened #779 "Enumeration generates invalid dimensions at observation nodes"
Copied from #778

Consider the model (corrected thanks to @eb8680 )
[code]

<details> <summary>Full code</summary>

[code]
</details>

The factors will be
[code]

We can see that the factor `obs` has wrong dimensions `_pyro_dim_5`, `xi_2`, `xi_1`, `d`. I would expect the correct dimensions are `xi_2`, `xi_1`, `xi_0`, and `N`.

[2020-10-14 01:27] eb8680 commented on #779
I probably won't have time until after PROBPROG to look into this (I'll update `numpyro.contrib.funsor` as part of #741), but unfortunately it's not just a bug - the code as written is underspecified.  In particular, dimension `-1` means different things at different points in the model, and values carrying those different meanings interact in the final lines.

A less ambiguous version of this cod

[2020-10-14 02:09] fehiepsi commented on #779
Thanks! I intended to look at this later. Your code still generates incorrect named dimensions `OrderedDict([('_pyro_dim_5', Bint[2, ]), ('xi_2', Bint[2, ]), ('xi_1', Bint[2, ]), ('N', Bint[4, ])]), 'real')`. I think it is broken at some points after your original PR (HMM example `model4` is broken).

[2020-10-14 02:13] eb8680 commented on #779
I see, seems like a subtle bug snuck into `plate` somewhere after we forgot to add the HMM example to `test_examples`. Sorry about that!

[2020-10-14 02:17] fehiepsi commented on #779
You are right. We need to add HMM to `test_examples`. I think the bug will be simple to detect so I'll walk through the history first.

[2020-10-14 16:22] xidulu commented on #769
@fehiepsi

I just read https://github.com/pyro-ppl/numpyro/issues/779 , I guess the current "work around" would be to manually declare the plate's dimension (tensor.expand) combined with a for loop, right?

[2020-10-14 18:25] #771 closed

[2020-10-14 20:56] fehiepsi commented on #769
@xidulu There is still a bug that I created during one of the recent PRs. :( I will try to fix it this weekend, then will let you know.

[2020-10-16 00:20] neerajprad opened #781 "Usability issues when warmup samples are collected"
If we have `collect_warmup=True` when running warmup separately we do not discard samples from the warmup phase. However, when we later run `mcmc.run` and call `get_samples`, the warmup samples are discarded.
 - Would it make sense to return the previously collected warmup samples, in this case?
 - Also when collecting warmup samples, the progress bar reads `Sample`, which can be confusing.

[2020-10-16 04:17] fehiepsi commented on #781
Yeah, we need to adjust the message for warmup. For the first point, I think we can call `mcmc.get_samples()` after calling `warmup()`. Do you suggest having a different method to get warmup samples (which is stored by some hidden attributes _warmup_states e.g.)?

[2020-10-16 05:08] fehiepsi commented on #779
@eb8680 It turns out that my code to compute `ws` is incorrect. HMM failed when I tried `hidden_dim=2`, which even failed for our earliest support of `markov`. But it passes for larger hidden dims. So far, the only regression is at `plate.postprocess_msg`, which will also be addressed in #780. I will explain the situation in more details in that PR.

[2020-10-16 05:28] neerajprad commented on #781
Yes, something like that. Basically, if we have collected warmup samples, then it will be nice to have `get_samples` return those too. Stan has a way of getting warmup samples by specifying `inc_warmup`, but since we discard warmup samples by default, it isn't possible to have `include_warmup` argument in `get_samples`. There are a few design choices:

To collect samples from warmup as well:
 - th

[2020-10-16 06:12] fehiepsi commented on #781
Yeah, each of those design choices makes sense to me. The third one is what we have first, but then refactor out to clean up the interface if I remember correctly. Please go with any you prefer. But if we go with the later ones, I feel it might be better to have a new method to get those warmup samples. That way, `get_samples` has a consistent meaning. WDYT?

[2020-10-20 02:57] #779 closed

[2020-10-20 22:32] freddyaboulton commented on #658
@fehiepsi I have a [PR](https://github.com/conda-forge/staged-recipes/pull/12945) to the sample-recipes repo to add numpyro to conda. Let me know if you want me to make any changes (add maintainers) before opening it for review.

[2020-10-22 20:34] fehiepsi commented on #769
@xidulu Sorry, I forgot to mention that the bug has been fixed. The model is as follows
[code]

But using enumeration for this model is pretty slow. :( I am trying to see if this [mixed hmc](https://arxiv.org/pdf/1909.04852.pdf) does a better job here but it might take a while to have an implementation.

[2020-10-22 20:56] fehiepsi opened #785 "[FR] Mixed HMC for models with discrete latent variables"
Currently, NumPyro uses enumeration to marginalize out discrete latent variables. However, when there are many discrete latent variables, using enumeration will be slow because the dimensional size is blown up exponentially w.r.t. the number of discrete latent variables. It seems to me that @StannisZhou's Mixed HMC [1] is a good inference algorithm to use in that case (e.g. the model in #769, whic

[2020-10-25 17:04] fehiepsi opened #786 "MCMC postprocessing is not compatible with vectorized chain method"
Currently, when we use `chain_method="vectorized"` for models with deterministic sites, there will be an error that happens at the end of sampling phase.

More info to come...

[2020-10-25 17:06] Nikolin4 opened #787 "Need some help understanding the code behind BNN!"
Hi Numpyro Community,

I am using bayesian neural network  from  http://pyro.ai/numpyro/examples/bnn.html, and I am trying to understand from the documentations the following functions. For some of you, this issue might not be a hard issue, but this is the case for me since I am just learning the MCMC.

[code]
and
[code]
I might not be very clear with my questions, but I kindly ask you to try to e

[2020-10-25 17:14] fehiepsi commented on #787
Hi @Nikolin4, I think the [bayesian regression](http://pyro.ai/numpyro/bayesian_regression.html) tutorial answers all of your questions: what MCMC does, what those handlers do in `Predictive` section,... Please let us know if you need us clarify any point in that tutorial. :)

[2020-10-25 17:19] fehiepsi opened #788 "Merge tutorial page to readthedocs"
Currently, tutorials are not exposed to the main [numpyro site](http://num.pyro.ai/en/stable/). It would be nice to follow https://github.com/pyro-ppl/pyro/issues/2670 and integrate the tutorial site to readthedocs. Not only it will be more accessible for users, but also:
+ resolves https://github.com/pyro-ppl/numpyro/issues/695 . Everytime we update `master` and  notebooks/examples, readthedocs w

[2020-10-25 19:13] Nikolin4 commented on #787
@fehiepsi Thank you for your quick reply!
I will have a look at the tutorial you referred me, and I will be back with any question if not understood, thank you again

[2020-10-26 15:05] fehiepsi commented on #643
Hi @Joshuaalbert, we have an [interesting thread](https://forum.pyro.ai/t/fitting-a-model-with-a-multimodal-posterior-using-flows-and-neutra-hmc/2297) on forum to discuss about this multimodal issue. Would you like to join and give us some insight? :)

[2020-10-26 16:59] fehiepsi commented on #643
@joshuaalbert I just go over your examples. It seems to me that we can make a wrapper for `NestedSampler` to make it work with pyro models. I hope users can use `NestedSamplerWrapper` with numpyro model without having to specify anything new (e.g. `PriorChain`, `UniformPrior`) - like how we wrapped TFP mcmc kernels to make them work with numpyro models. Under the hood, we will
+ extract a likeliho

[2020-10-26 18:00] Joshuaalbert commented on #643
I support this direction, @fehiepsi. I can meet after Nov 14. Perhaps Nov 16?

`PriorChain` is quite simple. Given a model `M`, and joint distribution factored into prior and likelihood like `p(y, theta | M) = p(y|theta,M) p(theta|M)` then the `PriorChain` represents a decomposition of the `p(theta|M)` into a particular form like `p(theta|M) = p(theta_0|M)  p(theta_1|theta_0,M) ... p(theta_n|theta

[2020-10-26 18:43] fehiepsi opened #789 "Bernoulli returns a Boolean instead of an integer"
Currently, in Bernoulli distribution, we sample `boolean` arrays but using `arange(2)` for enumerate support. We should use 0, 1 values in `sample` method for consistency.

[2020-10-27 02:39] akotlar opened #790 "Warn on missing plate"
Requested by @fehiepsi: Briefly, for models with discrete latent variables, sampling outside of plate context yields some fairly confusing stack traces during inference. Numpyro could instead warn during model validation.

https://forum.pyro.ai/t/global-latent-variables-numpyro-crash/2313

[2020-10-27 04:56] fehiepsi commented on #643
Thank you, @Joshuaalbert! Your explanation makes sense to me. I will try to have something working before we discuss. :+1:

[2020-10-30 07:23] fehiepsi opened #792 "Simplify training phase of SVI"
Currently, to train SVI, users need to know either
+ `jax.lax.fori_loop`
+ `jax.lax.scan`
+ or `jax.jit`

Either way, users code will look like
[code]

To me, this is unfortunate and in most of the cases (given the fact that we already support subsampling via `numpyro.subsample`), the model input will be constant. I think it is better to support a high-level api for the above job. For example, we

[2020-10-31 20:52] jlevy44 opened #793 "Bayesian Additive Regression Trees"
It would be great to add BART to the list of models available via numpyro: https://github.com/pymc-devs/pymc3/pull/4183

Happy to take a stab at it given some time.

[2020-11-01 20:58] fehiepsi opened #794 "Update docstring of Neal's funnel example"
We have updated [funnel](https://github.com/pyro-ppl/numpyro/blob/master/examples/funnel.py) example to use `reparam` handler, but the docstring is not updated yet.

[2020-11-01 22:27] fehiepsi commented on #793
Thanks, @jlevy44! I am happy to review your work when it is ready. :)

After taking a look at [bart](https://arxiv.org/pdf/0806.3286.pdf) paper, it seems to me that this is more like a model, rather than a distribution. What do you think about making a tutorial/example instead? It depends on you - I just thought that it is easier to write an example than to make a general purpose distribution, whi

[2020-11-01 22:47] fehiepsi commented on #787
Hi @Nikolin4, if you have any further questions, you can use Pyro [forum](https://forum.pyro.ai/). It is a great resource to look for solutions and discussions. :)

[2020-11-01 22:47] #787 closed

[2020-11-01 23:06] fehiepsi commented on #790
Thanks, @akotlar!

[2020-11-02 21:40] akotlar commented on #790
Thank you Du!

[2020-11-03 06:45] #789 closed

[2020-11-03 07:32] fehiepsi opened #798 "Simplify the patterns with PRNGIdentity"
Currently, `PRNGIdentity` is a special distribution that returns a random key under `seed` handler. One issue with it is we need to have extra logics to filter this site out at various places. For examples at
+ [elbo](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/elbo.py#L159)
+ [log_density](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/util.py#L53)
+ autoguide [he

[2020-11-03 07:41] fehiepsi opened #800 "Support AutoDelta"
[AutoDelta](http://docs.pyro.ai/en/stable/infer.autoguide.html#autodelta) is used to do MAP inference in Pyro. It would be nice to have it in NumPyro too.

#### References

+ [Pyro AutoDelta](https://github.com/pyro-ppl/pyro/blob/dev/pyro/infer/autoguide/guides.py#L301) implementation
+ [AutoNormal](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/autoguide.py#L135) implementation
+ a

[2020-11-03 13:32] fritzo commented on #798
:+1: to creating new primitives rather than overloading `sample()`. I think @eb8680 and I have concluded that `_Subsample` distributions were a bad idea (e.g. requiring `prune_subsample_sites()`), and that it is less error-prone to introduce new primitives like `pyro.subsample()` and `pyro.barrier()`.

[2020-11-03 17:31] #788 closed

[2020-11-03 17:53] #786 closed

[2020-11-03 18:11] neerajprad commented on #792
A higher level API is fine for convenience, but note that if we cannot subsample in memory, i.e. have to load the data into memory in mini-batches, I think we will need finer grained control than what `svi.run` will provide.

[2020-11-03 18:16] eb8680 commented on #792
As an alternative, are there any widely used JAX libraries we could offload this to? A lot of people seem to use [PyTorch Lightning](https://www.pytorchlightning.ai/) for training their PyTorch models, is there something similar in JAX we could either integrate or recommend?

[2020-11-03 20:17] fehiepsi commented on #798
Thanks, @fritzo. Let me make a draft to see if using a primitive, we can avoid the above overheads.

[2020-11-03 21:16] fehiepsi commented on #792
Yeah, it is a good point! For subsampling, currently, we only slice over subsample_indices so I guess the memory requirement is likely just the same as creating a data loader under JAX (e.g. the current implementation in `numpyro.examples.load_dataset.get_batch`). But for very large data that does not fit into memory, we should use a custom dataloader (not compiled in JAX) and `init`, `update` pat

[2020-11-03 23:56] neerajprad commented on #792
Interesting! I have not heard about a similar higher level library for JAX, though both PyTorch or TensorFlow dataset loaders can be used generically.

Note that none of our examples deal with large enough datasets and therefore our loaders are trivial - they load the entire dataset into memory. Since part of the reason to use SVI is scalable inference, I think it is important to not overfit the i

[2020-11-04 03:37] fehiepsi commented on #792
FYI, here are links to callbacks in [keras](https://keras.io/api/callbacks/) or [lightning](https://pytorch-lightning.readthedocs.io/en/latest/callbacks.html).

Yes, I agree. Let's see what we will come up with in https://github.com/pyro-ppl/numpyro/pull/799. I still have not found a good solution yet, but will make a proposal soon.

[2020-11-04 09:12] ahmadsalim commented on #792
Hi!

I have been a bit ill lately, but @OlaRonning who is a co-author of EinStein VI and PhD fellow in our group is interested in integrating the interface. He is an awesome person who knows a lot about the project, and knows what to do.

[2020-11-04 10:06] OlaRonning commented on #792
Hi,
@ahmadsalim thanks for the kind words :D

The base class that is used in EinStein VI for both SteinVI and SVI is [here](https://github.com/aleatory-science/numpyro/blob/feature/stein-vi/numpyro/infer/vi.py). It implements [`train`](https://github.com/aleatory-science/numpyro/blob/feature/stein-vi/numpyro/infer/vi.py#L44-L120) with [callbacks](https://github.com/aleatory-science/numpyro/tree/fe

[2020-11-04 16:09] fritzo commented on #792
God bedring @ahmadsalim!

[2020-11-04 16:25] ahmadsalim commented on #792
Tak Fritz! 😄

[2020-11-05 18:57] #794 closed

[2020-11-06 05:04] #790 closed

[2020-11-06 06:06] #798 closed

[2020-11-06 06:11] #695 closed

[2020-11-09 03:02] fehiepsi opened #810 "Support weighted statistics in `summary` diagnostics"
Currently, [summary](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/diagnostics.py#L219) returns ordinary statistics mean/var/quantiles/n_eff for MCMC samples. It would be nice to extend that utility to calculate weighted statistics. This would be useful for important sampling or nested sampling.

[2020-11-09 14:17] fritzo commented on #810
More generally I think bags-of-samples are a more flexible data structure and could be used throughout Pyro & NumPyro. Marco & Vikash said they found bags-of-samples to be the right datatype to communicate between nested inference algorithms. And @eb8680 and I have found in Funsor that the output of Monte Carlo sampling is most cleanly represented by Delta distributions that can be weighted (and w

[2020-11-10 11:21] xidulu commented on #800
@fehiepsi
I would love to implement AutoDelta for NumPyro as I need to perform some experiments related to MAP estimation.
But it seems that someone has already been working on it on their own forked version https://github.com/pyro-ppl/numpyro/issues/792#issuecomment-721637496
And their PR (https://github.com/pyro-ppl/numpyro/pull/649) seems to get blocked.
Is it possible to let me port part of th

[2020-11-10 18:02] fehiepsi commented on #800
Hi @xidulu, please go ahead. The SteinVI PR ideas have been adopted and refactored out into smaller PRs: #667 (lift handler), #804 (prng_key primitive), #799 (svi run). It would be nice to have a separate PR for AutoDelta too. I think the implementation will be a bit different from the one in SteinVI PR, e.g. no need to have a method `find_params` (this is implemented in `AutoGuide._setup_prototyp

[2020-11-10 18:37] #792 closed

[2020-11-12 21:29] vishwakftw opened #812 "MultivariateNormal doesn't accommodate batched precision matrices of specific sizes"
Consider the example below:
[code]
This works with no errors being thrown.

However, the MRE below doesn't.
[code]

The stack trace on colab is below:
[code]

cc: @neerajprad

[2020-11-12 21:50] fehiepsi commented on #812
Thanks, @vishwakftw! It seems like `triangular_solve` in JAX does not work well with batching
[code]
I will move this issue upstream for JAX devs.

[2020-11-12 21:54] neerajprad commented on #812
@fehiepsi - The strange thing is that `dist.MultivariateNormal(loc=random.normal(random.PRNGKey(0), (28, 100)), precision_matrix=jnp.eye(100))` works but changing the dim to 200 fails.

[2020-11-12 21:57] fehiepsi commented on #812
I think that some triangular_solve code assumes a limitation of dim <= 128 when batching is involved. I have raised the issue upstream: https://github.com/google/jax/issues/4888

[2020-11-12 22:24] fehiepsi commented on #812
This seems to be fixed upstream but requires a new jaxlib version released. :)

[2020-11-12 22:28] fehiepsi commented on #812
@vishwakftw Please update `jaxlib` to `0.1.57`, I think it will fix the issue.

[2020-11-12 22:46] vishwakftw commented on #812
Thanks @fehiepsi for the quick resolution. I'm using colab, so I guess it's not updated there or something. This is the installation log:
[code]

[2020-11-12 22:56] fehiepsi commented on #812
@vishwakftw I think you can do `pip install jaxlib==0.1.57` after installing `numpyro`. `colab` uses `0.1.56` by default.

[2020-11-13 02:10] vishwakftw commented on #812
I see, thanks! I'll close this issue then.

[2020-11-13 02:10] #812 closed

[2020-11-13 06:42] xidulu opened #814 "Magic number in svi.run"
Progress bar mode in svi.run contains a magic number 20 at

https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/svi.py#L177

Does that number describes the logging frequency I guess? If so, I think maybe it's better to turn it into a user-defined args.

[2020-11-13 17:59] fehiepsi commented on #814
Yes. Currently, `svi.run` is experimental and just a convenient function (especially for ones who are familiar with NumPy but not familiar with JAX) so we don't want to populate its arguments. A high-level inferface (some discussions about it can be found in #792) might be incorporated in the future if needed.

[2020-11-15 12:59] xidulu commented on #814
@fehiepsi

The report rate is OK for me.

Btw, would the verbose mode slow down the performance, since it uses native for loop instead of jax.scan()?

[2020-11-15 16:10] fehiepsi commented on #814
Yes, it will slow things down a bit, less than 1ms per step I guess. Unless your model is small and needs a large number of steps to converge, the difference is small.

[2020-11-15 16:33] xidulu commented on #814
@fehiepsi
Thanks for ur info
My questions are resolved. 😀

[2020-11-15 16:33] #814 closed

[2020-11-18 08:15] akotlar opened #815 "Incompatible shapes error after stack error"
Related to https://github.com/pyro-ppl/numpyro/issues/790

At least under the circumstances listed in #790, when the AssertionError is raised, subsequent inference `run` on the model will fail in an ipython environment. Memoized (compiled?) tensor shapes appears to be corrupted and maintained until the next invocation.

Stack trace from 790:

<details>

[code]

</details>

After fixing the cause o

[2020-11-18 20:51] fehiepsi commented on #815
It seems that if a discrete variable is not used elsewhere, then the error will happen. We should catch that issue and raise a better error message. Thanks, @akotlar!

cc @eb8680

[2020-11-18 20:56] fritzo commented on #815
I believe the `_PYRO_STACK` is not being correctly cleaned on error, due to logic in the `__exit__()` methods of handlers.

[2020-11-19 04:25] fehiepsi commented on #815
Thanks, @fritzo! I understand the situtation now. Will make the fix soon.

[2020-11-19 15:50] #815 closed

[2020-11-19 15:54] fehiepsi commented on #815
@akotlar The stack should be cleaned after #818. Please reopen if this happens again.

[2020-11-19 16:59] vanAmsterdam commented on #534
this has been here for some time, but can you explain why local latent variables mess with the jitting speed-up?

[2020-11-19 18:18] cerbelaut opened #820 "Sample Tensorflow distributions with `numpyro.sample()` fail inside `with handlers.seed():` statement"
Hi,
I am working on a project for which I'd like to use tensorflow distributions (the TruncatedNormal distribution, because the TFP implementation allows to define both a lower and an upper bound). However, the following code snippet fails.

[code]

Error:
[code]

After investigating this, it seems the error is from the `TFPDistributionMixin` class, in the `__call__` method, where the sampled valu

[2020-11-20 04:05] fehiepsi commented on #534
Good point. I can't recall why I said so. The requirement should be: model args are jittable (e.g. they are `numpy.ndarray` or a tuple/dict of them).

[2020-11-20 04:40] fehiepsi commented on #820
Whoa, what a bug! I have used several TFP distributions but only in inference, not sampling, so haven't seen this error yet. Thanks, @cerbelaut! Do you want to submit a PR for this, together with the above regression test? :)

[2020-11-20 17:06] cerbelaut commented on #820
Sure @fehiepsi, I could find some time during the weekend or next week ! Thanks for the reply ;)

[2020-11-20 22:57] quattro commented on #705
I realized this is closed, and already implemented, but I'm curious if it makes sense to have 'sister' instantiating functions for haiku_modules that take `*args, **kwargs` rather than input shape. This would enable more complex haiku modules with multiple parameters. For example,
[code]
This should cleanly translate to enable situations like the following:
[code]

[2020-11-21 00:29] fehiepsi commented on #705
Hi @quattro, please feel free to make a pull request to make `haiku_module` (and `flax_module` too) more flexible. I think you don't need to implement a new function. How about
[code]
?

[2020-11-21 18:37] #705 closed

[2020-11-21 18:46] fehiepsi commented on #800
Resolved in #816. Thanks, @xidulu!

[2020-11-21 18:46] #800 closed

[2020-11-21 21:03] fehiepsi commented on #820
Thanks, @cerbelaut!

[2020-11-23 17:52] #820 closed

[2020-11-24 11:49] caxelrud opened #825 "Example suggestion - Cycling"
Hi, I looking for help to translate to Numpyro an example from "Infer.net" that I coded, some time ago, in F#.
The code is attached.
The example is simple but covers all cases that I am looking for including:
-	Obtains approximate probability distributions.
-	Uses a hierarchical model.
-	Does online-learning of the model using Bayesian statistics (even with missing values).
-	Predicts the next mea

[2020-11-24 17:34] fehiepsi commented on #825
Almost 600 lines of code might be not that simple. :D Could you try to see which functionality that you need to support, then open feature requests for them? Please also use our active [forum](https://forum.pyro.ai/) for asking questions and discussions.

[2020-11-25 12:58] caxelrud commented on #825
Hi,
I divided the example in part in order to make my questions and discussions objective.
The following code starts with the model [1].
Then the code does:
- add evidences and execute [2],
- modify the model and execute [3],
- evaluate a logic question within the model [4],
- clear the evidence of an input (retract) and execute to infer this input.

I need help to write these functionalities with

[2020-11-26 20:34] caxelrud commented on #825
Hi,
To add some context.
My objective, after obtaining the model, is to use it to verify the likelihood for one complete set of input evidences. And, eliminate the evidence of one input at a time (retraction) and do inference of this input and compare with the actual evidence.

[2020-11-26 23:42] fehiepsi commented on #825
Hi @caxelrud, those lecture notes about [causal inference](https://bookdown.org/robertness/causalml/docs/) might be also helpful for you. I would suggest raising questions in [the forum](https://forum.pyro.ai/). We mainly use github to track the issues and feature requests.

[2020-11-27 12:14] LysSanzMoreta opened #829 "Feature Request: Guidelines on implementing Sparse GP in Numpyro"
Hi!

I would like to request some guidelines on how to implement SparseGP (with SVI) in Numpyro as already included in [Pyro](https://pyro.ai/examples/gp.html#Sparse-GPs). Currently there is only a simple Gaussian Process implementation in[ Numpyro](http://num.pyro.ai/en/latest/examples/gp.html) .

Thank you very much in advance :)

[2020-11-27 21:42] caxelrud opened #830 "svi.get_params results interpretation"
Hi,
From _https://fehiepsi.github.io/rethinking-numpyro/04-geocentric-models.html_ , Code 4.28 trains the model _flist_ and gets parameters using:
p4_1 = svi.get_params(state)

p4_1 has the value:
{'auto_loc': DeviceArray([154.60706  ,  -1.6973906], dtype=float32)}

What is the interpretation of this result?
Thanks!

[2020-11-27 23:12] fehiepsi commented on #830
@caxelrud It is the parameter of the autoguide [AutoLaplaceApproximation](http://num.pyro.ai/en/stable/autoguide.html#autolaplaceapproximation). Laplace approximation does MAP inference. The parameter `auto_loc` is the MAP value. FYI, in the next release, you can just simply use [svi.run](http://num.pyro.ai/en/latest/svi.html#numpyro.infer.svi.SVI.run) instead of `lax.scan` or `lax.fori_loop` like

[2020-11-27 23:12] #830 closed

[2020-11-28 04:57] fehiepsi commented on #829
The Pyro module `pyro.contrib.gp` is pretty stable and there are already a couple of examples (deep kernel learning, gplvm) of doing SVI inference for sparse GP models in Pyro. I would like to extend the feature request for having an example of deep sparse GP in NumPyro, which isn't duplicated with the current examples on Pyro and illustrates how to use `flax_module` primitive. Please see the foll

[2020-12-06 22:39] akotlar commented on #815
Thanks @fehiepsi @fritzo!

[2020-12-12 10:02] ab-10 opened #834 "Create CONTRIBUTING.md"
It would be useful to have CONTRIBUTING.md for this project.

The [Pyro CONTRIBUTING.md](https://github.com/pyro-ppl/pyro/blob/dev/CONTRIBUTING.md) can serve as a nice template here.

If the maintainers of the project are happy with the idea, I can draft a version in a form of a PR.

[2020-12-13 07:39] fehiepsi commented on #834
Thanks for volunteering @ab-10! Please go ahead. This is definitely needed.

[2020-12-13 17:52] caxelrud commented on #825
Hi,
I realized that Probabilistic Programming Languages (PPL), as Numpyro, are powerful but they are not necessarily Graphs (or Networks). There are some features that are ease in Graphs and not as easy in PPL (by design).
The example that I proposed is a good fit for Infer.Net (based on Factor Graphs) including variable retraction and online learning.
For PPL, it will require rewriting/re-arrangi

[2020-12-14 15:36] lumip opened #838 "Broken install under Python 3.9"
When I try to install numpyro in a Python 3.9 environment, I get a messed up installation of incompatible packages. The following have been my steps:
[code]
The outcome of this are the following installed packages
[code]
Now, this version of jaxlib is incompatible with that version of jax and, of course, I would like to have the most recent version of numpyro to work with.

It seems the following

[2020-12-14 18:00] fehiepsi commented on #838
Hi @lumip, I would like to hold this until the next jaxlib release. The last jaxlib version has a regression issue regarding compiling time. If you want to use numpyro now, I think you can install the master version with `pip install git+https://github.com/pyro-ppl/numpyro.git`.

- [ ] we should also pump up [those numbers](https://github.com/pyro-ppl/numpyro/blob/master/setup.py#L71) too.

[2020-12-15 00:38] #834 closed

[2020-12-15 15:41] lumip commented on #838
I can see where you're coming from, but now it boils down to having no version of numpyro for Python 3.9 rather than one that compiles slowly (at least not from official installation channels)?

Installing from git is something I'd like to avoid as I'm looking for something I can put in my own setup.py that doesn't change from under my feet as numpyro evolves.

[2020-12-15 16:09] fehiepsi commented on #838
Agree, I guess we should say something like supporting 3.9 is in development, probably after the supported jaxlib version is more stable. In setup.py, you might add `python <= 3.8` for now.

[2020-12-17 06:38] #701 closed

[2020-12-17 10:33] tcbegley commented on #523
Is this being worked on currently? Would be great to see normalising flows in numpyro! (Am I right in thinking this is a prerequisite for that? Or is there a different approach)

[2020-12-17 13:47] fritzo commented on #523
@stefanwebb is redesigning the normalizing flows interface in a [new library](https://github.com/stefanwebb/simplex). We might want to wait a bit to see what new abstractions he decides on.

[2020-12-17 14:00] tcbegley commented on #523
Oh neat. I'll check it out. Thanks!

[2020-12-18 05:34] fehiepsi opened #847 "Add images to examples/tutorials"
Currently, the [tutorial page](http://num.pyro.ai/en/latest/) only has thumbnail images for 13 among 21 examples/tutorials. It would be nice to add thumbnail images for the remaining examples. The images do not need to be generated by the scripts. We can use something relevant to the content. For example, [plate notation](https://en.wikipedia.org/wiki/Plate_notation) of one of the models. Or for `

[2020-12-23 21:27] #702 closed

[2020-12-27 12:37] asuagar opened #853 "IndexError: Array boolean indices must be concrete."
Hello,

I obtained the error "IndexError: Array boolean indices must be concrete" using Google Colab. It could be produced by `tank` and `size` variables because they are used as indices. However, they are int64. Also, the message error is too lazy `TODO(mattjj): improve this error by tracking _why_ the indices are not `. I could not find the cause. Please, somebody can help me?

[code]

OUTPUT:

[2020-12-27 16:04] fehiepsi commented on #853
I think you can use
[code]
instead of
[code]
I guess that `jnp.unique` does not work under `jit` since JAX 0.2.

[2020-12-27 17:08] asuagar commented on #853
Hi @fehiepsi,

Thank you for your fast reply. Your solution works. Hence, I could solve the problem using:

`d.volume.unique().shape`

The problem has to be in `jnp.unique`. Also, I do not know the reason. Thanks!

[2020-12-27 17:08] #853 closed

[2020-12-29 07:38] Padarn commented on #810
The idea of having a bag-of-samples data structure seems nice. Would you want to reuse something from funsors? Or Just create something simple for Pyro and NumPyro to use?

[2020-12-31 01:20] vitkl opened #855 "Softplus transform as a more numerically stable way to enforce positive constraint"
Happy New Year Numpyro team!

I observe a very substantial improvement in inference stability when I replace `exp` transformation with `softplus` for constraining `site_scale` (https://github.com/vitkl/cell2location_numpyro/blob/main/cell2location_numpyro/distributions/AutoNormal.py#L142). Without this change the ELBO tends to become very variable and shoot up (see plot).
![image](https://user-ima

[2020-12-31 04:29] fehiepsi commented on #855
Happy new year @vitkl! Your suggestion looks reasonable to me. I think we can start with an implementation of SoftplusTransform (probably without `hinge_softness` for simplicity). Would you like to submit a PR? Regarding `log_det_jacobian`, I think both frameworks use the same terminology: that is, `log_abs_det_jacobian(x, y) = -softplus(-x)`.

After that, there might be several approaches to do.

[2021-01-02 10:06] ananis25 opened #857 "invalid prng key error when converting to arviz"
I was trying to understand the numpyro API by writing the examples from the `Bayesian methods for hackers` text. Below is one of the exercises where the model sampling apparently succeeds, but it throws when converting to arviz for visualization.

I'm sorry I don't really know how the conversion is done but I expected it to only involve data reshaping, curious why data sampling is done again?

* l

[2021-01-02 19:20] fehiepsi commented on #857
Hi @ananis25, currently sampling discrete latent variables is a [pending issue](https://github.com/pyro-ppl/numpyro/issues/770). For NUTS, we marginalize out those discrete latent variables and only provide posterior samples for continuous latent variables. You might want to use HMC-within-Gibbs (`master` branch), as in [this example](http://num.pyro.ai/en/latest/mcmc.html#numpyro.infer.hmc_gibbs.

[2021-01-02 22:18] rexdouglass commented on #539
@ross-h1 Thank you for your example. I too am running out of memory on gpu with millions of parameters, and using transform=lambda state: state.z just to pull back the samples I need.

Your code with some modification works perfectly for me, except each cycle seems to run slower than the ones before. My hope was that the behavior of fori_collect was to just pick up where the last sampling left off

[2021-01-03 04:05] fehiepsi commented on #539
@rexdouglass The time might vary due to the change in the number of leapfrog steps (you are using NUTS and adapting step_size).

You can sequentially get batches of samples with
[code]

Does this resolve your issue? We might expose a method to do the job: `mcmc._warmup_state = mcmc._last_state` if you think this feature is useful. Please open a separate feature request in that case. Thanks!

[2021-01-03 05:20] rexdouglass commented on #539
Can confirm this runs in linear time (each batch takes approximately the same amount of time). Thank you for the quick help!

I'll open an issue ticket recommending this as a feature, for the following reason. Even though your code is trivial to implement (but immensely appreciated), it isn't 100% obvious that someone ought to do this. As a newbie coming from Stan/TF-probability I was sure that hi

[2021-01-03 05:51] fehiepsi commented on #810
@fritzo Could you suggest a way to implement this? I am not familiar with "bag-of-samples"...

[2021-01-03 06:02] rexdouglass commented on #539
@fehiepsi
Apologies, the timing remains constant but the memory use does not.

Here is the loop as you designed and a call to nvmlDeviceGetMemoryInfo to show the memory used at each iteration. Each loop the memory used strictly increases (running into an overflow on my actual sizes again but not in the toy example).

Perhaps there's a garbage clearing step to add? XLA_PYTHON_CLIENT_ALLOCATOR="plat

[2021-01-03 11:49] ananis25 commented on #857
Thank you for the quick turnaround! The fix works as expected.

[2021-01-03 11:49] #857 closed

[2021-01-03 22:47] fehiepsi commented on #539
Interesting! We should look into this issue. I was looking into numpyro codebase, especially some caching mechanism, but couldn't find the source of the memory leak. Trying to installing some profiling tools from [here](https://jax.readthedocs.io/en/latest/device_memory_profiling.html) to debug this but I am not familiar with those tools so it might take time. If you have any suggestions, please l

[2021-01-04 03:12] rexdouglass commented on #539
Much appreciated. I'm new to numpyro so I can only be a guinnea pig and talk through ideas.

One immediate thought is that it's not a small memory leak, it just looks small because of the toy test. I can do some experiments and calculate exactly how many bytes it's not releasing after each run. I thought maybe @ross-h1 turned to fori_collect out of necessity.

Some background, this is a covid nowc

[2021-01-04 03:16] fehiepsi commented on #539
Thanks for taking a look! I think I have found the reason for the memory leak. Will push a fix soon.

[2021-01-04 15:55] jatentaki opened #859 "VonMisesFisher samples NaNs with mean_direction=[1., 0., 0.]"
I am observing a strange behavior with the VMF distribution. If I set `mean_direction=[0., 1., 0.]` or `[0., 0., 1.]` it seems fine, but setting `mean_direction=[1., 0., 0.]` results in samples of all `nan`.

[code]

since VMF is supposed to be thin wrapper around tfp, I tried the following

[code]

but it appears to work correctly.

[2021-01-04 17:20] fehiepsi commented on #859
@jatentaki Could you report this issue upstream to tfp team? This is an issue of jax backend there
[code]
[code]

[2021-01-04 17:24] fehiepsi commented on #656
A composable solution, suggested by @neerajprad above, has worked well with the recently added HMCGibbs class. Other composable kernels might follow the same pattern. Please feel free to reopen this issue if needed.

[2021-01-04 17:24] #656 closed

[2021-01-04 17:25] jatentaki commented on #859
I would, but I am super new both to (num)pyro and tfp and I wasn't able to reproduce this in pure tfp, so I reported here. Perhaps it's just a matter of slipping some backend selection switch, but I don't know how.

[2021-01-04 17:28] fehiepsi commented on #859
I see. I just modified your code to have a replicable script written in pure tfp (jax backend) in the last comment. You can use it to report to tfp folks.

[2021-01-04 17:52] jatentaki commented on #859
@fehiepsi thanks, opened an issue there (referenced above). Feel free to close this issue if you wish.

[2021-01-04 20:33] #448 closed

[2021-01-05 05:32] quattro opened #862 "MVN doesn't support batched scale_tril"
Hi,

I'm trying to performed batched sampling using the Cholesky decomposition formulation and running into issues. The following code works fine,

[code]

But swapping out for

[code]
and
[code]

Results in the following error: ```TypeError: matmul requires ndarray or scalar arguments, got <class 'list'> at position 0.```

[2021-01-05 05:43] fehiepsi commented on #862
@quattro Could you make a replicable code? There might be a bug somewhere with `scale_tril` but it is hard to tell...

[2021-01-05 06:55] quattro commented on #862
A bit of debugging found the issue.

Right now a user can pass in a list of covariance matrices (one for each batch dim) and MVN's private Cholesky decomposition enforces that the result is a proper batched DeviceArray (at continuous.py:715). If a user directly passes in a list of lower triangular matrices, there is no conversion to a single batched DeviceArray (at continuous.py:720), which breaks

[2021-01-05 23:04] fehiepsi commented on #862
It is interesting that we can pass a list of covariance matrices. I didn't expect that to work. In NumPyro, all parameters are ndarray.

If you enable validation `numpyro.enable_validation()`, you might trigger a warning or an error for an invalid `covariance_matrix`. :) Anyway, glad that you found the issue. :+1:

[2021-01-05 23:04] #862 closed

[2021-01-06 02:58] martiningram opened #863 "Clarify meaning of "experimental" for chain_method='vectorized'"
Hi numpyro team,

First off, thanks a lot for your work -- so far, the NUTS sampler you have written has been great to use!

I wanted to ask about some clarification about why `chain_method='vectorized'` for the `mcmc` function (https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/mcmc.py#L198) is labelled experimental in the docstring. In particular, is there a reason to believe that its

[2021-01-06 03:24] fehiepsi commented on #863
Hi @martiningram, I think it would be safe to use, though I didn't play much with that option. In GPU, it might be fast in small models but usually in CPU, it will be slower than other options.

[2021-01-06 03:28] martiningram commented on #863
@fehiepsi that's very helpful, thanks! It certainly seems to be much faster for me than running things in sequence on a single GPU. Good to hear the experimental label applies only to performance. That answers my question -- please feel free to close the issue if you like!

[2021-01-06 07:33] #863 closed

[2021-01-06 15:46] mdenhollander opened #864 "Expose Tree Depth as additional MCMC diagnostics"
Currently, the diagnostics that are available for the MCMC sampler do not include any information about the tree_depth per iteration.

This information would be highly useful, since the tree depth values can give important insights on the state of the sampler, next to information like the divergences, effective sample size and acceptance probability.

The tree depth is already calculated in the hm

[2021-01-06 21:52] fehiepsi commented on #864
Hi @mdenhollander, you can collect `num_steps` and compute
[code]
I think we should add a better doc to [HMCState](http://num.pyro.ai/en/latest/mcmc.html#numpyro.infer.hmc.HMCState) to reflect this fact. What do you think?

[2021-01-06 21:53] #859 closed

[2021-01-06 22:00] fehiepsi commented on #859
Thanks, @jatentaki! It is unlikely that we can address this issue. So I close this for now. One option is to implement this distribution directly in NumPyro, but I guess it is a bit complicated to implement? Probably, the current [VonMises](http://num.pyro.ai/en/latest/distributions.html#numpyro.distributions.directional.VonMises) implementation provides a guideline.

[2021-01-07 08:39] mdenhollander commented on #864
Hi @fehiepsi, thank you for your quick response.

You are indeed right that the tree_depth can be easily computed based on the number of trajectory steps, but this is something that could potentially be overlooked. I believe adding some information about this to the documentation would therefore be extremely helpful.

Thanks!

[2021-01-08 10:46] OlaRonning commented on #724
I've made two handlers to introduce the estimated likelihood computation into the [HMCECS proto-type](https://gist.github.com/fehiepsi/b4a5a80b245600b99467a0264be05fd5) @fehiepsi wrote. The first is the `estimator` that intercepts likelihood computations:
[code]

and `subsample_size` for altering the subsample size:
[code]

Regarding `estimator`, is the conditional correct only to capture likeliho

[2021-01-08 17:28] fehiepsi commented on #724
That's awesome! FYI the naive version is implemented through the [HMCGibbs](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/hmc_gibbs.py#L362) interface. I guess you can just add some new arguments there to let users switch between different versions and to let users specify something like `num_blocks`. Could you let me know what are blockers with the current `HMCGibbs` api?

I think

[2021-01-08 18:54] #534 closed

[2021-01-08 21:11] #864 closed

[2021-01-08 22:32] OlaRonning commented on #724
The HMCGibbs interface looks great! I'll sync the aleatory fork and introduce likelihood estimators there.

I'll update this thread if I run into something; it seems more than sufficient from a quick inspection.

Yes, of course, thanks!

The Taylor expansion is computed w.r.t. reference params (found using fx. MAP. or MLE) using the entire dataset, so it is used to changes the subsample_size to be

[2021-01-09 03:22] fehiepsi commented on #724
I meant to only modify the message, rather than doing *inplace* modification for some of its values.

Make sense to me. You can freely do many things under `init` as long as no global state is changed (there is _PYRO_STACK, which is global, and we use primitives to change it, but we should always free it before exit a jitted function - that is the reason why `jit(fn(handlers))` works but `handlers

[2021-01-09 12:42] vitkl commented on #855
Hi again,

Tested whether replacing `Exp` with `Softplus` improves the behaviour of our model (https://github.com/vitkl/cell2location_numpyro). As I mentioned before, using `Softplus` for transforming `site_scale` to positive substantially improves stability. However, I do not see additional improvement in the stability (or accuracy) after adding `Softplus` as a default positive transformation (ht

[2021-01-09 13:06] vitkl opened #869 "Looking for example of mini-batch training with SVI"
Hi numpyro team!

I am interested in doing mini-batch training with both local and global variables. Ideally using Pytorch style with DataLoader to avoid copying all data to GPU and `lax.scan` for speed. Any related examples would be appreciated!

I have this in mind but not sure if it could work:
[code]

The example here looks rather convoluted because it is not clear what are the requirements fo

[2021-01-09 22:56] fehiepsi commented on #855
I see. You don't need to change the default behaviour. After you have Softplus, you can create a handler to do the job
[code]

[2021-01-09 23:05] fehiepsi commented on #869
I don't know how to use `lax.scan` and avoid copying all data to GPU. I think you can raise this question upstream to JAX. I just guess that it is not possible.

About examples, you can jump around flax/haiku repository to find a pattern that is most suited for your problem.

[2021-01-10 04:58] Padarn commented on #810
I figured he was referring to what is done in NumPyro, where data points are represented at `Delta` distributions so that a sample can be represented naturally as a mixture distribution of these Deltas? (of course, correct me if I am wrong, just what I gathered from the NumPyro paper: https://arxiv.org/pdf/1912.11554.pdf).

[2021-01-10 12:52] vitkl commented on #855
Thanks for the suggestion! I think it will be useful to set this as the default behaviour for scales rather than leaving users to add `guide = exp_to_softplus(guide)` after they create the guide. Could the following step be added into the definition of AutoNormal?
[code]

[2021-01-10 14:57] fritzo commented on #855
That approach seems error prone, here's a simpler way to change the default behavior everywhere: it should be enough to override the default `biject_to` registration using the existing constraint
[code]
or simply
[code]
I agree we've seen that softplus is more numerically stable. The main reason we don't use `softplus` as the default constraint is that it is not scale invariant, and it has trouble

[2021-01-10 16:44] fritzo commented on #810
Sorry I missed this. In many places we use sets of samples encoded as a batched tensor of shape `(num_samples,) + event_shape`. You can think of this as encoding an implicitly uniformly-weighted bag of samples, where the weight of each sample is `1 / num_samples`. More generally you could create a data structure with both weights and samples. We have already implemented bags of samples of single s

[2021-01-10 17:31] vitkl commented on #855
@fritzo I am not sure I understand your motivation to not make `softplus` default transformation (compared to current default `exp`). I see how this might be a problem for a model with large parameter values but so will `exp`, isn't it? Small changes to unconstrained scales lead to large swings in scales `1e10 = exp(23.02585 + 1)` => `2.7e11 = exp(23.02585 + 1)`.

In the previous post, I suggested

[2021-01-10 18:21] fehiepsi commented on #855
I don't think we should change the default transformation unless there are enough evidence that softplus is better. Following this line might need further investigation. :)

I guess this could be desirable? Derivative of softplus is bounded by 1, so it would take a long time to move a parameter to a desire domain. Derivative of exp is unbounded, hence together with some optimizers like [ClippedAda

[2021-01-10 19:22] vitkl commented on #855
Just to clarify, for our model:
1. Setting default transformation to `softplus` did not help compared to point 2 but it did help compared to `exp`.
2. Setting `softplus` for transforming scales improved stability and accuracy.

This could mean that because the posteriors of most parameters in our model are < 1 and all parameters < 100 - either `softplus` or `exp` work well. At the same time, `soft

[2021-01-10 20:10] fehiepsi commented on #810
Thanks @fritzo and @Padarn! I got what you mean now.

@Padarn Do you want to take a stab on this? We can start with `samples` is an array (which mimics Empirical) but it can be generalized easily to arbitrary pytree by using some jax utility such as `jax.tree_map` (I can help on this).

[2021-01-10 21:28] fehiepsi commented on #855
Thanks, @vitkl! I see that we can narrow down the reasons to choose a default transformation. Seems like the posterior of positive variables in your model look more like LogNormal than something likes Softplus(Normal), hence setting a default transformation to `softplus` does not help much.

Now come to the optimization problem for `auto_*_scale` parameters. Your suggestion is the optimizers that

[2021-01-11 13:39] fritzo commented on #855
@vitkl I agree with @fehiepsi that this change would affect many existing users. That means (1) your observation could have widespread positive impact in both NumPyro and Pyro, but (2) we would need to thoroughly test a wide range of models to ensure existing users are not negatively impacted. Last time we made a similar change to autoguides was with a change of parameters to `AutoLowRankMultivari

[2021-01-12 08:48] OlaRonning commented on #724
Sorry for the delay, I found an problem with the Taylor expansion, which I'm trying to resolve. Will make a seperate PR with the block update.

[2021-01-12 17:28] joehoover opened #871 "Gradient propagation failure for masked invalid values"
I am working on a model that requires implementing a plate over arrays with variable sizes. My understanding is that the conventional solution to this problem is padding shorter arrays and then masking the padded values.

I initially implemented this with `nan` pads, but found that that yielded completely divergent samples.

With @fehiepsi's [help](https://forum.pyro.ai/t/hierarchical-bayesian-mod

[2021-01-12 18:12] fehiepsi commented on #871
Thanks @joehoover! This issue is also reported in Pyro https://github.com/pyro-ppl/pyro/issues/2447. I'll make a PR to resolve this.

[2021-01-13 21:11] vitkl commented on #855
I am new to engaging/contributing to project - so thanks a lot for the feedback!

I like the approach of:

Looking at the lowrank sandbox, I see that the test notebooks there test the specific issue with `AutoLowRankMultivariateNormal`. The changes I propose will affect all models using Normal approximation. Do you have any test models that could be used for a more thorough experiment with differe

[2021-01-13 21:24] vitkl commented on #869
I see. Thanks for explaining!

With regard to speedup, `lax.scan` https://github.com/vitkl/cell2location_numpyro/blob/main/cell2location_numpyro/models/pyro_model.py#L234-L245 for my problem takes roughly 15 minutes on GPU whereas wrapping `svi.update` in `jit` (https://github.com/vitkl/cell2location_numpyro/blob/main/cell2location_numpyro/models/pyro_model.py#L247-L255, https://github.com/vitkl/c

[2021-01-13 22:13] fehiepsi commented on #869
I was seeing you redefined `body_fn` in [each step](https://github.com/vitkl/cell2location_numpyro/blob/main/cell2location_numpyro/models/pyro_model.py#L305), so `jit` will not hit the cache. You can do something like
[code]

[2021-01-14 21:17] fehiepsi commented on #869
Interesting! I have an impression for a long time that using `jit(update)` alone only adds dispatching cost, which moves the loss from GPU to CPU, is very small comparing to time to perform an actual svi.update. Assume that you did SVI with 100000 steps, then the additional cost takes 10ms per svi step, which is quite large in my opinion. I am not sure what is the reasoning behind that cost. Just

[2021-01-14 22:26] fehiepsi commented on #724
@OlaRonning I'm just curious on your plan to add more stuffs to HMCECS. FYI we are going to release 0.5 with the latest jax/jaxlib release (in 1 or 2 weeks to close current PRs). Do you want to have something else in that release?

[2021-01-14 22:28] #871 closed

[2021-01-14 23:15] fehiepsi opened #874 "Update distribution api with new upstream changes"
This tracks some enhancemences in PyTorch/Pyro distributions. Some are required by `funsor`. Some are changed for consistency.
- [x] `.infer_shapes()` https://github.com/pyro-ppl/pyro/pull/2739
- [x] `Transform.inv`  #164
- [x] Move `is_discrete` to constraints (deprecate `Distribution.is_discrete`?)
- [x] Add `event_dim` to constraint (remove transforms' input_event_dim/output_event_dim?)

[2021-01-15 01:08] fritzo commented on #874
@fehiepsi I'll try to submit a `Transforms` PR to PyTorch tomorrow, where we can discuss the Transforms api. I like your idea of getting rid of `.input_event_dim` and `.output_event_dim`, and I think we can even deprecate `.event_dim`.

[2021-01-15 06:13] #164 closed

[2021-01-15 09:23] OlaRonning commented on #724
Hi @fehiepsi.
I'm still working out how to include arithmetics when computing the Jacobian and Hessian of the likelihood for the Taylor expansion, when using a estimator handler. Logistic regression is a simple example:

[code]

While I suspect to solve this fairly soon, but I don't want to block your release schedule. So I'll wait to open more PR till after release .5 is out.

[2021-01-15 21:23] fehiepsi opened #877 "Support forward mode differentiation in HMC"
Currently, we use reverse mode differentiation. But forward-mode is also useful in case users' data shapes change and they don't want to recompile the model.