[2021-01-16 03:44] EvanZ commented on #552
Hmm I realize this is closed but I'm having the same issue using Pyro. If I use more than a few hundred data samples I get this error.

[2021-01-16 05:37] fehiepsi commented on #552
@EvanZ If you are using Pyro, you can follow the discussion here: https://forum.pyro.ai/t/valueerror-when-data-size-surpasses-some-amount/2536 to see if the issue can be debugged.

[2021-01-16 07:12] fehiepsi opened #879 "Support other control flows fori_loop, while_loop, and cond to work with numpyro primitives"
Currently, we have `scan` implemented in [contrib.control_flow](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/contrib/control_flow/scan.py). After #878, it should be doable to use other control flows in HMC/NUTS. The implementation should mimic what we currently have in `scan` and can be addressed step-by-step:

- [ ] Support while_loop
    - We can assume no primitive in `cond_fn` becau

[2021-01-16 07:33] fehiepsi opened #881 "Checklist for 0.5 release"
- [x] Double check that the new documentation page is generated correctly
- [x] Quickly test for Python 3.9
    - tested rethinking-numpyro on python 3.9
- [x] Pin jax=0.2.8, jaxlib=0.1.59
    - [x] Blocked by https://github.com/google/jax/issues/5445, which causes errors on my GPU. **Edit:** solved by installing `jaxlib==0.1.59+cuda110`
- [x] Check that no performance regression, as in jaxlib 0.1

[2021-01-19 21:07] #567 closed

[2021-01-20 01:55] #877 closed

[2021-01-23 04:33] #881 closed

[2021-01-23 11:47] vitkl commented on #869
That's right, I am doing 30k iterations (full data 6486 obs * 6303 var, not minibatch). Removing tqdm does not change anything.

I omitted one important detail previously, I am adding the following flags:
[code]

It looks like `os.environ["XLA_PYTHON_CLIENT_ALLOCATOR"]="platform" ` has most substantial effects:
1. Removing this flag equalised the speed difference between `svi.update in jit` and `l

[2021-01-23 12:20] gcgibson opened #889 "OverflowError: cannot convert float infinity to integer using HMCGibbs"
Hi all,

It's so cool that you got marginalizing discrete parameters out! Very nice. I'm wondering if there is any way to extract some summary metrics like there is in pyro. My discrete latent parameter is interpretable so it would be awesome to get some info on it.

Thanks!

[2021-01-24 17:48] fehiepsi commented on #889
Hi @gcgibson, please follow the issue https://github.com/pyro-ppl/numpyro/issues/770. In the meantime, you can use [DiscreteHMCGibbs](http://num.pyro.ai/en/latest/mcmc.html#numpyro.infer.hmc_gibbs.DiscreteHMCGibbs), which does HMC-with-Gibbs (instead of enumeration) and will give discrete samples when you run MCMC.

[2021-01-24 18:09] fehiepsi commented on #869
Interesting! Thanks for your info. I just learn that there are those settings in JAX. Looking like in [jax docs](https://jax.readthedocs.io/en/latest/gpu_memory_allocation.html#gpu-memory-allocation), they said `platform` is very slow and is not recommended for general use. :D

Looking like this issue is clearer now. To avoid copying all data to GPU, you need to `jit` body function instead of usin

[2021-01-24 20:31] #838 closed

[2021-01-25 09:10] dominikstrb opened #891 "KeyError: 'infer' when using handlers.lift"
Hi all,

I have been using `numpyro.handlers.lift` to replace parameters in my model with priors. Here is a minimal working (at least with 0.4.1) example:

[code]

Since upgrading to 0.5.0, I am getting the following error message

[code]

If I replace the `param` with a `sample` statement, the example works without problems. Has anything about the usage of `handlers.lift` changed in 0.5.0? Or is

[2021-01-25 14:00] gcgibson commented on #889
Hi @fehiepsi ,

I tried the DiscreteHMCGibbs and I'm getting,

OverflowError: cannot convert float infinity to integer

On the exact same model that works with marginalizing out the discrete parameter.

Any insight?

Casey

[2021-01-25 14:11] fehiepsi commented on #891
Thanks, @dominikstrb! It is a bug of missing `infer` key when converting a param primitive to a sample primitive [here](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/handlers.py#L449). Do you want to contribute a fix? We just need to add `msg["infer"] = msg.get("infer", {})` there I believe.

[2021-01-25 14:16] fehiepsi commented on #889
Interesting! I couldn't find a suspected line of code. Could you make a reproducible code?

[2021-01-25 14:29] dominikstrb commented on #891
Hey @fehiepsi, thanks for the quick reply! Your suggested fix works. I submitted PR #892

[2021-01-25 17:32] PaoloRanzi81 commented on #539
Dear Numpyro's team @fehiepsi @neerajprad,
it is a couple of weeks that I am experiencing a nasty OOM RAM error with both “parallel” and “vectorized” versions of the Numpyro’s NUTS sampler. Today, I have tried numpyro==5.0.0 hoping that the OOM problem was solved. Unfortunately, it did not.

Background:
- I am using Numpyro via PyMC3 (current master branch, which uses JAX + Numpyro) + Theano-PyMC

[2021-01-25 20:33] fehiepsi commented on #539
@

[2021-01-25 22:23] PaoloRanzi81 commented on #539
Thanks @fehiepsi for the kind feedback! I wanted to confirm that Numpyro works great (great results, identical to PyMC3!!!) below the 51000 MCMC samples + chains = 8 by using a GPU. Unfortunately, above that threshold, the RAM memory blows off.

1. I confirm I have got the message “There are not enough devices to run parallel chains: expected… but got… Chains will be drawn sequentially”. I have ov

[2021-01-26 03:06] fehiepsi commented on #539
I see, thanks a lot! It seems that there are memory leaks with "sequential" method. The issue seems not relevant to the default method "parallel" and "vectorized". I'll look into this.

I think so. I don't have 2 GPUs to test but that's what I understand when we added those "parallel", "vectorized", "sequential" methods to draw chains of samples.

I am not sure how many devices a TPU exactly has.

[2021-01-26 05:07] fehiepsi commented on #891
Solved in #892. Thanks @dominikstrb for addressing this issue!

[2021-01-26 05:07] #891 closed

[2021-01-26 06:28] fehiepsi opened #894 "Support icdf and cdf methods in current distributions"
It would be nice to have `icdf` and `cdf` methods implemented in some popular NumPyro distributions. There are several motivations for this
+ `icdf` will be useful in nested sampling
+ `cdf` will be useful for truncated distributions
+ some [models](https://forum.pyro.ai/t/beta-cdf-in-numpyro/2520) require `cdf` method

[2021-01-26 06:33] fehiepsi opened #895 "Support for TruncatedDistribution"
Currently, we have one-side truncated normal and cauchy implemented. But it would be nice to add a general class, which uses `cdf` method, for other distributions. There is a [nice discussion here](https://github.com/probtorch/pytorch/pull/121) for context on relevant numerical issues.

cc @fritzo

[2021-01-26 12:03] FlorianWilhelm opened #896 "[FR] Implement a surrogate loss for discrete, e.g. categorical, distributions"
As discussed in [this thread](https://forum.pyro.ai/t/using-transformreparam-with-to-event/2553/11) right now using SVI in combination with categorical distributions, e.g. used in gaussian mixture models, leads to a wrong calculation of ELBO gradients, and thus unexpected results might be the consequence.

In order to fix this, one approach as explained in the [NumPyro's SVI docs](http://pyro.ai/e

[2021-01-26 14:11] gcgibson commented on #889
@fehiepsi Hi!

Here is the smallest nugget of my model that I could pull out.

https://github.com/gcgibson/cfr_numpyro/blob/main/test.py.ipynb

Hopefully that works for you. If it doesn't can you lmk and I will attempt a smaller example?

[2021-01-26 14:16] PaoloRanzi81 commented on #539
Thank @fehiepsi ! I really hope you can solve the Out-Of-Memory (OOM) error with the RAM which is blocking lots of people from using multi-GPUs or multi-TPUs with Numpyro!

Below what I think the 3 priorities are.

### First priority: Updating README.md file in the Github Numpyro’s repository
I am very surprised that nobody has ever tested Numpyro with multi-GPUs or multi-TPUs. In the README.md GP

[2021-01-26 14:17] fritzo commented on #895
Note we also have the one-sided general `FoldedDistribution` in Pyro, which is a cheap rsample-friendly qualitatively similar alternative to `TruncatedDistribution`. This doesn't get us any closer to literally translating Stan models, but maybe we can take license to approximately translate models and e.g. check that we're only slightly truncating, or not truncating past the median (since `Folded`

[2021-01-26 14:29] fritzo commented on #896
@eb8680 can we use your [DiCE](https://arxiv.org/abs/1802.05098) implementation from [pyro.contrib.funsor](https://github.com/pyro-ppl/pyro/blob/1.5.1/pyro/contrib/funsor/infer/traceenum_elbo.py)?

[2021-01-26 18:05] fehiepsi commented on #539
Thanks for your feedbacks, @PaoloRanzi81!

FYI, we did tests for multiple GPUs and TPUs when we added chain methods and mentioned about those supports, e.g. [here](https://github.com/pyro-ppl/numpyro/issues/199) and [here](https://github.com/pyro-ppl/numpyro/issues/493). But we haven't tested them rigorously.

I agree that we should have a tutorial on multi-GPUs or multi-TPUs. We pinned an [issue

[2021-01-26 20:30] fehiepsi commented on #539
Updated: I got no error for `num_samples=100,000, num_chains=8, latent dimension=100` on TPUs (see [this gist](https://gist.github.com/fehiepsi/404e8bbbe3b9150725166da1031ad5ca)), and it is pretty fast (1min19s). On my single GPU (using the same script with `numpyro.set_platform("gpu")`), it is so slow (which is expected because GPU is not designed to do this job) to draw 100,000 samples per chain

[2021-01-26 20:49] fehiepsi commented on #896
Just to remind for the future: when this PR is resolved, we would like to change the following paragraph in README: `There is also a basic Variational Inference implementation for reparameterized distributions...`

[2021-01-26 22:36] fehiepsi opened #897 "Raise errors when there are no gibbs sites in DiscreteHMCGibbs and HMCECS"
Currently, if there is no discrete latent site, DiscreteHMCGibbs will throw `OverflowError: cannot convert float infinity to integer` (see #889), which is misleading. We should raise a better error message when there is no gibbs sites in those classes.

[2021-01-26 22:44] fehiepsi commented on #889
@gcgibson It seems that there is a typo in your code at the discrete site `offset`. There, you set `obs=20` by accidentially I believe. FYI, JAX does not support dynamic size in a model, so something like `B_local[offset:]` will not work when `offset` is not a concrete scalar. A solution is to keep the array as-is and use `mask` handler, like this
[code]

[2021-01-26 23:16] eb8680 commented on #896
Something like this seems like the right way to go, since a Dice/score function-based ELBO implementation without any Rao-Blackwellization, even the coarse kind we do based on plates in Pyro, would be pretty useless for practical purposes.  For now we should just raise a `NotImplementedError` in NumPyro when a discrete variable is encountered in SVI and point people to DiscreteHMCGibbs + HMCECS, a

[2021-01-27 01:18] gcgibson commented on #889
Hi @fehiepsi ,

I don't totally understand why that is a typo? I'm looking for a discrete uniform over the integers 1 through 20. Is that incorrect?

[2021-01-27 01:56] fehiepsi commented on #889
In your code, there are 3 numbers 20 at the end of that line. The last one is the data (obs). If you need discrete uniform from 1 to 20, you also need to plus 1 to the offset.

[2021-01-27 03:21] fehiepsi opened #898 "Make Gibbs kernels composable"
Currently, our design in HMCGibbs, DiscreteHMCGibbs, HMCECS does not allow to compose those kernels. However, I believe that with just a few internal changes, we should be able to compose those kernels to get more flexible kernels.

### Proposal

TODO

[2021-01-27 10:35] gcgibson commented on #889
@fehiepsi  I misunderstood then, I thought that was the dimension of the vector [1,20]. If I remove that extra 20 I get

AssertionError: Missing plate statement for batch dimensions at site y_obs

[2021-01-27 10:53] gcgibson commented on #889
FYI, I changed it to the format in the HMM example and now it works!

[2021-01-27 15:10] gcgibson commented on #889
@fehiepsi

I did, if you check out the updated doc you will see it is using offset correctly now.

https://github.com/gcgibson/cfr_numpyro/blob/main/test.py.ipynb

But the DiscreteHMCGibbs is still throwing the same error.

[2021-01-27 15:26] fehiepsi commented on #889
Hmm, that statement, will draw a random categorical value, using a fixed rng_key, so it will be a constant value. In my comment above, I already fixed that typo. You need to use `numpyro.sample` primitive as in other statement. Could you double check?

[2021-01-27 16:02] atlasd commented on #534
@ross-h1 did you figure out how to do this? I want to do the same thing, looking for an example.

[2021-01-27 16:49] gcgibson commented on #889
If I set it to a regular `numpyro.sample` I get invalid `batch size` for `y_obs`.

Thanks for working on this!

[2021-01-27 17:47] PaoloRanzi81 commented on #539
Thanks @fehiepsi for the nice improvments!

I am slowly reading the documentation you have provided. Here my quick comments:

1. For my side it is no problem providing the model + data-set to you. I have got to ask to employer, though. What’s good about my model is that it works great with PyMC3 and total 450000 MCMC samples.
If it is not possible to provide the actual data-set, I will try to make

[2021-01-27 19:29] fehiepsi commented on #889
I just test it again. The inference works in my case with
[code]
I'm not sure why you use `num_data` there at that line. It is different from the code that I posted above. Do I miss something?

[2021-01-27 19:33] fehiepsi commented on #534
@atlasd This is supported in the last release. Please see an example [here](http://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.mcmc.MCMC.post_warmup_state) and let us know what you think.

[2021-01-27 19:44] gcgibson commented on #889
I have that just for forecasting (where obs_death = None).

How about I close this issue, see if I can fix it and if I can't I'll come up with a smaller reproducible example?

[2021-01-27 20:12] fehiepsi commented on #889
I see. I think you can put it in an `if/else` statement like what you already have in your code. The issue here is:
[code]
will not work because the shape of `dist.Normal(jnp.zeros(10), jnp.ones(10))` is `(10,)` while the shape of `mask` is `(20,)`. It is strange that you still see the issues after that fix. I used the same code as yours... (though haven't run predictions yet)

[2021-01-27 20:48] gcgibson commented on #889
Could it be a numpyro or jax version issue? I have numpyro installed via bleeding edge on github and

[code]

[2021-01-27 20:50] fehiepsi commented on #539
Hi @PaoloRanzi81, thanks for your feedback! Looking forward to hearing the result with the master branch for `progress_bar=False` and `progress_bar=True`. In my opinion, using progress_bar=True might be the best option for GPU because GPU is slow in sequential inference methods like MCMC and the small improvement of `progress_bar=False` would be negligible.

Probably (my best guess) it is an issue

[2021-01-27 21:04] gcgibson commented on #889
I have updated the example to not even use the categorical R.V. `offset` and I still get the plate issue FWIW.

[2021-01-27 21:18] #889 closed

[2021-01-27 21:53] fehiepsi commented on #889
@gcgibson Here is the [notebook](https://nbviewer.jupyter.org/gist/fehiepsi/bac961f171efb29fa8fa4a2a7ba9dddc) that runs in my system. The inference works with your code, and I moved the mask to `if/else` logic to make prediction work. Could you please double-check?

If there is no discrete latent variable, you should use NUTS instead of DiscreteHMCGibbs. `DiscreteHMCGibbs` does not work for models

[2021-01-27 22:43] PaoloRanzi81 commented on #539
@fehiepsi
I can feel the pain of the open-source software.

1. So far I have always used `progress_bar=False` . I believed that was the fastest version by reading the documentation. Anyway, I will try both options now.

2. My naive understanding of `chain_method="sequential"` with 1 GPU is that each `.run(…)` corresponds to running a single MCMC chain. When Numpyro finishes 1 single MCMC chain the

[2021-01-28 03:09] fehiepsi opened #899 "OOM error when using "sequential" chain method on a GPU"
As reported by @PaoloRanzi81 in https://github.com/pyro-ppl/numpyro/issues/539, RAM might not free its resources after a chain finished its run, which leads to OOM for complicated models trained in hours.

Some observations so far:
+ This seems to not happen on simple models
+ This seems to not happen in CPU and TPU
+ This seems to not happen when sampling in short period of time (says less than 1

[2021-01-28 03:41] fehiepsi commented on #539
@PaoloRanzi81 I created https://github.com/pyro-ppl/numpyro/issues/899 to track down the issue because the previous issues in this topic have been resolved, and I don't want to send unnecessary notifications for other users. Please follow-up in the new issue that I created, with might catch more eyes from other users.

Some of my thoughts:
+ re `vectorized`: It might be expected, I don't think wha

[2021-01-28 03:41] #539 closed

[2021-01-28 17:04] vitkl commented on #869
I will try to summarise the note for SVI.run next week.

We will implement the minibatch training in our repo within the next 2-3 weeks and then it can be added as example somewhere. So far I did tests on all data rather than minibatch. Our package aims to provide general training code for many similar models so it won't be a minimal example of minibatch training - but we can try to distil the rel

[2021-01-28 17:37] jeremiecoullon commented on #309
If it's helpful: this [answered question](https://github.com/google/jax/discussions/4763#discussioncomment-121452) in the JAX Discussion shows how to print the progress of an MCMC chain within a compiled function (using the `host_callback` module mentioned above).

[2021-01-28 22:34] PaoloRanzi81 commented on #899
Hi @fehiepsi

I did some testing with the new master branch.

1. Bad news:
Unfortunately, `chain_method=“sequential”` still stealing lots of RAM. OOM still present... I have noticed:
1.1. that the new Numpyro master version the memory in the GPU decreased. Is it possible that  `_laxmap` frees up only the memory of the GPU but not the system RAM?
1.2. Attached below the table that shows the results

[2021-01-28 22:35] PaoloRanzi81 commented on #899
Forgot the message! Ops...
![03_new_message](https://user-images.githubusercontent.com/40964560/106207084-738af100-61c1-11eb-8f7b-7a0b0710131d.png)

[2021-01-28 22:36] PaoloRanzi81 commented on #899
Self-contained script for reproducing the OOM error

[code]

[2021-01-28 23:49] fehiepsi commented on #309
That's a great news @jeremiecoullon! Have you come up with a solution for MCMC chain yet? This would be one of the most requested feature from NumPyro users. :)

[2021-01-29 04:24] fehiepsi commented on #899
Thanks, @PaoloRanzi81! I did see memory is increasing with `progress_bar=False`, but not with `progress_bar=True`. Probably `lax.scan` (similar to `lax.map`), which is used to collect samples under `progress_bar=False` does not free RAM during its run. There is no reason to use `progress_bar=False` in your case. We will improve the docs the reflect this observation. Thanks!

[2021-01-29 04:39] fehiepsi commented on #869
Please just stick with what is convenient for you. It would be also nice if you share some of the best practices in the READMEof your repository (or any other form). Then we can add link in numpyro README pointing to your repository, to illustrate numpyro usage on GPU in real application. I believe either way would be useful for many users. When someone asks, we can point to those best practices.

[2021-01-29 13:32] jeremiecoullon commented on #309
So I did a quick test which seems to work.

### Suggested solution:

In `numpyro/util.py` I added the following functions:

[code]

Then I simply added the following to the `fori_collect()` function in the `_body_fn()` definition, just after `idx = (i - start_idx) // thinning`:
[code]

`i` is the current iteration number, `upper` is the number of iterations, and the print rate is set to be 1/10 of

[2021-01-29 19:19] PaoloRanzi81 commented on #899
Congratulations @fehiepsi : you have caught the bug with 1 GPU!

I have tested my custom toy model and the OOM error of the RAM does disappear setting
`progress_bar = True` !

Still not clear to me why a small change did such a major improvement in the RAM memory consumption... I was thinking that setting the progress_bar was just aesthetics... Please remember to change code/documentation etc. in

[2021-01-30 07:01] fehiepsi commented on #899
Thanks, @PaoloRanzi81, for your effort to isolate the issue! We'll improve documentation to reflect this issue better.

[2021-01-31 12:16] FlorianWilhelm commented on #896
@eb8680 From a user's perspective if something super simple works, but maybe not as good as `pyro.infer.Trace_ELBO` in variance reduction, I would appreciate it and one could emit a `UserWarning` with it. Just raising a `NotImplementedError` might be a little too restrictive for my taste as even the current approach of not handling Categoricals at all might work in some models but results might be

[2021-02-01 06:31] eb8680 commented on #896
@FlorianWilhelm I'm not sure what you mean when you say the current approach might work in some cases - right now there is no ELBO gradient estimate computed at all for non-reparametrized variables, not even a biased one, so the posterior obtained for those variables using NumPyro's SVI implementation would actually be completely independent of the data.

The purpose of the extra complexity in `py

[2021-02-01 07:04] FlorianWilhelm commented on #896
Thanks for your reply @eb8680. Just to be 100% sure I got it, assume I have in my model 𝜙𝑘 ∼ Dirichlet(𝜶) and then 𝜑 ∼ Categorical(𝝓) and my observed 𝑟 strongly depends on 𝜑, I understood that there is no ELBO gradient estimate for 𝜑 but since I parametrized 𝜙𝑘 would I get the right results for it or is the chain of gradients just broken at the point 𝜑? In case of the latter, that would mean that

[2021-02-01 07:44] eb8680 commented on #896
The approximate posterior for 𝜙𝑘 obtained from NumPyro's current ELBO implementation would be completely independent of the data because it only affects the likelihood terms in the ELBO through the non-reparametrizable variable 𝜑.

That depends on the particular combination of features you need, but it may be a couple months, so I don't recommend waiting.  I also suspect that you will have a lot o

[2021-02-01 08:40] FlorianWilhelm commented on #896
Okay, that's tough. Then I would also go for just raising a `NotImplementedError`.

Thanks for your reply regarding my options, so I have:
1.  Porting my code to Pyro and using `TraceELBO`,
2. Using MCMC algorithms for discrete variables and subsampling in NumPyro.

As you seem to recommend Option 2 and also @fehiepsi mentioned it a lot, I will go for it first.

[2021-02-04 22:41] vuongkienthanh opened #903 "Left skewed distribution"
I have a left skewed distribution outcome. I read online that there is a "skew normal distribution" which can use to model that. Could you try to make one or any other way around? Thks

[2021-02-04 23:02] fehiepsi commented on #903
I think you can use [SinhArcsinh](http://num.pyro.ai/en/stable/distributions.html#sinharcsinh) distribution. Alternatively, we might port [Stable](http://docs.pyro.ai/en/stable/distributions.html#stable) distribution from pyro to numpyro. What do you think?

[2021-02-04 23:20] fritzo commented on #903
@fehiepsi beware `Stable` is quite difficult to work with and has very heavy tails (with infinite variance). I wonder if we could use some other transform with a learnable parameter? For positive data in Pyro I have used a power-transformed normal to handle skew:
[code]
Maybe we could find some similar transform for arbitrary real data.

[2021-02-04 23:37] fehiepsi commented on #903
Probably we can implement [SinhArcsinh transform](http://oro.open.ac.uk/22510/)? Do you think it would be useful?

[2021-02-05 05:23] fehiepsi commented on #309
Oops, I missed your comment. As far as I see, your PR works as expected. So I think migrating it to tqdm would not be so complicated.

I see. I'll play more to understand those issues and will get back to you soon.

[2021-02-05 08:17] vuongkienthanh commented on #903
Sorry, i read about SinhArcsinh distribution and was very interesed in it. But something went wrong. My code is like this:
[code]
And it gave a error: `TypeError: Shapes must be 1D sequences of concrete values of integer type, got (Traced<ShapedArray(int32[])>with<DynamicJaxprTrace(level=2/1)>,).
If using `jit`, try using `static_argnums` or applying `jit` to smaller subfunctions.`

[2021-02-05 08:20] vuongkienthanh commented on #903
Sorry, i read about SinhArcsinh distribution and was very interesed in it. But something went wrong. My code is like this:
[code]
And it gave a error: `TypeError: Shapes must be 1D sequences of concrete values of integer type, got (Traced<ShapedArray(int32[])>with<DynamicJaxprTrace(level=2/1)>,).
If using `jit`, try using `static_argnums` or applying `jit` to smaller subfunctions.`

[2021-02-06 04:26] fehiepsi commented on #903
@vuongkienthanh Could you provide a reproducible code or at least paste the whole error message so we can isolate the issue.

[2021-02-06 08:58] vuongkienthanh commented on #903
The minimal code:
[code]
<details><summary>ErrorMsg:</summary><pre>FilteredStackTrace                        Traceback (most recent call last)
<ipython-input-249-3eb09a37ca23> in <module>
      7 mcmc = MCMC(NUTS(model), 500, 2000, 1)
----> 8 mcmc.run(random.PRNGKey(2), x)
/Volumes/DATA/anaconda3/envs/jupyter/lib/python3.8/site-packages/numpyro/infer/mcmc.py in run(self, rng_key, extra_fields, ini

[2021-02-06 20:50] fehiepsi opened #906 "Stan like constraints"
Move the issue https://github.com/pyro-ppl/pyro/issues/2756 to here because the problem has been resolved there. Currently, NumPyro don't those constraints
- [x] #910 sphere - probably this is the only continuous constraint so far that does not have a bijective transform. We might need to raise errors if users use `sphere` in ImproperUniform distribution.
- [x] #913 positive_ordered_vector
- [x] #

[2021-02-06 21:14] fehiepsi commented on #903
Thanks, @vuongkienthanh! Looking like there is a bug at SinhArcsinh distribution upstream. For now, you can use
[code]
but it might be better to raise the issue to TFP team.

[2021-02-07 01:14] fritzo commented on #906
I'm working on `sphere` (with `ProjectedNormal` and `ProjectedNormalReparam`)

[2021-02-08 09:37] rexdouglass opened #907 "UnexpectedTracerError with DiscreteHMCGibbs, a latent discrete variable with more than 1 dim, and num_chains>1"
The combination of
1) A latent discrete variable with event_shape > 1x
2) num_chains>1

Throws the following error
#UnexpectedTracerError: Encountered an unexpected tracer. Perhaps this tracer escaped through global state from a previously traced function.
#The functions being transformed should not save traced values to global state. Detail: tracer created on line /home/skynet3/numpyro/numpyro/in

[2021-02-08 15:23] fehiepsi commented on #907
Thanks, @rexdouglass, for the detailed explanation! I think we should change [jnp.broadcast_to](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/hmc_gibbs.py#L356) to `(import numpy as np) np.broadcast_to` because `jnp.foo` will create a tracer, rather than concrete arrays when running multiple chains. Do you want to submit a fix together with a regression test? :)

[2021-02-08 19:25] rexdouglass commented on #907
I can confirm that changing that single line and adding the import for numpy as np resolves the error on both by small test example above as well as that larger covid nowcast I'm working on.

[code]

I did not change the jnp.shape to np, I don't think it matters unless some later jax bug is introduced about mixing and matching.

[2021-02-09 12:53] vuongkienthanh commented on #903
@fehiepsi thank you so much! It's working now.

[2021-02-09 12:53] #903 closed

[2021-02-10 17:48] MrinankSharma commented on #534
@fehiepsi hey, i'm also requesting that the initial mass matrix could be exposed! By the way, do you know how I can get the correspondence between elements of the mass matrix and the actual variables in my model?

[2021-02-10 19:20] MrinankSharma commented on #534
Thanks for the quick response :)

I'm not sure where to get the dictionary of latent variables from either to be honest. For example, I know that numpyro will convert my variables into unconstrained versions, so I'd guess I can't pass some of the posterior samples.

[2021-02-10 19:51] fehiepsi commented on #534
I see. It will be stored in the `z` field of the initial state (obtained from kernel's init method, e.g. `NUTS.init(...)`).

[2021-02-10 20:10] MrinankSharma commented on #534
Thanks! managed to get it to work

[2021-02-11 07:12] fehiepsi opened #911 "ZeroDivisionError when running SVI with num_steps < 20"
Reproducible code
[code]

Proposed fix: setting `batch = max(num_steps // 20, 1)` in [SVI.run](https://github.com/pyro-ppl/numpyro/blob/aee945895dff9ffb6a12637a9bfbddb1d8c20363/numpyro/infer/svi.py#L179) to guarantee that `batch` is positive

[2021-02-11 08:29] OlaRonning commented on #724
Closing this issue with #905 merged.

[2021-02-11 08:29] #724 closed

[2021-02-11 11:17] MrinankSharma commented on #534
another question -- actually it seems that `HMCAdaptState` doesn't allow for item assignment, so I can't directly set the matrix.

[2021-02-11 16:08] fehiepsi commented on #534
You can use [_replace](https://docs.python.org/3/library/collections.html#collections.somenamedtuple._replace) method to change field values of a namedtuple. In this case, you can do `state = state._replace(adapt_state=state.adapt_state._replace(inverse_mass_matrix=...))`

[2021-02-11 16:35] fehiepsi commented on #874
Thanks, @fritzo, for resolving this issue!

[2021-02-11 16:35] #874 closed

[2021-02-11 16:39] fehiepsi commented on #869
I guess the questions have been clarified. Please feel free to reopen the issue or use forum if there are follow-up questions.

[2021-02-11 16:39] #869 closed

[2021-02-12 00:29] njjiang opened #914 "[FR] Two-sided TruncatedNormal distribution"
Currently the TruncatedNormal distribution only supports setting the low bound, and adding the high bound is in [a TODO comment](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/distributions/continuous.py#L1155). Is there a plan to add this soon?

[2021-02-12 04:22] fehiepsi commented on #914
Hi @njjiang, please follow-up with #895. Looking like it is a useful feature so I'll set a higher priority for that issue.

[2021-02-12 04:22] #914 closed

[2021-02-12 15:07] fritzo commented on #855
WDYT of keeping `exp` as the default transform but adding an option to `AutoNormal` (and maybe other autoguides) to use `softplus`? We might name this option `assume_prewhitened=True` or something. We could make the underlying machinery easier to use by adding a `constraints.prewhitened_positive` whose registered transform is `Softplus`. That would also make it easy for users to create custom deri

[2021-02-12 17:24] #899 closed

[2021-02-12 17:26] #911 closed

[2021-02-12 17:59] vitkl commented on #855
@fritzo This sounds like this can be added without any changes for existing users - so that's great. Not sure what prewhitened means though.

We have implemented a simple SoftplusTransform for pyro models but not certain about whether it belongs in pyro or pytorch: https://github.com/BayraktarLab/cell2location/blob/master/cell2location/distributions/transforms.py
(in addition to numpyro https://gi

[2021-02-12 18:13] fritzo commented on #855
@vitkl I think `SoftplusTransform` best belongs in PyTorch. Could you submit upstream and cc me for review?

Re: terminology, can we find some sort of term for "standardized" or "prewhitened" or something to mean "data has been scaled and shifted such that its values are on the order of 1"? IMHO this should be a single word we can use in interfaces and documentation, and the word should be a bit v

[2021-02-13 09:46] vitkl commented on #855
@fehiepsi do you by any chance know how to do this in pyro?

[2021-02-13 16:12] fehiepsi commented on #855
In Pyro, `Messenger` belongs to `poutine` module, but the implementation should be very similar. You can see how [mask messenger](https://github.com/pyro-ppl/pyro/blob/dev/pyro/poutine/mask_messenger.py implemented here). To convert a messenger to a handler, you can use [_make_handler](https://github.com/pyro-ppl/pyro/blob/dev/pyro/poutine/handlers.py#L103) utility.

[2021-02-13 17:02] fehiepsi commented on #855
I like this solution. I remember that when converting bijectors to constraints in TFP wrappers, I also saw some popular TFP distributions using this softplus bijector under the hood. I don't know why but we can assume that users will want to have the customization as you suggested.

About the names, I think `prewhitened` or `standardized` is a bit misleading (it causes confusion with the whitening

[2021-02-13 21:03] #897 closed

[2021-02-13 21:03] #907 closed

[2021-02-14 09:44] vitkl commented on #855
Thanks for the tip about handlers - but this approach does not work for me for some reason.
Code: https://github.com/vitkl/scvi-tools/blob/pyro-cell2location/scvi/external/cell2location/_module.py#L38-L69
Error when using with AutoNormal guide (`self.guide = ExpToSoftplusHandler(self.guide)`):

[code]

[2021-02-14 09:47] vitkl commented on #855
I agree about the names - `softplus_positive` is easier to interpret correctly than `prewhitened` which I also encountered in completely different contexts.

[2021-02-17 11:50] yozhikoff opened #920 "Massive memory consumption by AutoLowRankMultivariateNormal quantiles"
Hi Numpyro team!

I am trying to `AutoLowRankMultivariateNorma` autoguide for a model with a high number of parameters. There are no issues during the training procedure; however, when I use the `quantiles` function, the code crashes due to the failed memory allocation (321.46GiB of GPU memory).

That is probably because it uses a dense covariance matrix.

[code]

Is there a way to avoid it?
@frit

[2021-02-17 13:22] fritzo commented on #920
@fehiepsi I think we can simply port the low-memory version from Pyro, something like this:
[code]

[2021-02-17 13:58] #895 closed

[2021-02-18 17:39] fehiepsi commented on #920
Thanks for your solution, @fritzo!

@yozhikoff I think #921 should fix the issue, but if it still remains, please feel free to reopen this issue.

[2021-02-18 17:39] #920 closed

[2021-02-18 17:40] fehiepsi commented on #906
All missing constraints have been implemented. Thanks for addressing this issue, @fritzo!

[2021-02-18 17:40] #906 closed

[2021-02-18 17:41] #894 closed

[2021-02-20 08:57] yongduek commented on #309
Hello, has this been solved?
When num_chains > 1, progress bar does not come up.

Anyways, thanks for the beautiful numpyro package for Bayesian inference.

[2021-02-20 17:59] fehiepsi opened #923 "test_compile fails locally but the error is silent in CI"
For some reason, the model is traced more than needed. This will a bit affect large models.

[code]

I have no idea why some errors (like in doctest or this one) are silent on CI...

[2021-02-20 21:03] #923 closed

[2021-02-22 06:58] fehiepsi opened #927 "Expose covtype example to docs"
Originally, this example is used to benchmark. Since then, we have added new sampling methods that are suitable for large data. The inference is fast and the result is pretty good. So it would be nice to expose it to our current gallery of examples.

[2021-02-24 01:34] AndreRoehrig opened #928 "Subsampling and Predictive"
I'm getting an error when I'm trying to sample using Predictive after running inference with a NUTS/MCMC setup and a model that uses subsampling. I tested the same without subsampling and I can run it successfully.

Code with subsampling:
[code]

Error:
[code]
Working example without subsampling:
[code]

[2021-02-24 05:00] fehiepsi commented on #928
Hi @AndreRoehrig, thanks for a clear report! I think you need something like
[code]

You probably don't want subsample in predictive, so you can change plate statement into
[code]

Btw, NUTS uses a constant set of subsample indices in inference, so it will not work as you expected. You can wrap it with [HMCECS](http://num.pyro.ai/en/stable/mcmc.html?highlight=hmcecs#numpyro.infer.hmc_gibbs.HMCECS)

[2021-02-24 22:39] pookiecoding opened #930 "‘BernoulliLogits’ object has no attribute ‘mask’"
Hello! We are trying this tutorial: https://github.com/pyro-ppl/numpyro/blob/master/notebooks/source/discrete_imputation.ipynb

and we go this error message:
AttributeError: ‘BernoulliLogits’ object has no attribute ‘mask’
in the function impmodel().

Would you have suggestions on how to fix this?
Note: we use numpyro.infer import MCMC, NUTS.
Thank you.

[2021-02-25 00:19] fehiepsi commented on #930
Hi @pookiecoding, could you try to update `funsor`? I guess the error happens because of using the old `funsor` version.

[2021-02-25 00:25] pookiecoding commented on #930
Yes! that works. We updated our Ubuntu, and funsor. Thank you very much @fehiepsi for quick answer.

[2021-02-25 00:25] #930 closed

[2021-02-26 05:50] RylanSchaeffer opened #931 "DiscreteHMCGibbs Draws Samples of Incorrect Shape"
Opening an issue at the request of Du Phan, based on [our conversation on the forum](https://forum.pyro.ai/t/problem-in-mcmc-sampling-of-categorical-variable/1192/10). The [DiscreteHMCGibbs](http://num.pyro.ai/en/latest/mcmc.html#numpyro.infer.hmc_gibbs.DiscreteHMCGibbs) sampler appears to draw samples of the incorrect shape for the discrete variables. For instance, the demo in the documentation s

[2021-02-28 07:34] peterroelants opened #932 "[Feature Request] Observed Deterministic"
I have a model where my observed variable is the output of a deterministic function. However it is unclear to me how I can condition the model on my observed samples. Ideally I would like to use something like:
[code]
Similar to using the `obs` parameter in [`numpyro.sample`](http://num.pyro.ai/en/stable/primitives.html#sample).

Is this something that would be possible to implement?

[2021-02-28 15:21] fritzo commented on #932
Hi @peterroelants, this may be possible in some cases via [handlers.collapse](https://num.pyro.ai/en/stable/handlers.html#collapse), but that will only work in special cases of conjugate distributions and a narrow class of deterministic transformations. Can you paste an example with a little more detail, showing (1) the distributions from which `x`'s inputs are drawn; (2) the entire transformation

[2021-02-28 18:15] peterroelants commented on #932
Hi @fritzo , thank you for providing some more context.
I also have been trying to see if PyMC (which I assume works fairly similar) tackles this problem. I came across [this PyMC forum post](https://discourse.pymc.io/t/observed-deterministic/483) and related [Stack Exchange question](https://stats.stackexchange.com/questions/416725/observed-deterministic-variables-in-mcmc). If I understand correc

[2021-02-28 18:23] fehiepsi commented on #932
@peterroelants You can use `TransformedDistribution` as in the last link of @fritzo's comment.
[code]
Or you can use TruncatedDistribution
[code]

[2021-02-28 18:28] fehiepsi commented on #931
Thank you, @RylanSchaeffer! Sorry for the late response. I'll address this soon.

[2021-02-28 18:30] RylanSchaeffer commented on #931
Thank you!

[2021-02-28 19:01] RylanSchaeffer commented on #931
The source of the apparent incorrect shape was that I was unintentionally incorrectly using pyro plates with numpyro plates. Switching to correctly using only numpyro plates solved the apparent bug.

[2021-02-28 19:01] #931 closed

[2021-03-01 07:12] fehiepsi opened #935 "Check list for 0.6 release"
- [x] (optional) Progress bar for parallel chain #900
- [x] Add some docs for covtype and expose that example to gallery #927
- [x] Using softplus transform for scale parameters in autoguides #855
- ~[ ] (optional) Finish the embarrassingly parallel tutorial #277~
- [ ] Merge MixedHMC PR #826
- ~[ ] (optional) Add a wrapper for Nested Sampling #807 Probably add some simple-to-implement `cdf` metho

[2021-03-01 23:59] AndreRoehrig commented on #928
Thanks, your answer helped me get this working.

[2021-03-01 23:59] #928 closed

[2021-03-02 15:13] d-caviedes opened #936 "Excessive memory usage at the beginning of NUTS inference"
Hello everyone,

asked by @fehiepsi I create the following issue regarding what seems "excessive" memory consumption at the beginning of NUTS inference (originally addressed in the discussion forum https://forum.pyro.ai/t/numpyro-memory-usage-at-the-beginning-of-nuts-inference/).

I am running inferences on a linear regression model such as

[code]

The parameter space is quite large, with _X_ bei

[2021-03-02 21:13] fehiepsi commented on #936
@d-caviedes Could you try using the master branch and update jax/jaxlib?
[code]
I didn't see the memory issue with the following settings
[code]

Probably it is fixed in https://github.com/pyro-ppl/numpyro/pull/924?

[2021-03-03 08:21] d-caviedes commented on #936
Yes, updating jaxlib from 0.1.59 to 0.1.61 did the trick. Sorry for the inconvenience then!

[2021-03-03 16:47] fehiepsi commented on #936
Thank you, @d-caviedes! It is very cool to learn those experiments from your clear report. :)

In my system, with `X.shape == (5236, 215600), Nw=700, Nt=308`, MEM is stable at 28.9% (I have a 32GB ram machine) this is the current progress (almost 11 minutes)
[code]

I guess we should report your issue to JAX team, but I don't have a replicable code. Probably they will understand the situation bett

[2021-03-04 16:01] d-caviedes commented on #936
Thanks again. After creating a completely fresh environment and following all the indications, it does work... I believe there were some issues with numpy-scipy already installed. I am not sure about it, but in case anyone wants to see the packages that made it to work (with Python 3.9)

[code]
Like a charm. Thanks a lot @fehiepsi , I will have to mention you if a paper comes out of this XD.

[2021-03-04 17:10] fehiepsi commented on #936
Oh, I think I faced this issue some time ago, when jax converts a _numpy array with some "special" stride (or something else) properties_ to a DeviceArray. I guess the issue will go away if you apply `.copy(...)` or `.tolist(...)` before returning `D_`. Sorry, I can't recall exactly how it was resolved... :(

[2021-03-04 17:17] #927 closed

[2021-03-06 13:50] GUIpsp opened #942 "Beta Distribution samples wrong for a=b--->0"
For small values of a and b, the sample method tends to produce the value 0.5, instead of the expected values near 0 and 1. This issue comes from the underlying Dirichlet distribution.

This issue is shared with the corresponding pytorch dist.
https://github.com/pytorch/pytorch/issues/15738

Tensorflow probability and scipy stats do not have these issues.
Here's tensorflow's implementation:
https:

[2021-03-06 20:34] fehiepsi commented on #942
Interesting. Seems like we can add a quick fix for this based on [this stackexchange thread](https://stats.stackexchange.com/questions/7969/how-to-quickly-sample-x-if-expx-gamma).

[2021-03-06 21:49] fehiepsi opened #944 "Add more tests for sample gradient of Beta/StudentT/Dirichlet"
Quoted from @fritzo

[2021-03-06 22:19] fehiepsi commented on #942
Thank you for reporting the issue and giving us a clear context!! I think we have fixed the issue in #943. If you still face numerical issues, please feel free the reopen this.

[2021-03-07 05:09] fehiepsi commented on #936
@d-caviedes Would `return D_.copy()` solve the issue? I don't think that gradient or something like that plays any role here.

[2021-03-07 07:58] fehiepsi opened #945 "AutoDelta raises duplication error"
Currently, using AutoDelta on some models generates sort of `AssertionError: all sites must have unique names but got `sd_dip_rnde` duplicated` error. More information to come...

[2021-03-07 17:04] fehiepsi commented on #932
@peterroelants I think this issue has been resolved. In general, if you have a bijective deterministic transform, you can always use `TransformedDistribution` API to do the job. Please feel free to reopen this again if needed.

[2021-03-07 17:04] #932 closed

[2021-03-07 17:20] peterroelants commented on #932
Yes, I have solved my use case.

Thank you for your help!

[2021-03-07 19:33] fehiepsi commented on #855
I think this issue has been resolved. We can easily switch the behaviors now. Let's change the default behavior to softplus when we have more evidence in sandbox that it is good. Thanks @vitkl for raising this interesting issue! I'm looking forward to exploring the notebook that you intended to put in sandbox. :)

[2021-03-07 19:33] #855 closed

[2021-03-08 00:31] akotlar opened #948 "JAX DeviceArray, like NumPy.ndarray is not hashable"
Didn't occur in 0.4.0.

Stack trace:
[code]

[2021-03-08 00:50] fehiepsi commented on #948
Could you try to update funsor? It includes a fix for recent changes in jax DeviceArray.

[2021-03-08 02:59] akotlar commented on #948
That did it! Thanks.

[2021-03-08 02:59] #948 closed

[2021-03-08 08:13] d-caviedes commented on #936
@fehiepsi hi again :). I couldn't resolve the issue just returning such copy. I have created an issue in JAX repo, and I hope they can help me with it (https://github.com/google/jax/issues/5944). I have written there a small example, trying to see where is it that the problem comes from. It appears that if ones or zeros are used for the dictionary, it is not a problem. However, if the dictionary c

[2021-03-08 14:31] kpj opened #949 "Automatically rendering probabilistic graphical models"
I was wondering whether there's any way of automatically rendering defined models, similar to [`pymc3.model_graph.model_to_graphviz`](https://docs.pymc.io/api/model_graph.html).

If there's currently no way of doing this, I'd be happy to submit a PR (if anyone else is also interested in this functionality).
One could either go for the pygraphviz approach or use [daft](https://github.com/daft-dev/d

[2021-03-08 15:28] fehiepsi commented on #936
Could you make a [gist](https://gist.github.com/) file with a full reproducible code? I would like to play with this example to see where the issue comes from.

[2021-03-08 15:43] d-caviedes commented on #936
Here it goes.

https://gist.github.com/d-caviedes/b13b5a02a0452204a3b3bb7ea8b02661

[2021-03-08 15:49] fritzo commented on #949
See also https://github.com/pyro-ppl/pyro/issues/1502

[2021-03-08 15:52] #945 closed

[2021-03-08 16:02] fehiepsi commented on #949
This would be a very nice feature. Currently, I don't know how to extract the graphical structure of a Pyro/NumPyro model yet. Currently, you can obtain `sample <-> plate` relationship using trace:
[code]
which gives us
[code]
As you can see, the `obs` site has the field `cond_indep_stack`, which is a list of plates that `obs` belongs to.

That is a good start I guess. I'll think a bit more about

[2021-03-08 18:19] fritzo commented on #949
Nice trick!  I guess the grad trick will work for reparametrized continuous distributions, but not discrete distributions.

[2021-03-08 18:29] kpj commented on #949
Thank you both so much, your suggestions were extremely helpful!

Using your code as reference, I put together a little proof-of-concept which generates the following figure for the model you specified above.
![image](https://user-images.githubusercontent.com/645279/110364631-4d6c3280-8044-11eb-875f-27ad0d169043.png)
(one of many caveats: nested plates are not supported).

Should I clean up the co

[2021-03-08 18:53] alshedivat opened #950 "[FR] SGLD and SG-MCMC inference in numpyro?"
Hi there,

Thanks for creating numpyro!

I'm wondering, is there any interest in supporting SG-MCMC methods (such as SGLD, [IASG](https://www.jmlr.org/papers/volume18/17-214/17-214), etc.) in numpyro?

I searched around a bit, and it seems like the pyro community doesn't find SGLD-style methods as useful (pyro-ppl/pyro#1921). I'd be happy to contribute though if there's any interest at all. Person

[2021-03-08 19:26] fehiepsi commented on #950
Welcome, @alshedivat! When SG-MCMC methods are available, I would like to see how it performs against HMCECS (contributed by @OlaRonning and his team in the last NumPyro release). :D

[2021-03-08 20:15] fehiepsi commented on #949
You are right. We will be able to find the relation `continuous -> discrete` but not for the reversed side. I guess we can mimic the pattern, to generate 2 values for that discrete variable (with the remaining variables fixed) and see which sites have log_prob changed.

Awesome, @kpj! Looks beautiful to me.

I think you will want to play a bit more with different modeling patterns, before a PR. Fo

[2021-03-08 20:21] fehiepsi commented on #936
Interesting! I can replicate the issue in my system. For now, I have no idea why memory issues depend on input values (rather than input shapes). Will look into this more...

[2021-03-08 22:27] kpj commented on #949
[...]

Yup, sounds reasonable. Will do after updating the rendering code!

Oh no, at that point just laziness on my side :-)

I looked into it in more detail, and while it is somewhat awkward to do, it is certainly possible. To create the right nesting, we'd have to know 1) what the nesting structure of each plate is and 2) what level is the deepest for each RV. Am I right in assuming that  2) can

[2021-03-09 04:03] fehiepsi commented on #949
It seems to me that that info can be inferred from `sample_plate` field in the output of the above code. `frame.dim` seems to be unnecessary (but might be useful if you want to display this info in the figure - I don't know). It is a good practice to keep `most negative dimension == deepest nesting level` but it is not necessarily true. For example, consider the model
[code]
gives (I just updated

[2021-03-09 05:55] fehiepsi commented on #936
It seems that the issue is not relevant to `sinc_dictionary`. If I set `X = np.zeros((Nt * Nm, Nt * Nw))`, the issue does not happen but if I set `X = np.random.randn(Nt * Nm, Nt * Nw)`, the issue happens. I guess `jnp.dot(X, w)` performs better for constant `X`.

[2021-03-09 08:35] kpj commented on #949
Yeah, I was thinking of the same approach but I wasn't sure if it would always work. For example in the [case](https://github.com/daft-dev/daft/blob/master/docs/_static/examples/deconvolution.png) you showed above, there's no such subset relation between the red and orange plate.
However, for now I simply implemented this heuristic.

One issue is that two plates have the same name `M`. The `plate_

[2021-03-09 18:00] fehiepsi commented on #949
Good idea on renaming for visualization! I think it can temporarily be a good workaround. Regarding the plates in that example, there are 2 plates here: `N` and `M`, and `y` is their common variables.

You are right that it is not common. :+1: (e.g. [this model](https://github.com/pyro-ppl/Pyro-M5-Starter-Kit/blob/master/model2.py) to predict sales across stores and products: we can have some vari

[2021-03-09 22:11] kpj commented on #949
I might be misunderstanding, but the variables `z` and `y` are not in the same plate (yet both their plates are called `M`), are they?

Wonderful, the corresponding plot looks quite nice now as well:
<img src="https://user-images.githubusercontent.com/645279/110544234-aebb0100-812b-11eb-9103-41a3511297ee.png" height="400">

I still have my doubts about its robustness, but I'd be happy to create a

[2021-03-10 07:57] kpj commented on #949
Right, I see. So the correct solution would be to draw two plates which are partially overlapping?
Something like
[code]

Sounds good!

While setting up the PR I noticed that the import `from numpyro import handlers` makes importing numpyro crash due to circular imports:
[code]
What would be the best way of handling this?

[2021-03-10 08:54] d-caviedes commented on #936
Yes, it seems to be something about it. It would be great if it gets somehow resolved. The problem is that even if I had sufficient RAM, the inference fails at some point (as shown in the graphs in the report). I had to go back to pyro at this point :S.

[2021-03-10 22:00] fbartolic opened #951 "Guide samples for AutoDelta don't contain deterministic variables"
I noticed that samples from the `AutoDelta` guide don't contain deterministic transforms of random variables in the model. Here's a minimal example which reproduces the issue:

[code]
Is this related to #946?

[2021-03-10 22:09] fehiepsi commented on #936
Good idea on using Pyro! For those very large tensor computations, it is unnecessary to use JAX backend.

[2021-03-10 22:31] fehiepsi commented on #951
Currently, `AutoDelta.sample_posterior` does not return deterministic sites. To collect those sites, we need to run `Predictive` on the `model` given those posterior samples.

[2021-03-10 22:32] fehiepsi commented on #949
That's right!

I'll need to take a look, but as a temporary workaround, you can put extra import statements inside the function
[code]

[2021-03-10 23:44] denijane commented on #643
Hi, I'm sorry for the noob question, but could you explain to me what are tec and const? I've seen the tec and tec_conv in many example codes and I couldn't figure what they correspond to.

[2021-03-11 00:08] Joshuaalbert commented on #643
`tec` means total electron content in units if [1/m^2], and `tec_conv` is a physical factor with units of [m^2] that converts `tec` to phase, representing path length distortions in radio astronomy calibration.

[2021-03-11 05:18] fehiepsi commented on #949
@kpj I just updated the `get_relations` implementation to account for `discrete -> continuous` relationship. Could you try with your beta-binomial model? Testing on `multinomial` and `dawid_skene` models in annotation examples gives me the expected result
[code]
[code]

[2021-03-11 10:36] kpj commented on #949
I have now created a PR (https://github.com/pyro-ppl/numpyro/pull/952).

---

Thanks, that seems to work for now.

It seems to nicely work with my examples now!

[2021-03-11 18:08] RylanSchaeffer opened #953 "Unhelpful Error Dirichlet Process Mixture Model"
Following my post here, https://forum.pyro.ai/t/dirichlet-process-gaussian-mixture-model-typeerror-for-small-concentration-parameter/2685, when one tries creating a Dirichlet Process Mixture Model with 0 mixture components, the error message returned is

`TypeError: iota shape must have every element be nonnegative, got (-1,).`

This isn't helpful in identifying the source of the error. Could a be

[2021-03-11 20:24] fehiepsi commented on #953
Thank you, @RylanSchaeffer. I think all we need is to add an assertation `size > 0` in the [constructor](https://github.com/pyro-ppl/numpyro/blob/e2e82189e96f45a1d2715c15217b85ed55e9f16e/numpyro/primitives.py#L347) of `plate`.

[2021-03-12 07:28] AndreRoehrig opened #954 "Cannot serialise MCMC object"
I get the following error message when I try to pickle a mcmc object after mcmc.run(...):

[code]

Is this the expected behaviour? Is there another way of serialising mcmc objects?
I'm using version 0.5.0

[2021-03-12 08:22] gustavehug opened #955 "Improve the speed of gamma sampler"
First of all, thanks for this awesome library ! I have been going through the Rethinking translation (along with the book), it's been great.

I have developed a bayesian linear regression model, that I did fit on 40k observations. I ran a single chain of 500 samples (+ 500 warmup) on the CPU using NUTS, which takes 1:30. This is great.

It takes approximately 1 ms to make a prediction with (jitted

[2021-03-12 13:27] AndreRoehrig commented on #955
HI @gustavehug , could you explain what a 'jitted Predictive' is and how I can learn more about it? I searched the documentation and tutorials without success. I am nowhere near 1ms for even a single prediction and this would be very helpful for my use case.
I hope someone else can help you with the batch prediction issue.

[2021-03-12 14:48] gustavehug commented on #955
Hi @AndreRoehrig , it is a way of compiling [just-in-time](https://jax.readthedocs.io/en/latest/notebooks/quickstart.html#using-jit-to-speed-up-functions) the function to XLA, with JAX.

The way I use it

[code]

In my case, I first forgot to jit the function and it took 1 second for each run. Then I added it, and the time was divided by a factor 1000 for all runs subsequent to the first one, howe

[2021-03-12 16:14] martinjankowiak commented on #955
knowing nothing about your model it's hard to say if there's additional room for speed-ups. perhaps not.

one thing you could do is use the `thinning` argument in [`MCMC`](http://num.pyro.ai/en/stable/mcmc.html?highlight=mcmc#markov-chain-monte-carlo-mcmc), e.g. `thinning=2`. adjacent MCMC samples are correlated so computationally it can make sense to throw some samples out.

[2021-03-12 17:01] RaulPL commented on #954
You can save posterior samples and related information with [ArviZ](https://arviz-devs.github.io/arviz/) using  [from_numpyro](https://arviz-devs.github.io/arviz/api/generated/arviz.from_numpyro.html#arviz.from_numpyro), this will create an  InferenceData object and with [to_netcdf](https://arviz-devs.github.io/arviz/api/generated/arviz.to_netcdf.html) you can store it.

What kind of information w

[2021-03-12 17:27] gustavehug commented on #955
@martinjankowiak Thank you for your answer, this does improve performance. The complexity seems linear in the number of samples with few additional overhead (other than the compile-time), which makes sense.

So i guess you recommend `thinning=2` ? I have tried with 2 and 3, but where should I stop in order to retain an "acceptable" prediction ? I have 500 samples to start with, which is not huge I

[2021-03-12 17:35] martinjankowiak commented on #955
i'm not making specific recommendations because i don't know your requirements. if you care much more about test time than train time than you can draw far more samples (e.g. 10k) and then thin more aggressively (e.g. thinning = 100). it's impossible for me to say what trade-offs are best for your use case.

i suspect it won't be easy to get additional speed-ups (apart perhaps from small ones).

[2021-03-12 18:27] fehiepsi commented on #954
I would recommend @RaulPL's solution. Alternatively, you can clean up some attributes of the sampler
[code]
We can add [cleanup](http://docs.pyro.ai/en/stable/mcmc.html#pyro.infer.mcmc.mcmc_kernel.MCMCKernel.cleanup) method to optionally clear those cached functions so that you can pickle the `mcmc` object. But using `arviz` would be a better option.

[2021-03-12 18:41] fehiepsi commented on #955
For gamma likelihood, drawing `500 x 40000` samples would take 10s. So to speedup, you can reduce the number of posterior samples to e.g. 50.
[code]

Alternatively, you can use
[code]
which seems to give 4x speed for Gamma sampler.

[2021-03-12 23:07] gustavehug commented on #955
Thank you for your responses.
I must mention that I am quite new at probabilistic programming.

@martinjankowiak Ok thank you for these suggestions, I will make some tests with thinning to see if I can accelerate further without losing too much precision. I tried the 10k samples / 100 thinning, it is indeed faster and has good enough precision.

@fehiepsi I tried the tfd version, it did not work u

[2021-03-13 04:02] fehiepsi commented on #955
Interesting! I tried
[code]
and got the expected result. It would be nice if you make a replicable code, so we can try to isolate the issue.

I tried to optimize [gamma sampler](https://github.com/google/jax/blob/8d3b4ac2f36761513ae132b59180e9770fe34922/jax/_src/random.py#L984) implementation on jax but it is still slow. :(

[2021-03-13 17:48] fehiepsi opened #956 "Skip current update in SVI if loss gets nan"
cc @martinjankowiak

[2021-03-13 17:58] martinjankowiak commented on #956
hmm actually i think it'd be more useful to skip the update if any of the gradients are nans (you can have nan gradients but a well-defined loss)

[2021-03-13 18:07] fehiepsi commented on #956
yes, we will skip if there is any nan/inf on params values

[2021-03-14 19:36] fehiepsi opened #957 "Redesign kinetic energy api to allow more flexible structural mass matrix"
reference: [BlockMassMatrix](http://docs.pyro.ai/en/stable/mcmc.html#blockmassmatrix) in pyro

cc @martinjankowiak

[2021-03-15 22:06] #953 closed

[2021-03-15 22:06] #956 closed

[2021-03-15 23:38] #935 closed

[2021-03-16 04:22] fehiepsi opened #960 "Allow to set an additional max tree depth during warmup phase"
This could be useful (needs some experiments though) in cases NUTS trajectories are long and it is slow to collect samples to estimate mass matrix during warmup phase. The side effect can be warmup samples are more correlated, so the estimated mass matrix might be not good.

[2021-03-16 04:29] fehiepsi opened #961 "Allow users to set inverse mass matrix for initial state"
This feature has been requested by several users.

Currently, we can only do this with some understanding of NumPyro codebase. But it would be nice to have an API that is more intuitive for users. The tricky thing is the notion of `inverse_mass_matrix` is a bit ambiguous (w.r.t. the order of latent variables).

[2021-03-16 17:14] #785 closed

[2021-03-16 17:48] fehiepsi opened #962 "Use black for numpyro"
Follows https://github.com/pyro-ppl/funsor/pull/449.

(we will do this when all pending PRs merged to avoid huge merge conflicts for contributors)

[2021-03-18 01:49] denijane commented on #643
Thanks a lot! It helped me understand how exactly you introduced the priors and now it's running.

[2021-03-18 03:14] fehiepsi opened #964 "Test for collapse beta bernoulli is failing"
Currently, the test `test/test_handlers.py::test_collapse_beta_binomial` is failing after a change in funsor: https://github.com/pyro-ppl/funsor/pull/491

Investigating...

[2021-03-18 04:21] fehiepsi commented on #309
This issue has been resolved thanks to @jeremiecoullon !

[2021-03-18 04:21] #309 closed

[2021-03-18 12:04] fritzo commented on #964
Possible leads include:
- a [disabled test](https://github.com/pyro-ppl/funsor/pull/491/files#diff-4347c85e3f7c7b6325a851b81efa03efb7bfc4c500dbcfac315fd6b8ac007c91L660) in that funsor PR.
- refactoring of `stack` from a `Function` to a `Funitary(ops.stack)`

[2021-03-19 15:02] #957 closed

[2021-03-19 15:02] #961 closed

[2021-03-21 02:08] zzz2010 opened #967 "why sample size change in NUTS"
Hello, numpyro team,
   I am wondering why the sample size will change in zeta[c] when I used NUTS, the first time is normal (45, 1, 4), but the 2nd time is (4, 1, 1, 4). May I know where the new sample size comes from, I didn't notice any document mention this behavior.
Below it is the reproducible code taken from  official example `Bayesian Models of Annotation`
http://num.pyro.ai/en/latest/exam

[2021-03-21 03:55] fehiepsi commented on #967
Yeah, you have touched the enumeration mechanism, mentioned in the description of that example. The size changes when we enumerate over `c`. If you print out `c`, you will see that it is enumerated. For reference, it is best to look at the reference [3] in the description. :)

[2021-03-21 13:41] #964 closed

[2021-03-21 21:55] zzz2010 commented on #967
@fehiepsi   great thanks.

[2021-03-21 21:55] #967 closed

[2021-03-22 12:58] #954 closed

[2021-03-22 22:44] quattro opened #969 "Truncated Gamma"
It would be great to have a [truncated gamma distribution](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3898536/) implemented in NumPyro in order to cover lower-bounded variances (or upper bounded precisions) in probabilistic programs.

I'm happy to code this up and issue a pull-req after some testing.

[2021-03-23 06:41] kpj commented on #949
At the moment, the implementation does not support rendering models which make use of the `scan` function.
Here, we continue the discussion from #952.

---

@fehiepsi

@kpj
In the general case, I'd just render the whole chain without the `...` notation.
One could then add a user-defined depth which specifies how many iterations to render before using three dots.

Or is it clear that the "sub-model

[2021-03-23 15:33] fehiepsi opened #970 "Some enhancements in using jax"
It is nice to clean up our codebase with the following tips:

- ~[ ] Using [syntactic sugar](https://jax.readthedocs.io/en/latest/jax.ops.html#syntactic-sugar-for-indexed-update-operators) `x.at(index).add(...)` instead of `ops.index_update`.~ **edit** this one does not work for numpy ndarray
- [x] Using `jnp.result_type` to get canonicalized dtype, instead of `jax.dtypes.canonicalize_dtype`
- ~[

[2021-03-24 12:03] jejjohnson commented on #829
Hi @LysSanzMoreta, I have an example of how one could do SparseGPs (the classic variational free energy version).

You can find the demo script [here](https://github.com/jejjohnson/gp_model_zoo/blob/master/code/numpyro/src/sparse.py) as well as the jupyter notebook [here](https://github.com/jejjohnson/gp_model_zoo/blob/master/code/numpyro/numpyro_sparsegp.ipynb). I tried to faithfully copy the [py

[2021-03-25 10:24] LysSanzMoreta commented on #829
@jejjohnson  Thank you very much! I also made a little implementation in pyro ( I switch back and forth heheh), your example will be very useful to check if I am on the right track :)

[2021-03-25 15:42] joehoover opened #974 "SVI estimates are off with numpyro==0.5.0"
I recently relocated a project to a different system and noticed some strange estimates from a relatively simple model. After a fair amount of trial and error, I traced the issue to my either my `numpyro` or `jax` versions.

On the original system, I was running `numpyro=0.4.1` and `jax=0.2.3` and on the new system I was running `numpyro=0.5.0` and `jax=0.2.8`. When I downgraded on the new system,

[2021-03-25 20:11] fehiepsi commented on #974
Hi @joehoover, I took a look and it seems that the loss does not convert yet. Could you try to change the number of iterations to `20000` for example?

[2021-03-25 20:48] joehoover commented on #974
Thanks @fehiepsi! I should have tried that, but for some reason it didn't occur to me.

Increasing the number of iterations to 20k didn't help, but the discrepancy disappears with 50k iterations.

[2021-03-25 20:49] #974 closed

[2021-03-25 22:09] fehiepsi commented on #974
I think you can also increase the learning rate. :) Probably this is a random seed issue, or jax optimizers change their default values.

[2021-03-26 14:13] hyperfra opened #976 "Help to code Multivariate Time Series Macro Model"
Hi
I think I am not understanding well how lax.scan works. As an example I would like to estimate the following model

![image](https://user-images.githubusercontent.com/39092766/112643966-cfc66600-8e3c-11eb-8982-b368dd3092ce.png)

my attempt to code it is as follows but I think I am messing up with scan. Can u help me?:

[code]

[2021-03-26 17:48] fehiepsi commented on #976
Just some suggestions:
+ set `data={"Y": y[:, 1:].T}` if the last dimension of `y` is time dimension
+ check if the first item of the output of `transition_fn(xt_init, 0)` has the same shape as `xt_init`

[2021-03-27 00:01] hyperfra commented on #976
Thanks 🙏

Sent from my iPhone

On 26 Mar 2021, at 17:49, Du Phan ***@***.***> wrote:

﻿

Just some suggestions:

  *   set data={"Y": y[:, 1:].T} if the last dimension of y is time dimension
  *   check if the first item of the output of transition_fn(xt_init, 0) has the same shape as xt_init

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub

[2021-03-27 15:11] fehiepsi commented on #970
Close because those are not needed. The syntactic sugar only works for DeviceArray, not numpy array, so it should only be used in internal code. We might not need to encourage users to use it.

[2021-03-27 15:25] fehiepsi opened #978 "Make MCMC kernels usable in a parallel tempering setting"
This can be a follow-up work after #898, which makes Gibbs kernels composable. Parallel tempering is popular in applications due to its ability to address multimodal issues (related #643) so it would be nice to have a design that users can use MCMC kernels seamlessly in parallel tempering.

### Reference
+ _Dynamic temperature selection for parallel tempering in Markov chain Monte Carlo simulation

[2021-03-28 04:15] fehiepsi commented on #969
@quattro I didn't use Truncated Gamma previously but I think this would be nice to have. FYI, we have [TruncatedDistribution](https://github.com/pyro-ppl/numpyro/blob/7493e35ed921108d884a88f58ab92ec5565f845d/numpyro/distributions/continuous.py#L1335) API with base distributions can be Cauchy, Laplace, Logistic, Normal, or StudentT. Probably it would be cleaner to follow that setting and have LeftT

[2021-03-28 05:22] fehiepsi commented on #970
Reopen this to
- [ ] clean up `ravel_pytree` because it supports int datatype in the latest jax release.

[2021-03-28 15:02] gustavehug opened #979 "[FR] Integrate with new Flax linen"
It seems that the Flax [integration](http://num.pyro.ai/en/stable/primitives.html?highlight=flax#random-flax-module) leverages the now [deprecated](https://flax.readthedocs.io/en/latest/flax.nn.html) `flax.nn` module.

This is a feature request to integrate with the new [`flax.linen`](https://github.com/google/flax/tree/master/flax/linen#linen-a-comfortable-evolution-of-flax) module.

[2021-03-28 18:59] hzyjerry opened #980 "What happens when numpyro.factor takes an array"
Hi, it looks like `numpyro.factor` can take either a value or an array. When would we want to pass in an array?

In this meaningless example (we should pass in a value), what would be the behavior when we pass in an array?
[code]

[2021-03-28 19:04] hzyjerry opened #981 "dist.Categorical outputs different shapes during sampling"
Hi, I'm looking at the annotation example, and looks like (strangely) the `dist.Categorical` outputs different shapes during sampling process.

In the code below I marked a line where I inspected. In the first pass after the sampling starts, `c` has shape (45,1), which is reasonable undering `num_items=45`. However at the second time, `c` has shape (4, 1, 1), which is strange because:

1. Why is t

[2021-03-28 19:08] fritzo commented on #980
An array could add a different factor for each element of a batch, but then your factor statement should be inside the `plate`:
[code]
Alternatively outside of the plate, you should be reducing:
[code]
[code]

[2021-03-28 19:09] fritzo commented on #981
This is due to enumeration; see the [tensor shapes tutorial](https://pyro.ai/examples/tensor_shapes.html)

[2021-03-28 19:54] hzyjerry commented on #980
Thanks! Does running MCMC on your first example return 20 chains that are sampled in parallel?

For algorithms like Metropolis Hasting, could it happen that during sampling the 20 chains, some are finished and some haven't?

[2021-03-28 21:53] fehiepsi commented on #979
Hi @gustavehug, do you want to take a stab at this? I'll be busy for the next few weeks and also would like to use `linen` for an LDA model after that. At my first impression, its API looks closer to PyTorch `nn.Module` than `flax.nn`.

[2021-03-28 22:06] gustavehug commented on #979
Hi @fehiepsi , yes I can take a look in the coming weeks !

[2021-03-28 22:58] hzyjerry commented on #981
Thanks for the pointer. On a somewhat related note, I took the example from `test_infer_discrete.py` to play around (included).

[code]

The thing I'm having trouble understanding is why/how the input `z=None` is tied with `iz = numpyro.sample("z", dist.Categorical(p), obs=z)`. If I remove the `obs=z`, the program no longer works, and gives `assert is_prng_key(key)` error.

[code]

[2021-03-29 01:42] hzyjerry commented on #981
Thanks! It all makes sense after reading [this section](http://pyro.ai/examples/tensor_shapes.html#Broadcasting-to-allow-parallel-enumeration).

[2021-03-29 01:42] #981 closed

[2021-03-29 03:32] fehiepsi commented on #980
@hzyjerry To get 20 chains, you can set `MCMC(kernel, num_chains=20)`. But I guess it is not relevant to your question.

Yes, this is true with the default behavior (`chain_method="parallel"`). To perform one sampling step across all chains, you can set `MCMC(..., chain_method="vectorized")`. I think `vectorized` method is good for random walk MH or non-adaptive HMC algorithm.

[2021-03-29 05:20] fmc202 opened #982 "How to find MAP/maximum likelihood estimation using the minimizer (i.e., BFGS)"
I want to find the MAP(maximum a posteriori) or Maximum likelihood estimate of my model parameters. I have read the stastical rethinking code using Numpyro by Phan,  where he used SVI with Adam(stepsize =1) optimizer and a guide function returning None. But I found this does not work well for complex models since we have to tune the stepsize manually. Other PPL such as Pymc3 or Stan uses L-BFGS or

[2021-03-29 12:18] hzyjerry commented on #980
Thanks!

[2021-03-29 12:18] #980 closed

[2021-03-29 15:01] fehiepsi commented on #982
@fmc202 Yes, [Minimize](http://num.pyro.ai/en/stable/optimizers.html#numpyro.optim.Minimize) does it for you (after [L-BFGS available on jax](https://github.com/google/jax/pull/6053), we will use it by default - currently, only `BFGS` is available). You can mimic the example at `Minimize`, with `AutoLaplaceApproximation` is replaced by `AutoDelta`.

FYI, we have a [forum](https://forum.pyro.ai/) t

[2021-03-29 18:36] quattro commented on #969
Great, thanks for the advice @fehiepsi. I'll likely be busy with some other things for a little while but plan on coming back to this soon.

[2021-03-30 21:33] #962 closed

[2021-03-31 21:29] martinjankowiak commented on #960
would this be simple to implement? maybe `max_tree_depth` could be an `int` (default behavior) or a `tuple` of `int`s specifying `(max_tree_depth_warmup, max_tree_depth_post_warmup)`

[2021-03-31 22:12] fehiepsi commented on #960
You bet. It is [simple](https://github.com/pyro-ppl/numpyro/compare/max-tree-depth?expand=1) :)

[2021-04-01 00:07] martinjankowiak opened #983 "dist.DirichletMultinomial can't handle zero_total count"
[code]

expected behavior: `total_count=0` is ok

[2021-04-01 03:29] fehiepsi opened #985 "Add required packages at the top of tutorials to run on colab"

[2021-04-01 03:38] #960 closed

[2021-04-01 05:36] fehiepsi opened #988 "Make Multinomial sampler faster for large total count"

[2021-04-01 12:01] #727 closed

[2021-04-01 22:36] #985 closed

[2021-04-02 17:29] fehiepsi opened #990 "Allow propagate mutable states in SVI"
While reviewing #989, I see that there are situations that we need to maintain extra variables, like moving average stats in BatchNorm. So it would be nice to introduce an additional primitive for this. Alternatively, we can add some options into `deterministic` primitive so that SVI knows and store it.

@martinjankowiak also requested something like this last year

Note that this is not an issue

[2021-04-04 20:13] AndrewCSQ opened #992 "Proposed Dockerfile"
Hi numpyro team,

I'm building a package on top of numpyro, and hoping to be able to standardize the delivery GPU-acceleration on jax using docker images. jax itself does not provide docker images currently. I've observed that the tensorflow-gpu images work, and opened an issue on jax separately for a jaxlib-based docker image.

The dockerfile I'm currently using is roughly so

[code]
I'm not sure

[2021-04-05 00:22] kiwidamien opened #993 "Baseball out-of-sample example is misleading"
# What

Example showing prediction on out-of-sample assumes that the size of the test set is the same as size of the training set, not typically true in ML models.

## Detail

The [baseball](http://num.pyro.ai/en/stable/examples/baseball.html) example shows how to train several predictive models using various degrees of pooling on a training set, and apply to a new set of (out-of-sample) baseball

[2021-04-05 04:12] fehiepsi commented on #993
Yes, the example only shows how to give predictions for the same players over the remaining season. The name "no pooling" means that you are inferring each set of parameters for each player. If you want to use "no pooling" model for new players, you just run MCMC to infer parameters for those new players, then make predictions.

We are still lacking tutorials/examples of using [SVI in numpyro](htt

[2021-04-05 04:25] kiwidamien commented on #993
Ah awesome, thanks for the pointer!

(And overall this project is awesome!)

[2021-04-05 04:33] fehiepsi commented on #992
Hi @AndrewCSQ, I just have little experience with Docker so I might not provide some useful thoughts. Please feel free to adopt the convention given by the JAX team here. (I thought Dockerfile is used to simplify the process to build some package from its source - when it is tricky to use `pip install` - but it seems not to be the case here.) Do you intend to make it work across platforms/devices?

[2021-04-05 04:41] fehiepsi commented on #993
Thanks, glad that you find the library helpful! :)

[2021-04-05 11:24] AndrewCSQ commented on #992
Hi @fehiepsi, thanks for responding to this! I think I should clarify what the use case is, and what I need to make this "automatic". I'll then talk about why I largely disregarded the Pyro docker folder, and some thoughts about cross-platform (short version: Linux and Windows, limited by nvidia-docker requirements).

### Pre-Requisites to Use the Docker Image (resulting from the Dockerfile)

User

[2021-04-05 19:00] fehiepsi commented on #992
Thanks for explaining! The usage case makes sense to me. As long as it is not straightforward to set up an environment, an automatic solution is very handy. (I don't have enough experience with Dockerfile but I have seen many people mentioned it.)

Very nice idea! Let's see if we'll have a docker file in JAX. If not, we can always get the latest jaxlib version by grepping PyPI releases. Regarding

[2021-04-05 19:13] fehiepsi opened #994 "Make BarkerMH pickable"
The PR #968 missed this kernel. It would be nice to support this for completeness.

[2021-04-05 19:15] fehiepsi commented on #982
This should be resolved using `Minimize` optimizer. Please feel free to reopen this issue if needed.

[2021-04-05 19:15] #982 closed

[2021-04-05 19:17] fehiepsi commented on #976
@hyperfra Did you make this work? I think transposing `y` will resolve the issue for you. Please follow-up using either [forum](https://forum.pyro.ai/) or comments below.

[2021-04-05 19:17] #976 closed

[2021-04-05 19:20] AndrewCSQ commented on #992
Thank you for the feedback! Here's my proposal:

1. I will open a PR later in the week (swamped with other work right now) to create a docker folder in the repository for the Dockerfile.
2. I can also draft documentation for how a user can make the docker image (I'm a bit unfamiliar with sphinx, so you will need to guide me on how to edit what `.rst` files)

In terms of implementation, right now I

[2021-04-05 19:40] fehiepsi opened #995 "Using low rank mass matrix in NUTS"
See [design doc](https://docs.google.com/document/d/19Z3sfklfNCat-eH0JkL_46fuF59hL5PgF0JADCAXpqk) for details.

Steps:
- [ ] Create `MassMatrix` base class and use it in HMC
- [ ] Implement LowRankPrecisionMVN or just its sampler for simplicity

[2021-04-05 20:26] fehiepsi commented on #992
You'll just need to use markdown in a `README.md` file. Writing a markdown is very similar to how to write comments on github. But I can help to review.

Let me bring this to our next meeting (in a few weeks) but I don't think we can get support for a GPU testing system. Probably it is best to take further action based on the support from the JAX team (i.e. if they test their docker image, then it

[2021-04-05 20:29] fehiepsi commented on #993
I guess the current description in the example is clear enough but please feel free to reopen this to make the description clearer.

[2021-04-05 20:29] #993 closed

[2021-04-05 20:31] AndrewCSQ commented on #992
Testing the Docker image will not require the use of a GPU system (since CUDA compiled JAX works using just a CPU after all). If right now the testing procedure is:

- Clone `numpyro` repo on a test machine, run pytest, check that everything passes.

What I'm proposing is appending the step:

- Build (or pull) docker image, clone `numpyro` repo inside that image, run pytest, check that everything

[2021-04-05 20:51] fehiepsi commented on #992
No worries, your help on some first iterations is already very valuable! I can add some "help wanted" label if someone raises an issue with Dockerfile. IIUC, with `pip` installation, the main issues will belong to numpyro or jax incompatibility, rather than the building instructions in the Dockerfile.

Yup, that's right.

[2021-04-06 09:20] hyperfra commented on #976
hi I did. you were right just transposing made it work. thank you again

[2021-04-06 20:38] fbartolic opened #997 "HMC fails to sample posterior properly while PyMC3 works fine"
I'm having trouble with sampling from a posterior using NUTS for a relatively simple linear model. The chains fail to converge. When I implement the same model with the same priors in PyMC3, the sampler converges easily. [Here](https://github.com/fbartolic/numpyro_vs_pymc3_hmc) is a notebook which reproduces the issue for me.

I can't figure out if there's a problem with the model or the sampler.

[2021-04-06 20:43] martinjankowiak commented on #997
what are the mean/std of `p_scale` for both samplers to more digits of precision?

[2021-04-06 21:42] fbartolic commented on #997
Here's a higher precision output for a few parameters from the numpyro chains:

![image](https://user-images.githubusercontent.com/18243408/113781736-0c416e00-9729-11eb-9893-9c59fbfda011.png)

and the pymc3 chains:

![image](https://user-images.githubusercontent.com/18243408/113781687-f92e9e00-9728-11eb-9d1f-a54bc70be8b3.png)

I'm interested in the x-s.

I initialized the numpyro sampler at a samp

[2021-04-07 01:33] fehiepsi commented on #997
To get potential energy, you can use
[code]
or you can compute it by hand to confirm. In my system, numpyro returns
[code]
with the same init values `init_vals = {"p": 1e-06 * np.random.rand(n), "fs": 0.99999, "p_scale": 2e-05}`, while pymc3 potential energy stays at -74k. So it seems to me that numpyro returns better results...

[2021-04-07 02:54] AndrewCSQ commented on #992
Closed with merging of #996

[2021-04-07 02:54] #992 closed

[2021-04-07 12:25] fbartolic commented on #997
Potential energy is minus the total logp (right?) and 74k >> 63k so pymc3 gives much higher logp. Anyway, if you plot the model in data space (see the updated [notebook](https://github.com/fbartolic/numpyro_vs_pymc3_hmc/blob/master/notebook.ipynb))  you can clearly see that if you initialize the numpyro model at the same point as the pymc3 model, it completely fails to converge. If instead you ini

[2021-04-07 14:23] fehiepsi commented on #997
Oops, you are right -74k < -63k... (usually -logp is a positive number, so I was confused). There are some source of this issue that I can think of for now:
+ logp or its grad numerical error
+ mass matrix is not adapted well

[2021-04-07 14:48] fehiepsi commented on #997
@fbartolic It seems to me that setting [regularize=False](https://github.com/pyro-ppl/numpyro/blob/8bb94f170de3f6c276fe61e4c92cd4e21de70a4b/numpyro/infer/hmc_util.py#L604) solves the issue. Could you confirm?

If that's the case, then we need to take some action here:
+ setting it to False by default
+ introduce a flag in HMC/NUTS that governs this behavior

[2021-04-07 15:23] fbartolic commented on #997
Haha yeah, I often get confused about the logp values.

Setting `regularize=False` does seem to fix the issue, the chains are converging now. Thanks a lot!

I see that `regularize=True` rescales the diagonal of the the covariance matrix to speed up sampling. Do you have an idea why it doesn't work for this model? I guess that the large dynamic range in the parameters has something to do with it.

[2021-04-07 15:51] fehiepsi commented on #997
I think `regularize` is useful to deal with numerical issues when taking cholesky of the dense matrix when the number of parameters is large. Not sure about its role when `dense_mass=False` though.

@martinjankowiak Which action do you prefer in this situation?

I found a similar situation in [this blog post](https://dfm.io/posts/pymc3-mass-matrix/)
[code]

[2021-04-07 16:04] martinjankowiak commented on #997
it could be nice to expose `regularize` but i think the default should remain the same. this adaptation scheme is battle-tested in stan and i don't think a single model is enough evidence to justify changing defaults. the reason this particular model leads to problems is because it exhibits pretty extreme curvature. so e.g. if `p` were reparameterized/scaled appropriately numpyro nuts should work

[2021-04-07 16:30] fehiepsi commented on #997
Sounds reasonable to me. Let's introduce a kind of `regularize_mass_matrix=True/False` to HMC for convenience (for users, it is hard to debug this). But you're right, we should encourage users to rescale the model if someone faces this issue again.

@fbartolic the issue happens because the scale of the inverse mass matrix is so small that regularize term negatively affects the estimation. rescalin

[2021-04-07 16:39] quattro commented on #969
Hi @fehiepsi , I made some progress on this, but stopped at the sampling implementation. I think there are two paths forward, and would appreciate your thoughts on the matter:

1. Use a `uniform` -> `invCDF(gamma)` sampling based approach
2. Use rejection sampling

In terms of implementation:
1. Requires `gammaincinv` in order to compute the quantiles of the `gamma` distribution, which is currentl

[2021-04-07 17:44] fehiepsi commented on #969
@quattro I think the simplest solution is to make a wrapper (with try/except import like [contrib.tfp](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/contrib/tfp/__init__.py)) for `gammaincinv` in `numpyro.distributions.util` and use it in the sample method. That would unblock you. What do you think?

[2021-04-08 03:45] fmc202 opened #999 "BFGS always failed but Adam works"
I was trying to fit a very simple linear model from Statistical rethinking using SVI with autolaplaceapproximation. However, the adam optimizer works fine but the BFGS gives NAN values in loss. Also, the model fitted using BFGS have singular Hessian at MAP point. Please see code below:

[code]
The results from BFGS:
100%|██████████| 3000/3000 [00:03<00:00, 767.80it/s, init loss: 2901.7748, avg. lo

[2021-04-08 04:59] fehiepsi commented on #999
Hi @fmc202, for Minimize, you just need to set `num_steps` to `1`: `svi.run(jax.random.PRNGKey(3), 1)`.

By the way, Hessian matrix is not always positive definite. I guess we can open a feature request to compute Gauss-Newton Hessian matrix.

[2021-04-08 05:16] fehiepsi opened #1001 "Use Gauss-Newton hessian matrix in laplace approximation"
Currently, in AutoLaplaceApproximation, we use `jax.hessian` to compute Hessian matrix. But the hessian matrix is not always positive definite. So it would be nice to use Gaussian-Newton hessian matrix when [scale_tril = Nan](https://github.com/pyro-ppl/numpyro/blob/8bb94f170de3f6c276fe61e4c92cd4e21de70a4b/numpyro/infer/autoguide.py#L898).

[2021-04-08 12:30] #983 closed

[2021-04-10 16:01] #970 closed

[2021-04-13 04:41] fehiepsi opened #1004 "Support TruncatedZeroInflatedPoisson"
I would like to use this distribution, so it would be nice to add some helper classes to make it easier to construct this distribution

Tasks
- [x] Refactor truncated distributions into a file
- ~[ ] Support other univariate truncated distributions through `TruncatedDistribution` api~ replaced by a tutorial instead
- [x] Add `Poisson.cdf` method
- [x] Add `ZeroInflatedDistribution` for univariate

[2021-04-13 16:31] #994 closed

[2021-04-13 16:31] #997 closed

[2021-04-14 21:15] svilupp opened #1010 "HMM forward algorithm - 20x difference in performance between two comparable approaches"
This issue links to the following thread:
https://forum.pyro.ai/t/intuition-for-the-difference-between-the-two-hmm-tutorials-forward-algo-vs-marginalization/2775

The following two tutorials for HMMs cover two alternative solutions via the forward algorithm (one explicit, one implicit):

1. [HMM Example semi-supervised](http://num.pyro.ai/en/latest/examples/hmm.html)
2. [Enumating HMM](http://num.

[2021-04-17 20:26] fehiepsi commented on #999
I opened #1001 to seek help with having a positive definite version of the Hessian matrix. Hope it will resolve the issue. :)

[2021-04-17 20:26] #999 closed

[2021-04-19 04:18] fehiepsi commented on #1010
I did a bit of benchmarking and it seems to me that this is expected for parallel-scan algorithm
[code]
which returns
[code]
This shows the huge benefit of the parallel-scan algorithm (100x faster) on GPU. On CPU, the parallel-scan implementation is equivalent to `sequential` implementation but 7x slower than the `forward` algorithm, which exploits the fact that `v @ (A @ B @ C @ D)` can be evalua

[2021-04-19 11:26] tcbegley opened #1012 "Error using AutoDiagonalNormal with SVI + Predictive"
I'm getting an error when using `AutoDiagonalNormal` to construct a guide for SVI, and then subsequently using that guide to construct the predictive distribution.

[code]

The error comes from [this section](https://github.com/pyro-ppl/numpyro/blob/6823c495f62774172936fb437bb17210fd0179e0/numpyro/infer/autoguide.py#L485-L497) of the code. It looks to me like if the `if` statement is satisfied, th

[2021-04-19 14:27] fehiepsi commented on #1012
Thanks, @tcbegley! That's a bug introduced recently. Could you submit a PR with `event_ndim` moved outside of that `if/else` block?
[code]

[2021-04-19 14:38] tcbegley commented on #1012
Sure, just submitted the requested change.

[2021-04-19 19:01] #1012 closed

[2021-04-20 18:41] jatentaki opened #1015 "Initialization issues when using mask/latent variables"
### Description
I am not sure where the problem is coming from exactly, either from discrete latent variables or using `handlers.mask`. A relatively small script that reproduces it is below: I try to infer in a mixture model, where the mixture ID is determined by a Bernoulli variable. I use `mask` to decide between sampling from either of the two distributions.
When I run MCMC inference with `init

[2021-04-21 12:32] jeremiecoullon opened #1018 "Plates with random vectors"
Hello! 

I'm trying to implementing a model in numpyro ([PMF](https://papers.nips.cc/paper/2007/file/d7322ed717dedf1eb4e6e52a37ea7bcd-Paper.pdf)), and I'm stuck on a particular bit to do with plates and vector multiplication.

I’m using the following simplified model: with i from 1 to N, and j from 1 to M:
- U_i = Normal(0, I), this is D-dimensional
- V_j = Normal(0, I), this is also D-dimensional

[2021-04-21 16:19] fehiepsi commented on #1018
@jeremiecoullon It seems to me that `jnp.dot(x, y)` is different from `x * y`. Could you add some print statements to see if you have the same `U`, `V`, and `est_rating`?

[2021-04-22 08:46] jeremiecoullon commented on #1018
Ah I didn't know about `.to_event()`, thanks!

I had tried yesterday printing out the shapes of the variables but for some reason it didn't print anything. I tried it again today and it works, so I must have been doing something wrong yesterday.. :p

I modified my model to be the following:
[code]

So now everything has the correct shapes, and changing the dimension `D` works fine:
- `U` has shape

[2021-04-22 11:39] fritzo commented on #1018
@jeremiecoullon you might take a look at Pyro's [Tensor Shapes Tutorial](https://pyro.ai/examples/tensor_shapes.html).  That tutorial is based on Pyro rather than NumPyro, but the shape concepts are common.

[2021-04-22 11:52] jeremiecoullon commented on #1018
@fritzo : ah ok thanks for the link!

[2021-04-22 11:52] #1018 closed

[2021-04-22 17:16] tcbegley opened #1020 "Issue with `AutoContinuous` guides when using `numpyro.deterministic`"
I've been having some issues fitting guides that inherit from `AutoContinuous` (first noticed with `AutoDiagonalNormal`) to a model that has both parameter and deterministic sites. This problem does not occur for `AutoNormal`. I've included a toy example below, but for context I originally encountered this when trying to train a neural network with Bayesian last layer and wanted to use `numpyro.de

[2021-04-22 19:26] #1015 closed

[2021-04-22 22:00] fehiepsi commented on #1020
Good catch - I believe all reasoning is correct. Please submit a PR (with this regression test in `test/infer/test_autoguide.py`). Thanks for the detailed explaination, @tcbegley!

[2021-04-23 03:10] caxelrud opened #1021 "Windows support"
I was finally able to run JAX in Windows.
But, it is Jaxlib 0.1.61 and  Jax 0.2.8 (expected to work with 0.2.9 too).
No GPU for now.
I used the following pre-compiled Windows jaxlib wheels:
https://github.com/erwincoumans/jax/releases/tag/winwhl-0.1.61

Now, my problem is that I can find a Numpyro version that will work with this versions of Jax.
Any suggestion? Thanks.

[2021-04-23 03:38] fehiepsi commented on #1021
@caxelrud I guess you can try to install some numpyro version and [ignore dependencies](https://stackoverflow.com/questions/12759761/python-pip-force-install-ignoring-dependencies).

[2021-04-23 15:50] #1020 closed

[2021-04-23 15:51] fehiepsi commented on #1015
Thanks a lot for a clear explanation and repro code, @jatentaki! I think this is fixed in #1019 but if not, please feel free to reopen this issue. :)

[2021-04-23 15:54] jatentaki commented on #1015
That's for your quick reaction :) I'll check my more complex case soon

[2021-04-23 21:47] murphyk opened #1023 "feature request: please wrap optax optimizers"
The [optax library from Deepmind](https://github.com/deepmind/optax) is the future for jax ecosystem (e.g. it will be adopted by Flax team), and will likely replace [jax.experimental.optimizers](https://jax.readthedocs.io/en/latest/jax.experimental.optimizers.html). It would be good to update https://num.pyro.ai/en/stable/optimizers.html accordingly.

[2021-04-23 23:33] caxelrud commented on #1021
Hi, I did install ignoring dependencies with:
`pip install -q numpyro@git+https://github.com/pyro-ppl/numpyro --no-dependencies`

I tried the Eight Schools example and I got the following error:
(By the way, I tried the notebooks from JAX documentation and they work in my Windows computer).

[code]
Let me know your recommendations. Thanks!

[2021-04-24 00:25] murphyk commented on #531
What is the recommended formula for doing this in colab, c. April 2021?

[2021-04-24 00:40] ziatdinovmax commented on #531
@murphyk this should work:
[code]
... and once the code is running, Colab's GPU will be utilized at ~90% as expected:
![image](https://user-images.githubusercontent.com/34245227/115941586-f693ae80-a473-11eb-85eb-ed449f0c2fbf.png)

[2021-04-24 03:41] murphyk commented on #531
Thanks! That works. I cross-linked your solution here: https://forum.pyro.ai/t/gpu-on-colab/2155

[2021-04-24 14:31] fehiepsi commented on #1023
Nice suggestion! I think we can add a new `numpyro.contrib.optax` module which "automatically" wraps `optax` optimizers and make them compatible with SVI. We can also add some helper methods in SVI or ELBO to make them compatible with `optax` directly.

[2021-04-24 17:25] fehiepsi commented on #1021
@caxelrud Could you try `0.6` or `0.5` versions?
[code]
The latest version requires
[code]

[2021-04-24 18:35] caxelrud commented on #1021
I installed Numpyro version 0.5 and now all Eight School example works.
I will test the other examples and let you know.

[2021-04-26 06:28] justinrporter opened #1024 "Scan fails with empty PYRO_STACK"
When `scan` is taken outside the context of a non-empty `PYRO_STACK`, `scan` produces an error.

The following code produces the error. I don't think it matters much what the scan actually does, but in this case it's interative multiplication of a vector by a matrix with the addition of an second vector at each step.

[code]

Produces

[code]

The relevant source code is [here](https://github.com/

[2021-04-26 06:34] fehiepsi commented on #1024
@justinrporter Thanks, I think you can return `ys, carry` at [this line](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/contrib/control_flow/scan.py#L453). Could you help me submit the fix?

[2021-04-27 18:00] #1024 closed

[2021-04-28 18:22] svilupp commented on #1010
Thank you for the detailed answer, fehiepsi!
I've just realized that there was a question for me - yes, I just wanted to understand the reason for the big performance difference, because it seemed odd.

Your simple code was awesome! Until I played with it across different dimensions, I haven't appreciated how big the GPU toll is for some operations!

[2021-04-28 18:22] #1010 closed

[2021-04-28 21:00] tcbegley commented on #879
Hey @fehiepsi

I would be interested in working on some of these as an excuse to learn more about JAX and NumPyro. Do you have an example of what a model using `while_loop` might look like? I feel like that would help give me a bit more context to understand what's required.

In particular when you say things like "We can assume `body_fn` only contains observed nodes" I'm interested to know the re

[2021-04-29 04:44] fehiepsi commented on #879
Hi @tcbegley, back then, the motivation for this PR is to support [compiling some Stan models](https://arxiv.org/abs/1810.00873), which mainly uses `for` loop. But it turns out that #878 seems to be enough for the purpose. For body functions that have latent variables, it is better to use `scan` because we want to collect them (`while_loop`, `fori_loop` are not used to collect values). Back then,

[2021-04-29 08:03] tcbegley commented on #879
Thanks @fehiepsi, that makes a lot of sense. And thanks for the link to the paper, looks very interesting.

I think adding support for `cond` would be personally interesting for me, but mainly as an excuse to understand different handlers and NumPyro internals better, I agree that the need for it from the user's perspective is maybe a bit less clear.

My interest in this issue was largely driven b

[2021-04-29 10:57] mandel commented on #879
Hi @tcbegley and @fehiepsi,

That's true that we have implemented the `fori_loop` with a `scan` (see [dppllib.py](https://github.com/deepppl/stan-num-pyro/blob/main/stan-numpyro/stannumpyro/dppllib.py#L47-L51)).
But we would still be interested by the support of `cond` (and also `while_loop`) for the compilation of Stan to NumPyro!

For example, we are not able to support in NumPyro the program of

[2021-05-01 16:47] caxelrud commented on #1021
CPU and GPU version are working correctly in Windows.
I got few errors when testing the project's notebooks and Statistics Rethinking notebooks (and JAX notebooks).
I will reported here asap. It may be related to the version 0.50.
You can check the execution results at https://github.com/caxelrud/Research2021 .

[2021-05-01 17:07] fehiepsi commented on #1021
Great! For the old versions, you might need to choose one of the old commits of those tutorials. For now, we typically don't maintain backward compatibility for the old JAX versions.

[2021-05-01 17:10] #1021 closed

[2021-05-05 17:23] jatentaki commented on #1015
Just confirming that it works :)

[2021-05-06 12:37] gbdrt opened #1030 "Shape mismatch with simplex constraint"
We are using the Simplex constraint to implement custom distributions.
With this constraint, the `biject_to` function adds an element to the last dimension.
Is it on purpose? The pyro implementation works as expected.

Here is a minimal example:
[code]

Output:
[code]

Using Pyro:
[code]

Output:
[code]

[2021-05-06 19:23] fehiepsi commented on #1030
In Pyro `transform_to` is different from `biject_to`: the former is not bijective, while the latter is bijective. In NumPyro, there is no `transform_to` implemented. For comparison, you can use both `biject_to` in Pyro and NumPyro.

FYI, a bijective is a transform from R^m to codomain. A simplex in R^3 has 2 free dimensions, so its bijector's domain should be R^2. So if your input is in R^2, the o

[2021-05-06 20:47] gbdrt commented on #1030
Thanks a lot for your answer.
That makes a lot of sense.

[2021-05-06 21:15] gbdrt commented on #1030
But, then we have the following issue.
We want to get samples that follows the simplex constraints with a particular shape.
That is why we introduced the new distribution.
So far we used the Simplex constraint and hacked the shape to get the expected results.

[code]

This is working fine with MCMC, and AutoDelta.
But, this is not working with most of the AutoGuides which, if I understand correctl

[2021-05-06 21:21] #1030 closed

[2021-05-06 21:29] fehiepsi commented on #1030
I think for simplex support, you can use
[code]
or
[code]
or
[code]
Your sample method suggests that you wanted TransformedDistribution.

Assume that you want to have simplex in R^2xR^2, the `Simplex` definition in the topic comment has 4 issues:
+ batch_shape is wrong: it should be (2,), rather than Normal(...).batch_shape=(2, 2)
+ event_shape is wrong: it should be (2,), rather than Normal(...).

[2021-05-07 07:52] gbdrt commented on #1030
Thank you for these precisions!

For the input shape we did what you suggested, but as you pointed out we realized that there was multiple issues with `batch_shape`, `event_shape`, and the transform.

[code]

is working perfectly for us.

[2021-05-07 15:11] srijaniiserprinceton opened #1032 "Error in trying to run Example: MCMC Methods for Tall Data"
I try to run the code in

http://num.pyro.ai/en/stable/examples/covtype.html?highlight=GPU#sphx-glr-download-examples-covtype-py

TypeError: Argument 'None' of type '<class 'NoneType'>' is not a valid JAX type

[2021-05-07 18:19] dirmeier commented on #703
Ciao all,

I'm working on two models with ZINB and Weibull likelihoods right now, if you are interested to have implementations for both of these, I could open up a PR.

Maybe it could also make sense to have the alternative parameterization of the NB (https://mc-stan.org/docs/2_26/functions-reference/nbalt.html), since that is the one mainly used for regression models.

Best,
Simon

[2021-05-08 03:11] fehiepsi commented on #703
Hi @dirmeier, your proposals sound great to me. Regarding NB, you could name the other parameterization `NegativeBinomial2`. :)

[2021-05-08 03:15] fehiepsi commented on #1032
@srijaniiserprinceton Could you let me know which commands that you used to trigger that error? I can't reproduce it in my system. You might consider updating your `jax/jaxlib` versions together with using master branch: `pip install git+https://github.com/pyro-ppl/numpyro`

[2021-05-08 03:22] fehiepsi opened #1033 "Add LDA example to illustrate some usage of `flax_module`/`haiku_module`"
After #1016 and #989, it would be nice to port [ProdLDA](http://pyro.ai/examples/prodlda.html#ProdLDA:-Latent-Dirichlet-Allocation-with-Product-of-Experts) example in Pyro to illustrate some usage of JAX nn frameworks `flax`/`haiku` in NumPyro. We might consider replacing `SoftmaxNormal` there with `Dirichlet` distribution. This is a good first issue for those who are interested in both NLP and Ba

[2021-05-10 12:05] mdenhollander opened #1035 "Feature request: option to save sampler diagnostics of the Warm-up samples"
When saving diagnostics of the HMC sampler (Divergences, Acceptance statistic and the tree-depth), Numpyro only saves the values for the samples that are not in the warm-up. However, it could be informative to evaluate the values of these diagnostics in the Warm-up samples as well.

Is there any way to save these diagnostics? If not, could this functionality be added in any way?

Many thanks in ad

[2021-05-10 12:28] mdenhollander opened #1036 "Question: Are there any known issues with the `jax.random.PRNGKey` when running HMC models in Numpyro?"
Hey all,

I had a question regarding the `jax.random.PRNGKey` function.

When working with Numpyro I noticed that the parameter samples can slightly vary between model runs, even after setting a fixed value for the random seed through `jax.PRNGKey()`. I am using Numpyro in a Class-based structure, in which the Jax random key is created in the `__init__` function of the class and saved as an attrib

[2021-05-11 07:43] mdenhollander commented on #1036
Thanks for your reply!

If that would be the case, is it recommended to disable fast math mode? And any ideas on what the computational efficiency loss could be then?

[2021-05-11 10:06] fehiepsi commented on #1036
I haven't seen any problem with fast math mode for a while. Since you are using an old jax version, it is hard to tell.

[2021-05-12 04:59] fehiepsi opened #1037 "New versions of sphinx and jinja2 break docs linting"
This is observed by @tcbegley in #1034

[2021-05-12 20:23] fehiepsi commented on #768
I think this is resolved in #1014. Thanks, @dominikstrb!

[2021-05-12 20:23] #768 closed

[2021-05-12 20:46] fehiepsi commented on #825
Thanks for suggesting the example, @caxelrud! It looks like that this example is not easy to model and perform inference in NumPyro (I assume). Please feel free to reopen this issue if you think we can address some features of the topic comment. :)

[2021-05-12 20:46] #825 closed

[2021-05-12 20:56] fehiepsi commented on #48
The current Dirichlet sampler has a reparameterized gradient but its variance would be higher than the version in PyTorch. Given that we mostly rely on the upstream jax samplers now, it is better to use the current high variance version and raise the request to jax team (if needed) instead.

[2021-05-12 20:56] #48 closed

[2021-05-12 21:11] fehiepsi commented on #514
Going back to this issue, I don't think there will be further actions we can take here. Currently, we added supports for pickling mcmc objects, avoid recompiling for multiple runs, and greatly improve the compiling time. Hope that they partly resolve the topic issue. Pickling a compiled object is not yet supported in jax, so please reopen the issue if anyone thinks we can take some actions here.

[2021-05-12 21:11] #514 closed

[2021-05-12 21:13] fehiepsi commented on #585
Currently, using `pmap(init + sample)` really simplifies a lot of code for us. So probably the last task is unnecessary unless we face some slow compiling issues again.

[2021-05-12 21:13] #585 closed

[2021-05-12 21:17] fehiepsi commented on #643
This thread has been a nice discussion thread so far. It seems that the new package `jaxns` is a good candidate for multimodal posteriors. For those who are interested in it, please try it out. We can move the further discussions to the forum if needed. :)

[2021-05-12 21:17] #643 closed

[2021-05-12 21:20] #658 closed

[2021-05-12 21:32] fehiepsi commented on #722
Really sorry for the long response, @prpr2770! Somehow I missed your comment. It seems to be very tricky to perform the task in your gist in JAX/NumPyro. I think it is better to stick with the Pyro version instead, in case you already resolved the hash issue (I'm not familiar with how RSA is implemented).

[2021-05-12 21:32] #722 closed

[2021-05-12 22:48] murphyk opened #1038 "order of args to mcmc is inconsistent between pyro and numpyro"
I see that [pyro.mcmc](https://num.pyro.ai/en/stable/mcmc.html) uses (kernel, num_samples, warmup_steps)
but [numpyro.mcmc](https://num.pyro.ai/en/stable/mcmc.html) uses (kernel, warmup_steps, num_samples), which is a bit confusing.

[2021-05-13 02:05] fritzo commented on #1038
@fehiepsi if we do change one of the interfaces, we might want to enforce keyword-only args so that at least the breaking change is not silent:
[code]

[2021-05-13 03:07] fehiepsi commented on #988
Close because this is not necessary anymore. Please feel free to open this issue again if needed.

[2021-05-13 03:07] #988 closed

[2021-05-13 03:12] fehiepsi commented on #1035
I think the above snippet will provide the stats for the warmup phase. Please feel free to open this issue again if there are some other stats that cannot be obtained using the current api.

[2021-05-13 03:12] #1035 closed

[2021-05-13 03:16] fehiepsi commented on #781
I think we can collect warmup samples using the current API, as in the first design choice above. Let's address the API issue if we find the current usage is a bit inconvenient.

[2021-05-13 03:16] #781 closed

[2021-05-13 03:28] fehiepsi commented on #1032
I think this issue is due to using an old version of jax/jaxlib. Please feel free to open this issue again if that's not the case.

[2021-05-13 03:36] fehiepsi commented on #1036
Hi @mdenhollander, please feel free to reopen this topic again if you think we have some issues with HMC implementation. We typically use github for issues and feature requests. For questions and discussions, we recommend using the [forum](https://forum.pyro.ai/). :)

[2021-05-13 03:36] #1036 closed

[2021-05-13 03:38] fehiepsi commented on #1023
This is addressed in #1034. @murphyk @tcbegley thanks for requesting this feature and resolving it!

[2021-05-13 03:38] #1023 closed

[2021-05-13 03:50] fehiepsi commented on #1038
I can see the confusion. I think it is better to add that `*` to numpyro, although numpyro mcmc API is more mature than the one in pyro.

[2021-05-13 06:06] tcbegley commented on #1033
I'm interested in this and happy to start working on it.

[2021-05-14 11:12] pforero commented on #1032
Hi!

I've had the same error running the example in Bayesian Regression Using Numpyro when I run the first "mcmc.run".

Numpyro: 0.6.0
jax: 0.2.13
jaxlib: 0.1.66

Hope it helps.

[2021-05-14 14:31] fehiepsi commented on #1032
@pforero Could you help me try to run with master version:
[code]
I can't reproduce the error in my system. We also have a test for this example so it can run on CI (with the latest jax/jaxlib versions).

[2021-05-17 07:40] mdenhollander commented on #1036
Thanks for your help! For any future questions, I will definitely use the Forum

[2021-05-17 10:44] pforero commented on #1032
Hi @fehiepsi, I have tried pip installing the master version in my environment, and had the same error.

I have tried some "bad" debugging (bad because I am not familiar enough with Jax or numpyro to know what the appropriate behaviour is).

What I have found is that in the firs run of the model the X values are a DeviceArray, an work fine. But the second iteration the X values are a ConcreteArray

[2021-05-20 04:33] fehiepsi commented on #1032
@pforero Could you try to run `pip uninstall jax jaxlib` 2 times, then install again? I just checked the tutorial in colab and couldn't observe the error. Could you help me:
+ print jax/jaxlib versions in the notebook
+ run the tutorial
+ copy the notebook with error message to gist

Thanks!

[2021-05-21 03:37] openerror commented on #1032
I ran into the same error message when trying the 8 schools example as well. I installed `numpyro` through conda-forge after seeing the relevant commit.

- `jax` 0.2.13
- `jaxlib` 0.1.67
- `numpyro` 0.6.0

When I restarted with a fresh virtual environment and installed `numpyro` directly from pip, the error went away. But then I am "stuck" with an older version of jax (0.2.10).

[2021-05-21 03:40] fehiepsi commented on #1032
@openerror Could you try to install numpyro with `pip install git+https://github.com/pyro-ppl/numpyro.git`? The next version of numpyro will relax that jax/jaxlib versioning restriction.

[2021-05-21 07:47] openerror commented on #1032
As you suggested, I installed numpyro from github, and now the 8 schools example is working well.

[2021-05-23 07:44] tcbegley commented on #1033
Hi @fehiepsi, I have a question about the Pyro version of this notebook.

Both encoder and decoder have dropout layers, is there a way to know inside the model / guide if they are being run in a training context by e.g. `SVI` versus being used in a generative / predictive context? In the latter case I think you would want to ensure that dropout is turned off right?

From what I can tell in the Pyr

[2021-05-23 11:08] fehiepsi commented on #1033
You are right, only the weight vector is important to extract topics' word distributions. To let `model/guide` know about training context, you can add an argument `training=True/False` to them:
[code]

[2021-05-26 04:48] fehiepsi commented on #686
@fritzo Can I take a stab at this? :)

[2021-05-26 05:17] fehiepsi commented on #1037
The sphinx issue has been fixed in [nbsphinx==0.8.5](https://github.com/spatialaudio/nbsphinx/pull/562). Also, in `nbsphinx==0.8.5`, jinja2 version is [forced to be smaller than 3](https://github.com/spatialaudio/nbsphinx/issues/563) so as long as we use the latest nbsphinx version, it will be fine.

[2021-05-26 17:21] #1038 closed

[2021-05-27 20:28] #847 closed

[2021-05-27 20:28] #1037 closed

[2021-05-27 21:47] fehiepsi commented on #770
This is achieved through `infer_discrete`.

[2021-05-27 21:47] #770 closed

[2021-05-27 21:49] fehiepsi commented on #744
I think this is achieved via `infer_discrete`. We'll illustrate its usage in the `annotation` example.

[2021-05-27 21:49] #744 closed

[2021-05-27 22:11] fehiepsi commented on #1032
It seems that the issue has happened with the last release and has been resolved in numpyro master. Please feel free to reopen this issue if the problem still happens.

[2021-05-27 22:11] #1032 closed

[2021-05-28 06:24] frankier opened #1045 "FR: Fail with informative error message when same plate name used with inconsistent dimensions"
Currently reusing the same plate name with different arguments to e.g. dim will cause problems. Models like this could be rejected with an informative error message quickly, before confusing problems which can include arrays changing shape happen. See below for the current behaviour.

[code]

Running gets an error like:
[code]

[2021-05-28 11:05] hyperfra opened #1046 "Multiple chains on Multiple GPU"
Hi

I tried to run 4 chains with 4 GPU but I have received errors (it runs with 1 chain)

thanks

f

Compiling.. :   0%|                                                                                                                | 0/6000 [00:00<?, ?it/s2021-05-28 11:03:27.284436: E external/org_tensorflow/tensorflow/compiler/xla/status_macros.cc:56] Internal: RET_CHECK failure (external/org_ten

[2021-05-28 17:37] eluerken-wm opened #1047 "Cannot Run Tutorials on Sagemaker"
Hello,

I'm new to using Numpyro and Sagemaker, but running into an issue trying to replicate the [eight schools (getting started)](http://num.pyro.ai/en/stable/getting_started.html) example (or any other tutorials) in my Sagemaker instance.  Everything runs fine in any tutorial until I try to execute:

`mcmc.run(rng_key, J, sigma, y = y, extra_fields = ('potential_energy',))`

I get `TypeError: A

[2021-05-28 17:39] fehiepsi commented on #1038
Yeah, I guess many people will like the change. :D

[2021-05-28 17:42] fehiepsi commented on #1047
@eluerken-wm I think there is a bug in the last release. Could you try to install numpyro with `pip install git+https://github.com/pyro-ppl/numpyro.git`?

[2021-05-28 17:43] fehiepsi commented on #1046
Hi @hyperfra, could you try to run `pmap` with some simple models and paste the code below? I'm not sure what leads to the issue but looking at the shape, it seems to relate to random PRNGKey.

[2021-05-28 18:17] eluerken-wm commented on #1047
@fehiepsi That fixed it!  Thank you so much!

[2021-05-28 18:17] #1047 closed

[2021-05-28 21:19] fritzo commented on #686
@fehiepsi sure, and let me know if you want me to review any code.

[2021-05-29 12:48] hyperfra commented on #1046
Hi  fehiepsi

I experimented with pmap, the issue appears to be caused by the progress_bar (?) if I put progress_bar=False, the code runs on multiple GPU

f

[2021-05-29 14:16] fehiepsi commented on #1046
Thanks, @hyperfra! It seems that host_callback for the progress bar is [not working yet](https://github.com/google/jax/issues/6447) on multi-GPU. I'll add a PR to disable the progress bar on GPU.

[2021-05-30 03:00] fehiepsi commented on #758
I imagine that it will require a big design to be able to have some sort of stateful PyroModule in numpyro. On the other hand, it seems that Flax has been widely adopted among jax nn ecosystems. So I would like to close this issue. We can explore Objax in the future if it becomes a norm. :)

[2021-05-30 03:00] #758 closed

[2021-06-01 00:02] #1046 closed

[2021-06-01 00:03] #1045 closed

[2021-06-01 16:02] #703 closed

[2021-06-01 17:32] #944 closed

[2021-06-02 23:20] cfusting opened #1054 "Out of memory on a small NN with less parameters than the equivalent linear model"
I've been playing with the HMCECS example and find that when I convert the linear model to a one layer neural network I run out of memory. This occurs even if I reduce the feature size to 1 and the hidden dim to 2 (I'm using a small modification of the code from the BNN example). In this case there are actually less parameters than with the linear model, but JAX complains I am trying to allocate 9

[2021-06-03 00:00] martinjankowiak commented on #1054
how exactly are you specifying the nn? code would be helpful.

[2021-06-03 00:07] cfusting commented on #1054
[code]

[2021-06-03 02:03] martinjankowiak commented on #1054
i believe you need to use the `numpyro.subsample` primitive as in the example code

[2021-06-03 02:48] fehiepsi commented on #1054
I think you need to make sure that `z3` and `Y` are vectors. If they have shape `N x D_Y`, then you need to specify `dim=-2` in plate `N`:
[code]

[2021-06-03 17:11] cfusting commented on #1054
Thank you for helping me find this bug! Indeed it was an indexing issue. I found that by flattening `z3` and then either using `numpyro.subsample` or indexing via `X[idx, :]` it worked fine.

[2021-06-03 17:11] #1054 closed

[2021-06-07 10:26] llaurabat91 opened #1057 "raise a better error/warning for init strategies with substituted models"
Right now, init strategy with a ```substituted``` model breaks, and the error message showed is not straight forward. It could be clarified that, in order to work, ```substitute``` requires that the substituted site is ```blocked```, and that anyway ```condition``` is preferred to ```substitute```  for modelling purposes.

[2021-06-08 18:26] satosanffm opened #1060 "AttributeError: module 'numpyro' has no attribute 'render_model'"
Hello,

I was following : [http://num.pyro.ai/en/latest/tutorials/model_rendering.html](url)

[code]
[code]
[code]
[code]

However, I received an error message as follows:
[code]
The version of numpyro is correctly 0.6.0..
And the version of jax is 0.2.10

Could you help me finding out why this error happens (is there any mismatch of related versions)? Thank you in advance!
(I read #949 but I was

[2021-06-08 18:57] fehiepsi commented on #1060
I think you are using the master branch. I guess you can do
[code]
in _your environment_.

[2021-06-08 19:19] satosanffm commented on #1060
Thank you so much for your quick response!

I run the following two codes as you suggested. However, I receive still the same error message,
_AttributeError: module 'numpyro' has no attribute 'render_model'_

[code]
[code]

[2021-06-08 20:29] fehiepsi commented on #1060
Are you installing numpyro to the same environment as your script? I guess you can try to update jax to see if your pip command can actually update a package: `pip install -U jax`. The latest jax version is 0.2.13.

[2021-06-09 06:55] satosanffm commented on #1060
The problem is solved! Thank you so much!

Since I use Google Colab, I think the environment should not matter.
However, I probably forgot to restart the running time.
(Today, I came back to work this morning and I ran the same code as yesterday.
The code runs.)

Also, now the version of jax is 0.2.13.

Thank you again for your help.

[2021-06-09 13:31] fehiepsi commented on #1060
That makes sense. I'm not familiar with colab - I think you can do "Factor reset runtime" to reset everything you have installed in the colab environment. :) I also guess that
[code]
might work. :)

[2021-06-09 13:31] #1060 closed

[2021-06-10 05:37] fehiepsi opened #1062 "Redesign TFP wrappers"
The new changes in meta stuff of TFP distribution just break our CI. I have spent a day resolving the issue but couldn't make it work :(. To avoid similar issues in the future, I think it is better to make wrappers like in funsor.distributions, rather than creating Mixin class/metaclass. Making wrappers also help us resolving the issues like `Distribution.shape` is a method in pyro but it is a pro

[2021-06-10 21:45] fehiepsi commented on #978
It turns out that TFP has [ReplicaExchangeMC](https://www.tensorflow.org/probability/api_docs/python/tfp/mcmc/ReplicaExchangeMC) that users can use with NumPyro models through our [wrappers](http://num.pyro.ai/en/stable/mcmc.html#replicaexchangemc). So I would like to close this issue to avoid unnecessary efforts.

[2021-06-10 21:45] #978 closed

[2021-06-13 13:35] anbasile opened #1067 "Bayesian Models of Annotation example in the docs is broken"
The [Annotation example](https://num.pyro.ai/en/latest/examples/annotation.html) in the docs is currently broken. It requires installaton from master and not from pip of both numpyro and funsor because of `infer_discrete` and `funsor_interpretations`.  Then it works.

[2021-06-13 13:39] fehiepsi commented on #1067
Hi @anbasile, for the stable version, you can use [this link](http://num.pyro.ai/en/stable/examples/annotation.html). The link that you used is for the latest <-> master branch.

[2021-06-13 14:07] anbasile commented on #1067
Thanks!

[2021-06-13 14:07] #1067 closed

[2021-06-18 13:38] alexlyttle opened #1068 "ProjectedNormal distribution not working"
I can't get the ProjectedNormal distribution to sample, it gives a NotImplementedError relating to the `_Sphere` constraint. Am I doing something wrong or is there an issue here?

Below is simple example inspired bu the docs for the `ProjectedNormal` distributions.

[code]

Here are some extracts from the traceback separated by `...`:

<details>

[code]

</details>

When I uncomment the line at th

[2021-06-18 14:29] fritzo commented on #1068
Hi @alexlyttle a full example seems to work on the master branch; maybe try updating?

<details>

[code]
[code]
</details>

Also let me try to explain why the `@handlers.reparam` is required.  NumPyro's NUTS and HMC implementations need to perform Hamiltonian dynamics in Euclidean space (or a space diffeomorphic to Euclidean space), but the parameter space of the `ProjectedNormal` distribution is

[2021-06-18 14:41] alexlyttle commented on #1068
Thanks very much for the details, super helpful!

I can confirm the version with the error occurred with `numpyro==0.6.0`. I still get `TypeError: 'NoneType' object is not callable` when I run the exact code you posted (with the line uncommented) for version 0.6.0. So, I downloaded the master branch instead and this time the code ran without error. I imagine something between version 0.6.0 and the

[2021-06-20 21:17] #1068 closed

[2021-06-22 13:14] alexlyttle opened #1070 "VonMises distribution behaves poorly at the boundary"
While converting my current work to `numpyro`, I noticed that the `VonMises` distribution doesn't sample well, especially when μ (or `loc`) is near ±π. I believe this is because the `support` for the `VonMises` distribution is the interval constraint from -π to +π. This does not allow the sampler to step from -π to +π or +π to -π by going over the boundary. I show the problem and a solution in my

[2021-06-22 14:54] fritzo commented on #1070
Hi @alexlyttle your solution makes sense to me!  I think we'll want to add that as a reparametrizer and register the new circular constraint and transform with `transform_to()` but not `biject_to()`, and I think we'll want to add a new improper distribution called say `Sinusoidal` or `ImproperSinusoidal` or something.

Note similar existing solution is to replace `VonMises` with [ProjectedNormal](

[2021-06-22 15:09] #896 closed

[2021-06-22 15:19] #1062 closed

[2021-06-22 17:46] fritzo commented on #1070
Sounds good @alexlyttle, let us know if you have any questions.  Here's a rough guide of how I think your idea could most cleanly be added:
1. add a `Circle` or `Circular` constraint (following say `constraints.sphere`)
2. add a `CircularReparam` (following say `ProjectedNormalReparam`) something like this

    <details>

[code]

    </details>

    I think that way you won't even need to use the

[2021-06-22 18:41] FlorianWilhelm commented on #896
Thanks, @fehiepsi!

[2021-06-22 20:37] wenouyang opened #1071 "failure when using conda install"
Hello, I was trying to install numpyro using conda, and I got the following error message. Would you like to take a look at it? The system is Windows+Anaconda

(kaggle) C:\>conda install -c conda-forge numpyro
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from

[2021-06-22 21:27] wenouyang opened #1072 "pip install numpyro failed on windows"
Hello, I was also trying to install numpyro using pip, which seems to fail as well. What are the best ways to install numpyro on Windows? Thanks.

Collecting jax==0.2.3
  Downloading jax-0.2.3.tar.gz (473 kB)
     |████████████████████████████████| 473 kB 3.3 MB/s
Collecting numpyro
  Using cached numpyro-0.4.0-py3-none-any.whl (175 kB)
  Using cached numpyro-0.3.0-py3-none-any.whl (157 kB)
  Usin

[2021-06-23 05:10] fehiepsi commented on #1071
Hi @wenouyang, we will relax jax jaxlib versions in the next release, which will happens soon.

[2021-06-23 05:14] fehiepsi commented on #1072
We will relax jax jaxlib version the the next release. For now, you can use the installation method in cell 1: http://num.pyro.ai/en/latest/tutorials/bayesian_regression.html

[2021-06-23 05:34] fehiepsi commented on #1070
@fritzo It is just for convenience to record those values at deterministic sites in MCMC result (without having to use Predictive). We don't record the values at observed (Delta) sites.

[2021-06-23 10:35] alexlyttle commented on #1070
@fritzo Thanks for the suggestion. I tried implementing the step 2 from your suggestion, but initially couldn't replicate the results intended by my original suggestion.

I ran this code to test the VonMises distribution.

<details>

[code]

</details>

When I use `jnp.fmod` to get from -pi to +pi the resulting trace looks like this:

![trace_test_fmod](https://user-images.githubusercontent.com/43

[2021-06-23 13:46] fritzo commented on #1070
@alexlyttle looks great!  Sorry about my error in trying to simplify `arctan2(sin(x),cos(x))`, I was trying to avoid the relatively expensive transcendental functions.  How about instead `np.remainder(x+pi,2*pi)-pi`?  It looks like that version is correct and cheap:

<details>

![image](https://user-images.githubusercontent.com/648532/123107222-929b5100-d3f6-11eb-834e-45b007bf0399.png)

</details>

[2021-06-23 14:58] #990 closed

[2021-06-23 15:34] alexlyttle commented on #1070
@fritzo `jnp.remainder` works just fine, I forgot that `fmod(-x) == - fmod(x)` too! Good thinking regarding using a cheaper alternative, I hadn't considered that.

I am happy to make a `Circular` constraint if it helps out in future. The way I did it in my hacked solution was something like,

[code]

and then `VonMises.support = circular`. As it stands, this does nothing on its own, but like you s

[2021-06-23 16:32] fritzo commented on #1070
Sounds good.  If you do make a `Circular` constraint, I'd avoid inheriting from `_Interval` because that would trigger the `SigmoidTransform` which would lead to the poor mixing behavior you'd observed.  It's safer to directly inherit from `Constraint`.

[2021-06-24 07:47] JGameCreation opened #1073 "Mixed HMC 5000x slower on GPU than CPU"
Hi, I'm currently trying to understand how hardware acceleration works with Jax and NumPyro and observed a few things that appear very weird to me.
I want to run the Mixed HMC code example from the docs with 32 chains:
[code]
Without `numpyro.set_host_device_count(32)` this takes 33 seconds per chain. But when I add that statement it not only runs the 32 chains in parallel but it also suddenly com

[2021-06-24 13:12] fehiepsi commented on #1073
Hi @JGameCreation, I don't think MixedHMC is designed to take advantage of GPU so the slowness is understandable to me. Here I'll just try to explain some of your concerns:
+ Without setting the number of devices to `32`, the `chain_method="sequential"` strategy will be used (otherwise, `"parallel"` method will be used. NumPyro compiles the program in both methods, but in different ways: with "par

[2021-06-26 10:20] MarcoGorelli opened #1074 "DOC Sample from prior predictive"
From reading the [docs](http://num.pyro.ai/en/latest/tutorials/bayesian_regression.html), I can see that if I want to regress `y` onto `t`, I can do:
[code]

I can then sample from the posterior predictive distribution with:
[code]

However, how can I sample from the _prior_ predictive distribution?

(I'm happy to make a PR to clarify this in the docs once I've understood it)

[2021-06-26 11:28] fehiepsi commented on #1074
Hi @MarcoGorelli, to get samples from prior predictive, you can replace the posterior samples `samples_1` by `num_samples=1000`.

[2021-06-26 11:49] MarcoGorelli commented on #1074
So simple, thanks @fehiepsi !

Shall I mention this in the Bayesian Regression tutorial?

[2021-06-26 13:13] fehiepsi commented on #1074
Sure, pls go ahead! :)

On Sat, Jun 26, 2021, 7:49 AM Marco Edward Gorelli ***@***.***>
wrote:

[2021-06-26 20:07] MarcoGorelli opened #1075 "Progress bars only update with num_chains=1"
Running [Bayesian Regression](http://num.pyro.ai/en/stable/tutorials/bayesian_regression.html) tutorial with the default `num_chains=1`: it updates itself as NumPyro samples:

![1 chain](https://user-images.githubusercontent.com/33491632/123524469-79c6c000-d6c2-11eb-803d-e35a975cd2a8.gif)

With `num_chains=4`: all four progress bars stay at 0/2000:

![4 chains](https://user-images.githubuserconten

[2021-06-26 23:11] fehiepsi commented on #1075
Hi @MarcoGorelli, I think you'll need to install [ipywidgets](https://ipywidgets.readthedocs.io/en/latest/user_install.html) for jupyter notebook/lab. I think we should detect if a user already has `ipywidgets` installed and raise a warning. Do you want to take a stab at this? I think all we need to do is to add an additional logic after [this check](https://github.com/pyro-ppl/numpyro/blob/77be4d

[2021-06-27 08:10] MarcoGorelli commented on #1075
yup, will do!

[2021-06-27 10:38] MarcoGorelli commented on #1075
I just tried the same example on master and got

[code]

-----

Sorry to bother you with this, I'll try to diagnose the issue, just writing it here in meantime in case the issue is obvious to you

[2021-06-27 13:05] fehiepsi commented on #1075
I think the issue is we have a new pattern for `device` in your system. To be safe, I think we can do
[code]
What do you think?

[2021-06-27 15:05] #1074 closed

[2021-06-27 22:32] bdatko opened #1078 "TypeError: Argument 'None' of type '<class 'NoneType'>' is not a valid JAX type"
# Issue Description

I think I ran into a bug when following the [getting started 8 schools tutorial](http://num.pyro.ai/en/stable/getting_started.html#a-simple-example-8-schools) with following error:
`TypeError: Argument 'None' of type '<class 'NoneType'>' is not a valid JAX type`

I am seeing this error with Jax 0.2.16 and JaxLib 0.1.67 but not Jax 0.2.10 and JaxLib 0.1.62

## Environment
OS:
[

[2021-06-27 22:39] fehiepsi commented on #1078
Hi @bdatko, could you install numpyro with `pip install -q numpyro@git+https://github.com/pyro-ppl/numpyro`? We will release a new version soon.

[2021-06-27 23:04] bdatko commented on #1078
Yup, that fixed the error. Thanks @fehiepsi

[2021-06-28 13:57] #1075 closed

[2021-07-01 07:14] arunavsk commented on #1072
even this is not working

[2021-07-01 18:19] fehiepsi commented on #1072
Interesting, it is working on colab so I guess the issue is related to the recent pip resolver mechanism on a Windows system. Let's see if we still see the issue in the next release. For now, I think a solution can be:
+ update pip `pip install -U pip` (I'm seeing similar issue [here](https://github.com/pypa/pip/issues/8713))
+ uninstall jax/jaxlib/numpyro... (run `pip uninstall jax` 2 times)
+ in

[2021-07-01 22:57] derekpowell opened #1081 "[FR] Add version of `MixtureSameFamily` from Pyro"
I'm finally following up on @fehiepsi 's suggestion that I make this feature request following our conversation in this [issue](https://github.com/arviz-devs/arviz/issues/1661) in the Arviz repo. __But looking over the docs again, it looks like this may have already been implemented with a Tensorflow distribution that may make this FR unnecessary.__ Please feel free to close if that's the case!

I

[2021-07-04 08:00] learning-chip opened #1083 "Support multiple tensor backends via NEP-47 (Python array API standard)"
The recently proposed [NEP-47](https://numpy.org/neps/nep-0047-array-api-standard.html) attempts to unify the APIs of various tensor frameworks (NumPy, Tensorflow, PyTorch, Dask, JAX, CuPy, MXNet, etc.), via the [Python array API standard](https://data-apis.github.io/array-api/latest).

It is a much more compact version of the original NumPy APIs, removing unnecessary functions that are not friend

[2021-07-04 08:44] learning-chip commented on #1083
I quickly browsed through NumPyro source code to locate JAX-heavy code. For example, the most frequently used APIs include:
- `numpyro.sample`
- `numpyro.infer.{MCMC, NUTS}`
- `numpyro.distributions.{Normal, Exponential}`

1. `sample` is defined in `numpyro/primitives.py`, relying on `jax.random.{randint, choice, PRNGKey}` and other small ops.

https://github.com/pyro-ppl/numpyro/blob/f8f482ad7b2f

[2021-07-04 22:33] eb8680 commented on #1083
Hi @learning-chip, thanks for the suggestion. This seems like an issue best resolved at the level of PyTorch, JAX, and TensorFlow, none of which are fully compatible with NEP-47 yet (to the best of my knowledge, and as far as I can tell from the discussion in https://github.com/data-apis/array-api/issues/1). An additional complication is that only these three frameworks have both full-featured aut

[2021-07-05 00:31] learning-chip commented on #1083
This is correct, at this moment. My question, is once those frameworks get fully-compatible with NEP-47, what would be the amount of effort to add them as new backends for NumPyro? In terms of lines of code, or people * month, for example. This will affect whether the framework developer team should design their own Bayesian learning library or reuse (Num)Pyro.

There seems to be more and more HPC

[2021-07-05 22:01] szha commented on #1083
@learning-chip thanks for the ping and for bringing up the array API standard. The work for adopting the standard are in progress for MXNet and ONNX. Once array libraries finish implementing the compatibility with the standard it should indeed make it straightforward to switch array backends as long as the implementation only relies on the operations defined in the standard.

[2021-07-06 18:01] JGameCreation commented on #1073
Hi, thanks for your explanations! I tried your suggestion for vectorization and it works as long as I disable the progress bar. It's definitely much faster than running the chains sequentially. If full support for `vectorized` was implemented, would you expect it to be significantly faster than this simple method? I think I'll definitely make a feature request.

[2021-07-06 18:11] JGameCreation opened #1085 "[FR] Support vectorized chain method for Mixed HMC"
Currently, Mixed HMC only supports sequential and parallel chain_methods, otherwise an error is raised (#1073). To make Mixed HMC utilize GPUs more efficiently I would like to see the addition of this feature. Possibly further optimizations for running Mixed HMC on GPUs are possible. I would be happy to contribute to implementing this feature request but I only got started with Jax and NumPyro two

[2021-07-06 20:54] eb8680 commented on #1083
@learning-chip to be clear, Pyro and NumPyro rely crucially on advanced features of PyTorch and JAX (especially higher-order forward- and reverse-mode AD and a large library of probability distributions with [Tensorflow-style shape semantics and reparameterized samplers](https://arxiv.org/abs/1711.10604)) that are outside the scope of NEP-47.

As far as I know, only PyTorch, JAX and TensorFlow imp

[2021-07-07 00:45] learning-chip commented on #1083
Thanks, this is very useful information. I will read that paper carefully, including this doc:
https://www.tensorflow.org/probability/examples/TensorFlow_Distributions_Tutorial

I totally understand and agree -- I just need a list of "missing features" (beyond NEP-47) that other frameworks should support, if they want to be plugged into NumPyro's backend.

This sounds a very reasonable target to m

[2021-07-07 02:42] fehiepsi commented on #1073
Thanks for the feedback! Yeah, I think supporting `vectorized` method is not complicated. Let's make further discussion in #1805.

[2021-07-07 02:42] #1073 closed

[2021-07-08 09:30] bmorris3 commented on #1078
This error also resolved for me after building numpyro from source.

[2021-07-08 12:15] fehiepsi commented on #979
This is integrated into the master branch. Thanks, @gustavehug !

[2021-07-08 12:15] #979 closed

[2021-07-08 12:16] fehiepsi commented on #1033
Thanks, @tcbegley!

[2021-07-08 12:16] #1033 closed

[2021-07-08 16:50] ross-h1 opened #1088 "HMC Gibbs Example"
Hi all, I've been working with the HMC Gibbs sampler.

Thanks for your work on this, I think it's a really unique and powerful feature. I've written an example notebook (a
ttached). This uses HMC Gibbs and HMC on the same hierarchical problem, and shows significant speed up with HMCGibbs as the dimension of the conditionally conjugate part of the problem increases. (vary the number of series n to

[2021-07-08 16:57] FlorianWilhelm commented on #896
@fehiepsi: In the end, I decided to go for `TraceEnum_ELBO` in Pyro and you find my code [here](https://github.com/FlorianWilhelm/lda4rec) now publically available. Since this issue is now closed, I guess I could also switch back to NumPyro and use TraceGraph, correct? Compared to Pyro, exhaustive enumeration like with `TraceEnum_ELBO ` would still be missing in Numpyro and thus a migration could

[2021-07-08 18:29] GMCobraz opened #1089 "Production mode example"
Dear numpyro developers,

Good days.
I read the great post on the example in Gaussian process given by you guys.
I have some experience with Pymc3.

I have big interest in transfer the trained model to production.
In Pymc3, the trace from sample can be saved in .nc format by using to_netcdf.
While in production mode, I can simply load the .nc file by using from_netcdf.
From there, I can continue w

[2021-07-08 18:58] fehiepsi commented on #1089
@GMCobraz Please checkout [arviz support for numpyro](https://arviz-devs.github.io/arviz/getting_started/CreatingInferenceData.html#from-numpyro). That library supports [NetCDF](https://arviz-devs.github.io/arviz/getting_started/XarrayforArviZ.html#netcdf).

[2021-07-08 19:05] fehiepsi commented on #896
Hi @FlorianWilhelm, you can track the progress for `TraceEnum_ELBO` in #741. I'll take a look later in the week.

[2021-07-08 19:55] ross-h1 commented on #1088
a few corrections to this:

in the gibbs_fn, the scale needs a sqrt:
betai = dist.Normal(beta_post_mean, jnp.sqrt(beta_post_var)).sample(rng_key)

and the data frame results should be:
pd.DataFrame(np.asarray([[10,11],[58,30],[1920,55]]),index=[50,500,1000],columns=['hmc','hmc/gibbs'])

[2021-07-09 01:15] fehiepsi commented on #1088
I think using `deterministic` is intended here. Could you mention this usage in the docs for `gibbs_fn`?

You can find some [examples in the tests](https://github.com/pyro-ppl/numpyro/blob/master/test/infer/test_hmc_gibbs.py) but I think that there's nothing new to you. Given your experience with this class, it would be nice if you can contribute an example or tutorial for users. :)

[2021-07-09 01:45] fehiepsi commented on #1085
Hi @JGameCreation, I have thought about this for a while to see if there is any quick workaround. Basically, we need to vmap the `MixedHMC.init` and `MixedHMC.sample` methods, as in `HMC.init` example. Here is a sketch (that mimics [HMC.init](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/hmc.py#L734) implementation)
+ Check if `rng_key` is [MixedHMC.init](https://github.com/pyro-pp

[2021-07-10 07:39] ross-h1 commented on #1088
Thanks for hint with group by chain. Very happy to contribute based an example / tutorial on this notebookLet me know what else I need to do!

[2021-07-10 18:19] mjbajwa opened #1091 "Possible bug in Flax-Numpyro integration"
Hi,

First, what a fantastic library!

Second, I was setting up a non-trivial Bayesian CNN model. The basic CNN architecture is straight from the Flax documentation. My goal is to do some HMC sampling of the posterior. I'm getting a weird error because of a reshaping (flattening) step inside the flax model. The forward pass works fine using just Flax, so I figured it must be parameter management i

[2021-07-10 19:23] fehiepsi commented on #1091
I think you need batch dimension for `input_shape=(1, 64, 64, 1)`. Otherwise, you need to revise the code at the line
[code]
to respect arbitrary batch dimensions (e.g. at some places, you use the batch shape `(32,)`, at other places, you use the batch shape `()`).

[2021-07-10 19:36] mjbajwa commented on #1091
@fehiepsi great catch! Changing to `input_shape=(1, 64, 64, 1)` works now.

[2021-07-10 19:37] #1091 closed

[2021-07-11 02:12] fehiepsi commented on #1089
@GMCobraz If you get any trouble, please follow up in the [forum](https://forum.pyro.ai/). Your question will be more visible to other people in the community. :)

[2021-07-11 02:12] #1089 closed

[2021-07-11 02:13] fehiepsi commented on #1078
We have just released numpyro 0.7. Please check it out. :)

[2021-07-11 02:13] #1078 closed

[2021-07-11 02:14] fehiepsi commented on #1072
We have just released numpyro 0.7. Hopefully it is resolved now. Please reopen this issue if you face the error again.

[2021-07-11 02:14] #1072 closed

[2021-07-11 02:16] fehiepsi commented on #1071
We have just released jax/jaxlib versions. Hopefully, this is resolved now. For the Windows system, please also checkout [this note in README](https://github.com/pyro-ppl/numpyro#installation).

[2021-07-11 02:16] #1071 closed

[2021-07-11 16:11] maxwellreynolds opened #1092 "import numpyro error (version 0.7)"
Hello,

I installed the most recent version of numpyro (GPU) and am getting the following error when importing:

ImportError: cannot import name 'get_dtype' from 'numpyro.distributions.util'

[2021-07-11 16:21] fehiepsi commented on #1092
Hi @maxwellreynolds, that utility has been removed in 0.6 release. I think you can use `jnp.result_type` to achieve the same thing.

[2021-07-11 16:26] maxwellreynolds commented on #1092
Ok, sorry for not being clearer. I'm not calling get_dtype, I am getting this error just from the command:

`import numpyro`

Here is the trace:
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-1-c714a75f4912> in <module>
----> 1 import numpyro

../python3.7/site-packages/numpyro/_

[2021-07-11 16:30] fehiepsi commented on #1092
Could you uninstall numpyro first then install it again? Your source code seems to have content different from the last release.

[2021-07-11 16:35] fehiepsi commented on #1092
Sorry, @maxwellreynolds! I made a wrong release...

[2021-07-11 16:35] maxwellreynolds commented on #1092
I tried uninstalling and re-installing (using pip) and still getting the same error

[2021-07-11 17:02] fehiepsi commented on #1092
For some reason, the source file in https://pypi.org/project/numpyro/#files is correct but the binary file is wrong.
[code]
gives me the correct installation. :(

[2021-07-11 19:28] #1092 closed

[2021-07-11 19:44] fehiepsi commented on #1092
@maxwellreynolds The issue has been fixed in the last release. Thanks for the early note!

[2021-07-12 16:19] GMCobraz opened #1094 "pip install numpyro failed on windows"
Hi numpyro developers,

Good day.
Same error happened to new release which can refer back to closed issue (pip install numpyro failed on windows #1072)

ERROR: Cannot install numpyro==0.1.0, numpyro==0.2.0, numpyro==0.2.1, numpyro==0.2.2, numpyro==0.2.3, numpyro==0.2.4, numpyro==0.3.0, numpyro==0.4.0, numpyro==0.4.1, numpyro==0.5.0, numpyro==0.6.0, numpyro==0.7.0 and numpyro==0.7.1 because these p

[2021-07-12 16:23] GMCobraz opened #1095 "failure when using conda install (Windows)"
Dear numpyro developers,

Good day. Same error happened again in anaconda which can refer back to #1071.

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json)

[2021-07-12 17:32] wenouyang opened #1096 "can numpyro be installed using conda in the windows environment"
Hello, does numpyro support the installation using conda in the windows environment? I tried the
`conda install -c conda-forge numpyro`  , which is posted in https://anaconda.org/conda-forge/numpyro     It does not work, and gives following error message

[code]

[2021-07-12 20:49] wenouyang commented on #1095
@GMCobraz , I just noticed that I reported the same issue as you. Hope we can get this issue fixed soon.

[2021-07-13 04:44] fehiepsi commented on #1096
Hi @wenouyang, you'll need to install/build jaxlib first. Please see the note for [installing numpyro on windows](https://github.com/pyro-ppl/numpyro#installation).

[2021-07-13 04:47] fehiepsi commented on #1095
@GMCobraz Please see the note for [installing numpyro on windows](https://github.com/pyro-ppl/numpyro#installation).

[2021-07-13 04:47] #1095 closed

[2021-07-13 04:47] #1096 closed

[2021-07-13 04:53] fehiepsi commented on #1094
@GMCobraz @wenouyang Please see the note for [windows support](https://github.com/pyro-ppl/numpyro#installation). You'll need to install/build jax/jaxlib first. The simplest way to get `jaxlib` installed is to use `pip`/`conda` on Windows Subsystem for Linux. Please let us know if the notice in README needs to improve.

[2021-07-13 08:27] hyperfra opened #1098 "Pareto distribution tfp vs numpyro implémentation"
Hi
I have some issues in using the Pareto distribution.
When the alpha is small the sample values from the Pareto are very different from the Pareto in TFP.
For alpha greater than 3-4 they are much more similar.

![Pareto0 5](https://user-images.githubusercontent.com/39092766/125418298-81bc73dc-de11-4e24-81a3-240d39426d7a.png)
![Pareto1](https://user-images.githubusercontent.com/39092766/125418304

[2021-07-16 05:54] fehiepsi commented on #1098
Hi @hyperfra, I'm not sure what's the root of the issue. Currently, we defined Pareto as a [transformed distribution](https://github.com/pyro-ppl/numpyro/blob/d121cff5dfdba51ace605a3c34448ccb41ec21af/numpyro/distributions/continuous.py#L1275). Currently, to generate a Pareto sample by:
+ generate u ~ Uniform(0, 1)
+ transform u -> -log(u) * alpha to get a Exponential sample
+ then perform exp(-log

[2021-07-17 05:17] bmorris3 opened #1100 "Checkpointing during MCMC"
Hi devs, thanks for your contributions to this tool!

Is it possible to save the MCMC chains while the chains are running? I'm using numpyro on multiple GPUs in an HPC environment and would like to checkpoint my jobs in case of preemption.

[2021-07-17 11:21] fehiepsi commented on #1100
@bmorris3 Should [post_warmup_state](http://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.mcmc.MCMC.post_warmup_state) solve the issue?

[2021-07-18 09:21] bmorris3 commented on #1100
Yes I think so, sorry I missed it in the docs!

[2021-07-18 09:21] #1100 closed

[2021-07-18 20:25] fehiepsi opened #1103 "Use parse_known_args across all examples"
Currently, when executing the example script in jupyter notebook, we will get an error due to `argparse` could not recognize additional jupyter argument:
[code]
s (through the call `parser.parse_args()`). A solution is to use `parse_known_args` as suggested by @GMCobraz in [forum](https://forum.pyro.ai/t/error-in-gaussian-process-example/3142/3)

[2021-07-19 19:00] bdatko opened #1104 "[FR] add format_shapes method to trace"
Having `trace.format_shapes()` as in [Pyro](https://docs.pyro.ai/en/stable/poutine.html?highlight=format_shapes#pyro.poutine.Trace.format_shapes) would help with debugging and verifying models, especially with enumeration, as shown in the [Pyro tutorial](https://pyro.ai/examples/tensor_shapes.html#Broadcasting-to-allow-parallel-enumeration).

[2021-07-21 15:28] #1094 closed

[2021-07-22 09:15] jotsif commented on #769
@fehiepsi Do you still think the mixed HMC merged in https://github.com/pyro-ppl/numpyro/pull/826 will this? Have you tried it?

[2021-07-23 03:53] fehiepsi commented on #769
Hi @jotsif, both [DiscreteHMCGibbs](http://num.pyro.ai/en/stable/mcmc.html#discretehmcgibbs) and [MixedHMC](http://num.pyro.ai/en/stable/mcmc.html#mixedhmc) should work for the above model. Please see the examples in docstring of those classes for how to perform inference. In the above comments, we discussed enumeration, which is a different (working but exponentially slow) approach.

[2021-07-25 03:13] fehiepsi commented on #955
Closed because it is expected that jax gamma sampler is slow. As mentioned above, we can use tfp gamma sampler as an alternative solution to get 4x speed-up. Please feel free to reopen this issue if follow-ups are needed.

[2021-07-25 03:13] #955 closed

[2021-07-26 01:49] fehiepsi opened #1106 "Using TFP distributions directly in `sample` primitive"
Quoted from [the forum](https://forum.pyro.ai/t/sample-from-the-mixture-same-family-distribution/3178/6): The current wrappers in `numpyro.contrib.tfp` seems to not work for special distributions like MixtureSameFamily. For now, to make it work, we'll need to do
[code]
In the long term, I think it would be nice to use TFP distributions directly in the `sample` primitive:
[code]

I believe it is en

[2021-07-31 12:32] #1106 closed

[2021-08-01 08:08] tcbegley opened #1111 "[Docs] Syntax highlighting broken for notebook examples / tutorials"
Syntax highlighting doesn't seem to work on any notebook based examples tutorials in the deployed documentation. See e.g. http://num.pyro.ai/en/stable/tutorials/bayesian_regression.html

Interestingly I don't have the same problems if I build the documentation locally (following steps in a fresh virtual environment)

[code]

I can't see from the repo how the docs are built / deployed, so I suspect

[2021-08-01 15:36] MarcoGorelli opened #1112 "Allow for `high` in TruncatedNormal, TruncatedCauchy"
TruncatedDistribution has both `low` and `high`. Why do `TruncatedNormal` and `TruncatedCauchy` only have `low`?

[2021-08-01 15:37] fehiepsi commented on #1111
In the [latest build](https://readthedocs.org/projects/numpyro/builds/14369063/), readthedocs uses
[code]
Looking at [rtd documentation](https://docs.readthedocs.io/en/stable/guides/reproducible-builds.html#pinning-dependencies) (the docs point to this [search](https://github.com/readthedocs/readthedocs-sphinx-search) package, which is pretty cool and convenient - we should use it), I think that w

[2021-08-01 17:32] #1111 closed

[2021-08-01 18:22] fehiepsi commented on #1112
Hi @MarcoGorelli, the reason is currently, the signatures of `TruncatedNormal` is `low, loc, scale`, so introducing `low, high, loc, scale` will break current user codes. I think we can introduce the `high` parameter but forcing parameter names to be explicit (at least for the next release) so that users can be informed of affected codes
[code]

To get the mean/variance of TruncatedNormal/Truncate

[2021-08-01 18:43] MarcoGorelli commented on #1112
Thanks @fehiepsi !

So a warning could be added for 0.7.3 which warns that all args of TruncatdNormal will become keyword-only, and then in 0.8.0 the change is enforced?

Sorry, I don't understand - why does this need adding in order to have `high` in `TruncatedNormal`? Or is it a separate enhancement?

[2021-08-01 19:03] fehiepsi commented on #1112
I guess no need for a warning because Python will inform those argument changes when non-keyword arguments are provided. Regarding mean/variance, currently the LeftTruncated or RightTruncated does not provide mean/variance properties, but we have them in TruncatedNormal and TruncatedCauchy.

[2021-08-01 21:40] tcbegley commented on #1104
@fehiepsi unlike Pyro the trace object in NumPyro is an `OrderedDict` rather than a custom class, so seems to me there's a choice to be made here:

* Create a utility function that takes a trace as input and returns the table of shapes
* Create a custom trace object (probably subclassing `OrderedDict` in the first instance to minimise changes?) and define a `format_shapes` method.

Do you have a p

[2021-08-01 21:45] fritzo commented on #1104
👍for a utility function.

On Mon, Aug 2, 2021, 12:41 AM Tom Begley ***@***.***> wrote:

[2021-08-01 22:35] fehiepsi commented on #1104
Yes, a utility function would be nice. A third option is to have a handler that adds `print` effect to each sample site. :)

[2021-08-03 13:58] maxwellreynolds opened #1115 "Memory allocation issue with parallel chains on multiple GPU"
Hello,

I am running NUTS for a larger model (~100,000 parameters) with 4 chains in parallel (4 GPUs available), num_warmup  = 1000, and num_samples = 10,000.

The progress bar is left at default (true)

I am getting the following error:

RuntimeError: Resource exhausted: Out of memory while trying to allocate 15273920000 bytes.

Versions
numpyro 0.7.2
jax 0.2.217
jaxlib 0.1.68
cuda 11.1

I did no

[2021-08-05 20:04] dirmeier opened #1117 "Automatic structured variational inference"
Hey all,

would be nice if there was an implementation of [Automatic structured variational inference](https://arxiv.org/abs/2002.00643) in NumPyro (unless it is already there and I am not seeing it).

A TFP implementation already exists [here](https://www.tensorflow.org/probability/api_docs/python/tfp/experimental/vi/build_asvi_surrogate_posterior). If you think this makes sense, I could give it

[2021-08-06 02:39] fehiepsi commented on #1115
@maxwellreynolds I think you can use [post_warmup_sample](http://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.mcmc.MCMC.post_warmup_state) for this (see the example there).

[2021-08-06 02:51] fehiepsi commented on #1117
Hi @dirmeier, FYI there is a [AutoStructure](https://github.com/pyro-ppl/pyro/issues/2813) class in Pyro which has some similar ideas. I don't know about the scope of the ASVI. Please give it a go if it can be implemented as an auto guide or a separate SVI-style algorithm.

[2021-08-06 10:03] fritzo commented on #1117
Hi @dirmeier, we'd welcome contributions of any new automatic guides. For compatibility with Pyro, we'd like to reserve the name `AutoStructured` to the design in Pyro that @fehiepsi pointed to. Note from that PR https://github.com/pyro-ppl/pyro/pull/2812

In the same direction, @eb8680 has some ideas that could learn the exact optimal Gaussian precision structure based on model dependencies, as h

[2021-08-09 07:50] dirmeier commented on #1117
Hey, @fehiepsi and @fritzo,

Yeah, completely agree with your concerns about ASVI in general, but haven't used [Ambrogioni et al. 21](https://arxiv.org/pdf/2102.04801.pdf) yet (nor read the paper in depth). Are there any limitations wrt data size for the cascading flows?

That would be nice!

Anyways, would be happy to help out with the  implementations on any of these, since I would like to be ab

[2021-08-09 13:44] lumip opened #1119 "Check for shape consistency between model and guide"
In SVI latent random variables sampled from the guide completely mask those sampled in the model during inference. However, nothing prevents us from specifying different shapes for such a sample site in model and guide respectively. This makes it easy to introduce confusing bugs when code in the model expects a certain shape that is different than what guide provides. This can easily happen if the

[2021-08-10 10:31] MarcoGorelli opened #1120 "Different mcmc.get_samples() , but same PRNGKey"
I, a CI system, and two colleagues are getting different results when running the same model with the same `jax.random.PRNGKey`.

same results
-------------

If we run
[code]

then we all get:

[code]

different results
----------------

However, if we run
[code]

then I and our CI system both get
[code]
while my colleagues both get
[code]

We all have the following versions installed, and we're a

[2021-08-10 16:51] maxwellreynolds commented on #1115
This is helpful, thank you!

[2021-08-10 16:51] #1115 closed

[2021-08-11 06:56] peterroelants opened #1121 "AssertionError because key is None when running arviz.from_numpyro on model with Categorical distribution"
I'm running into an `AssertionError` because the [`.sample()` method](https://github.com/pyro-ppl/numpyro/blob/58a7beb383f7c233a7d9edfd8312b5011c0a6c90/numpyro/distributions/discrete.py#L310) of the `Categorical` distribution is being called with `key=None`:

[code]

This happens when calling `arviz.from_numpyro(mcmc)`.
I ran into this issue when trying to implement a Gaussian mixture model in Num

[2021-08-11 13:23] peterroelants commented on #1081
Do the NumPyro dev's think that having a dedicated implementation of `MixtureSameFamily` is still worth having?
Given that TensorFlow's [`MixtureSameFamily`](https://www.tensorflow.org/probability/api_docs/python/tfp/substrates/jax/distributions/MixtureSameFamily) can be used as [`distributions.MixtureSameFamily`](http://num.pyro.ai/en/stable/distributions.html#mixturesamefamily), and can now be u

[2021-08-11 14:34] fritzo commented on #1119
@fehiepsi have you you already ported Pyro's [check_model_guide_match()](https://github.com/pyro-ppl/pyro/blob/7e293c5627458948db100c6a12d1e566f9f45327/pyro/util.py#L238) to NumPyro?

[2021-08-12 05:28] fehiepsi commented on #1119
Currently, we don't have that check in numpyro. This should be a good first issue. :)

[2021-08-12 05:32] fehiepsi commented on #1120
Hi @MarcoGorelli, I think this is due to each machine has a different way to handle floating points. A jax program is guaranteed to be deterministic across machines, modulo precision. You can use `numpyro.enable_x64()` mode to bring the results closer (I hope).

[2021-08-12 05:38] fehiepsi commented on #1121
Hi @peterroelants, the reason is NUTS only gives posterior samples for continuous sites. You'll need to use `infer_discrete` to get samples for `i`. Please see [annotation](http://num.pyro.ai/en/stable/examples/annotation.html) for how to use `infer_discrete`.

For `arviz`, I think you either:
+ use `arviz.from_dict` API
+ add `i` values to `mcmc._states_flat` and `mcmc._states`.

[2021-08-12 05:44] fehiepsi commented on #1081
I think it would be useful to have a NumPyro version, so users can do some sort of `dist.MixtureSameFamily(...).expand([...]).to_event(...)` or use it as a base dist of a numpyro transformed distribution.

[2021-08-12 09:30] MarcoGorelli commented on #1120
Ah, understood - thanks for your explanation @fehiepsi ! Closing then

[2021-08-12 09:30] #1120 closed

[2021-08-13 10:02] peterroelants commented on #1121
Thanks, I got it to work with your suggestions: https://gist.github.com/peterroelants/277d9d47a76a55c23a433d37bbbd6dd7/1cddeefd37243bcf61ac727738ac8de3d0b7bb69#file-gmm-issue-ipynb

[2021-08-13 10:02] #1121 closed

[2021-08-16 19:35] peterroelants commented on #1081
@fehiepsi I tried to take a stab at implementing `MixtureSameFamily` in https://github.com/pyro-ppl/numpyro/pull/1123

I would love to get your feedback.

[2021-08-17 21:35] quattro opened #1124 "SVI with discrete latent variables"
Hi all, thanks again for developing such a fantastic inference library. It's been a joy to use for simulations and inference procedures so far.

I noticed the recently implemented `TraceGraph_ELBO` and decided to try it out for inference of discrete latent variables and was met with `UserWarning: Currently, SVI does not support models with discrete latent variables`. Is this a regression bug, or a

[2021-08-19 03:52] fehiepsi commented on #1124
Hi @quattro, you're right, we can remove that warning now. Please feel free to submit a PR. :)

[2021-08-20 19:54] #1001 closed

[2021-08-21 03:15] #1124 closed

[2021-08-21 03:16] #1104 closed

[2021-08-22 09:55] svilupp opened #1129 "Adding Dirichlet prior for Ordinal Regression case study"
I'd like to contribute an implementation of a more principled prior based on [Ordinal Regression Case Study from M.Betancourt (2019)](https://betanalpha.github.io/assets/case_studies/ordinal_regression.html) (in particular section 2.2). It requires adding a Simplex2Ordered Transform.

Branch location: https://github.com/svilupp/numpyro/tree/ordinal-regr-prior

Changes have been made in the followi

[2021-08-23 03:12] fehiepsi commented on #1129
This is awesome! Waiting for your PR, @svilupp!

Yes, this is right if `log_abs_det_jacobian` is of the transform from base_domain -> transformed_domain.

I think you can add one [here](https://github.com/pyro-ppl/numpyro/blob/9da69d2653a2dee77487e613046a7904c99fd29e/test/test_distributions.py#L1657)

I think you can make a new section for it. In addition, you can do `print_summary(exclude_determi

[2021-08-23 08:10] svilupp commented on #1129
Thank you, Fehiepsi.
I've opened the [PR](https://github.com/pyro-ppl/numpyro/pull/1130); I didn't want to open it until I pass all tests & checks.

I'll add the print summary later today.
Noted on the `reparam` - I find it quite helpful to see the base probabilities because the Dirichlet prior can be a bit opaque, but I agree that the calibration of the concentration param. should be part of prio

[2021-08-23 19:45] svilupp commented on #1129
I've updated the case study notebook as suggested, however, I'm not sure about the test.

I've added the transform to the param. decorator of `test_bijective_transforms`, however, it tests several cases, which the transform cannot pass, eg, batch shape = () - for that reason, I've added marks=xFail, however, that devalues the test for all other cases.
The obvious solution would be to add a `skipif

[2021-08-23 19:47] quattro opened #1131 "TraceGraph_ELBO bug shape error"
Hi, I've been running into a bug related to data with multiple likelihoods. It seems that when computing downstream costs in the TraceGraph, multiple children have an empty `frozenset` frames on line 389 of `elbo.py` resulting in shape mismatch due to lookup bugs in the `MultiFrameTensor`.

I have an example program [here](https://gist.github.com/quattro/c3cdf41bf52a2334aa2dd2851388d254) to recrea

[2021-08-24 02:04] fehiepsi commented on #1131
Hi @quattro, could you add `to_event` to the latent sites such as `Normal` (or put them under some `plate`)? I guess that causes the issue.

[2021-08-24 02:33] fehiepsi commented on #1129
Hi @svilupp, I just follow up in the PR. It is easier to comment there. :)

[2021-08-24 05:03] quattro commented on #1131
Hi @fehiepsi , apologies. While `to_event(1)` didn't seem to correct the issue, wrapping `beta~Normal` in a `plate` with `size=1` got it to run.

Would it be possible to catch and re-throw a more informative message in this setting (ie conditional independence is unclear)?

[2021-08-24 05:48] peterroelants commented on #1081
Implemented in https://github.com/pyro-ppl/numpyro/pull/1123

[2021-08-24 18:00] #1081 closed

[2021-08-24 22:04] colehaus opened #1133 "`init_to_uniform` sometimes leads to mangled chains"
I'm not quite sure if this a bug or expected behavior, but the behavior was at least unexpected and undesirable to me.

Note that even with the `init_to_uniform` `init_strategy`, not every invocation of `run` results in exactly one mangled chain—sometimes there are zero, sometimes there are multiple.

Would it make sense to think about the default initialization strategy used by the library? `pymc

[2021-08-25 01:37] colehaus opened #1134 "`jit_model_args` seems to not work with `chain_method="parallel"`"
See the discrepancy below in the iteration durations between sequential and parallel chains.

[code]

[code]

[code]

    20.672340869903564
    8.105369567871094
    7.848393440246582
    8.228676319122314
    8.964311599731445
    ====================
    20.858465909957886
    19.117286682128906
    18.85404682159424
    19.331879377365112
    19.406771898269653

[2021-08-25 02:01] fehiepsi commented on #1134
I think that currently, this is not supported. We should mention this in the docs. I guess you can try the pattern
[code]
to see if you can `jit` a parallel map and get any speed up.

[2021-08-25 02:11] fehiepsi commented on #1133
Interesting! I think `init_to_uniform` is bad if it provides initial values in a low-density area of the prior. `init_to_median` makes more sense then. In Pyro autoguide, we used `init_to_median` by default. However, there are a couple of reasons to stick with `init_to_uniform`
+ `init_to_uniform` is faster (this is a minor point I guess)
+ `init_to_uniform` matches the Stan behavior, which is a d

[2021-08-25 02:17] fehiepsi commented on #1131
That's a good point. I think we should throw errors when `plate` is missing. Looking at the code base, it is not clear to me where we should add the check. I'll follow up later. :)

[2021-08-25 02:18] fehiepsi commented on #1081
Thank you, @peterroelants!

[2021-08-25 16:45] d-diaz opened #1135 "SA kernel missing model attribute"
Trying to load an MCMC run using an SA kernel into `arviz`, I ran into this issue:

[code]

which raises...
[code]

Looking at the source code and noticing that this works for NUTS and HMC, the missing piece in the SA class seems to be the `model` property... going to prepare a PR to add it in the same manner as it's found in NUTS and HMC classes.

[2021-08-27 09:56] tcuongd opened #1137 "Prior dependent on multiple parameters"
Hi! Just wondering if there is a way in `numpyro` to implement the model described here: https://discourse.pymc.io/t/constraint-or-prior-dependent-on-multiple-parameters/3934

Or would you suggest doing something different altogether? Thanks!

[2021-08-27 10:00] #1137 closed, assigned to nobody

[2021-08-29 03:10] fehiepsi commented on #1134
I guess we can leave the issue open for a while. As I understand, we can `jit+pmap` [here](https://github.com/pyro-ppl/numpyro/blob/f6f178d12483126021196bf87a4095e504e15d87/numpyro/infer/mcmc.py#L573) by passing model args to the tuple`map_args` and specifying `in_axes` correctly. However, it seems that using `jit+pmap` is not efficient (from the warning when running it). There might be some worka

[2021-08-30 16:49] fehiepsi commented on #1070
Thank @alexlyttle for stimulating the discussion and working on a solution.

[2021-08-30 16:49] #1070 closed

[2021-09-01 21:19] vitkl commented on #855
Just a curious observation we made with @yozhikoff: The issue with exp transform seems to be less severe with cuda 11.1.

![image](https://user-images.githubusercontent.com/22567383/131746606-aebef931-8d99-46d9-b397-c8488f934891.png)
![image](https://user-images.githubusercontent.com/22567383/131746620-5840743a-b940-42c2-9ff6-a69158ab7574.png)

[2021-09-02 19:02] fehiepsi commented on #855
Interesting, probably the precision of some op is different w.r.t. different system.

[2021-09-03 04:53] d-diaz commented on #769
FYI, good post with examples of using a horseshoe prior for spike and slab in numpyro here: https://james-brennan.github.io/posts/horseshoe/

Also nice that the author compares horseshoe with Bayesian Ridge and Lasso regression models. I tried to fiddle with the same method on one of my own projects and ran into a good number of divergences. I worked for a bit to try non-centered flavors of the mo

[2021-09-03 07:45] jotsif commented on #769
@d-diaz The horseshoe is another sparsity inducing prior compared to the spike and slab, avoiding the enumeration problem discussed in this ticket.

[2021-09-04 13:56] martinjankowiak commented on #769
@d-diaz fyi that post has an error (it should read `horseshoe_sigma = Tau * Lambda` not `horseshoe_sigma = Tau**2*Lambda**2`). this should probably still produce reasonable results in most cases but this is *not* the horseshoe prior (it's something even sparser).

there's now a horseshoe example [here](https://github.com/pyro-ppl/numpyro/blob/master/examples/horseshoe_regression.py)

[2021-09-06 21:54] colehaus opened #1150 "`obs_mask` in `sample` seems incompatible with `MultivariateNormal`"
If I'm interpreting https://forum.pyro.ai/t/hierarchical-bayesian-model-with-data-of-varying-length/1588/6 correctly, this is a known issue. Mostly I'm just posting this for future people to find in search results. Small repro:

[code]

Is the best workaround a manual imputation like this?

[code]

Thanks.

[2021-09-07 08:36] xiangjianqian opened #1151 "XLA_FLAGS"
Currently, I set XLA_FLAGS="--xla_force_host_platform_device_count=8" . How can I set this to its default value that XLA considers all CPU cores as one device? Thank you very much for your help.

[2021-09-07 13:52] fehiepsi commented on #1151
I think you can change 8 to 1 or remove that flag. :)

[2021-09-10 13:59] ojhall94 opened #1154 "Progress bars not changing for multiple chains in Jupyter"
I'm currently having an issue where the progress bars show no change when running multiple chains in Jupyter Notebook. I've included screenshots of what this looks like below, and the versions of the (hopefully) relevant packages.

![image](https://user-images.githubusercontent.com/22291663/132845786-5ae235ff-b886-4382-b88b-b2b1841b32a3.png)

Numpyro - 0.7.2
Graphviz -0.16
ipywidgets - 7.6.4
tdqm

[2021-09-10 14:48] fehiepsi commented on #1154
@ojhall94 Did you install the extension: https://ipywidgets.readthedocs.io/en/latest/user_install.html#installing-in-classic-jupyter-notebook?

[2021-09-10 23:10] ecotner commented on #691
Hello, I'm running into this problem on version `0.7.2` of numpyro, which is strange, since it seems from the above conversation that the fix had been merged. Here is a summary of my code (all arguments to the model are JAX arrays and the `N*` are integers):

[code]
When I use `mcmc.run` the second time, it does skip the warmup phase, but it still recompiles!

[2021-09-11 16:02] fehiepsi commented on #691
Hi @ecotner, this issue has been fixed to make your code run. I think "speed"/"caching" is another issue. For caching with parallel chain, please see the issue https://github.com/pyro-ppl/numpyro/issues/1134 .

[2021-09-11 17:54] maw501 commented on #1119
Hey @fehiepsi ,

I could possibly look into this if you think it's suitable for someone new to the library (and contributing to open source in general 😬 ).

Alternatively if you think there are any other issues better suited for me to look into (e.g. #951) then I'm happy to take your suggestion. 😄

Mark

[2021-09-13 03:42] RylanSchaeffer opened #1155 "Improved Error Message for Incorrect Sample Shape"
I have a jax array of D parameters for D independent Bernoulli distributions. I wanted to draw N samples from each of the D Bernoulli distributions, but when I tried the following code, I received the error `unsupported operand type(s) for +: 'int' and 'tuple'`.

[code]

A better error message would clarify what's wrong with the `num_obs` variable that I'm passing to the function.

[2021-09-13 04:00] RylanSchaeffer commented on #1155
I realized the error is that I'm misunderstanding how the plate and the sample shape interact. That said, I still think better error messages would be helpful :)

[2021-09-13 04:24] fehiepsi commented on #1119
Hi @maw501, sure, please go ahead. If you are new to the library, it is best to start with [tensor shapes in Pyro](https://pyro.ai/examples/tensor_shapes.html). You might also want to play with [trace handler](http://num.pyro.ai/en/stable/handlers.html#trace), which you can use the inspect your model. Please let me know if you have any question during the way.

(#951 is also a good first issue - b

[2021-09-20 12:06] fehiepsi commented on #995
This approach is experimental and requires a lot of internal changes, which seems to be unnecessary given some recent good reparameterized approaches. Let's close this for now and revisit if needed.

[2021-09-20 12:06] #995 closed

[2021-09-20 17:34] fehiepsi commented on #1129
Thanks, @svilupp!

[2021-09-20 17:34] #1129 closed

[2021-09-20 17:38] fehiepsi commented on #1150
I think this behavior is expected. We can discuss more at [this forum thread](https://forum.pyro.ai/t/improving-performance-of-imputation-by-pruning/3307).

[2021-09-20 17:38] #1150 closed

[2021-09-20 17:39] fehiepsi commented on #1154
I guess we need to clarify in docs that we need to install extensions in addition to ipywidgets.

[2021-09-21 03:31] #1151 closed

[2021-09-23 22:46] michaelosthege opened #1156 "Broken import with latest jax version"
We're seeing this error in our CI pipeline:
[code]

Quoting the [v0.2.21 release notes](https://github.com/google/jax/releases/tag/jax-v0.2.21):

exports that have now been removed. Use functools.partial from the Python
standard library instead.

So it'll be an easy fix for you.

[2021-09-24 03:24] fehiepsi commented on #1156
Thanks for the ping, @michaelosthege! I'll update this shortly.

[2021-09-24 03:56] fehiepsi commented on #1155
Sorry for the late response, @RylanSchaeffer! I just make an assertation the sample_shape needs to be a tuple in #1158. Thanks!

[2021-09-24 09:54] lumip opened #1160 "AutoGuides do not permit sampling using only learned parameters"
## The Goal
Our setting requires that we separate sampling from a learned variational posterior some time after and in a separate script/program than the inference and *without having access to the training data* any more.

## The Problem
We use NumPyro's SVI algorithm with the `AutoDiagonalNormal` guide to infer a variational approximation of our model posterior. We then store the learned paramet

[2021-09-24 12:48] fritzo commented on #1160
In Pyro you can just call `guide()` to draw samples of latent variables: there is no need for `Predictive` except to perform deterministic computations in the model. Does that work for you?

[2021-09-24 12:49] clgarciga opened #1163 "Same model runs 4x slower with 4 chains on 4 cores than 1 chain"
Hi, I was running the following code in a Jupyter Notebook:

[code]

And got the following results on 1 chain (took ~20m) and 4 chains (took ~95m for all 4 chains to complete):

![numpyro_bug](https://user-images.githubusercontent.com/13739205/134676554-78b221af-c2f3-47f2-ba13-7a9301ae70a2.PNG)

Reporting in case it could constitute a bug. Thanks!

[2021-09-24 12:53] lumip commented on #1160
Thanks @fritzo for pointing that out. However, the errors currently occur directly from the invocation of `guide` that happens internally in `Predictive`, so avoiding `Predictive` does unfortunately not solve the issue.

Could you specify what you mean by "you'll need to sore the guide"? Are you suggesting to pickle the entire class instance?

[2021-09-24 13:03] clgarciga opened #1164 "Add plated alternative to examples/horseshoe_regression.py"
Reference: https://forum.pyro.ai/t/plating-and-the-numpyro-hs-example/3357

horseshoe_regression.py is perfect as is, but in writing other sparse regression models (non-Horseshoe), I've found that writing the model using plates where appropriate given the graphical model can, for more complex sparse reg models, really speed things up while yielding similar or better quality results. But plates wer

[2021-09-24 14:18] #1156 closed

[2021-09-24 14:18] #1155 closed

[2021-09-24 14:28] fritzo commented on #1160
@fehiepsi how do you serialize guides in NumPyro?  It would be nice if we could get pickle working, say via `__getstate__`/`__setstate__`.  In Pyro we simply:
[code]

[2021-09-24 15:42] #1133 closed

[2021-09-24 16:33] clgarciga commented on #1164
Edit: In case this wasn't clear, I meant show both, i.e. the current horseshoe_regression.py plus the plate version, to allow compare/contrast.

[2021-09-24 16:36] martinjankowiak commented on #1164
@clgarciga

can you explain what you mean? as i commented in the forum i don't believe there's any reason these differences should matter. the only difference should be ease of coding the model and/or readability of the model

[2021-09-24 19:45] fehiepsi commented on #1160
I'll look into how to store state (though I'm not sure which state we need to store). @lumip's way to setup the guide with dummy data seems to be a good solution. It lets the guide know a bit information of the model (without that, model is just a function - we don't have a way to trace/interpret how the model works from model's source code, so even when we provide `params`, the guide won't know h

[2021-09-24 19:46] jameschapman19 opened #1165 "Possible incompatibility with latest jax?"
!pip install jax==0.2.21
!pip install numpyro

from numpyro.infer.hmc import HMC, NUTS

**Output**

/usr/local/lib/python3.7/dist-packages/numpyro/infer/__init__.py in <module>()
     10     TraceMeanField_ELBO,
     11 )
---> 12 from numpyro.infer.hmc import HMC, NUTS
     13 from numpyro.infer.hmc_gibbs import HMCECS, DiscreteHMCGibbs, HMCGibbs
     14 from numpyro.infer.initialization import (

[2021-09-24 19:50] fehiepsi commented on #1165
Hi @jameschapman19, we just fixed the issue and will make a release soon.

[2021-09-25 03:55] fehiepsi commented on #1098
After looking closer to the plot, it seems to me that they are pretty similar. Note that Pareto distribution has [infinite variance](https://en.wikipedia.org/wiki/Pareto_distribution) when `alpha <= 2`, so you will get very different histograms for different runs/seeds.

[2021-09-25 03:59] fehiepsi commented on #1154
I just add a note for installing the extensions in #1159. Thanks for raising this issue! Please feel free to reopen this issue if that doesn't explain the issue that you have.

[2021-09-25 03:59] #1154 closed

[2021-09-25 12:53] #1098 closed

[2021-09-25 13:06] fehiepsi commented on #950
Update: checkout @jeremiecoullon's [SGMCMCJax](https://github.com/jeremiecoullon/SGMCMCJax) for SGLD and SGMCMC! :rocket:

It would be nice to have a tutorial on how to convert a NumPyro model to SGMCMCJax format (logprior / loglikelihood). Currently, we only have [initialize_model](http://num.pyro.ai/en/stable/mcmc.html#numpyro.infer.util.initialize_model) utility to give us a potential function

[2021-09-25 13:17] fehiepsi commented on #1163
I guess this is expected. When running the single-chain on my computer, I see that the program is utilizing many cores (I guess this is for the triangular solve in MVN likelihood), hence the speed is improved.
![image](https://user-images.githubusercontent.com/4736342/134772837-6ac481d8-b075-4565-b377-56a5a1f76bcd.png)

[2021-09-25 14:17] fritzo commented on #1103
As commented in #1168, I think it's generally safer to error loudly. That's why we use assertions rather than hoping things work.

[2021-09-25 15:41] jecampagne opened #1170 "Running several chains does not improve accuracy: do you see why?"
Dear Experts
Below you will find 4 questions (Q1 to Q4) and hope that the code example is running for you for investigation. Of course your comments are welcome.

[code]
Then,
[code]
one gets
[code]
Now, If I run the same code with
[code]
I get,
[code]

Q1: Why using 10 chains is worse then a single chain while I was expecting a 1/sqrt(10) better accuracy?

Now, using NUTS in place of HMC, with
[c

[2021-09-25 18:08] #1057 closed

[2021-09-25 18:19] fehiepsi commented on #1170
I think multi-chain is useful for diagnosing if mcmc run is converging. As long as things converge, it is enough to use 1 chain, unless you want some speed-up (if any) from multiple chains.

If the trajectory length is good, no need to use NUTS.

Interesting. Probably the cost to use a placeholder of size (10^6 x latent_size) and update the value at a particular index at each step is dominating th

[2021-09-25 21:02] jeremiecoullon commented on #950
Glad that my [SGMCMCJax](https://github.com/jeremiecoullon/SGMCMCJax) library might be helpful here!
A tutorial to convert a NumPyro model to a logprior and a loglikelihood format would be great I agree. This is something that I will try to look into when I find the time (though anyone else: feel free to try this out!).

And I'm also curious to see how the different sgmcmc samplers perform compare

[2021-09-26 02:28] #1170 closed

[2021-09-26 02:29] fehiepsi commented on #1170
We can follow up on the forum topic.

[2021-09-26 02:30] #1163 closed

[2021-09-26 03:29] #1165 closed

[2021-09-27 08:31] lumip commented on #1160
I came up with this rather hacky drop-in-replacment-wrapper-prototype around autoguides which samples dummy data from the model and and substitutes them as observations for the initialisation of the autoguide:

[code]

That would avoid the need for pickling of the guide and the non-explicit dependency on a specific model a loaded pickled guide would have. I'm not sure how many assumptions of the s

[2021-09-27 12:51] fehiepsi commented on #1160
I think you can also use `handlers.block` to isolate part of your program with the rest (so no need to play with `_PYRO_STACK`). Btw, could you help me review the pickling PR?

[2021-09-27 13:42] lumip commented on #1160
Thanks, I'll try that. And I'll have a look at the PR soon, didn't quite get around to it so far.

[2021-09-27 19:14] clgarciga commented on #1164
@martinjankowiak Thanks for your reply. Let me try to explain.

Consider the following __Bayesian quantile regression__ model based on Alhamzawi, Yu, and Benoit, "Bayesian adaptive Lasso quantile regression" (2012):
![image](https://user-images.githubusercontent.com/13739205/134948004-70df4c3a-fad3-4d97-ad4b-05da5caabd15.png)
I say "based on" because there is one lambda vs. one lambda per beta.

T

[2021-09-28 01:19] clgarciga commented on #1163
@fehiepsi Thanks for clarifying that!

[2021-09-28 10:56] jejjohnson commented on #523
Hi, I just wanted to know if this was being worked or will it be worked on in the near future? I see the repo referenced has been archived so I was wondering what were numpyro (and also pyro) plans for further development for normalizing flow methods. I would be interested in contributing to both.

[2021-09-28 12:10] fritzo commented on #523
Hi @jejjohnson, the new library is https://github.com/facebookincubator/flowtorch and is being developed by @stefanwebb @feynmanliang at Facebook. Perhaps they can comment on open source timeline and invitation-only access for early adopters.

[2021-09-28 12:15] jejjohnson commented on #523
Hi @fritzo, thank you for the information! A side question: the `flowtorch` library will be for PyTorch (at least it was the last time I checked). Are there plans to perhaps borrow a few methods for the numpyro library?

[2021-09-28 12:24] fritzo commented on #523
@jejjohnson I know of no plans to port Pyro normalizing flows to NumPyro, but contributions are always welcome 😄

[2021-09-28 18:20] clgarciga commented on #1164
Thank you both. I understand. I might try some experiments like what @martinjankowiak suggests and report back, but for now I think the issue can be closed.

[2021-09-28 23:59] fehiepsi commented on #1103
Looking like users need to figure out how to use argparse properly in notebook. Let's close this issue. Thanks for your input, Fritz!

[2021-09-28 23:59] #1103 closed

[2021-09-29 16:46] #1164 closed

[2021-10-04 15:55] fehiepsi opened #1172 "`index_update` is deprecated in JAX"
We can use the [ndarray.at](https://jax.readthedocs.io/en/latest/_autosummary/jax.numpy.ndarray.at.html#jax.numpy.ndarray.at) api instead.

[2021-10-04 16:07] jecampagne opened #1173 "pb with conda version 0.8.0"
Hello
I've done fresh install
`conda install -c conda-forge numpyro`
then
[code]
One can see `numpyro`version seems 0.8.0; now
[code]
gives `0.7.2`!!!

Where is the pb?

Thanks
(nb. I was tying to run `Example: Nested Sampling for Gaussian Shells`)

[2021-10-04 17:00] jecampagne commented on #1173
Well now even after conda reinstall
[code]
while
[code]

[2021-10-04 17:06] fehiepsi commented on #1173
I just created a fresh conda environment and the installation is working as expected. You might want to create your environment again.

[2021-10-04 17:17] jecampagne commented on #1173
Ok let me try along this line. Thanks

[2021-10-04 19:06] jecampagne commented on #1173
Ouf. should be ok now. Thanks.

[2021-10-05 03:28] EdwardRaff opened #1174 "Bug? Discrete Latent Changing Shapes"
Hi, I'm not sure if I'm doing something subtly wrong, but I've run into a weird bug where if I make a latent variable discrete, it's shape changes, causing everything to error out due to the shape changes. I've tried to remove all the unneeded code to isolate the behavior below. I've got two 10 x 10 matrices (any square shape will do) as input, and expect `u` and `v` in the below code to be of sha

[2021-10-05 08:25] jecampagne opened #1175 "gaussian_shells.py"
Hi,
I have just tested `gaussian_shells.py ` and it works :) but may be it could be nice to advertise to
1) install Numpyro v 0.8.0  <- mandatory
2) install jaxns  (v 0.0.7)
3) install funsor (v 0.4.1)

After the nb is running perfectly 👍

[2021-10-05 08:42] #1173 closed

[2021-10-05 12:59] fritzo commented on #1174
Hi @EdwardRaff, I'm guessing this is due to NumPyro's enumeration. You can read about some of our shape manipulation in the [tensor shapes tutorial](https://pyro.ai/examples/tensor_shapes.html) (for Pyro, but the concepts are the same).

To make your model compatible with NumPyro's discrete inference you'll need to support broadcasting. However I'm not sure your full model will support cheap infer

[2021-10-05 14:41] clgarciga commented on #1174
Posting this here since it seems related...
https://forum.pyro.ai/t/dot-general-error-when-uncentering-a-model/3397/3

Also wondering if maybe there is an error or warning that could be thrown when users attempt to use Discrete latents in an HMC/NUTS model?

[2021-10-05 16:22] EdwardRaff commented on #1174
@fritzo I just read through that tutorial, I'm not sure I understand how it is relevant here. How can I make my code more broadcasting friendly when the shape of the tensor generated for the discrete latent is changing? My understanding is broadcasting needs consistent shape sizes in the last dimension, and I don't understand how/why the shape is changing - so I do not know what to try and code to

[2021-10-06 17:23] fehiepsi commented on #1175
Thanks @jecampagne! You are right, when we make a release version, we bump the [requirement](https://github.com/pyro-ppl/numpyro/blob/master/examples/gaussian_shells.py#L123) for the example. You can relax that requirement if you use old versions of numpyro.

[2021-10-06 19:36] clgarciga commented on #1174
@fehiepsi Thank you, and, sure! Will submit PR.

[2021-10-06 20:05] EdwardRaff commented on #1174
Not at all! I'm very novice at the details of any HMC, so this is all very confusing default behavior to me. It sounds like `DiscreteHMCGibbs` is what I really need and was able to move forward with that.

I've also run into some strangenesses on trying to use the InflatedZero models and trying to implement it myself, I don't know how you prefer I bring those up (new issue, here, somewhere else).

[2021-10-07 04:12] RylanSchaeffer commented on #1165
@fehiepsi thanks for the update :)

[2021-10-07 16:45] amalvaidya opened #1176 "Scope handler doesn't add prefix to `cond_indep_stack` frames"
Hi!

I'm working on building some tooling to help run model diagnostics and part of that involves extracting the dimensions/coordinates assoicated with each sample site. This is easy enough to do using the trace but I run into problems when using the scope handler.

The handler will add a prefix to the name of sample sites and the plate primitives in the model trace. What it doesn't do however is

[2021-10-07 18:25] EdwardRaff opened #1177 "ZeroInflatedDistribution Errors with continuous/discrete distributions"
If I build a model as

[code]

I get the confusing error mesage:
[code]

If I then switch to `kernel =NUTS(model)` I get this

[code]

The errors get more confusing if I move toward model I want to perform, a zero inflated Beta

[code]

Which apparently does not allow to zero inflated continuous distributions according to this assert?

[code]

My larger goal was to have a zero-one inflated Beta, b

[2021-10-07 20:53] #1174 closed

[2021-10-07 20:55] quattro opened #1178 "Support MatrixNormal distribution"
Hi all, the [MatrixNormal](https://en.wikipedia.org/wiki/Matrix_normal_distribution) provides a clean way to parameterize the distribution of `n x k` matrices `X ~ MN_{nk}(M, U, V)` as a function of its `n x k` mean `M`, `n x n` row-wise covariance `U` and `k x k` column-wise covariance `V`.

This can be equivalently modeled as a classical multi-variate normal by applying the `vec` operation of `X

[2021-10-08 02:25] #1160 closed

[2021-10-08 02:29] fehiepsi commented on #1176
Nice catch! I think it is a bug. Happy to review your PR. :)

[2021-10-08 02:30] fehiepsi commented on #969
Sure, @quattro! We can discuss the numerical issue in detail in the PR. :)

[2021-10-08 03:13] fehiepsi opened #1180 "Add an info warning for HMC with enumeration"
Quoted by @clgarciga in https://github.com/pyro-ppl/numpyro/issues/1174

[2021-10-08 22:59] fehiepsi commented on #1177
Yes.

Yup, I think that is the right way to have a latent zero-inflated beta variable.

[2021-10-09 20:38] theosanderson opened #1184 "Truncated distribution is more prone to sampling infinities?"
I have been trying to work with the `TruncatedNormal` distribution, or to manually create `TruncatedDistribution`s but have seemed to find in either case that (regardless of the position of the truncation) these are prone to causing `inf` values to be sometimes sampled, as compared to the base distribution. Is this expected behaviour?

[code]

gives me:
[code]

I am new to this area and apologies

[2021-10-10 17:47] fehiepsi commented on #1180
Hi @clgarciga, you can use this link https://pyro.ai/examples/enumeration.html.

[2021-10-12 13:10] peterroelants opened #1186 "Sampling of NaNs and -infs from SoftLaplace"
I just sampled a -Inf from a `SoftLaplace` distribution, after some long debugging I figured out it has to come from the `SoftLaplace`. I'm wondering if  sampling -inf can be expected?

I'm unable to reproduce the results without sharing any propriety code or data. However, I seems that the `icdf`, used in [`SoftLaplace.sample()`](https://github.com/pyro-ppl/numpyro/blob/e91bd439c619b1446f4d507d4a

[2021-10-13 05:04] clgarciga commented on #1180
Okay, so, here's where I'm at with this: some MCMC kernels (e.g. HMC,NUTS) don't support discrete latents, and some do (e.g. DiscreteHMCGibbs, Mixed HMC). So I need to:
1. Check if the user is using MCMC
2. If yes, check if there are discrete latents in the model
3. If yes, check which kernel they are using
4. Check if that kernel supports discretes or not
5. If not, throw a warning (error?) that

[2021-10-13 08:51] peterroelants commented on #1186
I've only encountered `-inf` values from the SoftLaplace.

I just noticed that the `icdf` was also able to return NaNs (I haven't encountered those during sampling)

[2021-10-13 11:43] omarfsosa commented on #1186
Ok cool. I've opened #1189 which should solve the `-inf` samples. Once that gets merged let us know if it resolves your problem and we can close this issue.

[2021-10-13 15:00] clgarciga opened #1190 "MultivariateStudentT for numpyro"
Port **https://docs.pyro.ai/en/stable/distributions.html#multivariatestudentt** to numpyro.

[2021-10-14 00:43] fehiepsi commented on #1180
I think you can add an info warning after [this line](https://github.com/pyro-ppl/numpyro/blob/master/numpyro/infer/util.py#L608). I'm not sure how to check properly for each kernel.

[2021-10-14 01:48] fehiepsi opened #1191 "Clarify that `sample(..., obs_mask)` is only used for SVI"
to avoid confusion as in this [forum thread](https://forum.pyro.ai/t/bayesian-imputation/3443).

[2021-10-14 08:11] maw501 commented on #1190
I'd potentially be interested in looking into this if appropriate and there's no rush.

[2021-10-14 09:45] hessammehr opened #1192 "Allow mixing vectorized and parallel sampling"
Currently the `"vectorized"` and `"parallel"` values for the `chain_methods` parameter of `MCMC(...)` have mutually exclusive outcomes. The former can run multiple chains in parallel but on a single GPU/TPU while the latter can utilize multiple GPU/TPU but only runs one parallel chain on each.

It would be useful to have the option of doing both at the same time, e.g. 2 GPUs each running 4 vectori

[2021-10-19 17:04] cgarciga opened #1193 "Add initial_value param to GaussianRandomWalk"
See forum: https://forum.pyro.ai/t/forecasting-with-a-stochastic-volatility-model-in-numpyro/3451/12

In general, I think this would make code previously using `scan` more streamlined, especially when an `xs` parameter isn't required to get desired return values from `scan` .

[2021-10-22 17:40] #1193 closed, assigned to nobody

[2021-10-23 09:54] jerul opened #1195 "[Feature request] hessian(f)(x) = jacrev(jacrev(f))(x))"
Hi! fehiepsi suggested an edit to the Laplace Approximation to get an uncertainty estimate when using Minimize() results for a system of ODEs (solved with jax.odeint, which has a custom_vjp).

Specifically I'm currently getting the following error: FilteredStackTrace: TypeError: can't apply forward-mode autodiff (jvp) to a custom_vjp function.

The suggested edit:  hessian(f)(x) = jacfwd(jacrev(f)

[2021-10-25 14:14] cgarciae opened #1198 "Question about sample API"
Hey! I am learning a bit about PPLs in JAX and I am very curious as to why Numpyro is using and API like this:

[code]

Instead of something like:

[code]

Sorry if the question is dumb 😅

[2021-10-26 01:30] #1191 closed, assigned to nobody

[2021-10-27 10:53] jecampagne opened #1201 "pip install numpyro[cuda111]: pb"
Hi,
I experience a pb with Numpyro install on a GPU (Linux)
[code]

Using prescription on [this Numpyro webpage](https://pypi.org/project/numpyro/)
[code]

I get:
[code]
Some listing via pip
[code]
idem with conda
[code]
Now try to do something
[code]
Do you have a solution? Thanks

[2021-10-27 13:29] quinn-dougherty opened #1202 "documentation request - tutorial on custom `Distribution` subclasses, some `Transform`/`Constraint` examples"

[2021-10-28 11:30] srivaschennu opened #1203 "Issue with fitting large values with `distributions.Beta`"
Hello! Thank you for this really great project :)

I've been using numpyro for some time now, but appear to have hit an issue when fitting relatively large values to Beta distributions using MCMC:

Here is a simple example:

[code]

When fitting Beta distributions with the first set of inputs above, I get sensible results, and there is evidence of good convergence:

[code]

But when fitting Beta d

[2021-10-28 13:44] #1203 closed, assigned to nobody

[2021-10-29 03:46] #1198 closed, assigned to nobody

[2021-10-29 15:03] #1195 closed, assigned to nobody

[2021-10-29 15:09] #1201 closed, assigned to nobody

[2021-10-29 17:42] EdwardRaff opened #1206 "Bug: Dirichlet distribution got invalid concentration parameter for BetaDistribution"
I'm still working on creating a minimum viable code to reproduce that doesn't require sharing my data, but when using the BetaProportion distribution I've obtained the below error:

[code]

[2021-10-30 02:08] fehiepsi commented on #1206
I think we can either swap the lines
[code]
so that the validation for Beta is triggered before the Dirichlet. That way, you can be informed that `Beta` distribution got invalid parameters. What do you think? If it is reasonable, do you want to submit the enhancement?

[2021-10-30 05:58] GMCobraz opened #1208 "Request for Euler Maruyama features in numpyro"
Dear Numpyro developers,

Please develop Euler Maruyama features in numpyro similar to features found in PyMC.

Thanks alot.

[2021-10-31 00:43] fehiepsi commented on #1208
I think this could be a nice example to have. The simulation can be found on [Wikipedia](https://en.wikipedia.org/wiki/Euler%E2%80%93Maruyama_method#Computer_implementation). If a custom distribution is implemented, [GaussianRandomWalk](http://num.pyro.ai/en/stable/distributions.html#numpyro.distributions.continuous.GaussianRandomWalk) would be a good reference - the implementation should be simil

[2021-10-31 12:06] #1192 closed

[2021-11-02 12:47] MarcoGorelli commented on #1206
I think this reproduces the issue:

[code]

[2021-11-02 13:48] MarcoGorelli commented on #1206
i.e.,

[code]
?

I tried that, but still get the same error:
[code]
[code]

I'll have another look later

[2021-11-02 19:44] srijaniiserprinceton opened #1210 "Using customized jit wrapper in Numpyro"
Hi,

I have written my model in jax which is functional by itself when run outside the Numpyro implementation. But it fails when I try to pass that as a `model` in numpyro the usual way. I use a wrapper on `jit` called `gnool_jit` that lets me hash arrays and hence pass them as static arguments. This is done as follows:
[code]
 I have written a simpler code below which simply tries to find the opt

[2021-11-02 22:07] fehiepsi commented on #1206
Sorry, you are right. How about setting validate_args to False in the construction of `_dirichlet`?

[2021-11-02 22:09] #1190 closed

[2021-11-03 02:49] fehiepsi commented on #1210
I don't think the algorithms in NumPyro can support your usage. The requirement is your code needs to be able to compile. You should reach out to jax devs to find a way to compile your wrapper. It would be easier to test if things work without using numpyro, e.g. test if
[code]
can be jitted.

[2021-11-03 04:32] samarth-kashyap commented on #1210
Thanks @fehiepsi . The function compiles and executes when called outside of NumPyro. The function you suggested works fine. The problem seems to arise only when the function is called inside `model()`, so we suspect some conflict with NumPyro and custom wrapper. Is there a way to pass static arguments with NumPyro?